[2020-10-08 21:28] beatfactor commented on #2385
You mean #2425?

[2020-10-09 00:11] GelbardSteve commented on #531
[code]

[2020-10-09 07:48] pp-2020 opened #2509 ".isElementLocationInView() and .moveTo() these methods are not working in Firefox browser"
## Describe the bug

I found that where I have declared the methods as ".isElementLocationInView()" and ".moveTo()" there the scripts are getting failed particularly in the Firefox browser.

Expected: isElementLocationInView() and .moveTo() two methods should run properly in Firefox broser

## Sample test

<details><summary>sampleTest.js</summary><p>

[code]
</p></details>

**Run with command**

[

[2020-10-09 07:54] KapustinMaxim commented on #2490
need change to two  backslashes
 .setValue('#awyMjb','d:\\yp.png')

[2020-10-09 07:54] #2490 closed

[2020-10-09 18:40] srathibandlarp commented on #2385
Yes please.  #2425

[2020-10-09 21:38] alechirsch opened #2510 "runTests in programmatic API does not throw errors"
## Describe the bug
When using the programmatic API, the runTests function does not throw an error if the test fails, nor does it return any data about the tests that ran.

## Sample test
You can see my docker setup as described here #2483

I did not expect runTests to return anything since that is not documented, however that  might be a good feature to add
[code]
Successful test
[code]

Unsucces

[2020-10-09 22:52] alechirsch commented on #2154
- Company is [FastPay](https://gofastpay.com/fastpay-epay/)
- Usage is 4 years
- We use nightwatch to automate credit card payments to various entities, we have a "test" for each one of those entities. We have 5 Engineers who are familiar with nightwatch and contribute to new portals and maintaining the ever changing old ones.

[2020-10-10 18:04] srathibandlarp commented on #2285
@beatfactor  this is still not working on 1.4.3
I am using browser.elements as follows and I got the below error (below my code)
[code]

ERROR log:
`TEST FAILURE: 1 error during execution; 0 assertions failed, 16 passed (25.159s)

 ✖ large/pdp/isBasic/isInactiveMain
 – Validate right rail recommended listings (237ms)

  TypeError: pdp.elements is not a function
   - writing an ES6 async test case?

[2020-10-11 23:45] #2373 closed

[2020-10-11 23:45] #2444 closed

[2020-10-12 08:06] beatfactor commented on #2285
@srathibandlarp if you're selecting the element using the '@' identifier, then you need to remove the first argument, as in:
`pdp.elements('@firstRightRailRecommendation')` and **NOT** `pdp.elements('xpath', '@firstRightRailRecommendation')`.

[2020-10-12 14:39] alechirsch commented on #2510
Digging through code sample from nightwatches unit test I found that I could do this:

[code]

Added a custom reporter to set a variable in the parent context. I would still like to propose that by default, runnner.runTests returns the results of the tests.

[2020-10-12 15:13] zxmbw54 opened #2511 "GeckoDriver pop-up while trying to start ChromeDriver for tests"
## Issue

I have a problem running tests while using Chromedriver.
Every time I get the following error message:

Please check that the "webdriver.server_path" config property is set correctly.

even though I'm not using GeckoDriver and the browser I use for the tests is Chrome. Here's my nightwatch.json file for reference

## nightwatch.json

    "src_folders": ["tests"],

    "webdriver" : {

[2020-10-12 17:49] kretschmannj opened #2512 "Nightwatch 'results' object changes from v0.9.21 to v1.4.2"
Not sure that this is really a "defect" as much as an observation.  We have a couple of different Nightwatch projects and the reporter we use was not displaying the same results across projects.  After digging in, I came to realize that one project was on a old version of Nightwatch (0.9.21) while the other project was using Nightwatch 1.4.2.  It turns out that there were changes (intentional or a

[2020-10-12 21:04] srathibandlarp commented on #2285
@beatfactor I get the same result after removing that xpath also, I should've mentioned that already.
But here is the code and error:
[code]

Error:

[code]

[2020-10-13 08:30] beatfactor commented on #2512
Can you include a sample test?

[2020-10-13 08:32] beatfactor commented on #2285
@srathibandlarp use `pdp.api.elements`

[2020-10-13 10:07] ironeo commented on #2512
yes! I noticed that couple months ago... I actually have made an issue: https://github.com/nightwatchjs/nightwatch/issues/2508
but I still cannot get an answer if is it a bug or feature ?

[2020-10-13 13:58] srathibandlarp commented on #2285
@beatfactor  - adding .api worked. Thanks a lot!

[2020-10-13 16:58] kretschmannj commented on #2512
If I add this line of code to my test ... console.log(browser.currentTest) ... then I see this output ...
[code]
However, I'm using the '--reporter' option to call a custom reporter and the 'results' object that gets passed into that reporter looks very different ...
[code]
I attached the reporter I'm using (it's a .js file but I couldn't attach a .js file so I changed the extension to .txt).
[htm

[2020-10-14 03:54] dhruvin2910 opened #2513 "JSON schema of nightwatch.json"
Thank you for this wonderful project.

(Raising a blank issue since it isn't a bug or a feature request.)

I've been investing some time to define a [json-schema](https://json-schema.org) of nightwatch.json so developers (especially newcomers like me) can better understand what does what.

Here's some [initial work](https://github.com/SchemaStore/schemastore/pull/1303) fixing [this](https://github

[2020-10-14 14:22] tsibiski opened #2514 "Nightwatchjs claims support for edge in API documentation, but edge browser does not seem to be supported"
## Describe the bug
There is extremely little documentation explaining how to run any browsers in Nightwatchjs outside of chrome and firefox. I was able to get Safari working, but nothing I try will allow Edge (chromium) to work. There were a few posts here and there about people trying to get it to work, but nothing mentioned in those StackOverflow etc threads works. Everything that I've tried re

[2020-10-14 19:02] zxmbw54 opened #2515 "cli_args not applied in chromeOptions when running tests"
1. run test with  `nightwatch tests`
2. run using Chrome
3. cant get the following flags implemented: `'--use-fake-device-for-media-stream'` and `'--use-fake-ui-for-media-stream'`

nightwatch.conf.js:

webdriver: {
    start_process: true,
    port: 9515,
    server_path: require('chromedriver').path,
  },

  test_settings: {
    default: {
      launch_url: 'https://nightwatchjs.org',
      desir

[2020-10-15 03:15] ghost opened #2516 "upgrade to V1.4.3 causes tests to fail"
## Describe the bug

## Sample test

<details><summary>sampleTest.js</summary><p>

[code]
</p></details>

**Run with command**

[code]

### Verbose output
<details><summary>debug.log</summary><p>

Error: Error while running "waitForElementVisible" command: "Error: Provided locating strategy "#id" is not supported for .waitForElementVisible(). It must be one of the following: id, css selector, link

[2020-10-15 13:43] beatfactor commented on #2516
Thanks, will be fixed soon.

[2020-10-15 15:21] tsibiski commented on #2514
I went ahead and added the code to make the edge driver work in Nightwatchjs

[node_modules/nightwatch/lib/runner/wd-instances/edgedriver.js
](https://gist.github.com/tsibiski/a9ae649933751338f371a8ddc85f6267)

Add
`const EdgeDriver = require('./wd-instances/edgedriver.js');`
And
[code]
to
node_modules/nightwatch/lib/runner/webdriver-server.js

[2020-10-15 15:45] jasontk19 commented on #2505
Looks like a duplicate of #2469

[2020-10-15 15:49] jasontk19 commented on #2469
+1

I am seeing this as well but, only for some instances.  It works in Firefox in some of our tests, fails in others.  They all seem to work as expected in Chrome though.

[2020-10-15 22:25] kretschmannj opened #2517 "The 'timeout' command is not working in Safari"
Nightwatch v1.4.2
Safari 13.1.2

Here's a snippet of the Nightwatch test ...
[code]
The console output ....
![image](https://user-images.githubusercontent.com/63016258/96192241-79064900-0efa-11eb-9a96-b41645bde684.png)

[2020-10-15 23:35] kretschmannj commented on #2185
@beatfactor Any updates on this??

[2020-10-15 23:51] ligarcia10 commented on #2469
+1 Same on Firefox: `Error while running .moveTo() protocol action: mouseMoveTo`

[2020-10-16 08:05] pawlakmaly opened #2518 "Last assertion in async testcase is not run at all"
## Describe the bug

When you write a testcase (test step) using ES6 async/await, if the last line of the code in this step is assertion - it's not run at all.
I've also check if test suit contains several test cases with assertion as last line of code. None of them is working.
Also the key to the issue is the commend run before the assertion, So far I know that browser.pause() and browser.useCss(

[2020-10-16 08:08] pawlakmaly commented on #2518
I've also check that the above code works ok if i have several assertions at the end of the test:
[code]

[code]

[2020-10-16 09:51] KapustinMaxim opened #2519 "drop-down not displayed on screenshots in Mozila FireFox"
## Describe the bug

drop-down not displayed on screenshots in Mozilla FireFox
steps:
1. run test.js in mozilla FireFox browser
2. on saved screenshots, drop-down (in right top corner) not displayed
![firefox_3](https://user-images.githubusercontent.com/65299194/96244004-b4bf1280-0fcf-11eb-8364-f136ed02f37e.png)
![firefox_2](https://user-images.githubusercontent.com/65299194/96244014-b7216c80-0fcf

[2020-10-16 15:04] allanpfreitas commented on #2469
+1 for this one.

[2020-10-16 17:45] rkhaneds opened #2520 "NightWatch Test failing in Selenium Grid"
## Describe the bug
 Timed out while waiting for element to be present for 10000 milliseconds. - expected "visible" but got: "not found"

## Sample test
module.exports = {
  'Search google': function (browser) {
​
    browser
      .url('http://google.co.in/')
      .assert.titleContains('Google')
      .assert.visible('input[name="q"]')
      .sendKeys('input[name="q"]', 'nightwatch\n')
      .as

[2020-10-16 17:46] rkhaneds opened #2521 "NightWatch Test failing in Selenium Grid : Timed out while waiting for element to be present for 10000 milliseconds. - expected "visible" but got: "not found""
## Describe the bug
 Timed out while waiting for element to be present for 10000 milliseconds. - expected "visible" but got: "not found"

## Sample test
module.exports = {
  'Search google': function (browser) {
​
    browser
      .url('http://google.co.in/')
      .assert.titleContains('Google')
      .assert.visible('input[name="q"]')
      .sendKeys('input[name="q"]', 'nightwatch\n')
      .as

[2020-10-17 09:19] #2520 closed

[2020-10-17 09:24] #2519 closed

[2020-10-17 10:03] #2507 closed

[2020-10-17 10:04] #2491 closed

[2020-10-19 06:01] KapustinMaxim commented on #2519
why it closed?

[2020-10-19 07:24] beatfactor commented on #2519
@KapustinMaxim I don't see any bug in Nightwatch here and I don't know how to fix this for you.

[2020-10-19 08:41] SiarheiKuchukBelitsoft commented on #2364
@MancLad89 , Our project had switched to puppeeter. It is more actively developed now.

[2020-10-19 09:28] shreev1 commented on #2484
Error while running .getElementProperty() protocol action.
is the error, what i tried now is on different versions of NW and found its working on 0.9 while failing with this error on 1.3.6 and 1.4.
Is there any way to get this working on newer version as well.

[2020-10-19 16:24] astagi commented on #2454
Merged!

[2020-10-19 16:24] #2454 closed

[2020-10-19 20:50] srathibandlarp commented on #2385
@beatfactor  can you please let me know if you have made any decision on this request? We have the tests that use the isVisible and they need to pass on our CI/CD pipeline, and right now, our tests are failing for safari and iPhone. It would be very helpful if you can merge the changes soon or please let me know if there is a work around other than changing the libraries on our own(which is not a

[2020-10-20 02:47] shreev1 commented on #2507
why is this closed ? Where can i find solution for this? Please guide

[2020-10-20 10:01] Kenvdb opened #2522 "Nightwatch/BrowserStack + Safari results in "timeout error""
**Description of bug / issue**
Running Nightwatch with BrowserStack on Safari results in a timeout error:
[code]

**Dev Dependencies**
[code]

**Running script**
`nightwatch -c nightwatch.conf.js -e safari`

**Nightwatch config**
[code]
**Console Error**
[code]

[2020-10-20 10:56] beatfactor commented on #2517
Works fine in Safari 14; it might be unsupported in 13. If it is, then it should be a very small change to fix it. Could you maybe send a PR?

[2020-10-20 10:57] beatfactor commented on #2521
Try setting w3c: false.

[2020-10-20 11:03] beatfactor commented on #2518
Asserts don't support the `await` operator for now.

Try this:

[code]

[2020-10-20 11:26] pawlakmaly commented on #2518
@beatfactor Yes, I'm aware that asserts doesn't return promise. BUT ! Please see the following examples:

If I call the assertion with 'await' in the following way, it works ok:
[code]
The output :
[code]
Please note that the browser.pause() is commented and not called.

Now When I use the browser.pause():
[code]
The output is missing the assertion:
[code]

So it seems that the browser.pause() som

[2020-10-20 11:51] beatfactor commented on #2518
If it happens to work ok, it's by chance, not by design.

[2020-10-20 11:53] Pieras2 commented on #2518
Can we have a fix for this? We work in same team and such "issues" don't help.

[2020-10-20 13:11] Amitm11 opened #2523 "Call a function within the callback function in nightwatch"
I want to take a count of an element and then click on each element one by one and perform certain operations which are repetitive in each iteration. I am have trouble of doing this with multiple functions for each action and call them within the count callback function. My code snippet would look like this. Please help me and give me the solution of it.

   /*
        Click on modifier drop down

[2020-10-20 15:20] rkhaneds commented on #2521
We tried with w3c: false in chrome options but still getting the same error. Please note we get error in Firefox as well.

Testing if element <input[name="q"]> is visible in 10000ms - expected "is visible" but got: "element could not be located"

[2020-10-20 15:22] rkhaneds commented on #2521
Issue happens in our hosted grid in open stack. Test runs fine in locally created grid.

[2020-10-20 19:32] #2245 closed

[2020-10-20 20:06] beatfactor commented on #2518
I'm not sure what you are asking here. If it would have been easy to make the assertions work flawlessly with async/await, I would have done it already. Isn't it possible for you to remove the await from the assertions?

[2020-10-20 20:11] beatfactor commented on #2385
@srathibandlarp I'll look into it soon.

[2020-10-21 16:10] shreev1 opened #2524 "Upgrading from 0.9.x to 1.3.6 throws error - setElementValue() and .clearElementValue()"
I had nightwatch tests created on 0.9.12 and they were working perfectly fine, after upgrading to 1.3.6 they are failing with the errors below. I also tried 1.4.3 though that is not been approved to be used but same issue.
Now we want the tests to be running fine on 1.3.6

method: clearValue()
Error: Error while running .clearElementValue() protocol action: Element must not be hidden, disabled or

[2020-10-21 17:01] shreev1 commented on #1788
this issue is also on 1.3.6 and 1.4.3 too while it was not on 0.9.12
There are multiple suites in my project and after executing one suite, it gives this error and stops instead executing other suites

[2020-10-21 17:06] shreev1 commented on #1936
this issue is there in 1.3.6 and 1.4.3 while not in 0.9.12 (that is quiet old version to use)
Please advise

[2020-10-21 21:46] srathibandlarp commented on #2308
I requested @beatfactor to apply these changes, I was hoping to see them in 1.5.0, but still the same, I'll wait for another updated version. But the 1.5.0 has good features similar to Selenium.  Happy about that.  :)

[2020-10-21 22:42] epochslee opened #2525 "Element 'Css Selector'"
https://nightwatchjs.org/api/element.html

In the `element` api, I'm using the locator strategy of 'css selector', but I get an error that it is not found:

`'no such element: Unable to locate element: {"method":"css selector","selector":"#close"}'`

[code]

nightwatch v1.5.0
Node v10.17.0
npm 6.14.8

[2020-10-21 23:52] epochslee commented on #2525
It appears that class names work but id does not. Is this a bug?

[2020-10-22 04:18] #2394 closed

[2020-10-22 04:18] #2449 closed

[2020-10-22 07:04] shreev1 commented on #2524
its a show stopper for us, please advise if there are alternative of clear and set as well.

[2020-10-22 09:22] Gogochina97 opened #2526 "Cannot read property 'globals' from call back of getText in page object"
## Describe the bug
My code used to work well until recently.
I have function in Page object, in the function, I get response from getText and set response.value to global variable.
I checked chrome had been updated to 86, so I udpated chrome driver accordingly. And update nightwatch from 1.3 to 1.5.
But this issue still here.
## Sample test

<details><summary>sampleTest.js</summary><p>

[code]
</

[2020-10-22 09:27] Pieras2 commented on #1936
unfortunately I switched to 1.4.3 counting that no more hangup will happen on Azure devops but unfortunately I caught it too :(

[2020-10-22 09:48] shreev1 commented on #2484
it was happening as getValue() function looks to be not supported in newer versions. Using getAttribute() instead helped fixing this issue. Now looking for alternative for setValue and clearValue as they are also throwing same error with new version. Please guide

[2020-10-22 09:50] shreev1 commented on #2507
@beatfactor Upon analysing it looks that issue is with launching the IE Driver as its giving
Failed to load the library from temp directory: C:\Users\<username>\AppData\Local\Temp\IED30E2.tmp

[2020-10-22 10:28] beatfactor commented on #1936
@shreev1 Can you elaborate on the kind of errors you have been seeing? Have you set `timeout_options` to retry the aborted http requests – this doesn't happen by default, maybe we'll add retries as default in future versions..

[2020-10-22 11:47] beatfactor commented on #2524
@shreev1 Hi, this seems to be more of a support issue, because the bug is not clear. Perhaps we can discuss this in more detail on the [Gitter Chat](https://gitter.im/nightwatchjs/nightwatch) channel?

[2020-10-23 12:48] benjaminr-ps opened #2527 "[Enhancement] Support "suppressNotFoundErrors" option for "waitFor..." commands"
**Is your feature request related to a problem? Please describe.**
I want to wait for an element beeing present after some time, to be optional only and not failing.
The use case for instance is loading spinner, which blocks any interaction.
The loading spinner may vary in its presence, which might be due to the backend systems.
To circumvent that fact, I use the [waitForElementPresent](https://ni

[2020-10-23 13:28] Pieras2 commented on #2527
If I well understand, you want a command that waits for an element that will appear in future?
If so, it can be solved by preparing your own custom command using available api cmds

[2020-10-23 13:52] pawlakmaly commented on #2518
@beatfactor I most cases yes, I can remove the await. But In my code I have some loops with the same assertion over several elements. It fails when I chain the assertions but seems to be working ok with await - at least if I don't call specific commands before.

Really, the problem is that this works by chance rather than always work or not. It would be better if it would be consist. I've tested t

[2020-10-23 18:37] zwbetz-gh commented on #2513
I use this as a reference, if it's helpful to you https://github.com/nightwatchjs/nightwatch/blob/master/lib/settings/defaults.js

[2020-10-23 18:48] zwbetz-gh commented on #2526
In this callback function:
[code]

It's possible that `this` is getting redefined.

To test it out, before calling `getText`, you could do something like `var self = this`, then in your callback do `self.api.globals.myOperationBillID = result.value;`

[2020-10-23 18:49] zwbetz-gh commented on #2523
If you take the time to properly fill out a bug template, then someone will be more likely to help you.

[2020-10-23 22:34] pnkapadia64 opened #2528 "Value property returned by 'browser.element()' is different for edge"
I'm trying to get the web element ID of an element through xpath selector in my browserstack tests.
`const element = await browser.element('xpath', xpathSelector);`

For other browsers the element's ID is found in the `ELEMENT` key of `value` object as follows (`element.value.ELEMENT`):
[code]
but for Edge the returned element is something like this:
[code]

### Configuration
The browserstack conf

[2020-10-24 07:30] dhruvin2910 commented on #2513
Thanks. I used it as a reference for my initial work. It helped me understand the types of *some* values and *some* properties of objects.

Although I'm missing a concrete structure in schema file, I think the schema was good enough. It'd be great if people can try it out and let me know if there are any changes to be made.

With this, I'm closing this issue as the schema is merged. Feel free to r

[2020-10-24 07:30] #2513 closed

[2020-10-25 00:59] #2452 closed

[2020-10-25 00:59] #2443 closed

[2020-10-25 00:59] #2424 closed

[2020-10-25 00:59] #2414 closed

[2020-10-25 00:59] #2413 closed

[2020-10-26 07:51] Kenvdb commented on #2522
Can you anyone pls give me any directions how to solve this issue? Much appreciated.

[2020-10-26 12:06] benjaminr-ps commented on #2527
@Pieras2 No, this capability already exists by the waitForElementPresent(/Visible) command.

I would like to have the ability to suppress the "element was not found error", which might occur, if element does not show up in future.

This kind of behaviour was already implemented for other element commands, like [getText](https://nightwatchjs.org/api/getText.html) or [getAttribute](https://nightwatc

[2020-10-26 19:49] rkhaneds commented on #2521
@beatfactor can we please get help on this, we got stuck and can't move forward. Please check and do the needful.

[2020-10-27 02:50] shreev1 commented on #2524
I tried on Gitter Chat but there was no response

[2020-10-27 12:44] pawlakmaly commented on #2523
ModOption.api.elements('@dropdownOptions', function(spanElm) {
console.log('------------------')
console.log('No of Modifiers: '+spanElm.value.length)
for(var o = 0; o < spanElm.value.length; o++) {
**this.api.elementIdText**(spanElm.value[o].ELEMENT, function(text) {
console.log('Modifier option text is: '+text.value)
})
**this.api.elementIdClick**(spanElm.value[o].ELEMENT)

Try this.

[2020-10-28 07:22] Pieras2 commented on #2402
@beatfactor can we have some help? My tests fail on errors (Azure DevOps) and I cannot reproduce the problems on my desk - without screenshot I don't know what happens. Is there any possible workaround?

[2020-10-28 07:25] psaproc opened #2529 ""There is already a .settings property defined in: ...""
Nightwatch logs constantly: "There is already a .settings property defined in: nightwatch.globals.js"
It seems it happens somewhere during calling the global hooks.

It started after upgrading from 1.3.6 to 1.5.0.

[code]

I just cannot get rid of this message, unless I remove the defintion of the globals completely.

I also don't have any settings in the globals, like the warning says:

[code]

C

[2020-10-28 09:48] pawlakmaly opened #2530 "Missing logs of element not found when using click(), getText() inside PageObject with async/await"
## Describe the bug

Probably I'll get the "Golden Shovel" award  for digging up such issues but, what the heck. I've notice that there are no logs about unsuccessful click() or getText() and probably other methods when they are called inside Page Object command with ES6 async/await.

## Sample test

<details><summary>sampleTest.js</summary><p>

[code]
</details>
<details><summary>simplePageObject

[2020-10-28 10:16] beatfactor commented on #2530
can you also share your config please in the Configuration section?

[2020-10-28 10:26] beatfactor commented on #2529
It's supposed to be there only if you have an existing .settings property in your globals file. The purpose of this is to have access to the nightwatch settings from the global hooks.

[2020-10-28 10:27] pawlakmaly commented on #2530
Sure, I've updated the bug report. As you can see I use default setting regarding : https://github.com/nightwatchjs/nightwatch/blob/master/lib/settings/defaults.js

When I turn on flag : abortOnElementLocateError to true I see the correct log for the first click.

[2020-10-28 10:43] creage commented on #2529
@beatfactor well, I have same issue. My `global.js` has two hooks only - `before` and `after`.

Calling the `after` hook logs the message described in the issue above. It's not failing, but just annoying.

[2020-10-28 10:50] ironeo opened #2531 "native nightwatch method `assert.containsText` has a wrong default message if assertion fails"
## Describe the bug

native nightwatch method `assert.containsText` has a wrong default message if assertion fails. Section "but got...." shows expected text instead of text get from website

## Sample test
running method:
`checkFirstResult: function () {
    return this
      .assert.containsText('div.card-desktop div:nth-of-type(1).js-result .result-title', 'Nightwatch.js | Node.js powered End-t

[2020-10-28 11:53] beatfactor commented on #2529
It will be fixed soon.

[2020-10-28 11:54] beatfactor commented on #2530
@pawlakmaly Ok, so it's working if you turn on that flag?

[2020-10-28 12:07] pawlakmaly commented on #2530
@beatfactor If I enable the abortOnElementLocateError: true it stops the whole test at first click and throws an error that element was not found.

[2020-10-28 15:47] kretschmannj opened #2532 "The waitForElementVisible / waitForElementPresent commands optional message %d not working when used without %s"
The waitForLement commands allow for an option message with two placeholders %s and %d.  When I try to use only the %d placeholder in my message then the value shows as "NaN" and I must used %s in order for the %s to show the correct value.

Example:
   waitForElementVisible('xpath', '//fieldset[1]//div[1]//label[3]', 'Verify the field label was visible in %d ms')

[2020-10-28 16:41] VikasGhorpade commented on #1936
I am also facing same issue like socket hang up error:
POST  /wd/hub/session/685536c4130398c484012ff61549e6bf/elements - ECONNRESET
 Error: socket hang up
     at createHangUpError (_http_client.js:342:15)
     at Socket.socketOnEnd (_http_client.js:437:23)
    at endReadableNT (_stream_readable.js:1064:12)
     at _combinedTickCallback (internal/process/next_tick.js:139:11)
    at process._tickDo

[2020-10-29 09:06] #2529 closed

[2020-10-30 10:36] dinaRodeny commented on #797
I have the same problem : ReferenceError: An error occurred while trying to start the Nightwatch Runner: pages is not defined
// Autogenerated by Nightwatch
// Refer to the online docs for more details: https://nightwatchjs.org/gettingstarted/configuration/
const Services = {}; loadServices();

module.exports = {
  // An array of folders (excluding subfolders) where your tests are located;
  // if

[2020-10-30 18:12] shahulhameedm commented on #1939
Hello All,
If clearValue method is not working (Known issue of Selenium lib), Then try to add the Unicode Character 'BACKSPACE' to delete existing value in the textbox. See the example,

setValue('@city', ['\u0008', '\u0008', '\u0008', '\u0008', '\u0008', '\u0008', '\u0008'])
// find the length of the textbox value and add "\u0008" that many time.
// For Example: If your city name is Chennai, Then

[2020-10-31 03:16] deleonio opened #2533 "Find some vulnerabilities in v1.5.1"
## Describe the bug

Vulnerable module: flat
Introduced through: mocha@6.2.3

## Sample test

- https://snyk.io/test/npm/nightwatch
- https://snyk.io/test/npm/nightwatch@1.5.1

## Your Environment

| Executable | Version |
| ---: | :--- |
| `nightwatch --version` | 1.5.1|
| `npm --version`  | ^6|
| `yarn --version` | -|
| `node --version` | ^14|

[2020-11-01 17:59] lloiser opened #2534 "[Enhancement] Fluent async/await API"
**Is your feature request related to a problem? Please describe.**
`async`/`await` provides a nicer way to interact with the nightwatch API instead of using callbacks, e.g.
[code]
compared to
[code]
It reduces nesting introduced in callbacks and allows to easily add other async operations like HTTP requests to prepare/adjust test data without having to use `perform`.

But it has one downside at th

[2020-11-01 19:33] beatfactor commented on #2534
Can you explain in detail how is this different over the existing implementation (see [using-es6-async](https://nightwatchjs.org/guide/using-nightwatch/using-es6-async.html))? And why would it be necessary? Also, I don't see a straightforward way to implement what you're asking here so feel free to suggest a technical solution.

[2020-11-01 20:16] lloiser commented on #2534
As it is already mentioned on your linked page:

In my opinion, this is the biggest problem.
Once I introduce my very first async test I have to refactor at least all pages/sections/commands that are used in this test because the fluent API no longer works and will simply break the test.

As I already said in my initial post I don't think it would be a problem if I cannot use the fluent API inside

[2020-11-01 21:52] dinaRodeny commented on #797
//link with browserStack
require('dotenv').config();

Autogenerated by Nightwatch
// Refer to the online docs for more details: https://nightwatchjs.org/gettingstarted/configuration/
const Services = {}; loadServices();

module.exports = {
  // An array of folders (excluding subfolders) where your tests are located;
  // if this is not specified, the test source must be passed as the second argume

[2020-11-02 09:36] humphreyn commented on #2154
- Company is [Accuity](https://accuity.com/)

- Usage is 4 years

- Used in conjunction with CucumberJs in our CI/CD build, test and deployment process

- 900+ test scenarios

- We use Nightwatch test our financial data, counterparty and due diligence SPA applications and also for our API's.

[2020-11-02 10:41] beatfactor commented on #2534
@lloiser so you're saying that the chaining in existing custom commands no longer work if you use them in an async testcase?

[2020-11-02 11:49] lloiser commented on #2534
Exactly. Let me turn this into a bug report then :)

## Sample test

<details><summary>test/async-test.js</summary><p>

[code]
</p></details>

<details><summary>pages/home.js</summary><p>

[code]
</p></details>

**Run with command**

[code]

### Verbose output
<details><summary>debug_chainingInPage.log</summary><p>

[code]
</p></details>

<details><summary>debug_chainingInTest.log</summary><p>

[c

[2020-11-02 12:23] beatfactor commented on #2534
Ok, I can look into this. I think this should be possible to do without having to change your existing commands. Is it the same with regular custom commands?

[2020-11-02 13:00] lloiser commented on #2534
Yes chaining in custom command still works.
But it does not work if the custom command is async too, which is as expected.

So no problems.

Here is the full report for completeness:

## Sample test

<details><summary>test/async-custom-commands-test.js</summary><p>

[code]
</p></details>

<details><summary>commands/chainingInCommand.js</summary><p>

[code]
</p></details>

<details><summary>command

[2020-11-03 01:58] Gogochina97 commented on #2526
Thank you very much. Your suggestion worked!

[2020-11-03 15:00] Artsu opened #2535 "Failure on browser.assert not ending test runner on async/await tests"
## Failure on browser.assert not ending test runner on async/await tests
I'm doing nightwatch tests using async/await method. Having a `browser.assert.elementPresent` fail doesn't seem to skip the rest of the tests properly and instead continues on the next step. `end_session_on_fail` nor `skip_testcases_on_fail` settings don't seem to help even when set manually to true.

## Sample test

[code]
<

[2020-11-03 15:32] guergana commented on #2469
+1 Same here.

[2020-11-03 17:30] zwbetz-gh commented on #2526
@Gogochina97 - Good deal.

Feel free to close this issue if it's resolved.

[2020-11-04 06:24] myhyper commented on #599
+1
I also wanted to use the relative url method

[2020-11-04 16:13] tourdedave commented on #2501
If the key is `desiredCapabilities` then JWP will be used in Sauce. The key needs to be `capabilities` for W3C to work in Sauce. It's noted [here](https://wiki.saucelabs.com/display/DOCS/W3C+Capabilities+Support#W3CCapabilitiesSupport-VerifyingCapabilitiesforW3CWebDriverCompliance).

But if there's no `desiredCapabilities` then it looks like Nightwatch passes nothing to Sauce, and the job runs wit

[2020-11-09 07:34] #2457 closed

[2020-11-09 07:34] #2447 closed

[2020-11-09 20:16] ituradastra commented on #2469
+1 for this one.

[2020-11-09 21:20] Pieras2 commented on #2469
This is firefox fault not nightwatch. Firefox doesnt want to do it.

pon., 9 lis 2020, 21:16 użytkownik s.i.p <notifications@github.com> napisał:

[2020-11-11 13:24] ituradastra opened #2536 "keys() does not work in w3c mode"
## Describe the bug

keys() function returns error when the tests are run in w3c mode (my test is run on browserStack)

Error while running .sendKeys() protocol action: unknown command – unknown command: Cannot call non W3C standard command while in W3C mode

## Sample test

<details><summary>sampleTest.js</summary><p>

[code]
</p></details>

**Run with command**

[code]

### Verbose output
<detai

[2020-11-11 20:04] rkhaneds commented on #2521
@beatfactor any guidence for us will be really helpful.

[2020-11-13 04:14] martinoppitz commented on #2533
Hello @beatfactor,

is that a mistake?

![image](https://user-images.githubusercontent.com/6279703/99028004-f8754f80-256e-11eb-9299-ecefeeed9c24.png)

[2020-11-13 18:09] mncrff commented on #2468
I am having the same issue with Nightwatch version 1.5.1. Here is my test that is failing:
[code]

Running just Nightwatch (no selenium); Firefox (82.0) MacOSX 10.15.7:
[code]
Not sure if the activeElement thing is a result of the first step of sendKeys not working, or an additional issue.

Running Nightwatch with Selenium; Firefox (82.0) MacOSX 10.15.7:
[code]

Running Nightwatch on Browserstack

[2020-11-15 17:56] s-kugan opened #2538 "Support to have Subdirectories under `Pages` directory"
**Is your feature request related to a problem? Please describe.**
In my 'pages' directory which contains page objects have lots of page objects underneath. In one point its hard to manage when everything is in one 'pages' directory.  If I create subdirectories under 'pages' folder , i am not able to instantiate the page object in the test

**Describe the solution you'd like**
'pages' directory sh

[2020-11-15 18:10] s-kugan opened #2539 "Support to return value as 'false' when element is not visible for 'isVisible' command"
**Is your feature request related to a problem? Please describe.**
currently when the element is not visible for 'isVisible' command its returns the value as 'undefined'. it returns value as 'true' when the element is visible.

**Describe the solution you'd like and how the solution will work**
if 'isVisible' command can return the value as 'false' when the element is not visible, it will be easy

[2020-11-16 10:12] pawlakmaly commented on #2534
Isn't this similar to : https://github.com/nightwatchjs/nightwatch/issues/2319  ??

[2020-11-16 11:35] LucaLis commented on #2459
In the developer guide abortOnFailure is described as 'abortOnFailure - used to overwrite this setting when using waitForElement* commands' wich suggests that it applies only to waitForElement* commands which seems to be not entirely correct.

[2020-11-16 14:11] kneeondra commented on #2536
Same here, I also get the following error when running the test with w3c mode disabled for BrowserStack: "Error while running .sendKeys() protocol action: unknown command – sendKeysToActiveElement"

[2020-11-17 10:58] telion2 commented on #2536
This Error also comes up in nightwatch 1.4.1 in combination with @vue/cli-plugin-e2e-nightwatch": "^4.4.6" when using Selenium 3.9. with it corresponding Driver.
In my Case I want to use the IEDriver to test Internet Explorer and browser.keys() will result in this Error:
[code]
npm -v 6.14.8
node -v v14.15.0

[2020-11-17 11:00] telion2 commented on #2536
Is there any way to have the same behavior as browser.keys() but IEDriver accepting it?
And should a I open a seperate Issue because its IE or is it the same Issue?

[2020-11-17 15:05] lusarz commented on #2539
I just ran into the same problem. I suppose it works like that [by design](https://www.browserstack.com/guide/isdisplayed-method-in-selenium) - it returns `false` when element is present in DOM but not visible. As a workaround I created custom `isPresent` command based on `document.querySelectorAll(selector).length`

[2020-11-17 15:16] s-kugan commented on #2539
I solved this with the condition , `if (userVisibility.value != undefined)` like this and it works fine so far. However i thought if nightwatch engine can return the value as `false` when the element is not visible, it will be useful for other test scenarios

[2020-11-17 15:19] lusarz commented on #2539
Yeah, I agree - it would be more intuitive. Let's wait for @beatfactor opinion.

[2020-11-17 15:22] lusarz commented on #2539
Here is source code of this command:
https://github.com/nightwatchjs/nightwatch/blob/165023a1eaf06cd8152848412aa3e35a7ed89fbd/lib/api/element-commands/isVisible.js

[2020-11-17 16:35] lusarz commented on #2535
I think `browser.assert.elementPresent` is `async` operation.

[2020-11-17 16:39] lusarz commented on #2525
I see in error: `"selector":"#cancel"`, but in html and spec name of id is `close`.

[2020-11-17 17:16] epochslee commented on #2525
Sorry about that, I meant to type #close. I rewrote this so I don't have proprietary code out in the wild.

[2020-11-17 17:41] lusarz commented on #2525
I prepared something like:

[code]

and I got output:

[code]

seems like id selector works as expected.

[2020-11-17 18:24] epochslee commented on #2525
Strange, maybe it's something my vue code that's causing issues. Will close for now.

[2020-11-17 18:24] #2525 closed

[2020-11-17 18:26] lusarz commented on #2525
@epochslee No problem, if you want I can take a look at your code.

[2020-11-18 06:58] Artsu commented on #2535
It isn't. I did that before because the docs aren't really clear on this but fixed my code after I read this issue https://github.com/nightwatchjs/nightwatch/issues/2518

[2020-11-18 10:09] lusarz commented on #2535
OK - assertions doesn't returns promise, but internally they run some asynchronous operations. I tried:
[code]

and I got output like:
![output](https://user-images.githubusercontent.com/10059264/99516073-120f0080-298e-11eb-902a-3772a2f8ecda.png)

I'm not sure, but I think this may have an impact on not ending tests.

[2020-11-18 10:50] Pieras2 commented on #2535
Afaik assert is always asynchr. Need to use async await for assertions
however I think my college also reported some issue even for async await
used in page objects

śr., 18 lis 2020, 11:09 użytkownik Łukasz Usarz <notifications@github.com>
napisał:

[2020-11-19 13:27] lusarz opened #2541 "[Enhancement] browser.assert.attributePresent"
**Is your feature request related to a problem? Please describe.**
I'd like to check whether an attribute is present on element.

**Describe the solution you'd like**
browser.assert.attributePresent('.some-class');

[2020-11-19 13:29] lusarz opened #2542 "[Enhancement] browser.assert.enabled"
**Is your feature request related to a problem? Please describe.**
I'd like to check whether an button is disabled or enabled

**Describe the solution you'd like**
I'd like to have assertions: `browser.assert.enabled(selector)` and `browser.assert.not.enabled(selector)`

[2020-11-19 13:41] Pieras2 commented on #2541
Isn't it equivalent of browser.assert.elementPresent(".some-class"); ?

[2020-11-19 13:48] lusarz commented on #2541
No, imagine HTML like:

`<img src="img.jpg" alt="Girl with a jacket" class="some-class" />`

and I want to check if it contains "alt" attribute:
`browser.assert.attributePresent(".some-class", "alt"); `

[2020-11-19 13:54] lusarz commented on #2541
I think I can prepare pull request for that

[2020-11-19 15:05] trobbins1981 commented on #2515
These options don't work for me either. I've confirmed they work when I hard-code them as part of the Chrome 87 launch.  So, that means it's either an issue with the chrome 87 driver or with nightwatch

[2020-11-20 10:32] zxmbw54 commented on #2515
I managed to make it work with this configuration:

`

    "test_workers": {
        "enabled": true,
        "workers": "auto"
      },

    "webdriver" : {
      "start_process": true,
      "server_path": "./node_modules/chromedriver/lib/chromedriver/chromedriver.exe",
      "port": 9515
    },

    "test_settings" : {
      "default" : {
        "desiredCapabilities": {
          "browserName"

[2020-11-20 10:32] #2515 closed

[2020-11-24 13:46] pawlakmaly opened #2545 "Tests stops when when .verify fails"
## Describe the bug

When assertion done with the .verify api fails, e.g element was not found for .elementPresent() the test suit stops and no other code or test setps are executed.

## Sample test

<details><summary>sampleTest.js</summary><p>

[code]
</p></details>

**Run with command**

[code]

### Verbose output
<details><summary>debug.log</summary><p>

[code]
</p></details>

## Configuration

[2020-11-24 18:57] ravi005e opened #2546 "not able to get current url with typescript"
![Screenshot 2020-11-24 105509](https://user-images.githubusercontent.com/29851236/100139154-e4b9cb00-2e43-11eb-9154-2e3955b54392.jpg)

[2020-11-25 06:18] #2546 closed

[2020-11-25 06:18] ravi005e commented on #2546
figured it ou

[2020-11-25 06:50] hongdeyuan commented on #504
I have the exact same issue too - on chrome 87

[2020-11-25 07:11] pawlakmaly opened #2547 "Why calling click in section command fails when call with selector created inside the function ?"
Hi,

I'm don't know if it's a bug or not, but I really don;t know why the code behave that way.

I have such page object with a section:
[code]

When I call functions clickUsingSectionElement() and clickUsingOwnSelector() which in fact uses the same selector (one from section element and one defined inside the function) I get different results:
[code]

Could someone explains me why in one case it

[2020-11-25 07:39] hongdeyuan commented on #1592
// maybe you can use "backspace"  -> \u0008
.setValue('input[type=password]', ['\u0008', '\u0008', '\u0008', '\u0008', '\u0008', '\u0008', '\u0008', '\u0008', '\u0008', '\u0008', '\u0008', '\u0008', '\u0008'])

[2020-11-25 09:52] MartaWdowicka opened #2548 "Returning value in function does not work. Neither getters and setters. Reading value is performed before writting."
I tried returning value in function and even using simple getters and setters with global var in an page object and then read value from it.

Result is always that tests reads values of variables at the very start of running itself..... before I set the value to the variable.....

F.e.
var login = salesPage.executeGetUserFromApiAndWriteOKDONE()
console.log(login)
console.log("Oops")
console.log("O

[2020-11-25 10:21] pawlakmaly commented on #2548
Have you try do it in a callback or using async/await ?

[2020-11-25 10:28] MartaWdowicka commented on #2548
Tried, but await told me that the function does not comply and await cannot be used. Possibly I don't know how to use it correctly.

I tried also returning whole object from the function where I set that value inside it and calling getter, but value was also empty.

login = salesPage.executeGetUserFromApi()
loginPage.loginToUAT(login.getUATLogin(), configuration.userPassword)

[2020-11-25 10:34] Pieras2 commented on #2548
async mojaFunkcja(){
...
}

login = await mojaFunkcja()

[2020-11-25 10:34] MartaWdowicka commented on #2548
Am I supposed to mark a whole test as async to call await? That does not seem to be intended use of await.
https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Asynchronous/Async_await

I want to turn off that asychronicity and stop test from executing a few methods executing at once... or at least out of order.

[2020-11-25 10:36] Pieras2 commented on #2548
yes

[2020-11-25 10:45] MartaWdowicka commented on #2548
Checked if I can just create such method as command

async getLogin: function(loginPage,salesPage){
}

And answer was not, its not recognized as correct function. And even if it worked I still would have problem with no being able to return that variable from function to test:

 Error: There was an error while trying to load the file salesPage.js: Unexpected token ':'
       at Array.forEach (<ano

[2020-11-25 10:46] Pieras2 commented on #2548
Could you please show your code with REPLACED data that we should not see to look at your code syntax?

[2020-11-25 10:47] MartaWdowicka commented on #2548
Don't know which API I should use as replacement. I should pretty much need to write function to contact some API and get data from 0, because code is not my property.

[2020-11-25 10:48] MartaWdowicka commented on #2548
I will do that, but it will take some time.

[2020-11-25 11:45] MartaWdowicka commented on #2548
Ok. Before I tried to get that value from api. I tried getting that value from browser. This code is my work so I can share it and it has the same issues.

1. If async is used, whole nightwatch test cannot be run, becasue of  "Syntax error: Unexpected token ':'" error.
2. Without async await, values are read before page from where they were supposed to be read from is even accessed....so console w

[2020-11-25 12:45] pawlakmaly commented on #2548
Here you got code that works:
[code]
Check your profile on famous portal about finding job.

[2020-11-25 12:51] pawlakmaly commented on #2548
Also I get :
[code]

[2020-11-25 13:31] pawlakmaly commented on #2548
I think also you want to get such code:
[code]

[code]

With this output:
[code]

[2020-11-25 19:50] MartaWdowicka commented on #2548
**No that works perfectly!**

I changed a message a little, so we can see results better:

doSomethingWithValueReceivedFromInternet: async function (browser) {
        await console.log(await commands.getValueFromBrowser(browser) + " <-I waited for this!")
    }

And the result was perfect!  :
Button text is "Szukaj w Google"
Szukaj w Google <-I waited for this!
-----------------------------------

[2020-11-25 19:50] #2548 closed

[2020-11-25 20:06] pawlakmaly commented on #2548
If it's withing the same test file you could you variable with test scope, if it's in different files, you could use global variables with persistent flag enabled.

[2020-11-26 11:40] MartaWdowicka commented on #2548
:) Thank you :) A lot of test files. For sure I will try to work more in JS, it's a weirder challenge than Java.

[2020-11-26 11:59] pawlakmaly commented on #2548
I'm using NW with TypeScript, it not bad, but require a bit of configuration.

[2020-11-26 14:27] MancLad89 commented on #2359
+1

Same if I do the below, copied from https://nightwatchjs.org/api/getWindowSize.html

`const value = await browser.getWindowSize();
     console.log('value', value);`

[2020-11-26 19:08] MancLad89 opened #2549 "Unable to use async/await with mocha runner"
## Describe the bug

Hi,

I am trying to use the mocha as the test runner as per the guide [here](https://nightwatchjs.org/guide/running-tests/using-mocha.html)

However it seems I am unable to use async/await with mocha runner as I cannot access the  the result of the promise.
The promise resolves but when logging or trying to use the result of the promise `undefined` is returned.

However when r

[2020-11-27 12:57] pawlakmaly commented on #2549
There an issue with your code.
On result of getWindowsSize() there no property 'value':
[code]

Output:
[code]

[2020-11-27 18:58] MancLad89 commented on #2549
Apologies should be the below, edited the original too.

[code]

Output
`value: undefined`

[2020-11-27 19:00] Pieras2 commented on #2549
Give console log in callback (if get window size defines)

pt., 27 lis 2020, 19:58 użytkownik MancLad89 <notifications@github.com>
napisał:

[2020-11-27 19:04] MancLad89 commented on #2549
Apologies not sure what you mean by this?

[2020-11-27 19:12] Pieras2 commented on #2549
Just to check ...getWindowSize(function(result) {
    Console.log(result.value)
}

I don't use micha runner but I wonder if it helps

pt., 27 lis 2020, 19:58 użytkownik MancLad89 <notifications@github.com>
napisał:

[2020-11-27 19:22] MancLad89 commented on #2549
The below works but trying to using async/await and avoid callbacks.

[code]

Output:
[code]

[2020-11-27 19:28] Pieras2 commented on #2549
Please try

 await console.log()

pt., 27 lis 2020, 20:22 użytkownik MancLad89 <notifications@github.com>
napisał:

[2020-11-27 19:31] Pieras2 commented on #2549
Before the test you can set variable visible in scope of the test file and
callback would set it so that it was defined at console.log I guess. Unless
async/awaits dont work with mocha

pt., 27 lis 2020, 19:58 użytkownik MancLad89 <notifications@github.com>
napisał:

[2020-11-27 19:48] MancLad89 commented on #2549
@Pieras2 I have provided a simple async/await example but have much more complex cases and doing what you suggest it would be easier to write in callback fashion. Which is not something I am looking to do/can't do it some cases.

The purpose of this bug report is I believe to point out async/await does not work with a mocha test runner.

[2020-11-27 21:49] rpala-commits commented on #2521
@beatfactor we are facing the same issue as well. We tried using w3c:fasle for chromeoptions, firefoxoptions and safarioptions and still we are having issues with basic commands
1. waitForElementVisible
2. waitForElementPresent
3. setValues
4. click

Any help/guidance would be greatly appreciated

[2020-11-30 13:41] pawlakmaly commented on #2549
Exactly the same code works ok with default runner. Must be mocka runner issue.

[2020-11-30 13:49] MancLad89 commented on #2549
@pawlakmaly, agreed works with default runner. Issue looks specific to mocha test runner.

[2020-12-01 21:44] jelosh commented on #2154
- Used NW at my previous employer (EBSCO) where it was widely adopted for our FE testing & integrated in our pipelines w/ SauceLabs hosting.
- Liked it so much I'm implementing as part of our new UI automation framework at my new employer (Catapult Sports), this time in conjunction with LambdaTest.
- Looking forward to seeing NightCloud.io

[2020-12-03 12:14] Pieras2 commented on #2468
Anyone has any workaround? I need it to and in general I guess that ff suxx :/

[2020-12-03 15:44] kretschmannj commented on #2468
It has been 4 months since I last looked at this and maybe somewhere along the way it has been fixed as I have this working now, with a caveat ...
[code]
I'm running this through Nightwatch and I'm using the nightwatch.conf.js file to switch between the in-built webdriver that uses the geckodriver downloaded to the project vs using the selenium-server downloaded to the project.

nightwatch v1.5.0

[2020-12-03 17:48] Pieras2 commented on #2468
Tnx, I will try

[2020-12-04 11:15] klitschi1 opened #2550 "Wait for windowHandles has "N" window handles"
**Is your feature request related to a problem? Please describe.**
After opening a new tab I want to use `.windowHandles()` to proceed on the new tab.
New tab isn't loaded yet, so `.windowHandles()` has'n yet the second window handle.
Currently I'm using a long `.pause()` command.

**Describe the solution you'd like**
How can I implement such a command?

Thank you!

[2020-12-04 12:49] klitschi1 commented on #2550
I've defined a recursive command. Do you have better ideas?
`//performOnNewTab

exports.command = function (callback) {
    const browser = this;
    browser
        .pause(500)
        .windowHandles(function (result) {
            if (result.value.length === 1) {
                browser
                    .perform(function () {
                        console.log("Second tab is not loaded yet,

[2020-12-05 05:15] #2420 closed

[2020-12-05 05:15] #2440 closed

[2020-12-05 05:15] #2456 closed

[2020-12-05 05:15] #2300 closed

[2020-12-05 05:15] #2461 closed

[2020-12-05 05:15] #2220 closed

[2020-12-05 05:15] #2467 closed

[2020-12-05 07:10] festwirt commented on #2420
I still wait for solving this issiue

[2020-12-05 10:20] beatfactor commented on #2547
Can you please follow the bug reporting template and write the sample code in plain javascript? Thanks.

[2020-12-05 10:21] beatfactor commented on #2547
https://github.com/nightwatchjs/nightwatch/blob/master/.github/ISSUE_TEMPLATE/bug_report.md

[2020-12-05 10:24] beatfactor commented on #2545
The behaviour you need is not controlled with using .verify. You need to rather set `skip_testcases_on_fail` to `false`. See https://nightwatchjs.org/gettingstarted/configuration/#extended-settings

[2020-12-06 14:41] alonaf commented on #2161
+1

[2020-12-06 14:42] RonMichaeli commented on #2161
+1

[2020-12-07 13:53] pawlakmaly commented on #2547
No problem, but it was rather a question not a bug report

[2020-12-07 14:03] pawlakmaly commented on #2545
Ok. Now I see it but my interpretation of .verify behavior was based on my code. Seems that something is not working as described because I have the skip_testcases_on_fail set to default true when I run below code:
[code]
Both test steps are performed :
[code]

So this behaviour stands again the description of skip_testcases_on_fail. So this is the real bug ?

[2020-12-07 16:04] Pieras2 commented on #2468
It works for me on both firefox and chrome when I provide list of keys in
() not in [].

Tnx for your hints.

czw., 3 gru 2020, 16:44 użytkownik kretschmannj <notifications@github.com>
napisał:

[2020-12-08 17:06] leetmachine commented on #2521
running into a similar error on nightwatch 1.3 when running selenium grid 3 + chrome on fargate. Ours occurs broadly for things like `.waitForElementPresent('body')` or `.waitForElementPresent('head')`. I expect its a config issue between your browser setup and nightwatch capabilities config.

**FWIW- I haven't gotten it to work but my research is as follows:**

referenced issue:
https://github.co

[2020-12-08 23:31] leetmachine commented on #2521
We have a fork of nw 1.3 so I'm working within that. I also don't know too much about nightwatch so take this with a grain of salt- but I was able to resolve this same issue for myself by adding this bit of code to the `nightwatch/lib/core/session.js` in `setCapabiltiies()`. I'm just documenting it here to show what's necessary.

Per my above comment, theres something wonky going on with the chrom

[2020-12-09 18:18] rpala-commits commented on #2521
Thanks for the follow up @leetmachine

I have some follow up questions:
1. What selenium grid version are you using?
   Please note: we are able to run tests on chrome browser using seleniumgrid - 3.141.59, but the chrome tests fail on the latest seleniumgrid - 4.0.0-alpha-7
2. Have you tried running your tests in firefox and safari browsers on Selenium grid?
 If so, can you share your results/any

[2020-12-11 09:42] Weizhoujie commented on #504
you can try to do
`browser.click('input[type="text"]')
browser.keys(browser.Keys.BACK_SPACE)`

[2020-12-11 09:53] hongdeyuan commented on #504
maybe you can try to do:
- first:
const { size } = require('lodash');
module.exports = {
  clearValues (str) {
    let clears = [];
    for (let index = 0; index < size(str); index++) {
      clears.push('\u0008');
    }
    return clears;
  }
}

- second :
browser.setValue('input[type="text"]', clearValues(page.getValue(''input[type="text"]')))  // clear
 browser.setValue('input[type="text', 'nig

[2020-12-12 01:21] kretschmannj opened #2552 "Help with asynchronous command execution"
When I run the following code ...
[code]
... the output is 0001, 0003, 0002.  How can I get the commands to run sequentially so that the output is 0001, 0002, 0003?

[2020-12-14 16:18] umar-ps opened #2553 "Self signed certificate"
## Describe the bug

When I run the tests after all the tests suite finishes successfully, I always see this weird error message:
[code]
I tried
[code]
In the nightwatch.conf but that doesn't help. I am using the Nightwatch v1.5.1. and the application I am testing is using React v.16.12.0.

| Browser driver | Version |
| --- | --- |
| NAME | VERSION |
| chromedriver | 87.0.0 |

| OS | Version |
|

[2020-12-14 19:13] beatfactor commented on #2553
I don't think this is a Nightwatch issue bur rather a Selenium/Webdriver question. Please use the (newly opened) [Github Discussions](https://github.com/nightwatchjs/nightwatch/discussions) to ask for assistance.

[2020-12-14 19:13] #2553 closed

[2020-12-14 19:17] beatfactor commented on #2552
Please use the (newly opened) [Github Discussions](https://github.com/nightwatchjs/nightwatch/discussions) to ask for assistance.

[2020-12-14 19:17] #2552 closed

[2020-12-15 13:58] doing-art opened #2556 "[Enhancement] Give the capability to use browser snapshot API"
**Is your feature request related to a problem? Please describe.**
Hello

In general, I am tring to get access to the data stored in the clipboard throug the [browser snapshot API](https://developer.mozilla.org/en-US/docs/Web/API/Clipboard_API#Accessing_the_clipboard). But browser requests a permissions to do this. And nightwatch doesn't seems to provide a capability to click **allow** button (giv

[2020-12-15 16:26] kretschmannj opened #2557 "Command chaining doesn't work in async functions"
I'm trying to call an async page object command in my Nightwatch test but the test is failing.  As you can see by the code sample, I'm attempting to chain a couple of .pause commands together but the chaining mechanism is not working.  If I remove the 'async' keywords and comment out the 'await' code then the chained commands work.  So it seems that using 'async' breaks command chaining.  Is there

[2020-12-16 10:36] lukaszw82 commented on #1969
Unfortunately it is still an issue in version 1.5.1. When you have a section and call a custom command parent selector is omitted and the command is executed in a wrong context.

[2020-12-17 16:45] umar-ps opened #2558 "Test reporting triggers only for the first Test suite"
## Bug with test suite reporting
I am testing an application build using React  v16.12.0. There are four test suites in my test project. When I start the test If the first test suite finishes with any error then while the second test suite is running the Nightwatch already logs the test report. Hence, once all the test suites finish I only get the error reporting for the first test suite run.

**T

[2020-12-17 22:37] alechirsch commented on #2535
+1, We converted our scripts to async and now failed assertions do not abort the scripts

[2020-12-18 07:53] trailblazer2006 opened #2559 "[Enhancement] Add support of TypeScript (.ts) for test files"
**Is your feature request related to a problem? Please describe.**

I'm using Nightwatch with TypeScript and Babel to run my end2end, However, Nightwatch doesn't support ".ts" file extensions for test files out of the box. Is it possible to add this feature?

**Describe the solution you'd like**

**Describe how the solution will work**

**Describe alternatives you've considered**

**Additional con

[2020-12-18 11:48] ghost opened #2560 "Elements cannot be referenced in page object's commands"
Hi, I just wanted to check out this project and built a page object for my first tests.

## Describe the bug
When referencing an element of a page object in one of the commands, its selector won't be transformed and will throw an error since it mistakes the reference for the selector. But elements can be referenced from outside of the page object (see first check):

[code]

## Sample code

The pag

[2020-12-18 15:46] benjaminr-ps commented on #2558
This issue was reproducable on several machines in the company.

Arranging the execution order or amount of test suites has no effect, it always fails like described!

[2020-12-18 16:22] gabe-fastpay commented on #2535
+1 async assertions are not exiting the script when the assertion is not met

[2020-12-18 20:59] zwbetz-gh commented on #2485
Closing this. Going with the assumption that the behavior I reported is intended behavior.

[2020-12-18 20:59] #2485 closed

[2020-12-21 17:54] Valeallon commented on #2558
I faced the same problem today :
` errmessages: [
    '  Error: self signed certificate\n' +
      '       at TLSSocket.onConnectSecure (_tls_wrap.js:1501:34)\n' +
      '       at TLSSocket._finishInit (_tls_wrap.js:936:8)\n' +
      '       at TLSWrap.ssl.onhandshakedone (_tls_wrap.js:710:12)']`

[2020-12-21 22:23] MatthewParke opened #2561 "[Enhancement] Global test suite timeout"
I'm looking for something in Nightwatch that would serve as a global test suite timeout. I have some automation that runs regularly, but occasionally will get hung up on either internet issues or changes to the portal the automation is running on. This can cause a backup of scripts that need to be run. If there was a timeout that would start at the beginning of a script run and set a timeout of so

[2020-12-22 00:05] kretschmannj opened #2562 "Setting value of date field is not sticking"
I'm trying to enter the Date of Birth on this page ... https://ccpcares.magellanrx.com/member/registration/

Using this code inside of a NightwatchJS test ...

[code]
I can see the value is set but as soon as I click or tab out of the field the value disappears. How can I get the value to "stick"?

[2020-12-22 10:03] beatfactor commented on #2562
https://github.com/nightwatchjs/nightwatch/discussions

[2020-12-22 10:03] #2562 closed

[2020-12-22 10:03] beatfactor commented on #2561
https://github.com/nightwatchjs/nightwatch/discussions

[2020-12-22 10:03] #2561 closed

[2020-12-22 10:07] #2557 closed

[2020-12-22 10:07] #2154 closed

[2020-12-22 10:08] #2550 closed

[2020-12-22 10:12] #2549 closed

[2020-12-22 17:41] cheuni02 commented on #2212
experiencing this as soon as i have nightwatch-api (3.0.1) installed first, then nightwatch-cucumber (9.1.3), is it that you can only use one or the other but not both? nightwatch-api or nightwatch-cucumber.

[2020-12-22 19:00] kretschmannj commented on #1325
This solution doesn't work.  I get this error ...
`unknown command – sendKeysToActiveElement`

[2020-12-22 19:31] srknnn opened #2563 "NightWatch js doesn't work stable"
I want to make e2e test. Sometimes nightWatch js works properly. although I use the same command and having same code Sometimes it doesn't  work.
Also I use two ways to run for different target url.
First one is localhost url. Second one is environment. NightWatch gives  different results for the two target url. although these two url have same source code
 The errors are about
 Timed out while wa

[2020-12-22 22:38] alechirsch commented on #2535
@beatfactor Do you have any suggestions for this? It makes converted to async/await impossible if you have any asserts. The script just hangs after a failed assert, it doesnt move on to the next command or fail the script.

[2020-12-23 09:19] #2563 closed

[2020-12-23 09:48] beatfactor commented on #2535
@alechirsch that's probably a different issue.
@Artsu I am not able to reproduce this. Can you delete your configuration file and try running the same sample test (nightwatch will automatically generate a config file). You might also need to upgrade your [chromedriver](https://www.npmjs.com/package/chromedriver) – you can install it from npm directly and nightwatch will detect it.

[2020-12-23 16:25] alechirsch commented on #2535
@beatfactor I did some more research and made a reproducible case. It seems that at least doing a saveScreenshot prior to the assertion causes the script not to fail and hang.

This correctly fails the script
[code]

This does not fail the script and keeps chrome open indefinitely
[code]

[2020-12-24 11:34] #2470 closed

[2020-12-24 11:34] #2474 closed

[2020-12-24 11:34] #2475 closed

[2020-12-24 11:34] #2481 closed

[2020-12-28 12:29] lukaszarpak commented on #1487
@beatfactor You are incorrect. This issue has not be resolved. The issue is about lack of support for `browser` object in `before` and `after` hooks in globals.js. The test example that you're referring to shows `before` and `after` hooks with `browser` object in an individual suite - here we are talking about lack of support for such feature in globals.js.
Globals.js supports browser object only

[2020-12-28 16:39] #2494 closed

[2020-12-28 16:42] kretschmannj commented on #2494
This issue has been fixed on the LambdaTest side by applying custom translations.

[2020-12-28 17:22] kretschmannj commented on #1936
Last update was two months ago.  Any update?

[2020-12-28 20:36] kretschmannj opened #2564 "There is already a .settings property defined error"
What am I getting this error ...

globals.js
[code]

nightwatch v1.5.0

[2020-12-28 20:54] kretschmannj commented on #2564
Note that if I put those exact same lines of code into a test file it works fine with no error.  The error is only displayed when I try to put more than one before/after hook into the globals.js file.

[2020-12-30 12:37] Nuvelle commented on #2469
This is an issue for me too, without this our tests become overly complex or unuseable.

[2020-12-30 14:07] reallymello commented on #2559
When I evangelize Nightwatch at work this is a common thing that inevitably comes up in the conversation. "Wow! This is great! Can I write the tests in TypeScript instead?"
Personally, it isn't a big deal for me, but there are a lot of people that love their TypeScript and would help those potential adopters more readily come onboard.

[2020-12-31 11:59] Nuvelle commented on #2228
Still an issue on build 1.5.1.

[2020-12-31 12:05] Nuvelle commented on #2228
Still an issue on build 1.5.1.

` Error while running .switchToFrame() protocol action: data did not match any variant of untagged enum FrameId at line 1 column 24`

[2020-12-31 17:36] felipeplets opened #2567 "verify.fail does not produce the expected result"
## Describe the bug

When using `this.verify.ok(false, 'message');` the output in the test results will be:

[code]

When using `this.verify.fail('message');` the output in the test results will be:

[code]

This makes custom reporters to not work correctly when using `verify.fail`.

## Sample test

<details><summary>sampleTest.js</summary><p>

[code]
</p></details>

**Run with command**

[code]

[2020-12-31 22:20] judahtanninen commented on #504
On the newest version of nightwatch and still having this issue, please fix

[2021-01-02 18:38] trailblazer2006 commented on #2559
Great. Can you explain your solution? Because I have one, but not sure if it is ok.

[2021-01-04 12:02] mmaciekpl opened #2568 "On Chrome at sign (@) is replaced by text copied from clipboard when using setValue()"
**Nightwatch.js version** - 1.5.1
**Node.js version** - 14.15.3
**OS** - Windows 10.0.18363
**ChromeDriver version** - 87.0.4

### Description

During checking some tests on chrome I realized that there is an issue when I want to type text with 'at' sign using function setValue() (i.e. mail adress). It turns out that during the test '@' is replaced by text which is copied to the clipboard at the s

[2021-01-04 14:10] michal-ra opened #2569 "Test run is aborted and report not saved on selenium server error."
## Description
Test execution is aborted and XML report is not generated on HTTP 500 error on POST to selenium server.

Tests are runnig fine unltil click() command, which returns HTTP 500 (element not interactable).
Even if aborted test run is expected behavor, I would still expect to see a test report.

It looks like nightwatch quits unexpectedly as even retry is not perfomed - you can see that

[2021-01-04 17:43] dlopes-cinq commented on #1936
Having the same error on 1.5.1

[2021-01-04 20:35] kretschmannj commented on #1936
I had this problem consistently when attempting to run tests in parallel and was able to resolve the issue by adding this to my test_settings ...

[code]

[2021-01-05 11:48] beatfactor commented on #2559
If it's only a matter of allowing loading of .ts files, we can do that easily.

[2021-01-06 08:41] trailblazer2006 commented on #2559
Yes, it's not allowed to use .ts files in NW directly. It would great if you added such an opportunity.

[2021-01-06 08:56] akhil-agrawal-by commented on #504
I'm facing the same issue. Please let me know if any fix is available

[2021-01-07 21:55] penguin1214 commented on #2082
Looks like Chrome is using WebDriver W3C protocol by default now. Is there any plan for Nightwatch to fully switch to W3C standard? I'm still running into this issue for Firefox.

[2021-01-08 08:22] akhil-agrawal-by commented on #504
I created this custom method **clearInputValue** & its working perfectly every-time:

module.exports = {
    clearInputValue: function (browser, locator) {
      this.waitForElementVisible(locator);
      this.click(locator);
      this.getValue(locator, function (result) {
        const length = result.value.length;
        const backSpaceKey =
          browser.capabilities.platform === 'Mac OS

[2021-01-08 14:44] mmkonrad commented on #2521
@leetmachine: Your are awesome!!!

@beatfactor: Why must `w3c` be set to `false`? [The official Nightwatch.js docs](https://nightwatchjs.org/gettingstarted/#what-is-nightwatch-) claims that it uses the `W3C WebDriver API` .... Does it have anything to do with the usage of custom commands?
Any additional insights into the issue would help for the development of tests in the future.... We intend to

[2021-01-10 14:36] #2499 closed

[2021-01-10 14:36] #2503 closed

[2021-01-10 14:36] #2504 closed

[2021-01-10 14:36] #2502 closed

[2021-01-10 14:36] #2506 closed

[2021-01-10 14:36] #2476 closed

[2021-01-10 14:36] #2453 closed

[2021-01-10 14:36] #2478 closed

[2021-01-10 14:36] #2498 closed

[2021-01-17 10:09] 1111vladi commented on #2564
Same here.
It doesn't really do anything to the test but it's still annoying.
Did you ever figure it out?

[2021-01-18 08:57] trailblazer2006 commented on #2559
Hi. Any updates on this issue?

[2021-01-19 08:31] beatfactor commented on #2559
@trailblazer2006 we will add it soon, thanks for your patience.

[2021-01-19 15:27] kretschmannj commented on #2564
Nope, never figured this one out and as far as I can tell no one has taken a look at it yet.

[2021-01-20 07:09] pawlakmaly commented on #2560
As far as i know, the "@" can be used inside the test not in PageObject. If you you want to reach PO elements in PO command you need to use below code :
[code]

[2021-01-20 08:37] benjaminr-ps opened #2572 "Improve log statement for unhandledRejection event of process"
https://github.com/nightwatchjs/nightwatch/blob/fbd021ec777d6fce85e5696f21f9125f0708c457/lib/runner/process-listener.js#L44

Please improve logging for an unhandled rejection of a webdriver process.

We are currently facing the following unhandled rejection, stated in the log file:

This message unfortunately does not fullfully shows the origin for this failure.

A stacktrace would improve that.

[2021-01-21 14:20] lloiser commented on #2559
FYI I have made an attempt a while ago: https://github.com/nightwatchjs/nightwatch/pull/2064
I also created the typescript definitions for it: https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/nightwatch/index.d.ts

[2021-01-21 22:17] lloiser opened #2573 "element() and elements() on section return different results"
## Describe the bug

The result of `element(...)` or `elements(...)` calls in sections are wrapped in an additional "result" object.

For example the result of an `element` call inside a test:
[code]

The result of an `element` call in a section:
[code]

## Sample test

<details><summary>tests/elements.js</summary><p>

[code]
</p></details>

<details><summary>pages/home.js</summary><p>

[code]
</p

[2021-01-22 08:17] lloiser commented on #2573
In an attempt to fix this I looked through the code and found this test:

https://github.com/nightwatchjs/nightwatch/blob/fbd021ec777d6fce85e5696f21f9125f0708c457/test/src/element/testPageObjectElementSelectors.js#L116-L140

Looking at line 128 and 135 it seems that this is actually _desired_.

Sry but I don't understand why the result of `elements()` calls have to be different to calls in test fi

[2021-01-22 09:14] beatfactor commented on #2573
Well, in the first case, the response of the .element() command is unprocessed whereas in the second case, it is processed because the command has context.

[2021-01-22 10:29] lloiser commented on #2573
Thanks for the answer but it is not really satisfying...

I still think that the difference in the "result" objects is very much unexpected...

Btw this was not the case with 1.2.4. (which I'm currently trying to upgrade from, unfortunately the products test base is large and therefore upgrading got a lot harder...)

[2021-01-23 07:34] trailblazer2006 commented on #2559
Thanks to everyone. BTW @lloiser my current solution that I use in our projects is exactly the same as yours. I was also thinking about adding some CLI parameter for the extension, like in babel-node, so as not to make breaking changes to Nightwatch.

[2021-01-23 22:32] kretschmannj opened #2574 "Setting timeout values not working for custom assertions"
I wrote a custom assertion and I'm trying to figure out how to override the default assertion timeout.  I know that I can set the retryAssertionTimeout and waitForConditionTimeout values in the nightwatch config file but I don't want to set these values globally.  Rather, I want to set the timeout value for only one specific call to my custom assertion.  I've tried ...
[code]
... but none of these

[2021-01-25 21:10] artem-leandata commented on #2468
i was able to solve the problem in nightwatch.js by using following method:
[code]

[2021-01-26 05:07] TheRuckusMaximus opened #2575 "expect element returns empty"
I can't seem to get expect.element to work . :(
node version 12
test:
'Can fill out username': async function (browser) {
    var login = browser.page.login();
      await login.setValue("@username", 'test3');
      login.expect.element("@username").to.contain.text("test3");
}

If I debug the test,  at the login.expect.element line,  test3 is in the username field, so the set works as intended.  b

[2021-01-27 16:24] s-kugan opened #2576 "Unable to run the nightwatch test in headless mode for the apps built with angular"
## Describe the bug
Hi , I am able to run the test in headless mode for the app built with vue.js and i am able to run the nigh watch test in GUI mode for the app built with Angular. However i am not able to run any test in headless mode for the apps built with Angular.

## Sample test

[code]
</p></details>

**Run with command**

[code]

### Verbose output
<details><summary>debug.log</summary><p>

[2021-01-27 16:32] kretschmannj commented on #2255
@beatfactor  Just wondering the status on this?

[2021-01-28 18:12] cassiourugit commented on #1198
I have the same problem.

Running the js individually like this:
`nightwatch Testes/Cadastros/despesas.js`

Test passes every single time

Running from a npm script on package.json, like this:
![image](https://user-images.githubusercontent.com/31551486/106180413-02284f80-617b-11eb-8cd6-72db42c7c988.png)

Test fails on the first "waitForElementPresent" command

[2021-01-28 18:21] cassiourugit opened #2577 "Test fails when runned from npm script, but passes when runned from command line"
I have this problem:

Running the js from command line, individually like this:
`nightwatch Testes/Cadastros/despesas.js
`

Test passes every single time

Running from a npm script on package.json, even when it runs only the same test, like this:
![image](https://user-images.githubusercontent.com/31551486/106181512-731c3700-617c-11eb-8512-9afebbb83463.png)

Test fails on the first "waitForElementP

[2021-01-28 18:24] #2577 closed

[2021-01-31 14:13] 1111vladi commented on #1969
Still an issue in 1.5.1

[2021-02-01 12:04] Pieras2 commented on #2217
polak potrafi :)

[2021-02-02 10:12] beatfactor commented on #2217
@Pieras2 Please take a moment and review our [code of conduct](https://github.com/nightwatchjs/nightwatch/blob/fbd021ec777d6fce85e5696f21f9125f0708c457/CODE_OF_CONDUCT.md).

[2021-02-03 08:56] benjaminr-ps opened #2582 "On uncaught exception test results so far are dumped conclusively but test runner proceeds"
## Describe the bug
If nightwatch execution runs into an uncaught exception the test results, which were collected so far, are dumped but test runner proceeds without dumping the test results at the end once again.

E.g. an uncaught exception can be reproduced by having a promise with syntax error executed.

## Configuration
<details><summary>nightwatch.json</summary><p>

[code]
</p></details>

##

[2021-02-05 19:29] kretschmannj opened #2584 "How to suppress stale element reference error?"
Under the covers, many Nightwatch commands first run an 'elements' command to get the element ID and then they run the actual command (click, visible, etc).  If the DOM is refreshed between the time that the 'elements' command is run and the time the actual command is run then a stale element error is thrown.  I see this all the time, especially when dealing with dynamic elements like page spinner

[2021-02-08 15:32] s-kugan opened #2588 "Support more that one reporter in the same test run"
**Is your feature request related to a problem? Please describe.**
Hi, I am able to generate xml report and html report using nigh watch. however in some occasions , i really need both of the reports. it looks like we can only generate either xml or html report. I couldn't generate both of them at the same test run.

**Describe the solution you'd like**
Its good to have the support to generate bot

[2021-02-09 16:55] jcestibariz commented on #2469
I got the same error in Chrome with W3C mode enabled (`chromeOptions: {w3c: true}`):

[code]

The problem is in https://github.com/nightwatchjs/nightwatch/blob/master/lib/transport/webdriver/actions.js, since there is no handler for `moveToElement` it uses the default implementation which doesn't work in the W3C/WebDriver protocol.

[2021-02-11 22:28] kmahata opened #2590 "--reporter module returns test count as 0"
Nightwatch Version - 1.5.0
passed: 2,
  failed: 0,
  errors: 0,
  skipped: 0,
  tests: 0,
  assertions: 2,
  errmessages: [],

As --reporter sends back results.tests as 0 ,in my report I am not able to populate total number of tests executed correctly

[2021-02-12 14:51] s-kugan commented on #2576
To be more specific the commands such as `waitForElementVisible`  ,  `browser.expect.element('#main').to.be.visible;` (`https://nightwatchjs.org/api/expect/#expect-visible`) are not working when we run the test in headless mode but it does work when we run test in GUI mode. @beatfactor  can you please look into this and make nigh-watch more scalable.

[2021-02-12 16:46] s-kugan commented on #659
Hi,
anyone able to run this command in `headless` mode successfully using chrome ?

[2021-02-12 20:17] tarheeldobe commented on #2469
I am also having a similar problem. I can retrieve element properties using .getLocation, but neither .click nor .moveToElement will scroll an element into the viewport.  It is not working in Firefox (84.0.2), Chrome (88.0.4324.150). ChromeDriver (chromedriver-88.0.4324.96), Geckodriver (geckodriver-v0.29.0-win64). selenium-server-standalone-3.141.59.  I have tried css selector and xpath selector.

[2021-02-12 20:45] kmahata commented on #2385
I still face the same issue. As a work around checking for elementPresent for now.
Nightwatch - 1.5.0
Browser - Safari
OS - MAC

[2021-02-16 18:19] cassiourugit opened #2591 "getAttribute "checked" no longer works"
I have been using a function that checks if some checkboxes are marked or not.
This always worked fine, but recently it stopped working.
The attribute "checked" appears as "null"

My code is:
`this.getAttribute('css selector', locator, 'checked', function (result) {
console.log(result.value)
                    })`

It used to show true or false, but now it shows "null"

If i inspect the input ele

[2021-02-16 19:52] salvarez07 commented on #2437
I am having the same issue as mentioned here. MoveToElement doesn't work when followed by .useXpath(). I can write out a proper bug report. Unless you rather re-open this one.

[2021-02-16 19:58] salvarez07 opened #2592 "MoveToElement does not work when followed by useXpath"
## Describe the bug

MoveToElement does not move element into view when followed by function useXpath

// Sample

this.api.useXpath();
this.api.moveToElement(path, 10, 10)

No error is thrown, but nothing happens either.

[2021-02-18 07:31] kmahata commented on #2494
Did you get any solution for it? I am using saucelabs and chrome,FF,Edge works fine in selecting frame but in safari it fails

[2021-02-22 09:59] AndreiVasileUTM commented on #2569
I have this issue also, any ETA for the fix?

[2021-02-22 15:56] AlaaSayed794 opened #2593 "Test runner doesn't run steps with the same name properly"
## Description
I have a simple test having 'it' steps inside 'describe' steps , the it steps have the same name, and they both are calling console.log

the issue is that both console.log statements are outputing only the last one.

this issue is blocking so many tests and it wasn't there when we were using mocha runner in previous versions, we cannot now as mocha is broken with parallel execution

[2021-02-23 09:12] baffaman commented on #2593
Same issue happening to me

[2021-02-23 09:14] marmorad commented on #2593
Same here!

[2021-02-23 22:49] carlosmmelo commented on #2206
me too

[2021-02-25 01:45] valemany commented on #2521
If you are using docker selenium grid you can try updating it to version 4, that solved the issue for me. Selenium grid 3 will be deprecated soon anyway. Note: If you use :latest docker will install version 3 still , you need to specify the version 4 for installation. Hope this is helpful to you too.

[2021-02-26 10:49] eleni-salamani commented on #2522
I am having the exact same issue. Any updates/hints?

[2021-02-28 23:06] eleni-salamani commented on #2469
+1

[2021-03-01 16:20] mannus-nisum-com opened #2596 "can i set desired capabilities as array so i can execute my test case against multiple browser"
Hi,

I want to execute my test case against saucelab with multiple browsers as I have 3 different environments. Now I want to execute my test case of env A against chrome and firefox browser. Is there any way that my test cases is execute against both browser?

test_settings: {
    default: {
      selenium_host: 'ondemand.saucelabs.com',
      selenium_port: 80,
      username: process.env.SAUCE_

[2021-03-04 08:41] Pieras2 commented on #659
Ain't working for me, I tried

`module.exports = class waitForAngular {
    command(callback){
        return new Promise((resolve) => {
            var self = this;
            const pageTimeout = 60000; // ms
            this.api.timeoutsAsyncScript(pageTimeout, function() {
            this.executeAsync(function(done) {
                if(angular && angular.getTestability) {

[2021-03-04 19:09] kretschmannj opened #2598 "How do I capture the result of a custom command?"
I can run a test like so that captures and displays the result of the waitForElementPresent command ...
[code]
How would I write a custom command that works the same way ... returning a result which I could then capture?
For example, I want to do something like this ...
[code]

[2021-03-05 02:27] nyxalexa opened #2599 "Switching windows: Elements is not visible in new tab"
So, I'm trying to locate the elements in new tab but tests are failing also elements are not visible.

Can anyone help me?

![image](https://user-images.githubusercontent.com/80081127/110058410-38ba4100-7d9d-11eb-909d-739657f362a6.png)

![image](https://user-images.githubusercontent.com/80081127/110058321-1a544580-7d9d-11eb-9649-8678a5bd1403.png)

note that: elements is in page-objects I separated

[2021-03-05 07:35] #2599 closed

[2021-03-05 22:44] rodrigogs commented on #1969
Nice, they closed an ongoing issue without adding any information about it.

[2021-03-05 23:22] kretschmannj commented on #2584
Unfortunately, I never found a way to "suppress" these errors in Nightwatch.  However, I did find a way to execute Javascript directly which allows you to use try/catch to suppress the errors.  Here's an example ...
[code]

[2021-03-07 07:37] 1111vladi commented on #1969
To be honest after few months of using Nightwatch I figured out sections are messy and unappealing.
I don't like the fact I need to initiate a page and a section of this page in my tests, I recommend just using new POM if needed

[2021-03-07 10:49] beatfactor commented on #1969
Sorry to hear that you're still having issues with this. Are you sure it is the same issue? Since the original is quite old and [a fix](https://github.com/nightwatchjs/nightwatch/commit/237d61f151945aead7f1de611f2afdc1e0fab7e3) was released, would it be possible for someone to open a new issue regarding this?

[2021-03-07 10:50] #2598 closed

[2021-03-07 10:51] #2596 closed

[2021-03-07 18:46] kshavv opened #2602 "side navigation bar overflowing and not working properly"
## Description

side navigation not scrolling when the mouse is over it in the *API reference* [page](https://nightwatchjs.org/api/).
also the contents are overflowing.

![content overflowing](https://user-images.githubusercontent.com/60732963/110250786-548f3400-7fa3-11eb-81b9-c081862d521a.PNG)

[2021-03-08 19:27] cekeren commented on #2046
Has anyone seen this happen again? I'm running Nightwatch/BrowserStack and a basic test works fine on Chrome, but every assertion fails on Firefox.

Open webpage > verify <body> loads > login > verify <body> loads > logout.

[2021-03-08 19:33] cekeren commented on #2469
Having a similar issue with my setup. Running a basic test using Nightwatch+BrowserStack. The test works end to end every time on Chrome 89, but errors every time on Firefox 86. I also get an error on maximizeWindow() on Firefox, but it works on Chrome.

Error:
`✖ Timed out while waiting for element <body> to be present for 7000 milliseconds. - expected "visible" but got: "not found" (7636ms)`

Co

[2021-03-09 06:46] rodrigogs commented on #634
What would be the correct way for clicking a section element?

[2021-03-09 22:37] Wisniowyblazko5 opened #2603 "[Enhancement]"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe how the solution will work**

0l000"l"p
**Additional context**

[2021-03-09 22:39] Wisniowyblazko5 opened #2604 "nightwatch"

[2021-03-09 23:14] Wisniowyblazko5 opened #2605 "Eth"

[2021-03-10 00:04] Wisniowyblazko5 opened #2606 "[Enhancement]"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe how the solution will work**

**Describe alternatives you've considered**

**Additional context**

[2021-03-10 01:27] Wisniowyblazko5 opened #2607 "Doge"

[2021-03-10 01:29] Wisniowyblazko5 opened #2608 "ZCadh"

[2021-03-10 06:33] #2608 closed

[2021-03-10 06:34] #2607 closed

[2021-03-10 06:34] #2606 closed

[2021-03-10 06:34] #2604 closed

[2021-03-10 06:35] #2603 closed

[2021-03-12 06:24] rodrigogs commented on #2033
Same problem. How can I make it work?

[2021-03-12 15:08] Pieras2 commented on #2402
If inside the code, after the line with browser.verify I add browser.end(), yes as @LucaLis says the screenshot is made, but in case the code goes on with another lines of code, even the browser.end() is in after() hook, the screenshot is not made.

[2021-03-13 05:26] deleonio opened #2609 "Vulnerability in v1.5.1"
https://snyk.io/test/npm/nightwatch/1.5.1

[2021-03-15 12:47] #2609 closed

[2021-03-15 12:47] beatfactor commented on #2609
thanks for reporting this.

[2021-03-15 13:33] beatfactor commented on #2593
Nested 'describe's are unfortunately not supported at the moment as well as using the same name for more than one testcase, but we'll address this in the future.

[2021-03-15 15:02] #2560 closed

[2021-03-15 15:03] beatfactor commented on #2560
That's correct.

[2021-03-17 04:30] Dharin-shah commented on #2568
hey @mmaciekpl, unfortunately I am unable to reproduce this issue.
I have tried the exact same config (windows 10, chrome 87, node 14, nightwatch 1.5.1) on browserstack.

Here is the config for browserstack if you want to give it a try
`nightwatch_config = {
  src_folders : [ "tests/single" ],

  selenium : {
    "start_process" : false,
    "host" : "hub-cloud.browserstack.com",
    "port" : 80

[2021-03-17 08:25] beatfactor commented on #2576
Elements not being visible when in headless mode -- that sounds like a Chromedriver limitation to me.

[2021-03-17 09:03] AlmirRekanovic commented on #2033
Here is the solution for the problem that worked for me:  .setValue('//input[@type="file"]', `${require('path').resolve('')} \n ${require('path').resolve('')}`);

[2021-03-17 09:07] beatfactor commented on #2591
Try using [getElementProperty](https://nightwatchjs.org/api/getElementProperty.html).

[2021-03-17 09:08] beatfactor commented on #2592
Please have a look at the [contributing guidelines](https://github.com/nightwatchjs/nightwatch/blob/master/.github/CONTRIBUTING.md#submit-an-issue) for submitting an issue.

[2021-03-17 09:08] #2592 closed

[2021-03-17 09:31] rodrigogs commented on #2033
So, it should be an eol instead of a comma?!

[2021-03-17 10:31] beatfactor commented on #2590
Please have a look at the [contributing guidelines](https://github.com/nightwatchjs/nightwatch/blob/master/.github/CONTRIBUTING.md#submit-an-issue) for submitting an issue.

[2021-03-17 10:31] #2590 closed

[2021-03-17 10:42] beatfactor commented on #2575
Please have a look at the [contributing guidelines](https://github.com/nightwatchjs/nightwatch/blob/master/.github/CONTRIBUTING.md#submit-an-issue) for submitting an issue.

[2021-03-17 10:42] #2575 closed

[2021-03-17 10:42] #2574 closed

[2021-03-17 10:51] beatfactor commented on #2547
This is probably related to #2573. I'm closing it, if needed feel free to open a new issue but please follow the bug report.

[2021-03-17 10:51] #2547 closed

[2021-03-17 12:33] beatfactor opened #2614 "Use test setting "use_xpath" as default for page objects"
_Originally posted by @FrederikCampagne in https://github.com/nightwatchjs/nightwatch/discussions/2597_

[2021-03-17 12:40] beatfactor commented on #2582
Where is the uncaught exception occurring? Can you provide a full sample test?

[2021-03-17 13:01] beatfactor commented on #2564
I'm afraid you're mistaken. This has been looked at here: https://github.com/nightwatchjs/nightwatch/commit/04ce8c40c657bc2f2d4b8d84a3edecd731b18de7 and it should be fixed in 1.5.1

[2021-03-17 13:07] beatfactor commented on #2569
It is very difficult to reproduce this error and any help with a specific case would be appreciated. The sample test which was provided is not very helpful as it is referencing various page objects and/or sections.

[2021-03-17 13:14] beatfactor commented on #2568
Also, from the verbose log you can see that Nightwatch is sending the request correctly. So this is probably a Chromedriver issue:

[code]

[2021-03-17 13:14] #2568 closed

[2021-03-17 13:14] #2564 closed

[2021-03-17 13:18] beatfactor commented on #2542
This should be `elementEnabled`.

[2021-03-17 13:23] michal-ra commented on #2569
It all boils down to forcing the HTTP 500 from selenium server, so the easiest way to reproduce it is to p.ex. click some disabled control.
Then you should get this:
[code]

[2021-03-17 13:25] beatfactor commented on #2539
So the issue here is that the element is not present at all. If it is present and not visible, the result is `false`. But if is not present at all, you should probably be notified of that.

[2021-03-17 13:30] #2533 closed

[2021-03-17 13:33] beatfactor commented on #2531
This is correct behaviour. The actual result is "does not contain <...>" which is sufficient. For the entire result of the getText() command, you can inspect the debug log.

[2021-03-17 13:33] #2531 closed

[2021-03-17 13:37] beatfactor commented on #2528
Seems like the w3c option is ignored in Edge. This is the W3C default format, also used in Firefox and Safari and which we can turn on in Chrome, so there result here is correct.

[2021-03-17 13:37] #2528 closed

[2021-03-17 13:55] beatfactor commented on #2523
Please have a look at the [contributing guidelines](https://github.com/nightwatchjs/nightwatch/blob/master/.github/CONTRIBUTING.md#submit-an-issue) for submitting an issue.

[2021-03-17 13:55] #2523 closed

[2021-03-17 14:48] beatfactor commented on #2545
So what you have here is intended behaviour. When `skip_testcases_on_fail`is set to `true`, the remaining test cases should be skipped, regarding of whether you're using verify or assert.

[2021-03-17 14:48] #2545 closed

[2021-03-17 14:49] pmacpherson commented on #2449
This is still happening with version 1.5.1.  Will this be resolved?

[2021-03-17 14:56] beatfactor commented on #2449
This is correct behaviour. `abortOnAssertionFailure` only means running the rest of the test case when there is a failure. It doesn't control the test execution, which is done by the test runner.

[2021-03-17 15:12] pmacpherson commented on #2449
Thanks for your quick response.

I'm new to this library and perhaps I don't understand how things work, but I'm reading the documentation on https://nightwatchjs.org/api/commands/#waitForElementVisible

It states "If the element fails to be present and visible in the specified amount of time, the test fails. You can change this by setting abortOnFailure to false."

I set abortOnFailure=false and

[2021-03-17 15:19] cekeren commented on #2449
@beatfactor
1. I like how you responded to a comment immediately but I took the time to detail out this issue months ago and got nothing but crickets lol
2. I actually found that out the other day after literally leaving/coming back to this issue for months. It was an understanding issue - is there maybe a better way to document/example this?

@pmacpherson this took me a long time to wrap my head

[2021-03-17 16:12] pmacpherson commented on #2449
@cekeren Thanks for clarifying that.  So basically, the test will still fail.  The flag just indicates whether the other tests in the group will continue running or not.

How does someone do conditional checks if an element exists and perform additional steps.  This test fails which is not what i'd expect.

`module.exports = {
	'Wait for element': function (client) {
		client
			.url('http://www.g

[2021-03-17 23:00] MaRuifeng commented on #2206
I am experiencing the same behavior exactly. In #2521, [this comment](https://github.com/nightwatchjs/nightwatch/issues/2521#issuecomment-785514237) mentions that updating docker selenium grid to version 4 might be helpful.

[2021-03-18 09:51] Dharin-shah commented on #2522
https://github.com/nightwatchjs/nightwatch/pull/2615
this should help

[2021-03-18 17:10] kretschmannj commented on #2564
@beatfactor Thanks.  I just confirmed that this is fixed in version 1.5.1

[2021-03-19 11:23] bochen2014 opened #2617 "error when using w3c protocol with Chrome Driver v89"
Hi all,

I'm trying to use `w3c` protocal as it has been released for quite a while. However, after I followed instruction to switch `w3c` flag on (which is default on chrome webdriver >75), i'm getting errors

[code]

here is my `nightwatch.config.js`

[code]

here is selinum log (chrome driver 89, running inside a docker container)
[code]

Please note that using `w3c: false` works fine.

does `n

[2021-03-19 11:24] bochen2014 commented on #2617
ok... it seems

[code]

is causing the issue. After I remove it, i'm able to connect to :4444

but,  I'm getting some meaningful error now

[code]

[2021-03-19 11:27] bochen2014 commented on #2617
Had a google and found loads of complains on the same issue

[this issue ](https://github.com/nightwatchjs/nightwatch/issues/2149) was raised almost 2 years ago, so no progress made since then?

[2021-03-19 11:37] beatfactor commented on #2617
No progress indeed. Sad, but true.

[2021-03-19 11:46] bochen2014 commented on #2617
@beatfactor   it's ok, don't feel pressured. You guys have already done a good job!

happy to continue with JWP way as it serves us well and I can't find a reason why we must migrate to `w3c` protocol.

have a good weekend!

[2021-03-19 12:24] beatfactor commented on #2617
@bochen2014 thanks, we'll try to get a fix for this soon. It's a bit of a bummer because the only way to know is if we need to use W3C vs JWP is to get the session capabilities and by the time we do that, it seems it's too late. So we need to revisit the entire underlying architecture, which is a non-trivial task.

[2021-03-19 14:55] pawlakmaly commented on #2344
Question,any update on this issue ? It's been quite a while and the xml reports are still missing the screenshots. Or I don't know how to turn this on.

[2021-03-19 15:43] beatfactor commented on #2344
@pawlakmaly we'll address this soon.

[2021-03-19 15:48] #2614 closed

[2021-03-19 16:31] kretschmannj opened #2618 "Add support to set timeout value for custom assertions"
See https://github.com/nightwatchjs/nightwatch/discussions/2613#discussioncomment-502424

I wrote a custom assertion and I'm trying to figure out how to override the default assertion timeout. I know that I can set the retryAssertionTimeout and waitForConditionTimeout values in the Nightwatch config file but I don't want to set these values globally. Rather, I want to set the timeout value for onl

[2021-03-19 16:57] mannus-nisum-com opened #2619 "Execute test cases in parallel against single environment"
Hi,

@beatfactor I want to execute my test cases in parallel against single environment. Is there any way in nightwatch to execute the test cases in parallel. Please let me know if there is any option.

[2021-03-21 10:55] beatfactor commented on #2559
Can you guys have a look at [this PR](https://github.com/nightwatchjs/nightwatch/pull/2620) and let me know if this is enough? We can get it merged and released in v1.5.2 in a few days.

[2021-03-21 11:10] beatfactor commented on #2559
Also if y'all could suggest how to add some unit tests and some examples with typescript, that would be appreciated.

[2021-03-21 13:09] #2619 closed

[2021-03-21 13:49] muhammad-annus commented on #2619
Any reason of closing this issue ?

[2021-03-21 13:57] Topperfalkon commented on #2619
Probably because this was a question rather than an issue.

You're better off asking about it in the Discussions section above.

[2021-03-21 19:32] #2617 closed

[2021-03-22 10:21] #2559 closed

[2021-03-22 11:07] beatfactor commented on #2618
As we're looking into this, couldn't you do accomplish all of this with a combination of using
`expect.url().match().before(<timeout_in_ms>)`?

[2021-03-22 12:44] cekeren commented on #2449
Don't get too wrapped up in trying things like an if/else, in my opinion. By default, if the elementVisible check fails, then you'll get that information put to the console as an error, as well as in any HTML reporter you may be using. Referring to above, if you have `abortOnAssertionFailure=false` then you'll still get your other steps as well.

Structure your tests so that they are broken out we

[2021-03-23 11:30] lxblvs commented on #1936
Running on Ubuntu
`  Nightwatch:
    version: 1.5.1
`
nightwatch.json directly from the documentation:
`{
  "src_folders" : ["tests"],

  "webdriver" : {
    "start_process": true,
    "server_path": "node_modules/.bin/chromedriver",
    "port": 9515
  },

  "test_settings" : {
    "default" : {
      "desiredCapabilities": {
        "browserName": "chrome"
      }
    }
  }
}
`
package.json :
`{

[2021-03-23 14:34] beatfactor commented on #2534
I don't think this is going to work actually. Chaining in custom commands will not work if the command is async. So it has to be one or the other, unless we add ugly work-arounds like a _"then-able"_ api, of which I am not very much in favour.

[2021-03-23 14:37] beatfactor commented on #2582
I can't reproduce this or it may also be that I don't understand the issue completely so please add a sample test and explain what "dumping" the test results means in this context.

[2021-03-23 14:46] #2573 closed

[2021-03-24 12:33] beatfactor commented on #2582
Nevermind, I think I found something. I'll try and post a fix soon.

[2021-03-25 14:53] #2591 closed

[2021-03-25 15:51] rkgupta commented on #467
+1

[2021-03-26 09:48] pawlakmaly commented on #2344
@beatfactor Is there any chance that this change/fix will be added to upcoming version ? It would make the test reports on CI/CD systems like azure to look great..

[2021-03-26 13:41] lxblvs commented on #504
Still experiencing this on the newest

[2021-03-26 14:28] #2582 closed

[2021-03-29 07:53] ituradastra opened #2624 "Nightwatch v1.6.0: waitForElementVisible(@nameOfTheElement) doesn't take the locateStrategy of the element into account"
## Describe the bug

This error is happening only on v1.6.0, and works fine on v1.5.1
If somewhere in the test I use .useCss or .useXpath, then the next command (waitForElementVisible, in this case) won't take into account the locateStartegy of the element, but will except it to be according to the previously used .useCss() or .useXpath().

## Sample test

<details><summary>sampleTest.js</summary>

[2021-03-29 08:30] beatfactor commented on #2624
Thanks for your report. I'll look into it.

[2021-03-29 09:02] beatfactor commented on #2624
@ituradastra can you post the entire debug log?

[2021-03-29 09:50] lxblvs commented on #367
I have very tricky forms and fields I need to test so it would be great to be able to scope the custom commands under `forms` not have a separate file for each type of a field.

[2021-03-29 11:47] ituradastra commented on #2624
@beatfactor I updated the bug description under Verbose output and added part of the log. Let me know if this is not the right log and if you need some more info. Apologizes for not including it from the beginning and thanks for looking into it.

[2021-03-29 12:29] #2624 closed

[2021-03-29 18:19] MicahLC opened #2625 "[Enhancement] Add `closeTo` support for the built-in expect command"
**Is your feature request related to a problem? Please describe.**
We have a test where we need to check the `scrollLeft` property of an element and compare it to a value. However, because the value coming back is stored as a float, we need to be tolerant of slight differences in value, so we can't check for equality. In our page object code, this looks like this:
[code]

**Describe the solution y

[2021-03-30 05:08] deleonio opened #2626 "High vulnerability in nightwatch @ 1.6.1"
![image](https://user-images.githubusercontent.com/6279703/112936693-92a4f100-9126-11eb-8995-f655129b2bed.png)

I will check possible updates.

[2021-03-30 06:34] IceCreamYou opened #2627 "Custom commands written in Typescript break e2e tests"
## Describe the bug

After upgrading from Nightwatch 1.5.1 to Nightwatch 1.6.0 or 1.6.1, my end-to-end tests will not run. Unit tests are fine. See repro below.

Note, in the repro below I am compiling the TypeScript and electing to run the JS versions. But the same thing happens if I do not compile the TS and instead run it directly. This error does not happen if I compile to TS and then remove t

[2021-03-30 21:14] kretschmannj commented on #2023
+1 for adding this feature.  The current default file name is really ugly ...

... and we need a way to set our own file name.

[2021-04-01 14:30] beatfactor commented on #2626
I don't see how we can fix this until the proxy package is upgraded. Or am I not aware of something? In the next major version I think the proxy should not be a dependency of nightwatch.

[2021-04-01 19:50] IceCreamYou commented on #2626
@beatfactor The proxy package has been upgraded. Specifically, `pac-resolver` was upgraded to use a new version of netmask in 4.1.1, and `pac-proxy-agent` and `proxy-agent` do not need to be upgraded to pull in the fix because their dependency version ranges allow the patch update. What remains is for Nightwatch to upgrade the `proxy-agent` dependency version range from `^3.1.1` to something that

[2021-04-02 08:40] beatfactor commented on #2626
Added proxy-agent 4.0.1 in main branch.

[2021-04-02 08:40] #2626 closed

[2021-04-02 08:40] beatfactor commented on #2627
@lloiser can you suggest a fix?

[2021-04-02 22:34] kretschmannj commented on #759
Not sure why this was closed because it's still an issue in Nightwatch v1.5

[2021-04-02 22:55] kretschmannj opened #2630 "use_xpath doesn't work for page objects"
I specified the 'use_xpath: true' property in my nightwatch.conf.js file and it's working in my tests but it doesn't work for page objects.

nightwatch version 1.5

[2021-04-05 19:46] mgrahamama commented on #1075
Has anything changed in regard to this topic? Or is nightwatch still not providing this functionality?

[2021-04-06 06:08] Dharin-shah commented on #2630
@kretschmannj  Please check the contributing guidelines [here](https://github.com/nightwatchjs/nightwatch/blob/main/.github/CONTRIBUTING.md) for the correct formatting of the issue

[2021-04-06 09:45] lloiser commented on #2627
The problem is that nightwatch attempts to load both `wait.ts` and `wait.js`.
This approach previously (< 1.6.0) worked because nightwatch ignored all files except `*.js`.

Probably the best option here is to ignore the `.ts` file if a `.js` exists.
I think I can prepare a pull request if you @beatfactor agree with this solution.

[2021-04-06 13:13] beatfactor commented on #2569
I'm afraid I can't reproduce this. I can easily simulate the error by clicking on the disabled input at [this demo url](https://nightwatchjs.org/__e2e/window/setValue.html) hosted on the nightwatch website, but the error is handled accordingly (test runner exits, report is written etc.). I have tried using both a local selenium server and browserstack, with chrome and firefox.

Can you provide mor

[2021-04-06 13:54] #2023 closed

[2021-04-06 13:58] pawlakmaly commented on #2545
@beatfactor So "When skip_testcases_on_failis set to true, the remaining test cases should be skipped, regarding of whether you're using verify or assert." In example I give in comment https://github.com/nightwatchjs/nightwatch/issues/2545#issuecomment-739937301 works different than you said.

In above example I've got two test cases: "Browser Context" and "PageObject Context". An assertion ```.ve

[2021-04-06 14:07] lattam commented on #2626
Thank you for fixing this. When can we expect new version release with this hotfix?

[2021-04-06 14:36] beatfactor commented on #2630
This has been added in [v1.6.0](https://github.com/nightwatchjs/nightwatch/releases/tag/v1.6.0)

[2021-04-06 14:36] #2630 closed

[2021-04-06 14:39] beatfactor commented on #2627
@lloiser sounds good. thanks for looking into it.

[2021-04-06 15:19] beatfactor commented on #2626
I just released v1.6.2.

[2021-04-06 18:58] Dharin-shah commented on #2567
@felipeplets - can you please add an example for your custom reporter if possible

[2021-04-06 19:33] felipeplets commented on #2567
This issue have a screenshot but I don't currently have an working example: https://github.com/reallymello/nightwatch-axe-verbose/pull/6.

I believe by only using `this.verify.ok(false, 'message');` and `this.verify.fail('message');` and debugging the output result would should see the two message
I can try to setup a repo later this week reproducing the issue if you still need it.

[2021-04-06 20:39] Dharin-shah commented on #2567
Got it, thanks @felipeplets,
Nightwatch just proxies the command to the function from the underlying nodejs assert lib
https://github.com/nightwatchjs/nightwatch/blob/d51f09c33251f6c8c169dc12b692ce89a87117e1/lib/api/_loaders/static.js#L95

https://nodejs.org/api/assert.html#assert_assert_fail_message
so isnt it an issue with nightwatch-html-reporter or i might be missing something here

[2021-04-06 21:20] IceCreamYou commented on #2627
To be clear, this problem still happens if there is no JS file. It sounds like the proposed solution (ignore `.ts` if `.js` exists) could still solve my problem, but I don't think it would enable Nightwatch to work with TS commands.

[2021-04-07 04:23] deleonio commented on #2626
Thank you very much!

[2021-04-07 06:41] michal-ra commented on #2569
Yup, locally there is no problem at all.
I didn't try to reproduce it on docker locally, but hope it would work. So my setup is two containers:
1. [official node image](https://hub.docker.com/_/node) which has Nightwtch
2. [selenium server - standalone](https://hub.docker.com/r/selenium/standalone-chrome/tags?page=1&ordering=last_updated)
First container has tests and Nightwatch on it and connects

[2021-04-07 07:14] lloiser commented on #2627
By default, NodeJS does not know how to compile and execute .ts files. Therefore it is up to the user of nightwatch to make sure that all the code is executable.

There are multiple solutions to use typescript:
* use `tsc` to compile all .ts files to .js before starting nightwatch (as mentioned in this issue)
* use babel - either as a pre-compile step (similar to `tsc`) or on the fly using [`@babe

[2021-04-07 07:24] IceCreamYou commented on #2627
Ah, I was wondering how this was supposed to work. So you're saying it is not expected for Nightwatch to work with just `.ts` files out of the box, without additional steps. But the fact that Nightwatch now looks for `.ts` files means it does not work at all with `.ts` files present without additional steps. And the proposed solution of ignoring `.ts` files if there is a corresponding `.js` file m

[2021-04-07 11:54] Dharin-shah commented on #2522
This is fixed in Nightwatch v1.6 [release](https://github.com/nightwatchjs/nightwatch/releases/tag/v1.6.2). Please verify @Kenvdb @eleni-salamani

[2021-04-07 12:44] Dharin-shah commented on #2527
PR for the same
https://github.com/nightwatchjs/nightwatch/pull/2632

[2021-04-07 15:37] H3RSKO commented on #2420
Still waiting, Firefox 87.0. Is there a workaround for key presses in Firefox?

[2021-04-07 15:50] kretschmannj commented on #2420
Instead of 'browser.keys()' have you tried 'browser.sendKeys()'?  For example ...

`browser.sendKeys('xpath', "//input[@name='username']", browser.Keys.TAB + browser.Keys.TAB)`

[2021-04-07 16:44] H3RSKO commented on #2420
Thanks for the suggestion! When trying that I don't get the error, but no keys are actually pressed.

 I'm using Nightwatch v1.5.1 fwiw.

[2021-04-08 07:36] Dharin-shah commented on #758
@ycarpentier you can just use browserstack's capability to mask setValue commands
Eg:-
`capabilities['browserstack.maskCommands'] = 'setValues, getValues, setCookies, getCookies'`

https://www.browserstack.com/docs/automate/selenium/hide-sensitive-data#introduction

[2021-04-08 12:28] pawlakmaly commented on #2514
@beatfactor Can we add support for Edge in upcoming version ? I think edgedriver is available via npm package now.

[2021-04-08 14:16] benjaminr-ps commented on #2558
@umar-ps Please close this issue, as we identified the node.js runtime was not properly setup to accept self-signed certificates, and the issue that "only first test suite was reported" is related to issue #2582, which got fixed now.

[2021-04-08 14:21] #2558 closed

[2021-04-08 16:23] H3RSKO commented on #2420
Got a nice workaround using browser.setValue and [`selenium's common keys`](https://www.selenium.dev/selenium/docs/api/py/webdriver/selenium.webdriver.common.keys.html)

`browser.setValue("input[id=name]",  '\ue007') // clicks the enter button`

[2021-04-08 16:27] H3RSKO commented on #2468
I was able to solve this problem by passing the keycodes to a browser.setValue.

See [here](https://github.com/nightwatchjs/nightwatch/issues/2420#issuecomment-815962381) for my comment on a previous issue.

[2021-04-09 19:44] KidSysco opened #2634 "How to Install Chrome Support"
## Describe the bug
Followed the directions exactly, chrome will not work.

## Sample test
npx nightwatch -g -e chrome node_modules/nightwatch/examples/tests/ecosia.js

**Run with command**
npx nightwatch -g -e chrome node_modules/nightwatch/examples/tests/ecosia.js

 ✖ ecosia
   An error occurred while retrieving a new session: "session not created: Chrome version must be between 71 and 75"
Error

[2021-04-09 19:47] Topperfalkon commented on #2634
It sounds like you need a newer version of chromedriver

[2021-04-09 19:57] KidSysco commented on #2634
I have tried several, I am using chrome 89, but I don't understand where to find drivers, or how to update them I guess.

[2021-04-09 20:11] KidSysco commented on #2634
I put chrome 89 and 90 into my node_module/.bin directory. Does not seem to help. It keeps saying, Chrome version must be between 71 and 75.

Which is a really old version.

[2021-04-09 20:20] KidSysco commented on #2634
Safari and Firefox both seem to work good however!

[2021-04-09 20:25] KidSysco commented on #2634
I removed the chrome drive from my package.json, then deleted my node_modules directory. THen I did...

npm install chromedriver --save-dev

Then it started working. Something got janky, had to keep kicking it until it worked.

Thanks for your help!

[2021-04-09 20:25] #2634 closed

[2021-04-09 21:06] Topperfalkon commented on #2634
Nice, glad you got there!

[2021-04-10 14:37] Dharin-shah commented on #2584
https://github.com/nightwatchjs/nightwatch/pull/2632
This should help, `suppressNotFoundErrors` option
eg usage - https://nightwatchjs.org/api/clearValue.html#apimethod-page

It will be fixed in the next patch version

[2021-04-12 06:30] Dharin-shah commented on #2584
Duplicate https://github.com/nightwatchjs/nightwatch/issues/2527

Closing this one

[2021-04-12 08:14] Dharin-shah commented on #2584
Reopening, waiting on @kretschmannj to confirm. Please add your specific test case as well according to [this](https://github.com/nightwatchjs/nightwatch/blob/main/.github/CONTRIBUTING.md#submit-an-issue) format, i can try and run on my local to verify.

[2021-04-12 09:38] beatfactor commented on #2527
I'm afraid this is not how the `suppressNotFoundErrors` flag is supposed to work and it cannot be added for waitFor commands. Commands like waitForElementVisible already suppress the notFound errors and the assertion should always fail if the element is not found.

This flag is only useful for assertions like `assert.visible` where the element might not exist and only to avoid the additional error

[2021-04-12 09:38] #2527 closed

[2021-04-13 07:40] eleni-salamani commented on #2522
We will be trying out the new version in the upcoming 2 weeks, so will send out an update.

[2021-04-13 23:24] kretschmannj commented on #2469
+1

[2021-04-14 05:02] Dharin-shah commented on #2618
As @beatfactor has mentioned above, please try to use the .before method to achieve similar results.
Another bug as part of this issue which doesnt let custom timeout to be set on element objects is fixed here
https://github.com/nightwatchjs/nightwatch/pull/2637
@kretschmannj

[2021-04-14 11:34] ravikumar2000 opened #2638 "Is there any good documentation on installing nightwatch with selenium webdrivers in linux machine RHEL 7"
## Describe the bug

## Sample test

<details><summary>sampleTest.js</summary><p>

[code]
</p></details>

**Run with command**

[code]

### Verbose output
<details><summary>debug.log</summary><p>

[code]
</p></details>

## Configuration
<details><summary>nightwatch.json</summary><p>

{
    "src_folders": ["tests"],
    "output_folder": "reports/XMLReports",
    "custom_commands_path": "",
    "cus

[2021-04-14 11:39] ravikumar2000 opened #2639 "Observing unable to npm install watch"
## Describe the bug

## Sample test

<details><summary>sampleTest.js</summary><p>

[code]
</p></details>

**Run with command**

[code]

### Verbose output
<details><summary>debug.log</summary><p>

[code]
</p></details>

## Configuration
<details><summary>nightwatch.json</summary><p>

[code]
</p></details>

## Your Environment

| Executable | Version |
| ---: | :--- |
| `nightwatch --version` | VER

[2021-04-14 11:50] ravikumar2000 commented on #2639
Please find the debug log details
-vm-ravigr nightwatchjs_exporter]$ npm install nightwatch
npm ERR! Linux 4.14.35-1902.306.2.el7uek.x86_64
npm ERR! argv "/usr/bin/node" "/usr/bin/npm" "install" "nightwatch"
npm ERR! node v6.17.1
npm ERR! npm  v3.10.10
npm ERR! code UNABLE_TO_VERIFY_LEAF_SIGNATURE

npm ERR! unable to verify the first certificate
npm ERR!
npm ERR! If you need help, you may report t

[2021-04-14 11:56] #2638 closed

[2021-04-14 12:05] Pieras2 commented on #2526
If you use arrrow func. this will not change context

[2021-04-14 12:34] Dharin-shah commented on #2639
in your terminal please run
`npm config set strict-ssl false`

PS - you have quite old version of node, if possible please upgrade

[2021-04-14 12:55] #2639 closed

[2021-04-14 13:51] zwbetz-gh commented on #2526
True. But some Nightwatch functions do not work correctly when passed an
arrow function (in my experience).

On Wed, Apr 14, 2021 at 7:05 AM Pieraś ***@***.***> wrote:

[2021-04-14 14:01] Pieras2 commented on #2526
Do you have some code example? I'm curious. I sometimes use arrow and sometimes not.

[2021-04-14 14:04] zwbetz-gh commented on #2526
It's rare. But one example is `browser.execute()`

On Wed, Apr 14, 2021 at 9:01 AM Pieraś ***@***.***> wrote:

[2021-04-14 15:12] #2627 closed

[2021-04-14 15:36] beatfactor commented on #2618
@kretschmannj I think you can actually accomplish what you're looking for by setting the timeout and retry properties, as it is done in this example: https://github.com/nightwatchjs/nightwatch/blob/main/test/extra/assertions/customAssertionWithSelector.js

This is currently not mentioned in the docs, but I'll make sure to add it soon.

[2021-04-14 19:26] pawlakmaly opened #2643 "No screenshot is made for failed test cases if last test cases passed or have no assertion"
## Describe the bug

I've notice that Nightwatch does not do the screenshot when tests cases fails in test suit if the last test case in the suit is passed or have no assertion. This makes the screenshot on failed feature useless, especially when I integrate NW tests on Pipeline with publishing test result with screenshots. The screenshot when few last assertion failed is made only for last assert

[2021-04-14 19:36] pawlakmaly opened #2644 "[Enhancement] Add documentation about callbacks in assertion API"
**Is your feature request related to a problem? Please describe.**

Recently I found out that each assertion in assert/verify API (except nodeJS asserions like ok(), equal()) do have a callback.
[code]

Output:
![image](https://user-images.githubusercontent.com/27236545/114768552-52ba4c80-9d69-11eb-9d35-84c30c11101c.png)

**Describe the solution you'd like**

Please add this to the documentation,

[2021-04-14 19:41] Michelle-Bettencourt commented on #2389
@ciao-dux did you ever find a solution? I also can't set a file in nightwatch

   Response 500 POST http://hub:4444/wd/hub/session/efb19c55b6f52bea806ed6a82bc48091/element/48a5907c-c4e4-43ff-a6e4-fa9251d2abbb/value (75ms)
   {
     state: 'invalid argument',
     sessionId: null,
     value: {
       systemInformation: "System info: host: 'b409ddcff934', ip: '172.19.0.3', os.name: 'Linux', os.arch

[2021-04-14 19:45] pawlakmaly opened #2645 "[Enhancement] Take screenshot for every failed assertion and test case"
**Is your feature request related to a problem? Please describe.**

Recently I've integrated my tests on Azure Pipelines with publishing the reports. I've use nunit3 reporter so the reports contains attachments like screenshots of fails. But recently I found out that for the whole test suit only one screenshot is made for the last test case if it fails (If the last test cases is not failed, no scr

[2021-04-14 22:20] kretschmannj commented on #2618
@beatfactor  Thanks for the example.  Using timeout and retry properties works perfectly!

[2021-04-14 22:54] kretschmannj commented on #2584
I opened this ticket 2 months ago and now, I'm not so sure that suppressing the error is the right thing to do.  The 'elements' command, which is run as a precursor to commands like 'click', retrieves an element ID that is then used in the subsequent command.  If the DOM is refreshed between the time that the element ID is retrieved and the time that the 'click' command (for example) is executed t

[2021-04-15 00:54] gap777 commented on #2402
We're experiencing something like this all the time. We run our tests on semaphoreCI 2.0, and half the time they fail we don't get screenshots. It makes for such a frustrating experience to have a flaky test runner. What has to happen to fix this? @beatfactor Can you advise? This is becoming a big enough problem to cause our team to evaluate alternatives like cypress.io.

[2021-04-15 04:41] #2584 closed

[2021-04-15 06:02] Pieras2 commented on #2402
Unfortunately even if screenshot is made it is made only for the last assertion in the test suite :(
See https://github.com/nightwatchjs/nightwatch/issues/2645 < this should be rather a bug, but ok.

[2021-04-15 08:58] #2618 closed

[2021-04-15 11:30] beatfactor commented on #2402
If `end_session_on_fail` is turned off than .end() will not be called and screenshots will not be taken. But the test execution is still halted and you would normally still need to close the session yourself in order to avoid having browsers open.

So I would say that there's no benefit in turning off `end_session_on_fail`, unless you would want to do other things beside taking the screenshot. The

[2021-04-15 11:35] Pieras2 commented on #2402
That would be really great ❤

[2021-04-15 13:36] Michelle-Bettencourt opened #2646 "Set Value does not work"
## Describe the bug

## Sample test
-->

<details><summary>sampleTest.js</summary><p>

[code]
</p></details>

**Run with command**

[code]

### Verbose output
<details><summary>debug.log</summary><p>

[code]
</p></details>

## Configuration
<details><summary>nightwatch.json</summary><p>

[code]
</p></details>

## Your Environment

| Executable | Version |
| ---: | :--- |
| `nightwatch --version` |

[2021-04-15 13:40] beatfactor commented on #2646
Are you sure it's a problem with nightwatch? Seems like your file is not found: `File not found : /home/docker/app/test.pdf`

[2021-04-15 13:51] Michelle-Bettencourt commented on #2646
Yes I do because the file is in that spot

[2021-04-15 13:52] Michelle-Bettencourt commented on #2646
Is it an issue if i am hosting it on a different port?

  node-chrome-debug:
    image: selenium/node-chrome-debug:3.141

    environment:
      <<: *SELENIUM_NODE_ENV
    ports:
      - '5903:5900'
    networks:
      - nightwatch-docker-grid-network
    logging: *LOG

[2021-04-15 18:24] dimitriBouteille opened #2647 "Cannot go to home page with http auth"
Cannot go to home page with `navigate()`. I have the following page which is very simple:

<details><summary>home.js</summary><p>

[code]
</p></details>

when I want to go to the page with the following code:

<details><summary>test.js</summary><p>

[code]
</p></details>

I have this error : `Dismissed user prompt dialog: XXXX is requesting your username and password. The site says: “Authorization

[2021-04-15 19:08] #2647 closed

[2021-04-15 19:12] #2646 closed

[2021-04-15 19:45] #2532 closed

[2021-04-16 07:27] mkelly2000 commented on #2645
To take screenshots for each failed test cases you need to close the browser session after it fails (this is why the last test case takes the screenshot)
Im not sure if this will solve all your issues above but should take at least 1 screenshot for each case

afterEach: function(browser) {
    browser.end();
  },

[2021-04-16 07:29] mkelly2000 commented on #2643
I'll add my same comment here as this seems similar to the other request

To take screenshots for each failed test cases you need to close the browser session after it fails (this is why the last test case takes the screenshot)
Im not sure if this will solve all your issues above but should take at least 1 screenshot for each case

afterEach: function(browser) {
browser.end();
},

[2021-04-16 07:32] pawlakmaly commented on #2645
I know I can do that, but in my case it's not a solution as my test suit contains multiple test cases or test cases contains multiple assertions. Application that I'm testing requires log in and I'm using UI to do that and it usually takes about 7 seconds so my test suit would spend twice as much time on logging in than on doing actual tests.

[2021-04-16 08:46] beatfactor commented on #2625
I think we can add a "between" or "within" which would take a range of values as argument. Would that work?

[2021-04-16 08:51] beatfactor commented on #2643
This would be handled as well if #2645 is implemented. You do not need to call `browser.end()` in afterEach, unless you disable  closing the session on failure (by setting `end_session_on_fail` to true). See also [my comment](https://github.com/nightwatchjs/nightwatch/issues/2402#issuecomment-820351567) on #2402.

[2021-04-16 08:51] #2643 closed

[2021-04-16 08:56] #2526 closed

[2021-04-16 08:58] beatfactor commented on #2524
Sorry for the delay here, is this still an issue?

[2021-04-16 08:59] beatfactor commented on #2522
Closing this as issues has been fixed, but feel free to reopen if needed.

[2021-04-16 08:59] #2522 closed

[2021-04-16 09:01] #2516 closed

[2021-04-16 09:08] beatfactor commented on #2435
duplicate of #2161

[2021-04-16 09:08] #2435 closed

[2021-04-16 09:10] #1693 closed

[2021-04-16 09:13] #2094 closed

[2021-04-16 09:22] #1054 closed

[2021-04-16 09:23] #1015 closed

[2021-04-16 09:24] #998 closed

[2021-04-16 09:24] ravikumar2000 opened #2650 "Unable to execute any tests in nightwatch"
[opc@oci-vm-ravigr examples]$ npx nightwatch tests
npx: installed 275 in 11.396s

[Ecosia.org Demo] Test Suite
============================
⠙ Connecting to localhost on port 4444...
   Response 500 POST /session (105ms)
   {
     value: {
       error: 'unknown error',
       message: 'Process unexpectedly closed with status 1',
       stacktrace: ''
     }
⚠ Error connecting to localhost on port

[2021-04-16 09:24] #912 closed

[2021-04-16 09:28] #867 closed

[2021-04-16 09:30] #841 closed

[2021-04-16 09:32] #851 closed

[2021-04-16 09:43] Topperfalkon commented on #2650
This is a duplicate of an ongoing discussion.

[2021-04-16 09:50] #2650 closed

[2021-04-16 10:54] pawlakmaly opened #2651 "waitForElementPresent() exits with error code 10 when used in promise function (async/await style)"
I need a help with my code.
[code]
When I call waitForElementPresent inside a function that returning a Promise I correctly see in logs that element was not found but the runner ends up with error code 10 and no report is generated.
![image](https://user-images.githubusercontent.com/27236545/115014527-bc923d80-9eb2-11eb-8605-e6ab93f814b3.png)
But when the function simply returns

What am I missing

[2021-04-16 11:17] beatfactor commented on #2651
@pawlakmaly Please use the the [Discussions section](https://github.com/nightwatchjs/nightwatch/discussions) in the future.

[2021-04-16 11:17] #2651 closed

[2021-04-16 16:45] MicahLC commented on #2625
That sounds like it would work. The reason I suggested `closeTo` is because that's what chai already has, but as long as the functionality is equivalent, I'm not picky about the name.

[2021-04-17 13:35] beatfactor commented on #2625
They have .within also. We can add both and any other missing ones that could be useful.

[2021-04-19 07:57] ravikumar2000 opened #2654 "Unable to run any simple tests using nightwatch"
## Describe the bug

## Sample test

<details><summary>sampleTest.js</summary><p>

[code]
</p></details>

**Run with command**

[code]

### Verbose output
<details><summary>debug.log</summary><p>

[code]
</p></details>

## Configuration
<details><summary>nightwatch.json</summary><p>

[code]
</p></details>

## Your Environment

| Executable | Version |
| ---: | :--- |
| `nightwatch --version` | VER

[2021-04-19 08:46] beatfactor commented on #2654
@ravikumar2000 do you think it's possible for you to use the Discussions section for issues like this one in the future?

[2021-04-19 08:46] #2654 closed

[2021-04-19 09:54] Dharin-shah commented on #2508
https://github.com/nightwatchjs/nightwatch/pull/2656
PR for the same

[2021-04-21 06:46] gravityvi commented on #555
Same as #2532. The code has been successfully merged in PR #2641

[2021-04-21 07:20] Dharin-shah commented on #555
Please reopen if required, the latest version is patched for this issue.

[2021-04-21 07:20] #555 closed

[2021-04-21 12:48] #2001 closed

[2021-04-22 19:15] gravityvi commented on #2517
I tried the code snippet on BrowserStack automate using safari version 13.1.2 and nightwatch version 1.6 runs perfectly fine for me.

[2021-04-23 13:43] ironeo opened #2671 "can't run tests on specific environment if desiredCapabilities are set in default environments"
## Describe the bug
If I set default environment in nightwatch.conf.js for chrome, and set desiredCapabilities for it,
and If I set second env for firefox, finally I can't run tests using geckodriver because runner still using chrome.
If I delete desired capabilities set to chrome from default env then tests are running good using Firefox.

My question: is it possible to set default environment as

[2021-04-24 16:31] #2508 closed

[2021-04-26 04:41] gravityvi commented on #2671
Yes it is possible to set default env as chrome just add web driver details with desiredCapabilities in your default json:

[code]

do the same for firefox env as well. Just to point concurrency is not supported at the moment in GeckoDriver:
[code]

[2021-04-26 15:02] kretschmannj commented on #998
Not sure why this was closed as this is still an issue.  Please reopen this.  I'm on v1.6.3 and screenshots are not being captured for 'verify' assertions.

[2021-04-26 15:02] kretschmannj commented on #1020
Not sure why this was closed as this is still an issue.  Please reopen this.  I'm on v1.6.3 and screenshots are not being captured for 'verify' assertions.

[2021-04-27 07:18] eleni-salamani commented on #2522
Although the issue has been closed, just confirming that it has been fixed with the latest nightwatch version (1.6.3)

[2021-04-27 08:16] Dharin-shah commented on #1020
Its a duplicate - tracked here - https://github.com/nightwatchjs/nightwatch/issues/2402
@kretschmannj

[2021-04-27 08:16] Dharin-shah commented on #998
Its a duplicate - tracked here - https://github.com/nightwatchjs/nightwatch/issues/2402
@kretschmannj

[2021-04-28 11:09] lefablab commented on #2469
+1 for firefox

[2021-04-28 17:05] eugenio-caicedo commented on #177
I'm getting the same issue with the Nightwatch version 1.6.3. I'm using the [Page Object](https://nightwatchjs.org/api/pageobject/) but reloading the page doesn't resolve it. Any ideas for that?

[2021-04-30 10:54] franklychilled opened #2677 "Ability to disable support for using TypeScript in Version 1.6"
**Is your feature request related to a problem? Please describe.**
Our test suites are written in Typescript since 2018 and we are not able to upgrade from version 1.5.1 to 1.6.3. We are using type definition and base classes.

**Describe the solution you'd like**
Addition attribute available in nightwatch.json

**Describe how the solution will work**
Stop loading any *.ts files anywhere.

**Descr

[2021-04-30 11:46] akhil-kp-dasan opened #2678 "Running a single testcase using Nightwatch programmatic API"
[code]

[code]
From the example available on the documentation page I can see that we can pass either folders or files from which the runner would run all the test cases. But I can't find a way to run a single test case from the file. Is there a way to achieve this?

[2021-04-30 13:02] #2402 closed

[2021-04-30 14:01] franklychilled commented on #2677
Note: when I replace '.ts' but '.js', our custom command would not load (due to the code from #2627) so I've switch to '._ts' as we don't have any extension like this.

[2021-05-05 05:44] Dharin-shah commented on #2677
hey @franklychilled, i have tried having a ts and js file with same name in my custom commands and this function [https://github.com/nightwatchjs/nightwatch/blob/fd2b67ee724037d53d6a8757bd04064e2646b023/lib/api/index.js#L281] doesnt allow the ts file to load, am i missing something from the issue you have described

[2021-05-05 15:03] franklychilled commented on #2677
Hi @Dharin-shah, I've change this [line](https://github.com/nightwatchjs/nightwatch/blob/fd2b67ee724037d53d6a8757bd04064e2646b023/lib/utils/index.js#L29) to `return '._ts';` to stop any Typescript file to load.

Our issue is not only about custom commands, we have custom assertions and test in Typescript. We are also using @types/nightwatch@0.9.12 to provide type definition on our test.

Here an e

[2021-05-05 15:32] aakash3771 opened #2683 "Allow waits failure to be ignored instead of treating them as assertions"
**Is your feature request related to a problem? Please describe.**
When a wait fails, script execution results shows a failure as I don't see waits as assertions but as execution stopper.

**Describe the solution you'd like**
Add a flag to the waits that allows wait fails to be ignored.

**Describe how the solution will work**
.waitForElementVisible([using], selector, [timeout], [pollInterval], [a

[2021-05-05 16:19] Dharin-shah commented on #2677
@franklychilled  Interesting, so if i get this correctly, you dont want any .ts files (commands, assertions, tests..) to be loaded in nightwatch since you already generate the js files yourself. Please correct me if I am wrong :)

[2021-05-06 07:46] franklychilled commented on #2677
@Dharin-shah, You are correct, we are compiling all our .ts files using `tsc` and have already generate the js files. I believe it's a simpler options that supporting the `import` statement from Typescript.

[2021-05-07 09:15] amirduran opened #2684 "How to execute nightwatch tests in a single docker container?"
Hi Nightwatchers,

Let me quickly explain my issues I have a simple website implemented with Vue and want to execute my e2e tests.

My idea is to create a docker container and run Nightwatch e2e tests in the container. I don't need a complicated selenium setup, just a simple docker container with:

* Chrome
* Chromedriver
* Nightwatch tests

Here is my docker image where I try to:

* Install Chrom

[2021-05-07 10:27] Dharin-shah commented on #2684
@amirduran - please post the resolution :)

[2021-05-08 10:21] amirduran commented on #2684
I was mislead by few posts and didn't read documentation carefully enough which caused some problems. But here is an explanation.

If you want a configuration without selenium server then you have the option to run tests using webdriver (you can use webdriver for specific browser). In my case I wanted:

* to be able to run tests locally on my development machine
* to be able to run e2e tests in my

[2021-05-10 08:58] govind413 commented on #2469
+1 for Firefox

[2021-05-10 14:06] ironeo commented on #2671
yes, but in case of msedge browser it doesn't work :( in my opinion desiredCap in default env are overwite desiredCap on msedge env.
If I delete desiredCap from default env its working correctly on ms edge. If I turn it on again tests running on msedge env are starting under chrome unfortunately...
And don't have any ideas why!

[2021-05-11 07:46] kajalasharma opened #2687 "tags dont work when test_workers is enabled"
## Describe the bug

When we enable parallel execution by

test_workers: {
        enabled: true,
        workers: 2,
      }

and when we try to run the tests using cucumber tag by --tag @homepage

it still runs the complete suite and not just homepage tests

ideally it should work for both:-

if we dont use tag and run complete suite it should run in parallel

but when we specify a tag in run co

[2021-05-11 10:28] gravityvi commented on #2683
Hey @aakash3771, will the use of `abortOnAssertionFailure=false` in your Nightwatch config file resolve the issue?

[2021-05-11 10:55] aakash3771 commented on #2683
@gravityvi Nope. abortOnAssertionFailure will still show the wait as failure in the test result. I don't want to see failed wait as failure of the test

[2021-05-12 17:09] wegry commented on #1936
Seeing this bumping from nightwatch@1.6.3 to 1.6.4.

[code]

[2021-05-12 21:34] beatfactor commented on #1936
@wegry can you open a new issue please?

[2021-05-12 23:17] wegry commented on #1936
@beatfactor after trying again with the latest Node LTS (14.17.0), I was unable to repro on two subsequent runs. If I run into it again, I'll open an issue.

[2021-05-13 09:33] gravityvi commented on #2530
Hey @pawlakmaly, `waitForElementVisible` throws an error if the element is not found and as the error is not handled it causes the script to end. If you wrap inside of try-catch block you will be able to see logs of every command.

[2021-05-13 09:38] #2505 closed

[2021-05-13 09:43] gravityvi commented on #2511
Hey @zxmbw54, looks like you might be using default config for running tests, please add `desiredCapabilities` of chrome in your `default` section.

[2021-05-13 09:58] gravityvi commented on #2511
You can ask anymore questions on the [gitter](https://gitter.im/nightwatchjs/nightwatch) if you face any more issues. Feel free to reopen the issue if you find any bugs.

[2021-05-13 09:58] #2511 closed

[2021-05-13 15:40] tania-zumbiel opened #2693 "Xpath locators stopped working for .waitForElementVisible() and .waitForElementPresent()"
I started getting the following error with all waitForElementVisible() or waitForElementPresent() functions in my test suits today:

`Error: Error while running "waitForElementVisible" command: "Error: Provided locating strategy "//span[contains(text(),'Element')]" is not supported for .waitForElementVisible(). It must be one of the following: id, css selector, link text, partial link text, tag na

[2021-05-13 16:00] beatfactor commented on #2693
Please have a look at the [contributing guidelines](https://github.com/nightwatchjs/nightwatch/blob/master/.github/CONTRIBUTING.md#submit-an-issue) for submitting an issue.

[2021-05-13 16:02] beatfactor commented on #2693
It looks like a bug. Could you please include all the relevant info as per the [bug report template](https://github.com/nightwatchjs/nightwatch/blob/main/.github/ISSUE_TEMPLATE/bug_report.md)?

[2021-05-13 16:04] beatfactor commented on #2693
@tania-zumbiel I'm closing this. Please open a new one, click on the "Bug report" button and try to fill in the info required there. Thanks.

[2021-05-13 16:04] #2693 closed

[2021-05-13 16:06] beatfactor commented on #2687
I'm closing this since it doesn't follow the bug report template and there's [an ongoing discussion](https://github.com/nightwatchjs/nightwatch/discussions/2689) already. Feel free to open a new issue but try to include the required info so we can look into it.

[2021-05-13 16:06] #2687 closed

[2021-05-13 16:09] beatfactor commented on #2683
@aakash3771 I'm afraid we cannot add this into the current api. But you can always implement a custom command or assertion to deliver on your concrete requirements.

[2021-05-13 16:09] #2683 closed

[2021-05-13 16:20] beatfactor commented on #2569
@michal-ra Sorry, without a clear and relatively easy way to reproduce this issue I'm afraid it's a "wontfix". Feel free to re-open if you have more details on what to run to reproduce this locally.

[2021-05-13 16:20] #2569 closed

[2021-05-13 16:52] tania-zumbiel opened #2695 "Xpath locators stopped working for .waitForElementVisible() and .waitForElementPresent()"
I started getting the following error with all waitForElementVisible() or waitForElementPresent() functions in my test suits today:

Error: Error while running "waitForElementVisible" command: "Error: Provided locating strategy "//span[contains(text(),'Element')]" is not supported for .waitForElementVisible(). It must be one of the following: id, css selector, link text, partial link text, tag nam

[2021-05-14 13:07] tania-zumbiel commented on #2695
There is an additional detail that I noticed today: if I remove the "message" parameter from .waitForElementPresent()/.waitForElementVisible(), it works fine. So the error seems to be misleading saying "Provided locating strategy "//span[contains(text(),'Element')]" is not supported"

[2021-05-17 13:38] Mahad28 opened #2698 "Timeout error on safari"
Added safari browser in the configuration file.
For some reason nightwatch gives an error in the last as timeout error
<img width="1317" alt="Screenshot 2021-05-17 at 6 33 22 PM" src="https://user-images.githubusercontent.com/12655387/118497610-a809c500-b73e-11eb-9ece-1b7b17d9a45f.png">

I have configured my conf file as follows

desiredCapabilities: {
            browserName: 'Safari',

[2021-05-18 17:50] gravityvi commented on #2698
Hey @Mahad28, can you share the snippet of the code?

[2021-05-18 18:01] gravityvi commented on #2645
This is a duplicate issue of #2402 which is fixed 😄

[2021-05-18 18:18] gravityvi commented on #2517
Hey @kretschmannj, As it runs perfectly with the latest version of Nightwatch closing the issue, you can reopen, if you find any more bugs.

[2021-05-18 18:18] #2517 closed

[2021-05-19 09:28] #2677 closed

[2021-05-19 10:53] Mahad28 commented on #2698
@gravityvi cant post that but  I can tell you that its running successfully on chrome and edge but giving a timeout error on safari only. I can post my sauce configuration though

[2021-05-21 06:33] pawlakmaly commented on #2645
Why this is closed ? Version 1.6.4 is still makin only one screenshot for whole test suit @beatfactor

[2021-05-21 07:49] Dharin-shah commented on #2645
@pawlakmaly - can you share an example? And please raise a new issue in correct format as specified by guidelines

[2021-05-21 08:13] #2542 closed

[2021-05-21 08:24] beatfactor commented on #2645
Actually this is not a duplicate of #2402, it's a new feature.

[2021-05-21 14:36] beatfactor commented on #2671
@ironeo what's your config for msedge?

[2021-05-21 14:37] #2576 closed

[2021-05-22 10:29] #2698 closed

[2021-05-24 12:15] ironeo commented on #2671
`
browser: {
      silent: true,
      globals: {
        environment: 'mock'
      },
    },
MSEdge: {
      extends: 'browser',
      desiredCapabilities: {
        // browserName: 'MicrosoftEdge',
        marionette: true,
        javascriptEnabled: true,
        acceptSslCerts: true,
        edgeOptions: {
          w3c: false,
          args: ['headless', 'no-sandbox', 'incognito']
        }

[2021-05-24 14:21] beatfactor commented on #2671
The problem is that `microsoftedge` gets lowered cased when it shouldn't be.

[2021-05-24 15:14] #758 closed

[2021-05-24 17:19] rafaelribeiro99 commented on #1992
this solved the issue with me, also using Windows

[2021-05-25 06:55] Pieras2 commented on #693
maybe there should be a "speed" parameter which would slow down actions triggered?
I would like also have a feature when a test is conducted slowe to easily notice everything on screen

[2021-05-25 12:40] #2695 closed

[2021-05-25 19:04] islacruse commented on #284
It would be great!

[2021-05-26 02:44] sshaiakhmedov commented on #2261
I'm having similar issue

[2021-05-27 04:09] samnit commented on #2535
@beatfactor @alechirsch is there any workaround for this where the test case aborts after the failure. This seems to be blocker for me. Can anyone please help....

[2021-05-27 07:00] komal-thamke commented on #2469
Im having the same issue for firefox

[2021-05-27 15:36] alechirsch commented on #2535
@samnit There was no workaround for this, besides not using async/await

[2021-05-27 15:41] Pieras2 commented on #2535
I started to avoid async/awaits. Too many problems in NW with it. I changed some methods to chain api commands. Some are wrapped by browser.perform()

[2021-05-27 17:40] samnit commented on #2535
@alechirsch @Pieras2 thanks for your quick replies 🙂 for a workaround for myself I am still using async await.. I have now replaced my "assert" with "verify".. And using abortOnFailure and abortOnElementError as true... This seemed to work.. So I am able to abort my test case on "verify" as well..

[2021-05-27 17:50] Pieras2 commented on #2535
I understand. To me (with all respect to authors) it's a bit annoying that I cannot assert where I need (interrupt test) and just assign simple "fail" to a test case. E.g. if I use assert in a sections method it hangs whole NW. Test freezes. More over I would need 2 kind of asserts. One that skips the rest of a test case, and second that would stop the whole test suite. Why? In my opiniom a test s

[2021-05-28 04:22] samnit commented on #2535
@Pieras2 Yes I agree... features are still missing in the tool.. sometimes it takes a lot of time to find a solution.

[2021-05-28 06:29] ucola opened #2719 "Firefox / Geckodriver / Windows issue with Frame selection / set"
## Describe the bug
We use Geckodriver on Windows for Firefox. In my case, if I will set something in a field (or press a button) inside a frame, it is not working. I try it with "frame(ID)" and with "frame(0)", but both cases have the same issue.

## Sample test
[code]
[code]

### Verbose output
[code]

## Your Environment

| Executable | Version |
| ---: | :--- |
| `nightwatch --version` | 1.6.4

[2021-05-28 07:04] beatfactor commented on #2535
We'll have a new version out very soon which we'll address this issue. Thanks for your patience :)

[2021-05-28 11:39] gravityvi commented on #2535
Hi, I tried recreating this issue (**.assert is not causing scripts to end**) with the code:
[code]

But I get an expected output (**Second Test is Skipped**)
[code]

@Artsu, @Pieras2, @samnit, @alechirsch am I missing something here?

[2021-05-28 13:33] kajalasharma opened #2720 "exit code is always 1 when test workers is true"
even when the whole suite is green, still we have exit code as 1 when tests are run in parallel.

pm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! abc@4.13.0-beta.2 test: `dgad-nightwatch "--env" "parallel" "--report-path" "test/e2e/nw"`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the abc@4.13.0-beta.2 e2e-test script.
npm ERR! This is probably not a problem with npm. There is likely addit

[2021-05-29 10:50] gravityvi commented on #2720
Hey @kajalasharma, please follow the bug report template as it helps us identify the issue more smoothly.

[2021-05-29 10:50] #2720 closed

[2021-06-01 21:51] kretschmannj commented on #693
Similar to @villesau solution, I use a custom command that will pause execution until a button is pushed.  You can place the call to the command in several places throughout your test when you want to step through ...

`exports.command = function () {
  _this = this

  message = '\n==> Click the \'Continue\' button to continue.'
  console.log('\x1b[35m' + message + '\x1b[0m');

  _this.execute(fun

[2021-06-02 07:03] gelform opened #2724 "Css zoom causes nightwatch to click on the wrong element."
## Describe the bug

A page with the css rule `zoom:  1.2;` causes nightwatch to click on the wrong element.

## Configuration
<details><summary>nightwatch.json</summary><p>

[code]
</p></details>

## Your Environment

| Executable | Version |
| ---: | :--- |
| `nightwatch --version` | 1.6.4 |
| `npm --version`  | 6.14.12 |
| `node --version` | 14.16.1 |

| Browser driver | Version |
| --- | --- |

[2021-06-03 22:51] kretschmannj opened #2728 "XML output files are not generated when running parallel tests on multiple browsers"
The XML output files are not generated when running parallel tests on multiple browsers.

Here's a snippet from the nightwatch.conf.js that enables parallel test execution ...
[code]
... and here's the command line I'm using to run multiple tests on multiple browsers ...

`node nightwatch tests/test1 tests/test2 -e chrome,firefox`

The test completes successfully but the tests_output folder is emp

[2021-06-04 11:43] #2530 closed

[2021-06-04 15:06] kretschmannj commented on #2645
+1 for capturing screenshots after every failed assertion.

[2021-06-04 15:33] beatfactor commented on #2671
Version 1.7 adds proper support for Edge. See [releases/tag/v1.7.0](https://github.com/nightwatchjs/nightwatch/releases/tag/v1.7.0)

[2021-06-04 15:33] #2671 closed

[2021-06-04 15:35] beatfactor commented on #2724
Not sure how we can fix this in nightwatch. Also, you didn't include a sample test which makes it even more difficult to debug the issue.

[2021-06-04 15:38] beatfactor commented on #2534
Added this in v1.7. See [releases/tag/v1.7.0](https://github.com/nightwatchjs/nightwatch/releases/tag/v1.7.0)

[2021-06-04 15:39] #2534 closed

[2021-06-04 15:42] beatfactor commented on #1929
Added in [releases/tag/v1.7.0](https://github.com/nightwatchjs/nightwatch/releases/tag/v1.7.0)

[2021-06-04 15:42] #1929 closed

[2021-06-04 17:28] gelform commented on #2724
I wasn't sure how to add a test for this. add `zoom:  1.2;` to a page and
have nightwatch click on any element.

But if it's outside the functionality of nightwatch, feel free to close
this issue. Doesn't seem bad to have it documented, at least, as I spent a
lot of time searching for a bug report and/or fix.

On Fri, Jun 4, 2021 at 11:36 AM Andrei Rusu ***@***.***>
wrote:

--

Corey Maass
646-228

[2021-06-05 08:50] Dharin-shah commented on #2645
This is a nice work-around. However browser.end() now doesnt take screenshot anymore.
one can try
[code]

So for the above solution it will be like
[code]
Had a draft PR, but with v2 things will probably change and hence this might not work
https://github.com/nightwatchjs/nightwatch/pull/2657

[2021-06-07 06:32] pawlakmaly opened #2731 "TypeError when having simple none-promise function in Nightwatch 1.7 beta"
## Describe the bug

I've tried the new 1.7 beta package on NW and a simple helper function from separate file now is causing TypeError in Async before hook. The code worked ok before (1.6.4).

## Sample test

<details><summary>my Helper Function.js</summary><p>

[code]

How I use it:
[code]
</p></details>

**Run with command**

[code]

### Verbose output
<details><summary>debug.log</summary><p>

[2021-06-07 06:55] pawlakmaly commented on #2731
Not a bug , the problem was somewhere between the keyboard and the chair......

[2021-06-07 06:55] #2731 closed

[2021-06-07 13:43] pawlakmaly opened #2732 "[Enhancement] Section selector to be Selector object or support xpath"
**Is your feature request related to a problem? Please describe.**

In my page objects and sections I uses 99% xpath selectors. But the section selector can only be a string. I'm sure how I can use profits of section and @ decorator for section elements if I cant use Xpath as a section selector. When the section selector is css selector and element is a selector object with locateStrategy set to x

[2021-06-09 08:11] gravityvi commented on #2541
Hey @lusarz, can we use `browser.expect.element(<selector>).to.have.attribute('attribute-name')` or am I missing something here?

[2021-06-09 16:52] xeno opened #2735 "Use of proxy-agent throwing security red flags"
## Describe the bug
The dependency chain of proxy-agent leads down to the `ftp` library. `ftp` is flagged as containing the most serious level of security vulnerability, according to [CVE-1999-0082](https://www.cvedetails.com/cve/CVE-1999-0082/). This is stopping some security scanners from passing nightwatch, such as owasp dependency checks.

I know the use of proxy-agent is marked in a TODO to b

[2021-06-10 05:18] gravityvi commented on #2524
Closing this issue as it runs perfectly fine in the latest version of Nightwatch. Feel free to open another issue if you come around with any bugs. You can also ask for questions at the [gitter](https://gitter.im/nightwatchjs/nightwatch) channel.

[2021-06-10 05:18] #2524 closed

[2021-06-10 06:31] gravityvi commented on #974
We can use `index` key and `locateStrategy` in our sections to spot our sections properly.
**Example:**
[code]
Closing this issue as it resolves the purpose. Feel free to open another issue if you come around with any bugs😃.

[2021-06-10 06:31] #974 closed

[2021-06-10 06:38] gravityvi commented on #617
Closing this issue as it is a duplicate of #1135.

[2021-06-10 06:38] #617 closed

[2021-06-10 08:54] gravityvi commented on #354
Closing this as Nightwatch generates `nightwatch.conf.js` if no config is found.

[2021-06-10 08:54] #354 closed

[2021-06-10 10:45] ironeo opened #2736 "shadowRoot command API[Enhancement]"
What about add shadowRoot command API ?
for example like this:
https://webdriver.io/docs/api/element/shadow$$
https://webdriver.io/docs/api/element/shadow$

Is it possible to add it to v2 ?

[2021-06-10 14:40] #2735 closed

[2021-06-10 15:22] sagerlawgeli commented on #649
Is there any updates on this? thanks

[2021-06-10 19:20] beatfactor commented on #649
@sagerlawgeli would you mind opening a new feature request or post a message in the discussions?

[2021-06-10 20:15] baffaman commented on #649
You can set
[code]

[2021-06-11 10:54] pawlakmaly commented on #2732
Well...this is my Page Object:
[code]
This is my section:
[code]
And this is the test:
[code]
And running this way i get:
[code]
So seems to be not working that way. I can change the section selector to css selector, but then the element is not found.:
[code]

[2021-06-11 10:55] gravityvi commented on #2308
`Error while running .getElementProperty() protocol action: Appium error: Method has not yet been implemented` error in ios devices was due to the fact `getProperty` command was not implemented in Appium Which is fixed in this [PR](https://github.com/appium/appium-xcuitest-driver/pull/1313) 🎉

[2021-06-11 11:05] gravityvi commented on #2732
Try changing in section
[code]

[2021-06-11 11:09] pawlakmaly commented on #2732
@gravityvi Works like charm now <3

[2021-06-11 11:10] #2732 closed

[2021-06-14 15:32] Gigo669 commented on #1946
Any idea if the suppressWebdriverErrors option was ever implemented. We test a very dynamic WebApp with temporary notifications appearing at any time. This hides the clickable element causing intermittent failures.  Trying to click for a certain amount of time would address this but this imply that click() failure are intercepted reported. Any other options would also be appreciated. Thanks

[2021-06-15 06:58] vaibhavsingh97 commented on #2719
@ucola can you please try using following code:

[code]

[2021-06-15 10:31] gravityvi commented on #2514
Fixed in Nightwatch v1.7 https://github.com/nightwatchjs/nightwatch/commit/c0b93cc74beb91721b75b99769b0729b08ec266d

[2021-06-15 10:31] #2514 closed

[2021-06-15 10:32] #2728 closed

[2021-06-15 10:48] vaibhavsingh97 opened #2740 "[Enhancement] V2 Method mappings"
As a part of the V2 release, we need to make commands compatible with selenium. The below table shows the current status of the migration.

| Commands          |   Status  | Notes                         |
|-------------------|:---------:|-------------------------------|
| Timeouts          |           |                               |
| Session Log       |           |

[2021-06-15 11:14] alaasayed7 opened #2742 "[Enhancement] running specific tests on different environments in parallel"
starting from v1.7 we can now run tests on parallel on multiple browsers.
suppose I'm running some tests and I want to run some on chrome, some on firefox, some on edge and some on all.
is this possible ?

[2021-06-15 11:17] vaibhavsingh97 commented on #2742
Currently, It's not supported by Nightwatch. One can only run tests parallelly on multiple browsers

[2021-06-15 12:01] alaasayed7 commented on #2742
I think this is really important for this feature to be considered implemented.
because it's very normal to have test groups that are only run on specific browser(s)

[2021-06-15 12:23] gravityvi commented on #2742
Hey @alaasayed7, we can use tags to group test cases and then creating scripts with envs and tags would run group of test on envs specified. Will this resolve the issue or am I missing something here?

[2021-06-15 12:25] beatfactor commented on #2736
We'll look into it, thanks.

[2021-06-15 13:37] #2740 closed

[2021-06-15 14:49] alaasayed7 commented on #2742
@gravityvi I don't think so.
my use case now is that on the envs specified, I don't want all the tests to run, I want a test to run on chrome but not on firefox for example, but this is not achievable using tags.

[2021-06-15 14:55] gravityvi commented on #2742
`npx nightwatch --tag firefox --env firefox` to run the tests in firefox.
`npx nightwatch --tag safari --env chrome` to run the tests in chrome
`npx nightwatch --tag all --env chrome,firefox`
will this scripts help?. Like they would achieve the use case but would be in separate reporter and test session.

[2021-06-15 15:05] alaasayed7 commented on #2742
@gravityvi
I am adding an enhancement buddy, not an issue.
I'm doing something similar to what you mentioned but I'm adding this as an enhancement because I do want the same session for the sake of integration with other tools (e.g: jira/testrail)
I still have a solution for what I need to achieve, that's why I'm just adding an enhancement

[2021-06-15 15:08] gravityvi commented on #2742
@alaasayed7 Sure, didn't want this to be a blocker but I get the use case we will consider this😄

[2021-06-16 06:02] ucola commented on #2719
@vaibhavsingh97 thank you, works with this code!

[2021-06-16 06:02] #2719 closed

[2021-06-17 13:32] chriscuba23 opened #2748 "Tests not running in parallel after release v1.7.6"
## Describe the bug

Prior to release v1.7.6 tests belonging under the same folder could run concurrently. Now they do not run in parallel even if I use the --parallel tag . The tests run sequentially

## Sample test

Test path is

/tests/ci_tests/mt1.js
/tests/ci_tests/mt2.js
/tests/ci_tests/mt3.js
/tests/ci_tests/mt4.js

**Run with command**
node nightwatch -e chrome .\tests\ci_tests --parallel

[2021-06-17 19:59] beatfactor commented on #2748
Do you run selenium separately or managed by nightwatch?

[2021-06-17 20:00] beatfactor commented on #2748
Also, which version are you updating from?

[2021-06-18 08:40] chriscuba23 commented on #2748
Hello and thank you for the response. I have tried both start_process = true and start_process = false and the result is the same.
The upgrade is from 1.6.4 to 1.7.3

[2021-06-18 09:19] beatfactor commented on #2748
Perhaps you can try using the generated config? If you delete/rename your existing config file, Nightwatch will create on by default for you. You seem to be using a very old config format and there must be a bug somewhere in parsing it.

[2021-06-18 09:54] beatfactor commented on #2748
@chriscuba23 I'm not really able to reproduce your scenario, but if I remove the test_workers settings and then try to run by passing the `--parallel` flag, there is indeed the issue of not getting the automatic worker count correctly. Is that the issue you are seeing? If test_workers are specified, than it works fine.

[2021-06-18 10:24] chriscuba23 commented on #2748
Please let me check the conf file and I will get back to you as soon as possible

[2021-06-18 10:26] derHodrig opened #2750 "[Wiki / Need Help] Webstorm Single Tests"
I want to start single tests in Webstorm. I configured Webstorm already, so I can run all tests with nightwatch perfectly.

But how do I test a single file or a single test? The wiki page could be outdated... https://github.com/nightwatchjs/nightwatch/wiki/Debugging-Nightwatch-tests-in-WebStorm#debugrun-a-single-nightwatch-test

### This is my edit configuration formular for a single test
![2021-0

[2021-06-18 12:00] chriscuba23 commented on #2748
@beatfactor closing this one since the new configuration file did the trick. Thank you

[2021-06-18 12:25] #2750 closed

[2021-06-18 15:37] chriscuba23 opened #2754 "Selenium Grid: Unable to connect to 127.0.0.1 on port 4444 with updated 1.7.3 nightwatch.conf.js file"
## Describe the bug

I am using Selenium Grid 3.14.0 and I am unable to connect to the Selenium hub using the new nightwatch.conf.js

Hub and nodes are up and running, which means that the nodes are registered to the hub.

- Hub is running on our CI machine with: java -jar selenium-server-standalone-3.14.0.jar -role hub

- Nodes are running on virtual machines with: java -jar selenium-server-stand

[2021-06-20 09:20] clivetong opened #2755 "1.7.5 fails to install on Windows"
## Describe the bug

Installing on Windows leads to the message

[code]

I think this is because the [postinstall action](https://github.com/nightwatchjs/nightwatch/blob/main/package.json#L77) has been set via a syntax that only works on *nix

For example, changing the action to
[code]
gets it working again.

## Npm Log

[code]

[2021-06-21 09:33] humphreyn commented on #2755
I also think that it should use the (.) symbol to indicate the current directory:

`"postinstall": "node ./bin/show_survey.js"`

[2021-06-21 10:06] #2755 closed

[2021-06-21 10:11] beatfactor commented on #2755
Published 1.7.6

[2021-06-21 10:38] clivetong commented on #2755
Thanks for the quick fix!

[2021-06-21 10:40] beatfactor commented on #2754
@chriscuba23 can you check on 1.7.6? Also can you please post the output of running `nightwatch --verbose`? We've posted the xml ouput

[2021-06-21 10:43] beatfactor commented on #2754
But since the hub is running on your CI machine, should you be setting the selenium host to 127.0.0.1?

[2021-06-21 12:42] MarceloBarrera commented on #2755
I was about to suggest to downgrade temporarily but that was a really quick fix, thank you!

[2021-06-22 08:50] chriscuba23 commented on #2754
@beatfactor commented the selenium host and uploaded the verbose output

[2021-06-22 10:21] beatfactor commented on #2754
And it was working fine in v1.6?

[2021-06-22 10:59] Dharin-shah commented on #2754
@chriscuba23 what does
[code]
or
[code]
give you ?

[2021-06-22 11:44] chriscuba23 commented on #2754
Yes, 1.6.4 can Selenium Grid run with no problem

[2021-06-22 11:46] chriscuba23 commented on #2754
`{
  "status": 0,
  "value": {
    "ready": true,
    "message": "Hub has capacity",
    "build": {
      "revision": "aacccce0",
      "time": "2018-08-02T20:13:22.693Z",
      "version": "3.14.0"
    },
    "os": {
      "arch": "amd64",
      "name": "Linux",
      "version": "3.10.0-1160.6.1.el7.x86_64"
    },
    "java": {
      "version": "1.8.0_272"
    }
  }
}-sh-4.2$
`

[2021-06-22 13:53] beatfactor commented on #2754
You still need to set the selenium host. I was just confused about why it is set to localhost since the grid is running on the CI (I don't have a lot of experience with using the Grid). But if you're saying that it runs locally as a node, then you should keep the host set as localhost.

[2021-06-22 14:04] chriscuba23 commented on #2754
it is set to localhost since the hub lies on the ci machine. The configuration file exists on the ci machine so it tells to trigger the hub that is running there... Do you think a node or selenium update will do the trick?

[2021-06-23 07:20] beatfactor commented on #2754
I'm afraid I'm still a bit confused about your setup. Can you post your entire nightwatch.conf.js again please?

[2021-06-23 07:58] Dharin-shah commented on #2754
i think adding a
'''
/wd/hub
'''
to launch url should do the trick i suppose. Please try this out
@chriscuba23

[2021-06-23 08:58] chriscuba23 commented on #2754
@Dharin-shah @beatfactor I've posted the entire conf.js at the Configuration above

[2021-06-23 09:02] beatfactor commented on #2754
can you try adding:
[code]

in your `selenium.chrome` environment please?

[2021-06-23 11:41] chriscuba23 commented on #2754
@beatfactor this did the trick! Thank you!

So the issue was that it was inheriting the  "start_process: true" from the default environment?

[2021-06-23 11:59] beatfactor commented on #2754
Yes. I think it started happening in 1.7 because we added multiple inheritance levels.

[2021-06-23 12:07] #2754 closed

[2021-06-23 17:26] vaibhavsingh97 opened #2762 "[v2] New W3C Webdriver commands"
| Commands                         | Status | Tests | Note                            |
|----------------------------------|:------:|-------|---------------------------------|
| getElementShadowRoot             |    ❌   |       | Selenium implementation pending |
| locateSingleElementByShadowId    |    ❌   |       | Selenium implementation pending |
| locateMultipleElementsByShadowId |    ❌   |

[2021-06-24 19:14] chriscuba23 commented on #2748
@beatfactor reopening this bug for release 1.7.6 this time
I've updated the conf with the new one

[2021-06-25 07:38] beatfactor commented on #2748
can you post the verbose output in the place of debug.log?

[2021-06-25 07:55] chriscuba23 commented on #2748
of course

[2021-06-25 10:28] beatfactor commented on #2748
@chriscuba23 worse fine for me. Please check your config and any other external tools which might affect the nightwatch settings (such as environment variables) or try to reproduce the issue by creating a simpler scenario with a minimal config.

[2021-06-25 11:25] chriscuba23 commented on #2748
can you please post the command that you run in order to trigger the tests?

[2021-06-25 12:33] beatfactor commented on #2748
There are several ways in which you can do that. In order for me to help you, I need to be able to reproduce the issue successfully, which I can't. So please try to create a scenario with minimal configuration which reproduces the issue.

[2021-06-25 14:19] chriscuba23 commented on #2748
ok will create a new conf and let you know. Thank you!

[2021-06-25 14:57] chriscuba23 commented on #2748
@beatfactor I've updated the conf and verbose output log. The configuration file is brand new and auto created

[2021-06-25 16:46] beatfactor commented on #2748
I don't see test_workers being specified anywhere in your config.

[2021-06-26 10:10] chriscuba23 commented on #2748
@beatfactor updated with test_workers. Still doesnt work

[2021-06-26 11:51] beatfactor commented on #2748
@vaibhavsingh97 @Dharin-shah @gravityvi does any of you have access to a windows machine and could verify this? I am out of ideas.

[2021-06-26 12:51] vaibhavsingh97 commented on #2748
Checking, will update the issue with the result

On Sat, 26 Jun, 2021, 5:21 pm Andrei Rusu, ***@***.***> wrote:

[2021-06-28 04:18] vaibhavsingh97 commented on #2748
Tried on windows 10 machine, it's working perfectly fine for me

[2021-06-28 07:36] chriscuba23 commented on #2748
Can you post your node version please?

[2021-06-28 09:50] vaibhavsingh97 commented on #2748
Yes, the node version is v14.17.1

[2021-06-28 10:05] vaibhavsingh97 commented on #2748
https://user-images.githubusercontent.com/8705386/123619065-6d5b7800-d826-11eb-9401-bede1496fc5f.mp4

[2021-06-28 10:16] chriscuba23 commented on #2748
@vaibhavsingh97 tried with test_workers outside of

test_settings: { default:{ } }

but still no luck

[2021-06-28 10:19] vaibhavsingh97 commented on #2748
https://user-images.githubusercontent.com/8705386/123620436-dabbd880-d827-11eb-8b51-10820b8e6c23.mp4

[2021-06-28 10:24] chriscuba23 commented on #2748
@vaibhavsingh97 this indeed works in parallel, but you execute two different js files, not a whole folder

![image](https://user-images.githubusercontent.com/34232960/123621591-0d5bd600-d814-11eb-9961-90907ddc990b.png)

[2021-06-28 10:36] vaibhavsingh97 commented on #2748
@chriscuba23 Oops !! Yes, can confirm that it is broken. Instead of running parallel, it is running single test files.

[2021-06-28 10:39] chriscuba23 commented on #2748
@vaibhavsingh97 thanx for verifying. I am leaving it open then

[2021-06-29 13:52] #2748 closed

[2021-06-29 13:57] beatfactor commented on #2762
The Actions API will be available via the existing `.perform()` command.

[2021-06-29 13:59] beatfactor commented on #2762
getElementRect is already available via the `getElementSize` command. Adding it is only a matter of adding an alias.

[2021-06-29 14:30] beatfactor commented on #2748
@chriscuba23 Should be fixed in v1.7.7.

[2021-06-29 14:33] chriscuba23 commented on #2748
@beatfactor  @vaibhavsingh97  Thank you for your help!

[2021-06-30 16:44] MicahLC opened #2771 "JavaScript heap out of memory when writing out XML after tests finish"
## Describe the bug
When running on our CI server, Nightwatch sometimes crashes when writing out the test XML reports. I was able to capture the crash log.

## Sample test
Not relevant

### Verbose output
<details><summary>report.json</summary><p>

[code]
</p></details>

## Configuration
<details><summary>nightwatch.json</summary><p>

[code]
</p></details>

## Your Environment

| Executable | Vers

[2021-06-30 18:47] luruena commented on #2469
+1 Firefox

[2021-07-01 22:24] beatfactor commented on #2771
Thanks for reporting this, we'll look into it.

[2021-07-06 10:15] ironeo opened #2777 "Via Workers + Multiple Environments still doesn't work correctly"
## Describe the bug
I think there is still something wrong. I changed nightwatch.conf.js to the default one and entered some necessary values for my project. a few things don't work:

1.if I run on two environments: edge and chrome, both sessions are edge? I don't know why the chromedriver session doesn't get up

2.if I add the --parallel to parameter at the beginning and this is how I get the mes

[2021-07-07 07:57] vaibhavsingh97 commented on #2777
Thanks for reporting the problem, I will investigate it and try to reproduce the issue from my side

[2021-07-07 19:08] alechirsch commented on #2535
@beatfactor Do you have an update on your progress? I have a need to convert one of our scripts to async/await, having a fix for this will be highly welcomed.

[2021-07-08 06:02] gravityvi commented on #2535
Hey @aberonni,  can you have a look at this and tell me what am I missing regarding this issue?

[2021-07-08 14:30] literallyMello opened #2791 "Tag functionality selenium start exception if only one suite tagged and workers are enabled"
## Describe the bug

I receive the following error when using tags when I have test_workers enabled and workers set to auto when I leverage the tag functionality when only one suite, js file, matches that tag. If I set test_workers.enabled to false it works. Alternately, if more than one .js file has that tag on it, it also works.

[code]

[code]

## Sample test

[code]
</p></details>

**Run with

[2021-07-09 11:27] vaibhavsingh97 commented on #2777
@ironeo Thanks for raising the issue 🙌 . I can reproduce the issue, but when I tried to spawn chrome and edge browser, none of the browsers started. I received the error `[1625829661.258][SEVERE]: bind() failed: Address already in use (48)` for both edge and chrome. I had raised the fix, will soon release a new version with the fix.

can you please assist me, how I can reproduce the above issue? I

[2021-07-09 12:32] pawlakmaly opened #2792 "[Regress] When async test case fails on verify(), the rest of the test suit is not executed"
## Describe the bug

If async test case fails on verify() (e.g verify.visible()) then other tests cases in the same suit are not run at all. This was working ok in NW 1.6.4.

## Sample test

<details><summary>sampleTest.js</summary><p>

[code]
</p></details>

**Run with command**

[code]

### Verbose output
<details><summary>debug.log</summary><p>

On NW 1.7.7
[code]

On NW 1.6.4:
[code]
</p></det

[2021-07-09 12:40] pawlakmaly opened #2793 "[Regress] Async test step fails with error code 1 when the assertion is missing await."
## Describe the bug

When you run the test case you used to use in previous version of NW (as there assertion should not use the await decorator/prefix) in NW 1.7.7 if one of them fails, the test stops with error code 1 during the execution. It used to work ok on NW 1.6.4.

## Sample test

<details><summary>sampleTest.js</summary><p>

[code]
</p></details>

**Run with command**

[code]

### Verbos

[2021-07-09 12:48] pawlakmaly opened #2794 "[Regress] Rest of the assertion/code in async test case is not executed when verify() fails"
## Describe the bug

When any verify() assertion fails in async test case then the rest of the code in case is not executed at all. It used to work on NW 1.6.4.

## Sample test

<details><summary>sampleTest.js</summary><p>

[code]
</p></details>

**Run with command**

[code]

### Verbose output
<details><summary>debug.log</summary><p>

In NW 1.7.7
[code]

In NW 1.6.4
[code]
</p></details>

## Conf

[2021-07-09 15:32] ironeo commented on #2777
I dont clearly understand... if you have a fix why you need a help with reproduce a bug? What bug are you trying to reproduce if you said you can reproduce issue?

[2021-07-09 15:54] vaibhavsingh97 commented on #2777
oh!! my bad, so as you explained in the bug that `msedge drive is running under chrome!`, so I was talking about this issue, as I couldn't reproduce this issue

[2021-07-09 17:52] s-kugan commented on #2139
@beatfactor  I still see this same issue on nightwatch version 1.6.4 and nightwatch 1.7.6

[2021-07-09 17:55] s-kugan commented on #2148
@beatfactor  I am still able to reproduce the same issue on night-watch version 1.6.4 and 1.7.6

[2021-07-12 08:34] ironeo commented on #2777
ok, so please run the following command:
nightwatch path/to/tests/scenario --env edge,chrome --parallel
as I said, If you run test on chrome and egde altogether, msedge env is running under chromedriver, it is mean that
you will have two Chrome session instead of one on chrome and one on edge.
Is it more clear now ?

[2021-07-12 19:57] #2777 closed

[2021-07-13 10:45] ironeo opened #2799 "Via Workers + Multiple Environments - log message"
## Describe

If a tryto  run test on multiple environments and via workers it is works correctly but at the beginning I still get log message:
"Test workers are disabled when running multiple test environments in parallel."

I think this message is appear always even if I run tests using multiple environment

## Environment
| nightwatch --version | 1.7.7|
| npm --version | 6.14.10|
| node --versio

[2021-07-13 12:44] mashiat89 opened #2800 "Test Ends waitForElementVisible with abortOnFailure as false"
## Describe the bug
when we use waitForElementVisible command and if the element is not found in the current page , ends the test.
tried with nightwatch version 1.6.4, 1.6.1

## Sample test
page object:

module.exports = {
  url: function () {
    return this.api.launchUrl;
  },

elements:{
logintest: {
      selector: "#loginbtn",
      abortOnFailure: false,
       suppressNotFoundErrors: true,

[2021-07-13 15:08] gravityvi commented on #2800
Hey @mashiat89, could you please add the sample test and format it properly.

[2021-07-14 09:24] #2794 closed

[2021-07-14 13:17] s-kugan commented on #2800
@beatfactor  I am able to see this issue as well. currently it is terminating the full test-execution if it gets `element not found` error. It would be grateful if you can prioritize this bug as a `high` and fix it in the next version.

[2021-07-14 14:14] gravityvi commented on #2800
Hey @s-kugan Thanks for reporting this issue it has been fixed in #2797

[2021-07-14 14:14] #2800 closed

[2021-07-14 21:41] alex7egli commented on #2293
I had the same issue when trying to check the value of an input element after updating from 1.2.1 to 1.7.7 and I solved it by switching from browser.expect.element()... to use browser.assert.value().

In 1.2.1 this worked but now does not in 1.7.7:
browser.expect.element('#myElementId').to.have.value.that.equals('my element value');

In 1.7.7 I changed it to this and it works now:
browser.assert.v

[2021-07-15 17:33] jbobo commented on #2469
+1 Safari

[2021-07-17 13:31] JigarSony commented on #2261
I am facing a similar kind of an issue,

When used `browser.pause();`
Using `"nightwatch": "^1.7.7"`
By force killing chrome still not resolved,
After Restart the Mac issue resolved

[2021-07-18 22:57] ankit-infotrack commented on #833
Thanks! @MateuszJeziorski

[2021-07-20 00:38] ivaris commented on #266
its not working without sudo. when i run with sudo its doing the automation tests

[2021-07-20 19:06] mastergogo commented on #192
is this issue relevant for ionic UI components too? as i'm facing the issue.

[2021-07-20 22:13] dmcmullen opened #2803 "Selenium Host Ignored"
## Selenium Host Ignored

When setting selenium_host it is ignored and localhost is used instead.

[code]

This occurs during test setup.
![image](https://user-images.githubusercontent.com/24919777/126401171-fe3ad73a-5e81-426c-9207-79e09d9a24eb.png)

Expected behavior looks as follows
![image](https://user-images.githubusercontent.com/24919777/126401297-eb2aabd3-7a45-4eb1-a103-8ad954352e25.png)

T

[2021-07-20 22:50] beatfactor commented on #2793
This is the same issue as #2792.

[2021-07-20 22:51] beatfactor commented on #2803
Thanks for reporting this, it will be fixed soon.

[2021-07-21 06:01] pawlakmaly commented on #2518
Any update on it ?

[2021-07-21 06:22] gravityvi commented on #2518
Hey @pawlakmaly, I tried to recreate this issue but I guess it works perfectly fine in Nightwatch v1.7.7

[2021-07-21 06:25] #2602 closed

[2021-07-21 10:05] Gogochina97 commented on #2293
I also run into the same issue. I got something like:  browser.assert.attributeContains('#elementPath', 'innerText', 'keyword, 'OK'). It works well in my env.A which nightwatch is v1.5.0.
In other side, in env.B, firstly I install nightwatch v1.7.7, this sentense report error : "Element does not have a 'innerText' attribute", I uninsstall nightwatch and install nightwatch v1.5.0 replace. But it st

[2021-07-21 12:00] ituradastra opened #2806 "Nightwatch 1.7.3 : Cannot read property 'catch' of undefined on useXpath() or useCss()"
## Describe the bug

After updating to Nightwatch 1.7.3, useXpath() or useCss() return error `Cannot read property 'catch' of undefined`.
I have these functions in my tests because there were some issues and the element locator wasn't recognized without them. I am using nightwatch-api with cucumber runner

## Sample test

<details><summary>sampleTest.js</summary><p>

[code]
</p></details>

**Run w

[2021-07-21 20:40] beatfactor commented on #2806
The nightwatch-api package isn't maintained by us. Have you tried raising the issue there? https://github.com/mucsi96/nightwatch-api

[2021-07-22 00:58] Gogochina97 commented on #2293
both env.A and env.B are chrome 91.0.4472.124 . env.A 's npm is 6.14.8; env.B's npm is 7.18.1

[2021-07-22 03:08] Gogochina97 commented on #2293
I even reinstalled npm and nightwatch in env.B, to make all version as the same as env.A.  But still run into this issue. Any idea about  it? I installed nightwatch with -g --save-dev. Any nightwatch files still keep version 1.7.7, not be changed  to v1.5.0?

[2021-07-22 03:08] Gogochina97 commented on #2293
@beatfactor Could you like to take a look at this issue?

[2021-07-22 07:36] gravityvi commented on #2792
This was fixed in #2797 🎉

[2021-07-22 07:36] #2792 closed

[2021-07-22 07:46] gravityvi commented on #2793
This too was fixed in #2797 😄

[2021-07-22 07:46] #2793 closed

[2021-07-22 07:49] pawlakmaly commented on #2794
Can't wait for new version of NN with fix for that  <3

[2021-07-22 10:02] ituradastra commented on #2806
Thanks for the answer. I reported it on nightwatc-api side. https://github.com/mucsi96/nightwatch-api/issues/943

[2021-07-22 20:59] alechirsch commented on #2510
Bump, not stake

[2021-07-23 10:40] vaibhavsingh97 commented on #2803
Hi @dmcmullen 👋
Thanks for reporting the issue, I looked into the code, and on debugging further, I found that we had deprecated `selenium_host` and `selenium_port`. For more information about it, please look at the documentation [here](https://nightwatchjs.org/gettingstarted/configuration/#the-launch_url-property).

you can use the below settings to make it work in v1.7
[code]

Let me know if you

[2021-07-23 15:14] dmcmullen commented on #2803
Thank you for the update. That worked for me.

[2021-07-23 15:33] vaibhavsingh97 commented on #2803
I am closing the issue then, please feel free to reopen if it occurs again

[2021-07-23 15:33] #2803 closed

[2021-07-26 13:41] reeteshsingh93 commented on #609
I am facing the same issue with 3.0.2

[2021-07-26 14:39] gravityvi commented on #609
Hey @reeteshsingh93, You probably might be using async/await commands of Nightwatch. That would be fixed in the next release of Nightwatch as the PR: #2797 is merged 😄.

[2021-07-26 16:12] ironeo opened #2814 "findElement vs element"
## Describe
What is the main difference between .element and .findElement API ?
I have notice in my project that if If use .element(someCSSselector) and element does not really exists,
nighwatch returned me only information:
`{
  status: -1,
  state: '',
  code: '',
  value: {
    message: 'no such element: Unable to locate element: {"method":"css selector","selector":"#authorization-code"}',

[2021-07-26 17:39] #2814 closed

[2021-07-27 12:58] ironeo opened #2817 "diffrent returned object between findElements async and sync version"
## Describe
I have noticed that returned objects received from findElements are diffrent when I use async or sync version
Is it bug or feature ?

ASYNC:
` const primaryAuthELement = await this.findElements({
    selector: selectors.authorizationCodeInput,
    suppressNotFoundErrors: true,
    timeout: 6000
  })
  console.log(primaryAuthELement)`

it return:
`[
  { ELEMENT: '0.6062470277751912-125'

[2021-07-28 06:59] gravityvi commented on #2771
Hey @MicahLC, can you provide some more details regarding this issue like what runner are you using (Nightwatch default runner, mocha runner), the reporter, and CI config which would help me to reproduce this issue.

[2021-07-28 10:19] beatfactor commented on #2817
Ok, we'll take care of it.

Please note the [findElements](https://nightwatchjs.org/api/findElements.html) api docs page – there's no need for the strategy argument (ie the 'css selector).

[2021-07-28 13:07] beatfactor opened #2821 "[v2] Command response format change"
## Summary
Right now we have every Nightwatch command response like so:
[code]

This can be annoying when using `await`, for instance you have to do this:
[code]

where one would probably expect to just do:
[code]

## Intended Outcome
My proposal is that we ditch the `status` property from v2. The when using the `selenium-webdriver` library commands just return the value, no status. The status pro

[2021-07-28 20:37] MicahLC commented on #2771
We use the Nightwatch default runner. We are using an internally-maintained variant of [this reporter](https://github.com/jls/nightwatch-html-reporter) with some visual modifications, but little to no changes to logic.

By CI config, do you mean some info about the environment where this is running? This is running inside a docker node inside a Jenkins pipeline on an AWS EC2 instance. We spin up d

[2021-07-29 08:17] #2817 closed

[2021-07-29 09:11] ironeo opened #2825 "elementIdAttribute return null in geckodriver"
## Describe
In some of my test cases I use `elementIdAttribute`. The problem is that when I try to get `href` attribute value then in geckodriver I receive `null`. In Chrome and edge is ok.

But when I try to search `class` attribute is fine in both browsers. The problem is with `href` attribute.

Is this a gecko problem ? or nightwatch bug ?

Example code:
`this.findElements('css selector', icons

[2021-07-29 09:17] ironeo commented on #2821
I do not know if I understand correctly, but you mean that wherever you needed to use the return property status, the solution in the new version of nightwatch will be to use the try catch structure?

[2021-07-29 11:23] gravityvi commented on #2825
Hey @ironeo, Thanks for raising this issue. Hopefully, this and all such compatibility issues would be fixed in Nightwatch v2.

[2021-07-29 11:30] gravityvi commented on #2821
The property `status` would be completely dropped. In case of async command failure, users can use a try-catch block to perform actions on failures or a global error handler would take care of it. Hope this clears😄  @ironeo

[2021-07-29 11:42] beatfactor commented on #2825
@ironeo we also need to see a verbose log and some details about your config. Please try to fill in the details from the [bug report template](https://github.com/nightwatchjs/nightwatch/blob/main/.github/ISSUE_TEMPLATE/bug_report.md).

[2021-07-29 19:24] wallzero commented on #2441
I've been doing some clean up and have noticed this deprecation warning. @beatfactor could this be reopened and addressed?

[2021-07-29 22:12] wallzero commented on #2441
Another library with deprecation notices:

[code]

[2021-07-30 14:08] ironeo opened #2834 "what is diffrence between findElement and findElements ?"
## Describe
Please tell me what is the diffrence between `findElement` and `findElements` ?

Look at sample below:

## Sample test
[code]
OUTPUT:
`{ sessionId: '84f22cc63295758237971629b3dc624a', status: 0, value: [] }`

[code]
OUTPUT:
`NoSuchElementError: An error occurred while running .findElement() command on <#authorization-code>:
   {"sessionId":"84f22cc63295758237971629b3dc624a","status":0,

[2021-07-30 14:40] ironeo commented on #2834
I see the main diffrence is that in `findElements ` is returned an array with objects, if there is no elements returned array is empty, but in case of `findElement` it return object but if element doesn't exist 'NoSuchElementError' is occur...
Is there any possible to return null or something in that case ?

[2021-08-01 09:03] tim-yao opened #2835 "[Enhancement] [V2] Custom module/addon/plugin"
**Is your feature request related to a problem? Please describe.**

Share custom commands or solutions in Nightwatch.js is not straightforward.

Example, to test API response, it's not in Selenium and I think Nightwatch won't do it. People are sharing solutions on their blogs or stack overflow, it's hard to reuse and find the solution.
Another Example, in Drupal community, someone created custom c

[2021-08-02 07:48] beatfactor commented on #2834
The try/catch is intended to work in v2, not the current version.

[2021-08-02 07:48] #2834 closed

[2021-08-03 08:20] beatfactor commented on #2835
Thanks, we'll consider this.

[2021-08-03 12:26] akashbarla5 opened #2841 "Move to element method is not working"
## Describe the bug

Hover functionality is not working. I am using the moveToElement method to hover on the dashboard tabs. This functionality is working fine till Friday and not working afterward.

## Script

Using the below line to hover on the dashboard to view the available options after hovering on that dashboard.

 .moveToElement('#navbarSupportedContent > ul.nav.navbar-nav.mr-auto.main_nav

[2021-08-03 13:11] gravityvi commented on #2841
Hey @akashbarla5, can you provide the Nightwatch config and the env you are using also verbose logs would help.

[2021-08-03 13:26] akashbarla5 commented on #2841
Environment Details:

Windows 8.1
Chrome 92

Please find the below configuration from the package.json file

{
  "name": "nightwatchjs",
  "version": "1.0.0",
  "description": "",
  "main": "login.js",
  "scripts": {
    "test": "./node_modules/.bin/nightwatch -e chrome test"
  },
  "author": "",
  "license": "ISC",
  "devDependencies": {
    "chromedriver": "^80.0.2",
    "geckodriver": "^1.19.1"

[2021-08-04 06:30] gravityvi commented on #2841
can you try adding the object shown below inside `desiredCapabilities` object in nigtwatch.json
[code]

[2021-08-04 08:27] salipurStefo opened #2842 "The Keys () method does not work on the ci server"
Tests running on gitlab CI fail and I get a problem related to the Keys () method. The error is as follows:

Error while running .sendKeys() protocol action: The requested resource could not be found, or a request was received using an HTTP method that is not supported by the m...
   Response 500 POST http://selenium__standalone-chrome:4444/wd/hub/session/8af0a4f436b004bb03990492a94b83ff/keys (2ms

[2021-08-04 09:18] akashbarla5 commented on #2841
Ok will check and update

[2021-08-04 09:36] akashbarla5 commented on #2841
Updated the nightwatch.json file as suggested

![image](https://user-images.githubusercontent.com/70646283/128157959-ec1010db-ee85-4304-9fb7-e7366dbff3c0.png)

While executing the script it is throwing the below error

![image](https://user-images.githubusercontent.com/70646283/128158676-4960eb25-2018-48dc-9545-02876a9dfd62.png)

[2021-08-04 09:58] vaibhavsingh97 commented on #2841
yo need to use `double` quotes instead of single quotes
[code]

[2021-08-04 10:38] akashbarla5 commented on #2841
After using double quotes also it is throwing the same error as above

![image](https://user-images.githubusercontent.com/70646283/128167186-b5f211a4-bfe2-4a61-bfc7-78ec1656ae49.png)

![image](https://user-images.githubusercontent.com/70646283/128167327-f17463ca-03d7-42bd-9c5b-0dbc20d3b264.png)

[2021-08-04 11:23] salipurStefo commented on #2842
hi,
this is my nightwatch config file:

module.exports = {
    'src_folders': ['tests'],
    'page_objects_path': ['page-objects'],
    'globals-path' : ['test-data/globals.js'],

    "webdriver" : {
      "start_process": true,
      "server_path": "node_modules/.bin/chromedriver",
      "port": 9515
    },

    "test_settings" : {
      "default" : {
        "selenium_port": "4444",
        "sel

[2021-08-04 12:15] gravityvi commented on #2841
Hey @akashbarla5, we need `browserName: "chrome"` along with the object I suggested and commenting lines does not work like this in JSON 😄

[2021-08-04 12:55] akashbarla5 commented on #2841
After enabling the browserName: "chrome", it is throwing the same error

![image](https://user-images.githubusercontent.com/70646283/128184048-7bb21101-b2bb-42d6-afda-79fc5e7a0ede.png)

![image](https://user-images.githubusercontent.com/70646283/128184264-e2fd4018-8429-487a-95d7-26780b3427f4.png)

[2021-08-04 13:12] gravityvi commented on #2841
comma is missing after `browserName:"chrome"`

[2021-08-04 15:11] #2841 closed

[2021-08-05 12:43] ironeo opened #2849 "default port EdgeDriver"
## Describe
reported to this: [https://github.com/nightwatchjs/nightwatch/pull/2790/](url)
it is still doesn't work. If I delete port inside my desired capabilities runner still using 9515 port for edgedriver.

If I add port=9514 manually it work correctly.

WORKS
[code]

DOESN'T WORK

[code]

## Configuration

[code]
</p></details>

## Your Environment

| Executable | Version |
| ---: | :--- |
|

[2021-08-05 12:45] gravityvi commented on #2849
Hey @ironeo, does the configuration in `UAT` define any port?

[2021-08-05 12:48] ironeo commented on #2849
no, here is conf for UAT extends:
`webdriver: {
        start_process: true,
        log_path: false,
        cli_args: [
          // --verbose
        ]
        // status_poll_interval: 5000
      }`

[2021-08-09 07:48] gravityvi commented on #2849
Hey @ironeo, can you share the whole config file, as we are not able to re-create this issue.

[2021-08-11 09:53] aksam786 opened #2857 "[Enhancement]: Element is present but not getting clicked as browser waits for complete page load"
**Is your feature request related to a problem? Please describe.**
Yes. The problem is the time Nightwatch takes to execute a test case. Element is present but Nightwatch waits for complete page load and once the page load is done then Nightwatch clicks on it. The ideal way to reduce execution time is to click on an element as soon as it is available

**Describe the solution you'd like**
The ideal

[2021-08-11 14:57] Bigwe opened #2859 "Question - Can I use nightwatch for a PWA?"
Hello,

Very simple question from my side.

We are building a PWA and I wonder if I can use Nightwatch to automate the UI?

Note:

We can already resize web browser or use chrome-options to get a mobile view but PWA is installed on a device.

Any info / suggestions will be appreciated.

[2021-08-12 09:20] #2859 closed

[2021-08-15 11:14] MirkoTV commented on #1939
I really suffered with this one today, so I share my solution for since none of them worked for me for chrome & firefox:
`
exports.command = function (fieldSelector) {
  const browserName = this.options.desiredCapabilities.browserName;

  if (browserName === 'chrome') {
    this.getValue(fieldSelector, function (result) {
      this.setValue(fieldSelector, [...(result.value || '')].map(char => '\u

[2021-08-15 11:16] MirkoTV commented on #504
I really suffered with this one today, so I share my solution  since none of the other solutions worked for me for chrome & firefox:

`exports.command = function (fieldSelector) {
  const browserName = this.options.desiredCapabilities.browserName;

  if (browserName === 'chrome') {
    this.getValue(fieldSelector, function (result) {
      this.setValue(fieldSelector, [...(result.value || '')].map

[2021-08-16 07:47] #2842 closed

[2021-08-16 07:47] salipurStefo commented on #2842
tewg

[2021-08-16 10:39] salipurStefo commented on #2762
what is happening with uploadFile method in new version of nightwatchJS? It does not work.

[2021-08-17 11:16] igor-rubis opened #2869 "Is there a way to catch assertion error, log it and throw it again?"
## Description
I need to catch the assertion error, log it and then throw it again to fail the test. The issue is it does not visit the `catch` block.
Is there a way to catch such errors?

## Sample test
[code]

## nightwatch.conf.js
[code]

## Environment

| Executable | Version |
| ---: | :--- |
| `nightwatch --version` | "1.3.6" |
| `npm --version`  | 6.14.14 |

[2021-08-17 11:42] beatfactor commented on #2869
Not in the current version (1.7) I'm afraid, but it's something we are considering for v2.

[2021-08-17 12:07] igor-rubis commented on #2869
@beatfactor is there a way to do it in the current version? Maybe catching an event that stops and fails a test?

[2021-08-17 13:50] beatfactor commented on #2869
There isn't any easy way of achieving this at the moment without significant architecture changes. But maybe this will help for your needs: https://github.com/nightwatchjs/nightwatch/issues/2644

[2021-08-17 22:09] igor-rubis commented on #2869
Thanks a lot. I appreciate fast response and it's very helpful.
If by any chance it's possible, please notify me if your team decides to include such feature in a new version.

[2021-08-17 22:09] #2869 closed

[2021-08-18 13:28] pawlakmaly opened #2872 "All methods in async perform() are returning NightwatchAPI instead of actual promise"
## Describe the bug

Seems that calling any promise method (both from NW API and custom commands) inside .perform() ends up with getting the Nightwatch API instead of actual promise. I've tested this on NW 1.6.4, 1.7.7 and 1.7.8

## Sample test

<details><summary>sampleTest.js</summary><p>

[code]
</p></details>

**Run with command**

[code]

### Verbose output
<details><summary>debug.log</summary

[2021-08-18 19:47] gprovostqa commented on #2291
+1 for Firefox on nightwatch 1.7.8 with geckodriver 2.0.3

[2021-08-18 19:47] gprovostqa commented on #2470
+1 for Firefox on nightwatch 1.7.8 with geckodriver 2.0.3

[2021-08-18 19:47] gprovostqa commented on #2469
+1 for Firefox on nightwatch 1.7.8 with geckodriver 2.0.3

[2021-08-18 19:49] beatfactor commented on #2872
Yes, that's because your testcase is not `async`. This problem will be fixed in a recent version.

Btw: you should maybe consider using `describe()` as it has a few advantages over this syntax, which I'm assuming is TypeScript? Looking at the example you've posted, I have to say that there is really no benefit of using TS here, especially that you need to use the import statement. Also, in v2, `br

[2021-08-19 05:46] pawlakmaly commented on #2872
@beatfactor yes, I'm using typescript since version 1.3.4 i think, I prefer to have strong typing and static analysis when I work with code :)

Could you tell me a bit more of benefits of using describe syntax ? Honestly I've never use it or dig into it.

In case the the whole test case is async i see other problems with execution of perform in latest version.

[2021-08-19 07:10] beatfactor commented on #2872
@pawlakmaly if there are other problems then please let us know so we can look into fixing them. With regards to the `describe` syntax, here's some things which are easy to do there and which are either too difficult or impractical with the older `exports` interface:
- run a single testcase with test.only() / it.only()
- disable a single testcase with xtest() / xit()
- define desiredCapabilities p

[2021-08-19 09:17] Dharin-shah commented on #2762
Hey @salipurStefo , it got recently merged
https://github.com/nightwatchjs/nightwatch/pull/2840

[2021-08-23 14:12] beatfactor opened #2875 "[Enhancement] Add findElementFromElement() and findElementsFromElement() commands"
We need more user friendly commands which perform the equivalent of `elementIdElement()` and `elementsIdElement` but work more like `findElement()` and `findElements()`, accepting the same type of arguments.

**syntax findElementFromElement() (find single):**
[code]

[code]

[code]

[code]

**syntax findElementsFromElement() (find multiple):**
[code]

[2021-08-24 04:52] JandenMa opened #2876 "Socket Hang Up"
## Describe the bug

Hey sorry, not sure if this issue is related to `nightwatch` or `chromedriver`, but I met it yesterday.
When I run the e2e test by `nightwatch` in the CircleCI docker, it throws `socket hang up` issue, see the pic below:
![image](https://user-images.githubusercontent.com/27947587/130556362-fbddf8d4-5a2f-4342-8bb9-851ef4aeb38a.png)

## Sample test

<details><summary>sampleTest.

[2021-08-24 07:08] Dharin-shah commented on #2876
Hey @JandenMa , can you please confirm the chromedriver is running. You can manually run the driver saved down in node_modules. This is to confirm that it is able to run on 9515 which is what nightwatch tries to start the driver on.

[2021-08-24 07:13] JandenMa commented on #2876
hey I am not sure what happened bcoz it is in the CircleCI docker, but I ran it locally it works

[2021-08-24 12:06] beatfactor commented on #2876
@JandenMa can we close this? I suggest you enable network retries as well, especially when running on CI. You can configure the [timeout_options](https://nightwatchjs.org/gettingstarted/configuration/#webdriver-settings).

[2021-08-24 12:16] JandenMa commented on #2876
Hmm, thx for your suggestion. But it confused me it worked before, and I checked nobody touched the config though. And not only one test failed..

[2021-08-24 12:49] beatfactor commented on #2876
These look like network timeout issues, it doesn't have anything to do with the tests or with nightwatch.