[2021-08-24 13:03] JandenMa commented on #2876
I do know whatcha mean but it worked before... so weird

[2021-08-24 13:13] mrbaguvix commented on #2876
@beatfactor Is this common in the **nightwatch** environment for network to timeout during test? What are the possible factors affecting this? For the below screenshot we are only running one test script here which is **~1m 0s** time taken, should it still timeout?

CC: @JandenMa

<img width="968" alt="Screen Shot 2021-08-24 at 2 10 35 PM" src="https://user-images.githubusercontent.com/3173957/130

[2021-08-24 13:52] beatfactor commented on #2876
I don't think it's uncommon in CI environments for network calls to timeout. You can try increasing the timeout value to something like 60 seconds or maybe even 90 and decreasing the retries to only 3:
[code]

I notices your Nightwatch version is quite old, have you tried to update to 1.7?

[2021-08-24 16:57] JandenMa commented on #2876
hmm, will try that

[2021-08-31 02:28] MichaelDimmitt commented on #2171
I think this flag will match whatever browser you have.

yarn add chromedriver --chromedriver-force-download

or

npm install --save-dev chromedriver --chromedriver-force-download

[2021-08-31 10:23] aakash3771 opened #2883 "Help with setting Firefox download preference"
Below are the FF preferences. When I download a file, it downloads to my default downloads folder on my machine. I need firefox to download into the downloads folder in nightwatch repo. I don't know why these prefs are not helping. Could someone please help with the prefs

      "desiredCapabilities": {
        "browserName": "firefox",
        "javascriptEnabled": true,
        "acceptInsecureCer

[2021-08-31 15:04] aakash3771 commented on #2469
+1 for Firefox on nightwatch 1.7.8 with geckodriver 2.0.2

[2021-09-01 07:33] Pieras2 opened #2884 "[Enhancement]"
Currently:
- not tested items are not added to XML report

Expected:
- if any test was not started, e.g. due to test failure / error (or whatever else) the XML test report shall contains not only list of tests with PASS / FAIL but also NOT TESTED

Justification:
- when using e.g. Azure DevOps (we use Nunit3 plugin that is capable to upload screenshots to Azure DevOps) the GUI view with  results ma

[2021-09-01 17:18] #2883 closed

[2021-09-08 12:39] wiesesascha opened #2890 ""browser" is undefined in before-hook INSIDE globals"
## Describe the bug
Issue got closed by bot and still is not resolved within 1.7.8
https://github.com/nightwatchjs/nightwatch/issues/1487

## Your Environment

| Executable | Version |
| --- | --- |
| nightwatch  | 1.7.8 |
| node  | v12.22.1 |

| Browser driver | Version |
| --- | --- |
| chromedriver | ^93.0.1 |
| selenium-server | ^3.141.59 |

| OS | Version |
| --- | --- |
| NAME | VERSION |
|

[2021-09-09 18:17] gravityvi commented on #2890
The purpose of `before` and `after` hook is very different. These hooks are executed before the session is started and after the session is terminated. The above states the reason for `browser` object not being available in these hooks. You can refer this [here](https://nightwatchjs.org/guide/using-nightwatch/external-globals.html)

[2021-09-10 14:01] CreeTar commented on #4
just wanna complain as well, we decided against nightwatch now, support is bad and setValue makes no sense, unless you don't speak english.

[2021-09-10 17:36] fuzzthink commented on #4
To all, move on to testcafe or cypress.

[2021-09-10 21:41] kretschmannj opened #2892 "v1.7.x failing to read/parse nightwatch.conf.js file correctly"
Nightwatch v1.7.x is failing with a ECONNREFUSED error and appears to not be reading/parsing the nightwatch.conf.js file correctly.  Specifically, it seems like it's completely ignoring the selenium_host property that I'm specifying.

Here's the profile from my nightwatch.conf.js file ...
[code]
I run the test 'node nightwatch -e lambdatest tests/colorado_tests.js' and I get this error ...

- Conn

[2021-09-10 22:38] kretschmannj commented on #2892
This commit looks suspicious ... https://github.com/nightwatchjs/nightwatch/commit/028456c1ef014bccc05bcc0db6a3121b311a30dd

[2021-09-11 13:12] beatfactor commented on #2892
Thanks for reporting this. I'll look into it.

[2021-09-11 13:16] beatfactor commented on #2890
As Ravi pointed out, it's not possible to use the `browser` object in the global `before` since it doesn't exist. But you can use it in the global `beforeEach`. Still, if you can tell us what is your use case maybe we can find alternatives.

[2021-09-11 13:16] #2890 closed

[2021-09-12 19:56] #2892 closed

[2021-09-15 15:15] kretschmannj opened #2899 "Issue with this.api.Keys.UP_ARROW in v1.7.9"
A bug was introduced in v1.7.9 that is breaking the this.api.Keys.UP_ARROW command.  I tested this in v1.7.8 and it's working.

@beatfactor   It looks like there was a change to setValue.js and I suspect that may be where the issue is.

It's the clearElementValue command this is causing the issue.  In my test, I'm using setValue to set a value into an edit box and that results in a dropdown list o

[2021-09-15 20:50] beatfactor commented on #2899
Ok. I'll fix the implementation of `sendKeys`.

[2021-09-15 21:07] #2899 closed

[2021-09-15 21:13] jcestibariz commented on #2899
@beatfactor isn't 8bfde6f a breaking change? Looks like it requires me to change all uses of `setValue` to `sendKeys`.

[2021-09-15 21:16] beatfactor commented on #2899
@jcestibariz can you give an example?

[2021-09-15 21:22] jcestibariz commented on #2899
I'm going by the change in the comment, it used to say:

[code]

But now is:

[code]

So it looks like if I have (which works fine in v1.7.8):

[code]

I need to change it to:
[code]

That looks like a breaking change in the API.

[2021-09-15 21:26] beatfactor commented on #2899
Hmm, ok you're right. I'll reverse the change.

[2021-09-16 01:28] jcestibariz commented on #2899
I should add that I do like the distinction between `setValue` and `sendKeys` and I think it would be a good feature to have in the upcoming v2.0.0.

Thank you.

[2021-09-16 07:10] beatfactor commented on #2899
Sure, it's already added in v2. I reverted the change to `setValue` for now and also added a new command [`updateValue`](https://nightwatchjs.org/api/updateValue.html).

[2021-09-17 14:46] SamiGT opened #2903 "Code Injection in pac-resolver < 5.0.0 vulnerable versions CVE-2021-23406 proxy-agent@5.0.0"
## Describe the bug

Please upgrade  proxy-agent@5.0.0

https://nvd.nist.gov/vuln/detail/CVE-2021-23406

https://github.com/advisories/GHSA-9j49-mfvp-vmhm

[2021-09-17 14:49] SamiGT commented on #2903
https://github.com/TooTallNate/node-proxy-agent/issues/63

[2021-09-18 01:06] kretschmannj opened #2904 "callback from custom command not working in v1.7.x"
I created a custom command that accepts a callback.  The callback is not executing correctly in Nightwatch version 1.7.x but works perfectly in Nightwatch 1.6.4.

I'm calling the custom command like so ...

[code]

In 1.6.4 I see the output as expected ...

[code]

In 1.7.0 I see this ...

[code]

It's weird because if I run with the --verbose flag then I see the expected output.

[2021-09-20 19:10] kretschmannj commented on #2904
Messing around with this a bit more and it only seems to be a problem if the callback function contains only a console.log command.

[2021-09-21 11:01] beatfactor opened #2905 "[Enhancement] Add support to specify a glob pattern in page_objects_path"
The `page_objects_path` config property should hold glob patterns to add more flexibility to how the page objects are specified and also make it work more intuitively.

**Example:**
`page_objects_path: ['./src/pages/**/*']`

[2021-09-21 11:05] #2876 closed

[2021-09-21 11:06] beatfactor commented on #2903
fixed in v1.7.11

[2021-09-21 11:06] #2903 closed

[2021-09-21 19:21] beatfactor commented on #2904
I'm afraid I can't tell what's the problem just by looking at this. Can you share your custom command contents and how the test case looks like?

[2021-09-23 15:07] gravityvi commented on #2469
This issue needs a change at the very core level( transport layer) in Nightwatch, unfortunately that can't be done in this major version. This has been resolved in [Nightwatch v2](https://nightwatchjs.org/blog/nightwatch-v2-alpha-is-released.html) which is in alpha right now. Do check it out😄

[2021-09-24 08:30] BogdanStoenescu opened #2906 "ELEMENTID not available in Nightwatch 2.0"
The ELEMENTID is not anymore available in object element.

Old code in Nightwatch 1.7.8. is

  await this.waitForElementVisible(iframe.selector).element(
    'css selector',
    iframe.selector,
    async result => {

      await this.frame({ELEMENT: result.value.ELEMENT});
    }
  );

Error in Nightwatch 2.0 is

 Error while running .switchToFrame() protocol action: invalid argument: missing 'ELE

[2021-09-24 08:46] beatfactor commented on #2906
Please have a look at the [contributing guidelines](https://github.com/nightwatchjs/nightwatch/blob/master/.github/CONTRIBUTING.md#submit-an-issue) for submitting an issue.

[2021-09-24 08:53] BogdanStoenescu commented on #2906
Sorry @beatfactor, the description was not there. I know is not perfect description, however, I cannot really give you a test because I have to give you the entire framework for the test to work.

[2021-09-24 09:54] beatfactor commented on #2906
Can you post the contents of the `result` object from your callback and your config? Also, please try and format the output so it looks readable. See [Github markdown](https://guides.github.com/features/mastering-markdown/) docs for how to do that.

[2021-09-24 11:31] BogdanStoenescu commented on #2906
Nightwatch 1.7.8.

result {
  sessionId: '1e868671edfd711b4e7bf277db44042f',
  status: 0,
  value: { ELEMENT: '0.5604223416454159-2' }
}

Nightwatch 2.0

result {
  value: {
    'element-6066-11e4-a52e-4f735466cecf': '27341564-1090-4054-bcdd-bf54ed917c03'
  },
  status: 0
}
 Error while running .switchToFrame() protocol action: invalid argument: missing 'ELEMENT'
  (Session info: chrome=94.0.4606.

[2021-09-24 12:36] BogdanStoenescu commented on #2906
I wonder if I can use getId: [Function] to get the elementid. Any thoughts on that? Below is an example.

exports.command = async function () {
  let iframe = {selector: '.sdasdasdae'};

  this.findElement(iframe.selector, result => {
    console.log('result ', result);
    console.log('result.result ', result.result);
    console.log('result.result.value ', result.result.value);
  });
};

result

[2021-09-25 15:52] beatfactor commented on #2906
Yes, you can use getId(). Go ahead and try it.

[2021-09-25 15:52] #2906 closed

[2021-09-26 14:30] nikhilbisht commented on #1992
This works for me. Thanks

[2021-09-29 08:03] beatfactor commented on #2538
This has been implemented for some time and it's working in 1.7

[2021-09-29 08:03] #2538 closed

[2021-09-29 20:03] TechNoah commented on #2447
This worked for me. Just FYI

[2021-10-05 12:45] Topperfalkon opened #2909 "Wiki documentation for running with Appium needs updating"
## Describe the bug

This [wiki page](https://github.com/nightwatchjs/nightwatch/wiki/Testing-Android-native-application-and-mobile-browsers-with-Appium#android-capabilities) needs updating to reflect that from v1.7.9, the browserName should be passed as `null`.

[2021-10-14 05:20] stackptr opened #2914 "[Enhancement] Error reporting interface"
**Is your feature request related to a problem? Please describe.**

I use `nightwatch` to run automated end-to-end tests and want to add error reporting to improve the stability of individual tests. However, I don't see an interface exposed by the test framework that can be used to catch an error and do something with it. The closest I've come is to intercept errors that are sent to `Nightwatch.Lo

[2021-10-14 08:48] beatfactor opened #2915 "[Enhancement] Add validation for cli args"
**Is your feature request related to a problem? Please describe.**
When passing unknown arguments to the Nightwatch cli runner, no error or warning is shown and the runner continues. This can cause problems in case an option is misspelled and it's not easy to determine what went wrong.

**Describe the solution you'd like**
Not sure if we should throw an error and abort the test runner completely,

[2021-10-14 10:36] beatfactor commented on #2915
Yeah, we can add an option to turn it off, but I guess we want it on by default?

[2021-10-14 11:09] Topperfalkon commented on #2915
My preference (obviously others would disagree) would be to have it on by default and abort, with an error message then maybe also outputting `nightwatch -h`

[2021-10-14 11:36] beatfactor commented on #2915
yeah, that sounds about right to me.

[2021-10-15 05:04] glomotion opened #2918 "Trying to build a simple watch mode for the new nightwatch@alpha version"
## Describe the bug
So we're trying to work out how to write a simple watch function for nightwatch, to speed up test development...
It looks like some methods have been removed / changed, since v2 alpha... :(

## simple watch.js

[code]
![Screen Shot 2021-10-15 at 3 55 13 pm](https://user-images.githubusercontent.com/1452237/137434415-815c0c18-ab8b-47fc-888e-2029215b4ab1.png)

**Run with command*

[2021-10-18 16:33] Jpropel opened #2919 "Data;, only output in url when launching with Chromedriver"
Ive been working with Firefox for the time being but am swapping over to Chrome , whenever I run any test (besides the first time round) I only get [this ](https://gyazo.com/6fb69ccffdbeb7f376733019269beeb2) output. Strangely enough it works in every 30-40 tries, which makes me think there could be some hanging process somewhere? Ive also manually terminated any of the chrome driver / selenium ins

[2021-10-18 20:35] Jpropel commented on #2919
Ok so I have altered my setup to use chromedriver version 94.0.4606.61 (Downloaded manually and located in the bin dir) paired with chrome version 94.0.4606.81 , launching my tests gives the same Data:, output and after maybe 45 seconds outputs:
[code]
Again sometimes this will infact work fine no issues but its maybe 1 in every 20-30 tries :/, potentially thinking there could be an issue with the

[2021-10-19 07:21] beatfactor commented on #2919
Which version of Nightwatch? You can try to enable network retries by using the [timeout_options](https://nightwatchjs.org/gettingstarted/configuration/#webdriver-settings) setting.

[2021-10-19 14:35] #2919 closed, assigned to nobody

[2021-10-23 08:43] Vasich24 opened #2921 "Тhe side menu overlaps the footer on "API Reference" page"
## Step to reproduse

1. Open https://nightwatchjs.org/api/expect/
2. Scroll to the bottom

**Actual result**
Тhe side menu overlaps the footer

**Expected result**
The side menu stops at the footer

![screenshot-nightwatchjs org-2021 10 23-11_10_26](https://user-images.githubusercontent.com/45605581/138549037-693a69f8-e936-4c09-a25d-ddd9fde62cda.png)

[2021-10-23 11:28] #2921 closed, assigned to nobody

[2021-10-26 07:37] Pieras2 opened #2924 "[Enhancement] Click to contain and print custom message"
I wish I could add a custom message that will print log that click has been done.
Sometimes when we analyze logs to see if the failure was due to tester's fault or the application one it's difficult to find the root cause. If I had a "custom message" the way I do it when I call waitForElementVisible which instead of default log for this command prints my message.

Example:
- browser.click(selector

[2021-10-27 10:26] aakash3771 opened #2927 "Nightwatch V2.0 - click(), setValue() return null when put in a try/catch block"
## Describe the bug

## Sample test

<details><summary>sampleTest.js</summary><p>

[code]
</p></details>

**Run with command**

[code]

### Verbose output
<details><summary>debug.log</summary><p>

[code]
</p></details>

## Configuration
<details><summary>nightwatch.json</summary><p>

[code]
</p></details>

## Your Environment

| Executable | Version |
| ---: | :--- |
| `nightwatch --version` | VER

[2021-10-31 23:47] michaelwilcox commented on #2017
Hi,

I am seeing same output from OP's post.
Is there any known update? Could it be a configuration issue?
Has anyone figured out a workaround?

chrome (95.0.4638.69) on Linux platform.
firefox (78.15.0) on linux 5.10.46-5rodete1-amd64

`nightwatch.conf.js`
[code]

`test.js`
[code]

[2021-11-01 00:13] michaelwilcox opened #2934 ".element() return value inconsistent between Chrome or Firefox"
Hi,

This is similar to #2017.

Am seeing inconsistent output from call to [element](https://nightwatchjs.org/api/element.html#apimethod-page) depending on if running with Chrome or Firefox.
More details below on output, configuration, and test code.

I am a bit stumped on what changes I may need to make, or if this is something else.
Any help, suggestions or advice would be greatly appreciated. T

[2021-11-01 05:17] aakash3771 commented on #2927
Here is the verbose:

`⠋ Starting ChromeDriver on port 9515...
1 Nov 10:45:58 Loading ChromeDriver with server_path=/Users/aakashgupta/cxl-nightwatch-e2e-tests/node⠴ Starting ChromeDriver on port 9515...
1 Nov 10:45:59   Request POST  /session
   {
     desiredCapabilities: {
       browserName: 'chrome',
       'goog:chromeOptions': {
         w3c: false,
         args: [
           '--headless',

[2021-11-01 10:31] gravityvi commented on #2934
Cna you set `w3c:true` and try again?

[2021-11-01 11:33] michaelwilcox commented on #2934
Hi @gravityvi , thanks for your response!

I am not sure the key `w3c:true` should be under? Currently the only `w3c` setting I have is for `selenium.chrome`:

[code]

Also, a quick search and found this [comment](https://github.com/nightwatchjs/nightwatch/issues/1456#issuecomment-384752873) which seems to address the specific problem am still seeing.

[2021-11-01 11:45] gravityvi commented on #2934
so chrome with flag `w3c:false` uses JsonWire protocol, while firefox does not support JsonWire anymore. By default chrome would use `w3c:true`.

[2021-11-01 13:56] michaelwilcox commented on #2934
I see here the [JsonWire responses](https://github.com/SeleniumHQ/selenium/wiki/JsonWireProtocol#responses) matches what I am seeing when running with chrome.

I switched those to `w3c:true` and checked that there is not any other `w3c:false` but am still seeing the JsonWire response when debugging.

Is the format that is being returned for GeckoDriver (see below) the expected output that should b

[2021-11-01 14:35] michaelwilcox commented on #2934
Ah! Ok, setting `w3c:true` was correct :)

sorry for confusion!

[code]

Is this the recommended way we should test going forward?
Should we upgrade to v2?

[2021-11-01 15:34] michaelwilcox commented on #2934
I am going to mark this as closed for now.

The solution to get Chrome and Firefox in sync was setting `w3c:true` for `chrome` as mentioned in https://github.com/nightwatchjs/nightwatch/issues/2934#issuecomment-956287776.

[2021-11-01 15:34] #2934 closed

[2021-11-01 20:33] Michelle-Bettencourt opened #2935 "MoveToElement Not working on chrome"
## Describe the bug

I am trying to hover over a button to reveal a drop down but the moveToElement command is not working.

- nightwatch_version=1.3.7
- selenium/node-chrome-debug:3.0.

With verbose mode on

[code]

With verbose mode OFF

`✔ Element <//button[contains(@class, "ant-tabs-nav-more")]> was present after 36 milliseconds.
✔ Expected element <//button[contains(@class, "ant-tabs-nav-more

[2021-11-02 07:34] gravityvi commented on #2934
@michaelwilcox upgrading to v2 is recommended, but there might be changes required in test scripts.  You can refer this [breaking changes](https://github.com/nightwatchjs/nightwatch/releases#user-content-breaking-changes)

[2021-11-02 07:40] gravityvi commented on #2935
Hey @Michelle-Bettencourt can you also share the Nightwatch config you are using?

[2021-11-02 12:59] Michelle-Bettencourt commented on #2935
const testsDir = process.env.TESTS_DIRECTORY
const FILES = require('./getFiles');
const ENVIRONMENTS = require('./environments');

module.exports = {
  src_folders: [`${testsDir}`],
  output_folder: 'reports',
  custom_commands_path: FILES.commands,
  custom_assertions_path: '',
  page_objects_path: FILES.pages,
  test_settings: {
    default: {
      launch_url: 'https://lenderqa.reggora.com',

[2021-11-02 13:18] gravityvi commented on #2935
Try adding `w3c:false` in chrome.
[code]

[2021-11-02 13:51] Michelle-Bettencourt commented on #2935
Hmm that didn't work. Is there a type in the chromeOptions line?

It still is giving success messages for moveTo

`   Response 200 POST http://hub:4444/wd/hub/session/fff7cb9b-0db3-4647-83ef-6bd12a810b69/elements (32ms)
   {
     state: 'success',
     sessionId: 'fff7cb9b-0db3-4647-83ef-6bd12a810b69',
     value: [ { ELEMENT: '28' } ],
     status: 0
}
   Request POST http://hub:4444 /wd/hub/sess

[2021-11-02 15:23] Michelle-Bettencourt commented on #2935
@gravityvi what do you think I should have in my desiredCapabilities?

[2021-11-02 19:27] michaelwilcox opened #2937 "[Firefox] Form submission not working with .submitForm(). Working with .click()"
Hi,

Am seeing an error when using `.submitForm()` with firefox. Am not seeing this issue with chrome.
**Note:** the form can be successfully submitted with `click()`.

[code]

### Environment

[code]

### Test Code

[code]

### HTML

[code]

### Configuration

[code]

[2021-11-02 19:32] michaelwilcox commented on #2937
Actually, it seems that `.submitForm` should not be used with `w3c:true`?
Am now seeing this for `chrome` with `w3c:true` enabled (we have only just enabled):

`Error while running .elementSubmit() protocol action: unknown command: Cannot call non W3C standard command while in W3C mode`

Is this WAI? Is there a way that the error message could be updated in FF to provide same context as does Chrom

[2021-11-02 21:35] AutomatedTester commented on #2937
We're going to need to add something like what [selenium](https://github.com/SeleniumHQ/selenium/blob/trunk/py/selenium/webdriver/remote/webelement.py#L82-L88) does.

[2021-11-03 07:44] pawlakmaly opened #2938 "Elements are incorrectly found or used when section selector and element selector is XPATH"
## Describe the bug

When section selector and it's elements have XPATH selectors, Nightwatch looks for incorrect elements when using '@' decorator when referring to section element.

## Sample test

<details><summary>sampleTest.js</summary><p>

[code]
</p></details>

<details><summary>Page Object</summary><p>

[code]
</p></details>

**Run with command**

[code]

### Verbose output
<details><summa

[2021-11-03 07:49] aakash3771 commented on #2588
I wish we have mochawesome reporter for Nightwatch test runner

[2021-11-03 08:18] gravityvi commented on #2937
Nightwatch v1.x uses JsonWire protocol which is not supported by the gecko driver(Firefox) anymore. I don't think we can do anything to resolve this in Nightwatch v1.x . Such compatibility issues are already resolved in Nightwatch v2. You can try that out.

[2021-11-03 08:20] gravityvi commented on #2935
Seems like command is already running successfully so its more related to the test script rather than config

[2021-11-03 09:30] beatfactor commented on #2588
That is already working in v2.0 but only if you use mocha as a test runner. We will update the docs soon to reflect this.

[2021-11-03 10:06] gravityvi commented on #2937
Nightwatch v2 is using selenium underneath for `submitForm` command.

[2021-11-03 10:06] #2937 closed

[2021-11-06 18:17] michaelwilcox opened #2942 ".click() callback return `{ value: null }` in firefox."
Hi,

We have some test code that uses the [click()](https://nightwatchjs.org/api/click.html#apimethod-page) API method to click a button and `assert` the return value in the callback. It works fine in `chrome`, but returns `{ value: null }` in `firefox`. Is there a configuration setting that we need? Is there another recommended way to test button click that could work across browsers? Thank you i

[2021-11-06 22:41] michaelwilcox opened #2943 "Safari nested iframes - can't find nested iframe element"
Hi,

Am running into a problem where SafariDriver is having trouble finding a nested iframe element after previously switching into it's relative parent iframe. This is working for Chrome and Firefox but failing for Safari.

[code]

### Test Code

The test code is such that it first finds the iframe element through [`element()`](https://nightwatchjs.org/api/element.html) and then calls [`frame()`]

[2021-11-07 23:36] michaelwilcox commented on #2943
Here is a snippet of the `--verbose` output where error is happening. This code finds an `iframe` to switch into.
The code is working fine with chrome and firefox, so wondering if this is a bug?

[code]

[2021-11-08 08:05] gravityvi commented on #2938
This is not a bug this is expected behavior. You need to use `.//div` as a selector to find all the child nodes.

[2021-11-08 13:49] michaelwilcox commented on #2943
Looking at this a bit closer, this seems to be failing on the call to `/frame` after it returns the web element from the `/element` call.

See the response to `/frame` returns `{ value: null }`.

I don't know why this is failing.

[code]

[2021-11-10 07:50] gravityvi commented on #2935
@Michelle-Bettencourt can you try upgrading to Nightwatch v1.7

[2021-11-10 17:17] beatfactor commented on #2584
@MicahLC have you tried this in v2-beta? we have improved the behaviour.

[2021-11-10 18:05] MicahLC commented on #2584
@beatfactor I have not yet, I'm trying to update to v2 but running into various issues.

[2021-11-10 23:14] beatfactor commented on #2584
@MicahLC Ok, let us know in the Discussions if there's something we can do to help.

[2021-11-11 15:00] michaelwilcox commented on #1117
I'm trying to do something similar to @akaranamsetty in disabling cross origin for Safari.

Have tried `Disable Cross Origin Restrictions` in Safari Develop menu.

Use case is we are testing a nested iFrame running a hosted website where the hosting app is serving from localhost.

This works fine for Chrome and Firefox as they seem to have no issue with switching into the iFrame. But Safari can't

[2021-11-12 00:16] michaelwilcox commented on #2942
It seems that firefox will return `{ value: null }` here.

Updated the test code to assert element on DOM has changed after click.

[2021-11-12 00:16] #2942 closed

[2021-11-12 12:39] aakash3771 commented on #2538
@beatfactor is it available in V2.0 as well?

[2021-11-12 13:08] gravityvi commented on #2538
Yes there is also support for glob pattern in Nightwatch v2 (which is beta right now). You can try using path like `pages/**/*.js`

[2021-11-13 11:15] michaelwilcox commented on #2943
My suspicion is that this is a Cross Origin restriction with Safari.

I can traverse into the first frame which has `about:blank` as the `src`. Once inside this frame I try searching for the next frame which has a different `src` origin than `localhost` or the `iframe` am in.

Oddly enough, it can find a regular DOM element inside the first frame, but when searching for the nested `iframe` it retu

[2021-11-15 21:11] michaelwilcox commented on #2943
Closing issue. As noted in SeleniumHQ/selenium#10039, SafariDriver is not responding correctly when requesting nested iframe element. Filed issue with Apple [here](https://feedbackassistant.apple.com/feedback/9761142)

[2021-11-15 21:11] #2943 closed

[2021-11-17 10:07] #2762 closed

[2021-11-18 08:53] beatfactor opened #2950 "v2.0 - Unexpected results when using async in perform() callbacks"
See #2948
Repro: https://gist.github.com/MicahLC/91052d21c4432286acaf33c0b3ab03d3

[2021-11-18 10:39] piekutlukasz opened #2951 "Nightwatch V2.0 - Chrome crashes after URL command"
## Describe the bug
Issue refers to v2.0, on v.1.7.8 works fine. First thing what i'm surprised is case which chrome browser is running in GUI window and CLI at the same time. CLI is empty, without any output. After perform URL command chrome crashing/closing.

### Verbose output
<details><summary>debug.log</summary><p>

[code]
</p></details>

When I add --no-sandbox parameter, chrome running at t

[2021-11-18 16:03] awulkan opened #2952 "Unable to get "start-maximized" setting to work on version 2.0.0-beta.1"
## Describe the bug

Hey, I just installed Nightwatch 2.0.0-beta.1 in a clean project. However I'm unable to get the "start-maximized" config to work properly.

Steps to reproduce:
1. Run `npm init`.
2. Run `npm i nightwatch@next`.
3. Run `npm i chromedriver --save-dev`.
4. Add "start-maximized" as config value in `args` for Chrome (see config below).
5. Run built-in test: `npx nightwatch node_mod

[2021-11-19 01:03] mostmentor opened #2955 "V2 - Error `TypeError: Cannot read property 'toLowerCase' of undefined at new Promise (<anonymous>)` when running tests with AWS device farm settings"
## Describe the bug
I'm trying to run tests on AWS device farm after upgrading to Nightwatch v2 but getting this error
`TypeError: Cannot read property 'toLowerCase' of undefined
       at new Promise (<anonymous>)`
The test is running when adding other configuration (BrowserStack & local chrome webdriver)

## Sample test
<details><summary>sampleTest.js</summary><p>

[code]
</p></details>

**Run w

[2021-11-19 06:17] vaibhavsingh97 commented on #2955
Thanks for reporting the issue, can you please share the verbose log with us, it will help us a lot to understand the problem.

[2021-11-19 14:15] pawlakmaly opened #2956 "[Enhancement] Support verify and expect APIs from Nightwatch in Cucumber"
## Describe the bug

If you run you cucumber tests using cucumber runner, the results of the tests says that no issue was found even if the only assertion fails.

## Sample test

<details><summary>feature file</summary><p>

[code]
</p></details>
<details><summary>steps definition</summary><p>

[code]
</p></details>

**Run with command**

[code]

### Verbose output
<details><summary>debug.log</summ

[2021-11-19 14:17] mostmentor commented on #2955
It's not even starting session to start logging any verbose
![image](https://user-images.githubusercontent.com/19888325/142637134-a5e79aa5-a114-4580-964e-48af0a8a9833.png)

[2021-11-19 14:30] pawlakmaly commented on #2956
Sometimes I get the results after the tests are done:
![image](https://user-images.githubusercontent.com/27236545/142639210-13275378-1c97-4ef0-9790-3ca0fe695f1d.png)

[2021-11-19 14:36] mostmentor commented on #2955
I've found the problem it's the `"capabilities": {}` It was required to be added in nightwatch v1.7 but looks like it causes conflict here
If you can show to the user which line is causing the problem it would be much easier to catch the problems afterwards

[2021-11-22 12:19] gravityvi commented on #2955
Nightwatch uses `capabilities` instead of `desiredCapabilities` if capabilities is present and is an object.
https://github.com/nightwatchjs/nightwatch/blob/127760130341328010b9001598812916ace92363/lib/core/client.js#L432
Using default browser(firefox) in case no browserName is found in capabilities will resolve this issue.

[2021-11-22 21:54] s-kugan opened #2957 "Parallel mode test run creates flaky tests"
Hi,
I have large test suite collection. When I run night-watch tests sequentially ,I do  not get any flaky test results. It works fine. However , once I start to run nigh-watch test in parallel mode, It is creating flaky test results. The same tests are not failing all the time. Every-time different tests are failing. I'm having hard-time to get the good test results in parallel mode.

## Configur

[2021-11-23 09:46] AutomatedTester commented on #2955
Some of the details of what capabilities we need to be aware of can be found in the [webdriver spec](https://w3c.github.io/webdriver/#capabilities)

[2021-11-23 13:39] mashiat89 commented on #2957
@s-kugan  I am facing the same issue while running parallel test. thanks for reporting the issue.

[2021-11-24 11:34] gravityvi commented on #2956
I think it is due to the behaviour of `verify` commands can you try using `assert` instead of `verify`?

[2021-11-25 10:53] ianlet opened #2959 "Setup options are not passed down to child processes"
## Describe the bug

When running Nightwatch on multiple environments, options passed to the `setup` function are not passed down to child processes that are running tests in each environments.

## Custom runner

<details><summary>run-tests.js</summary><p>

[code]
</p></details>

## Sample test

<details><summary>sampleTest.js</summary><p>

[code]
</p></details>

**Run with command**

[code]

## C

[2021-11-25 11:24] beatfactor commented on #2959
This isn't going to work I'm afraid. But you can easily define the launch_url in your config like this:

[code]

`WEBAPP_URL` will be parsed automatically from `process.env. WEBAPP_URL`.

[2021-11-26 19:41] gravityvi commented on #2308
Closing this as the [PR](https://github.com/appium/appium-xcuitest-driver/pull/1313) got merged and works fine  now

[2021-11-26 19:41] #2308 closed

[2021-12-01 12:02] tim-yao opened #2962 "[Enhancement] Add full support for cucumber.js CLI options"
**Is your feature request related to a problem? Please describe.**
Nightwatch v2.0.0-beta.1 has included support for using cucumber-js as test runner, and we can run cucumber-js by using nightwatch CLI(like `npx nightwatch --env cucumber-js`).

However, not all cucumber.js CLI options are supported. See discussion in https://github.com/nightwatchjs/nightwatch/discussions/2939#discussioncomment-171

[2021-12-01 14:13] beatfactor commented on #2962
Ok, we'll look into these. Some of them might not work, for instance I don't know what `--dry-run` would do or how it would be used.

[2021-12-02 12:13] alaasayed7 opened #2964 "[V2] execute is not passing parameters properly"
## Describe the bug
passing an array of arguments to execute function spreads them to the first argument, the change log is clearly missing a lot of details, regarding this and some core functions like browser.elements, browser.element.

## Sample test
[code]
### Error
<details><summary>error</summary><p>

[code]
</p></details>

## Your Environment

| Executable | Version |
| ---: | :--- |
| `nigh

[2021-12-02 14:39] teresamonahan opened #2965 "Mocha update needed to resolve CVE-2021-3807"
Please update mocha as it has an ansi-regex vulnerability described in [CVE-2021-3807](https://github.com/advisories/GHSA-93q8-gq69-wqmw)

![image](https://user-images.githubusercontent.com/2227544/144442946-0e0c1a21-f34d-4391-a1ec-8151438615b5.png)

[2021-12-02 16:24] teresamonahan commented on #2965
@beatfactor Thanks for the reply. I see Nightwatch 2.0 is currently a beta. Is there a schedule for an official release?

[2021-12-02 17:25] ravi005e opened #2966 "[1.7.x] | Error: Debug Failure. Output generation failed"
node 16.x
nightwatch: 1.7.x
os: mac monterey
yarn: v1.22.15
chromedriver: 96
selenium-server: 3.141

nightwatch --config configs/local-config.js -e chrome

TEST FAILURE: 1 error during execution; 0 tests failed, 0 passed (1.276s)
[code]

[2021-12-02 19:01] kretschmannj opened #2967 "console.log is not working correctly starting in version 1.7.x"
console.log messages are not displaying in version 1.7.x.  Here is a simple test case that works in version 1.6.4 but doesn't work in any 1.7.x version ...
[code]
Output in 1.6.4 ...
[code]
Output in 1.7.0 ...
[code]
Note that if I put a \n at the end of the message then the message will display ...
[code]

[2021-12-02 20:01] beatfactor commented on #2965
Yes, by mid January.

[2021-12-02 20:52] s-kugan opened #2968 "Enhancement- Support to add `supertest` module to call API methods"
**Is your feature request related to a problem? Please describe.**
 When it comes to tests  , There are pre-conditions for tests. e.g -  user should have correct amount before add a product into shopping cart ,user should have correct username and password before login into the website. if user does not meet these pre-conditions , rest of the test would not run correctly and work.  Its not a good

[2021-12-05 15:39] alaasayed7 opened #2970 "V2 it() and test() steps overlap, they don't wait for each others to finish"
## Describe the bug
when calling browser.execute, the next test step doesn't wait it to finish. this didn't seem to happen in the earlier versions and is causing errors as the assertions in the next step runs before execute finishes

## Sample test
I have this custom command, and I call it inside it('step',browser=>{......})
after which I have another it() step
[code]

### Verbose output
this vers

[2021-12-05 22:35] alaasayed7 commented on #2970
it seems that it is not execute issue, it() steps overlap with each others which is very disturbing

[2021-12-06 10:06] pawlakmaly commented on #2956
@gravityvi Sorry for late response. I've changed 'verify' into 'assert' and it worked as expected. Seems that the verify api cause the issue.

[2021-12-06 11:46] beatfactor commented on #2970
Thanks for trying out the beta and reporting this. We'll look into it.

[2021-12-06 14:57] beatfactor commented on #2970
Probably related to #2950.

[2021-12-07 15:10] beatfactor commented on #2970
Should be fixed in v2.0.0-dev.11. Could you please install this with `npm i nightwatch@dev` and confirm?

[2021-12-07 15:10] beatfactor commented on #2964
Should be fixed in v2.0.0-dev.11. Could you please install this with `npm i nightwatch@dev` and confirm?

[2021-12-07 16:54] alaasayed7 commented on #2970
I got the exact same result on ^2.0.0-dev.11, there is an assertion that runs late in the next it()

the assertions are using the custom command above

[2021-12-07 23:04] beatfactor commented on #2970
Sorry about that. Can you try 2.0.0-dev.12? If you're still experiencing the issue, please post a full reproducible sample test and a debug log (run nightwatch with `--verbose`).

[2021-12-08 00:59] tim-yao commented on #890
For anyone before V2 has this issue. Maybe this will help you to bypass the issue:
https://www.browserstack.com/docs/automate/selenium/test-file-upload#uploading-pre-loaded-files

[2021-12-08 10:41] alaasayed7 commented on #2970
works fine in 2.0.0-dev.12, thanks for the quick response

[2021-12-08 10:41] #2970 closed

[2021-12-08 10:57] alaasayed7 opened #2974 "V2 .expect.element("@element").to.have.value.that.equals('valye') returns null"
## Describe the bug
I used .getValue to console log the value and it gives the correct result, but the expect is returning null

this is the test on v2.0.0-dev.12
![image](https://user-images.githubusercontent.com/22480307/145196639-a2a69bac-6ad1-4c5a-89ee-761055468f74.png)

and this is the same test on v 1.5.1
![image](https://user-images.githubusercontent.com/22480307/145196743-07e28616-03a1-416

[2021-12-08 12:36] beatfactor commented on #2970
Fabulous. Thank you for trying out the beta and helping us getting issues like this fixed.

[2021-12-08 12:39] beatfactor commented on #2974
So the same expect assertion that used to pass in v1.5 now fails with result null?

[2021-12-08 16:04] michal-ra opened #2975 "expect.element().to.not.be.present throws error when using the new element() apis in v2"
## Describe the bug
When testing assertion that element is not present on page, error is thrown when element is not found.

## Sample test
<details><summary>sampleTest.js</summary><p>

[code]
</p></details>

**Run with command**
no arguments

### Verbose output
<details><summary>debug.log</summary><p>

[code]
</p></details>

## Configuration
<details><summary>nightwatch.json</summary><p>

no speci

[2021-12-09 18:58] Michelle-Bettencourt opened #2976 "Error forwarding the new session cannot find : Capabilities {browserName: chrome....."
## Describe the bug

When I try to update the node-chrome version I get an error about the browsers capabilities, I want to update to a more recent version of chrome.

Error:
  Error: An error occurred while retrieving a new session: "Error forwarding the new session cannot find : Capabilities {browserName: chrome, name: Lender/Product/Create Manua...}"

## Configuration
<details><summary>nightwat

[2021-12-10 12:47] gravityvi commented on #2962
Some of them would create conflicts, for example supporting `config` from cucumber CLI. We might need a better way to support them.

[2021-12-15 19:06] harshit-bs commented on #2539
This issue has 3 cases :
1.  Element is not present ---> It should return an error
2. Element is present but not visible ---->  It should return **false**
3. Element is present and visible ---> It should return **true**

We've gone over all of the above possibilities and are getting the expected responses. For further clarity, we've added a test case for the false condition.

[2021-12-15 23:04] kelly-tock opened #2980 "Nightwatch 2.0 - async custom command pauses in before each but not in test body"
## Describe the bug

a custom command that is async and sets a cookie with a pause behaves as expected when in beforeEach, but not when in the test body.

## Custom command
[code]
## Sample test

<details><summary>sampleTest.js</summary><p>

[code]

[code]
</p></details>

**Run with command**

[code]

### Verbose output
<details><summary>debug.log</summary><p>

[code]
</p></details>

## Configurat

[2021-12-16 10:22] Cactusbone opened #2981 "globals beforeEach and afterEach not called when using mocha"
## Describe the bug

this is the same bug as https://github.com/nightwatchjs/nightwatch/issues/1477

basically, afterEach defined in globals file (using `globals_path`) is not called

Same question is also asked on [stackoverflow](https://stackoverflow.com/questions/69531960/nightwatch-js-global-aftereach-not-working/70377219#70377219)

It's mentioned [here in the documentation](https://nightwatch

[2021-12-16 11:11] Cactusbone commented on #2981
humm... I think I found the problem... documentation says **after each test suite**, not "after each test". this seems to work :) I'm closing this issue :)

[2021-12-16 11:11] #2981 closed

[2021-12-20 08:29] Nitive commented on #2981
Hi @Cactusbone!

I've checked and it doesn't seem to work. The hooks doesn't get called at all. Can you recheck please?

Also I've updated nightwatch version in [minimal reproducible example](https://github.com/Nitive/nightwatch-mocha-each-hooks) and it seems like hooks are not called at all even without mocha runner

[2021-12-20 13:59] Cactusbone commented on #2981
They're called on my side, on version 1.7.12.

I'll check your example further and report here :)

[2021-12-20 14:18] Cactusbone commented on #2981
after double checking, we're not running nighwatch with mocha runner, but alongside it (for another set of tests).

running your test, however, nothing works at all O_o

[2021-12-20 15:08] Cactusbone commented on #2981
using an absolute path in globals_path fixes nightwatch test
`globals_path: path.join(__dirname,'./globals.js'),`

I can't seem to have the mocha runner version to pick any test though... still looking into it :)

[2021-12-22 12:38] KhodorAmmar opened #2982 "ECONNREFUSED errors when starting in parallel mode with a single file"
## Describe the bug

When nightwatch is running in parallel mode and there's only one single file to test, I'm getting ECONNREFUSED errors and it seems chromedriver (both via `start_process` or via selenium) port is not being set correctly.

## Sample test

[code]
post 9515 gets ignored and nightwatch tries to open a different port per thread, though it will try to listen to port 9515 leading to E

[2021-12-22 20:45] leev-bstack opened #2983 "Nightwatch 2.0 - Not able to use IE with Browserstack"
When using Nightwatch 2.0 beta, I'm unable to initiate a session with BrowserStack when using IE as the "BrowserName" capabilities.  Getting error " TypeError: An error occurred while creating a new Selenium Server session: [TypeError] Cannot read properties of undefined (reading 'getBrowserName')"

After digging into the Nightwatch libraries, it looks like IE support has still not been implemente

[2021-12-23 06:33] vaibhavsingh97 commented on #2982
Duplicate of #2791

[2021-12-23 10:54] aakash3771 opened #2984 "Error: No tests defined! using source folder"
## Describe the bug
I am using Nightwatch beta 2 version. The tests have stopped working. I keep getting error **Error: No tests defined! using source folder.** This issue has come up before in earlier versions of Nightwatch.

## Sample test

<details><summary>sampleTest.js</summary><p>

[code]
</p></details>

**Run with command**

[code]

### Verbose output
<details><summary>debug.log</summary><p

[2021-12-23 11:54] asmazoghlami commented on #1170
Hello, any update about this topic? I'm having issues with frames in firefox?
Thank you

[2021-12-29 15:02] RezhaBlue commented on #2967
Here to add some context and additional info. I am on version 1.7.13 on MacbookPro M1 using zsh.
I ran into this last night running very simple tests (example below) and then spent too long trying to debug my test _when the problem was the CLI_ just not telling me the last line of output.

Key notes:
This behavior is NOT displayed when using --verbose flag for CLI output.
This behavior is the same

[2021-12-29 15:09] gudivadasunil opened #2987 "Not getting the CurrentURL"
## Describe the bug
We are not getting the current url using browser.

## Sample test
browser.url(function(result) {
console.log(result.value);
});

<details><summary>sampleTest.js</summary><p>

[code]
</p></details>

**Run with command**

[code]

### Verbose output
<details><summary>debug.log</summary><p>

[code]
</p></details>

## Configuration
<details><summary>nightwatch.json</summary><p>

[co

[2021-12-30 09:28] gravityvi commented on #2987
Hey @gudivadasunil, this problem has been fixed in Nightwatch v2 moreover it has an additional function `getCurrentUrl` that might suit your case

[2021-12-30 09:37] gravityvi commented on #2984
I can't reproduce this can you help us with a sample repository and fill in the details in the issue template

[2021-12-30 13:27] JacquesN16 opened #2988 "Command mouseButtonDown is not working on iOS simulator (XCUI automation)"
## Describe the bug

I'm trying to make a test on a web-app for a "swipe" function. So I used a combination of mouseToElement() then mouseButtonDown() and finally mouseToElement(). I ran the test on an AVD (Android Virtual Device) and it worked perfectly. However, when I switched to an iOS Simulator Device ( I used Appium with XCUITest as automation system), I had an error for an "Unhandled endpoi

[2021-12-30 13:27] fredski02 opened #2989 "Element Not Interactable"
## Describe the bug

I'm doing some testing with my Vue JS app. It's a multiplayer game and users have to schedule a game. Once Nightwatch clicks the link to go to the game page I then try to interact with elements but i get.

[code]

I can visibly see that the element is present and i can click on it during the test in the window that nightwatch generates.

<details><summary>sampleTest.js</summar

[2021-12-30 14:04] gravityvi commented on #2988
The endpoint which Nightwatch uses is not supported by the Appium XCUITest driver. You can switch to Nightwatch v2 which uses W3C Actions API which could be used with all platforms (Android, IOS, etc). Here is the [example code](https://github.com/nightwatchjs/appium-nightwatch-examples) of using Nightwatch with Appium.

[2021-12-30 14:25] JacquesN16 commented on #2988
Thank @gravityvi  for your answer. So basically, I need to switch to Nightwatch v2 with the new function for swipe action and all the moveTo() and mouseButton() commands are deprecated now. I will follow your example to fix my test.

[2021-12-30 14:25] #2988 closed

[2021-12-30 14:50] JacquesN16 opened #2990 "Nightwatch v2 iOS xcuitest"
## Describe the bug

I have recently switched to Nightwatch v2.0 beta for a test on iOS Simulator Device. In my test, I used the method moveToElement() after an assert.visible(). The assertion has passed perfectly, but there is a problem when it executed the moveToElement() method to the same element.

## Sample test

<details><summary>sampleTest.js</summary><p>

[code]
</p></details>

<details><s

[2021-12-30 15:35] #2989 closed

[2021-12-30 15:35] fredski02 commented on #2989
I'm moving to selenium

[2021-12-30 15:51] Topperfalkon commented on #2989
That is a selenium error. Selenium probably thinks there's an element that would intercept the click or something. You can use the Actions API to navigate to the element and trigger a mouse click action, similar to what I assume is a native JS action you triggered in your workaround.

[2021-12-30 16:53] fredski02 commented on #2989
Thanks, It could be. It seemed to work in Cypress 🤷 . Trying to run it in selenium so I'll report back with more info @Topperfalkon

[2021-12-30 17:41] fredski02 commented on #2989
yeah same error in pure selenium. perhaps the event is somehow being propagated

[2021-12-31 07:55] gravityvi commented on #2989
Nightwatch v2 uses Selenium under the hood. Nightwatch v2 provides additional testing capabilities while using Selenium underneath.

[2022-01-03 11:08] fredski02 commented on #2989
I got to the bottom of this in the end.

So i was using a vue package called `vue-fragment`. vue-fragment basically caused selenium to think the element wasn't visible.

https://github.com/SeleniumHQ/selenium/issues/9668
https://github.com/privatenumber/vue-frag/issues/35

[2022-01-05 16:55] JacquesN16 commented on #2990
The reason for this problem is because the Apple's XCTest test driver's framework is different from the test driver used for Android Virtual Device and it does not natively support W3C standards for TouchAction interface implementation. So some of commands that we can find on NighwatchJS official documentations may not work properly. For that reason, we can use the gestures set that goes with XCte

[2022-01-05 16:55] #2990 closed

[2022-01-06 04:10] harshit-bs commented on #1932
@aamorozov the example you provided, is using "**Default Export**" property of JS rather than "**Named Export**" property, which means that function name will not be returned and can't be used by currentTest.name. However, we have tested the code below and it works because we are utilising "**Named Export**" property in this scenario.

[code]
Ref : https://developer.mozilla.org/en-US/docs/web/java

[2022-01-06 04:32] KarthikKallu-ISelect commented on #2344
any updates @beatfactor on this , could u please add this early ,
Thanks In Advance for ur time.

[2022-01-06 15:38] ruzv opened #2992 "afterEach hook isn't executed"
## afterEach hook isn't executed if a combination of AssertionFailure and Error occurs

In the provided test example `waitForElementPresent` will clearly reach the timeout and fail. If `abortOnFailure` is set and an error is thrown after the assert fails, the tests `afterHook` is not executed.

The `afterEach` hook is executed for `waitForElementPresent("element_that_does_not_exit")` without a fol

[2022-01-10 10:56] KarthikKallu-ISelect commented on #2344
@beatfactor could u please add that one enhancement of adding screenshots to html/any other reporting type /please suggest how to add screenshots to html/xml report

[2022-01-10 10:59] pawlakmaly commented on #2344
@KarthikKallu-ISelect , try this code to log screenshot to report:
[code]

[2022-01-11 05:31] KarthikKallu-ISelect commented on #2344
Hi @pawlakmaly
Thanks for your time in answering it ,I will check and let u know on it

[2022-01-11 07:56] KarthikKallu-ISelect commented on #2344
Hi @pawlakmaly
May i know the correct usage , could u please let me know on how to use it,I do write tests something like below in typescript
![Uploading image.png…]() , much appreciated ur time .

[2022-01-11 08:02] KarthikKallu-ISelect commented on #2344
Hi @pawlakmaly
May i know the correct usage , could u please let me know on how to use it,I do write tests something like below in typescript
much appreciated ur time.
I do write tests like below
module.exports={
  'verify contact number 13 19 20 displayed in home page': function (browser: NightwatchBrowser) {
        const home = new HomePage();
        home.verifyContactNumber(browser)

[2022-01-11 11:21] pawlakmaly commented on #2344
@KarthikKallu-ISelect I use nunit3 reported and the code I've passed to you is in my custom command. I'm not sure if this will work in afterEach hooks. Try use it inside your test case.

In my case I use it more or less in that way:
[code]

[2022-01-12 09:47] #2962 closed

[2022-01-13 05:23] harshit-bs commented on #2974
@alaasayed7 Could you please share your test case to understand it better by filling the details in the issue template.

[2022-01-14 03:52] phil-davis commented on #2962
An example use case - I have some CI for a project that is in development and there are test scenarios that run and are known to fail (developers are working t make them pass). We process the list of fails from a real test run and compare it to a list of "expected failures". If the failures match the "expected failures" then the PR does not make things any worse! Hopefully more tests start passing

[2022-01-17 11:46] gravityvi opened #2998 "[Enhancement] Component Testing - React"
## Description

Add support to test react components. Support the following React components.
- React components can be a pure components (stateless components).
- React components using states and props
- React components using state management tools like Redux, React context.

## Proposed Solution
Add a function called `mountReactComponent` that can basically render react component to an HTML pa

[2022-01-18 16:58] alaasayed7 opened #2999 "after you updated selenium webdriver, now everything is failing"
## Describe the bug
I just get this "Error while running .locateMultipleElements() protocol action: checkResponse is not a function"

the test below used to work, this is so disappointing as additions to this branch just makes things worse, I'd suggest using some kind of tests like this that uses various commands to test changes impact

## Sample test

<details><summary>sampleTest.js</summary><p>

[2022-01-19 06:14] vaibhavsingh97 commented on #2999
Thanks for trying the beta and raising the issue. We are working to resolve this and release it in the next beta. This broke because `selenium-webdriver` recently removed a method that the `Nightwatch` package was using it. PR (#2995) for the same has been raised.

For now, you can try the latest [dev version](https://www.npmjs.com/package/nightwatch/v/2.0.0-dev.14), which temporarily fixes this p

[2022-01-19 08:11] beatfactor commented on #2999
Fixed in 2.0.0-beta.3

[2022-01-19 08:11] #2999 closed

[2022-01-19 19:06] pgmann opened #3000 "ES6 custom command return value is always undefined"
## Describe the bug
Class-based custom commands can return a value, but attempting to do the same with ES6 styling results in a return value of undefined.

## Sample test
Working Custom Command:

<details><summary>workingSampleCustomCommand.js</summary><p>

[code]
</p></details>

<details><summary>brokenSampleCustomCommand.js</summary><p>

[code]
</p></details>

**Run with command**
console.log th

[2022-01-20 12:24] vaibhavsingh97 opened #3001 "[CI Failing]: Github Action passing even on test failures"
## Describe the bug
We use 'mocha' for unit tests. Currently, we have a Github action setup and whenever a failure occurs, Mocha exits with a 0 status code, so the GitHub action passes instead of failure.

## Reason for failure
Seeing mocha exit with a 0 exit code after failing a test.

## Related issues
🐛 https://github.com/mochajs/mocha/issues/2713

## Reference
Failed Build: https://github.com/

[2022-01-20 12:36] vaibhavsingh97 opened #3002 "[Enhancement] New Assertions"
Some assertions are missing from the Assertion API, the list of new assertions is as follows:

- [ ] attributeMatches.js
- [ ] domPropertyMatches.js
- [ ] elementsCount.js
- [ ] hasAttribute.js
- [ ] hasClass.js
- [ ] textEquals.js
- [ ] textMatches.js
- [ ] titleEquals.js
- [ ] titleMatches.js
- [ ] urlMatches.js
- [ ] valueEquals.js

[2022-01-20 14:34] ty-hob commented on #2992
How does it look? Any progress? Was anybody from the NW team able to replicate my issue?

[2022-01-20 21:34] RezhaBlue opened #3004 "Nightwatch 1.7.x with selenoid: Chrome works, firefox times out waiting for element"
## The bug

Hi all, my team and I are having issues running Firefox.
The browser launches but the driver then refuses to acknowledge any elements. I've confirmed the selector (both css and xpath variant) is correct and provided more than ample time for page load, dom ready, etc. with multiple polling.
No matter what Firefox times out searching for an element that is obviously there.
It feels like

[2022-01-21 08:56] dhaval-bs opened #3007 "[v2] Update docs page for w3c compatibility with keys command"
The **keys** command in nightwatch uses JWP, which will break with newer selenium versions or if w3c set to true.

We should update the v2 doc of keys command https://v2.nightwatchjs.org/api/keys.html for deprecation/non compatibility with w3c and newer selenium version.

[2022-01-21 18:47] harshit-bs commented on #2992
Hey @ty-hob, For v1.7, we addressed and replicated both cases. I pushed the fixes for the first case, however the second case has already been covered in the next release.

[2022-01-26 14:45] AlaaSayed794 opened #3011 "[Enhancement] pageObject navigate with parms"
**Is your feature request related to a problem? Please describe.**
I want to use navigate with variables parameters

where props url would be something like https://jsonplaceholder.typicode.com/users/:id

and I could navigate using `pO.navigate({id:1})`

**Describe the solution you'd like**
I wanted to edit navigate alias with an optional props input but I had problems following how you handle var

[2022-01-26 16:17] #2983 closed

[2022-01-27 09:56] swrdfish commented on #3001
When ever there is a failure, mocha sets an eventlistener  on` process.on(‘exit’)` event to update the `process.exitCode` of the global process. Which normally, works but nightwatch also attaches an eventlistner on the `exit` event. This eventlistner in [process-listners.js#L55](https://github.com/nightwatchjs/nightwatch/blob/006f853be49c3a2e9cd8d9df53767f9cb6114109/lib/runner/process-listener.js#

[2022-01-27 11:26] #2955 closed

[2022-01-27 12:27] #3002 closed

[2022-01-29 01:36] chainalert-bot opened #3017 "ChainAlert: npm package release (2.0.2) has no matching tag in this repo"
Dear [nightwatch](https://npmjs.com/package/nightwatch) maintainers,
Thank you for your contribution to the open-source community.

This issue was automatically created to inform you a **new version (2.0.2) of [nightwatch](https://npmjs.com/package/nightwatch) was published without a matching tag in this repo**.

Our service monitors the open-source ecosystem and informs popular packages' owners i

[2022-01-30 03:16] NorseGaud opened #3018 ""RangeError: Maximum call stack size exceeded" when using require"
[code]

[code]

Doesn't matter what is in helpers.js (it can be empty), or its location.

## Configuration
[code]

## Your Environment

| Executable | Version |
| ---: | :--- |
| `nightwatch --version` | 2.0.2 |
| `npm --version`  | 8.3.1 |
| `yarn --version` | N/A |
| `node --version` | v17.4.0 |

| Browser driver | Version |
| --- | --- |
| chromedriver | 97.0.4692.71 |

| OS | Version |
| --- |

[2022-01-30 03:37] NorseGaud commented on #3018
I just upgraded to the new vite-plugin-nightwatch and still see it:

[code]

[2022-01-30 04:12] NorseGaud commented on #3018
Fixed by switching to https://github.com/nightwatchjs-community/todo-vue

[2022-01-30 04:12] #3018 closed

[2022-01-30 21:35] #3017 closed

[2022-01-31 13:09] NorseGaud opened #3019 "[2.0.2] Unable to use "end_session_on_fail: false""
## Describe the bug

[code]

[code]

After this fails, it closes chrome. I was on the latest 1.X version and this feature was working before I upgraded.

## Your Environment

[code]

[2022-01-31 18:17] beatfactor commented on #3019
I see you're using the Vite plugin -- cool! But you probably should drop the vue-cli? As for the bug, we'll look into it, thanks for reporting.

[2022-02-01 00:27] NorseGaud opened #3022 "[2.0.2] default nightwatch.conf.cjs has w3c:true and this breaks .elements()"
### Discussed in https://github.com/nightwatchjs/nightwatch/discussions/3021

<div type='discussions-op-text'>

<sup>Originally posted by **NorseGaud** January 31, 2022</sup>

<img width="578" alt="Screen Shot 2022-01-31 at 7 06 54 PM" src="https://user-images.githubusercontent.com/5896030/151893232-8abec74b-71d3-4e13-a0ea-785dedcdb57b.png">

[code]

[code]

`nodeContent.value` is "undefined" too.

[2022-02-01 00:51] NorseGaud commented on #3022
Ok with w3c set to true, I still can't seem to get this working:

[code]

But I get back:

[code]

[2022-02-01 09:02] beatfactor commented on #3022
Hey, thanks for reporting this, will look into it. `w3c: true` needs to be ON by default because newer versions of Chrome only support W3C Webdriver.

One thing that I would point out is to try is to use either `findElement()` or `findElements()` instead of the basic `elements()` command. Both findElement(s) contain a getId() method in the response which will help you.

Also you could try to use t

[2022-02-01 11:34] NorseGaud commented on #3022
Takk! I'll play around with the recommendations shortly.

I did try element() the other day and .getText() on it was throwing an error.

[2022-02-01 12:25] NorseGaud commented on #3022
The example is just a bit confusing: When using `element(item.getId())` I see

[code]

Trying to run getText() on element doesn't work, and I'm seeing a failure.

[code]
[code]

I really just need to check an array of p elements to be sure a certain text isn't found.

[2022-02-01 13:27] NorseGaud commented on #3022
Hot dog! I got it!

[code]

[2022-02-01 14:50] NorseGaud commented on #3022
PR for the docs to clarify this (it has been asked a bunch of times from my google searches): https://github.com/nightwatchjs/nightwatch-docs/pull/147

[2022-02-02 11:51] chan-chandra opened #3024 "Can't run NightwatchJS tests in headless mode"
## Test fail to run in headless mode when using NightwatchJS

steps
1. Start with basic Demo code from https://nightwatchjs.org/
2. Basic config file, Test file, package.json file is generated
3. Chrome/ other browser runs properly
4. But if changed  to headless `nightwatch.conf.js` file, it shows error

Tried adding the following ways
1
[code]
[code]

## Example test

<details><summary>Demo.js</s

[2022-02-02 19:54] gizmodus opened #3026 "verify.textContains() ends process if the element was not found"
I wrote a custom test runner with the new version 2.0.4 which is really cool! Love the new architecture of the programmatic API. The test runner sequentally runs multiple tests. If a test fails, it should continues with the next one.

I have the following scenario:
`browser.verify.textContains('my-element', 'test')`

-> If the element is found but the text "test" not present, it works as intended

[2022-02-02 20:31] harshit-bs commented on #2161
I tested this behaviour in v2.x for **chrome** and it seems fine now.

https://user-images.githubusercontent.com/94462364/152228537-f2b4990c-360e-4619-bf5b-afd78b114d23.mov

[2022-02-03 09:34] chrisvanrun opened #3028 "[2.0.2] test_workers do not correctly spawn drivers"
## Describe the bug

Starting with enabled `test_workers` seems to not use selenium-webdriver correctly. When running a test session with them enabled, the parallel tests do not seem to correctly want to spawn chromedrivers (only the first worker gets one spawned):
[code]

Whereas adding `--parallel` to the CLI call seems to fix it. Notably, in verbose the tests report (using ` --parallel`):
[code

[2022-02-03 09:55] beatfactor commented on #3026
Sounds good, but we can't really help without you providing more details or a reproducible scenario. One thing to mention though is that when using a custom runner, `.verify` assertions won't work properly because they rely on the Nightwatch runner and reporter to fail the test at the end.

It sounds like the problem you're facing is caused by an unhandled rejection so I will need to debug that to

[2022-02-03 12:06] harshit-bs commented on #2980
I tested above sample test case in v2.0.4 and found that it's working perfectly for me.

[2022-02-03 14:45] Cactusbone commented on #2981
Might be possible to implement in Mocha using [root-hook-plugins](https://mochajs.org/#root-hook-plugins) (v8.0.0+)

[2022-02-03 16:45] gizmodus commented on #3026
Thanks for your response, @beatfactor!

I tried to narrow it down a bit. My basic setup is this:

[code]

The file 'test-001.ts' is a normal Nightwatch.js test:

[code]

It seems to me that the problem only occurs if another assertion is chained after the one with the inexistent element.
When I log the argument array that are passed to the callback function in 'textContains.js' -> this.command(),

[2022-02-03 17:38] artem-leandata opened #3029 "nightwatch 1.7.13: If custom command has first variable as an array input it results in error"
## Describe the bug

## Sample test

<details><summary>sampleTest.js</summary><p>

[code]
</p></details>

The following command example is resulting in the error mentioned above. Not providing the code body since it does not make any difference in that case.
<details><summary>customCommand_Error.js</summary><p>

[code]
</p></details>

A command below does not result in error
<details><summary>cust

[2022-02-04 19:15] mashiat89 opened #3030 "Request to add browser object in describe section"
**Is your feature request related to a problem? Please describe.**
When using browser object in describe section, it can't read the object

**Describe the solution you'd like**
When using browser object in describe section, it can't read the object
Test example:

[code]
PS C:\UiAutomation> node nightwatch --config nightwatch.test.conf.js --tag prepaidgiftcard --env UATChrome --reporter html-report

[2022-02-04 19:25] s-kugan commented on #3030
Having **browser** object in describe section will be very helpful for the test . It could easily meet the **pre-conditions**

[2022-02-04 22:52] kretschmannj opened #3031 "An error occurred while trying to start Selenium Server in Nightwatch v2.x"
I just moved over to Nightwatch v2.0 from the latest 1.7.x and now I'm having an issue trying to use selenium-server.  The verbose output ...
[code]

[2022-02-05 00:29] apis3445 opened #3032 "Command already exist"
## Describe the bug
Hello I have a custom command with the name baseUrl when I try to run the test doesn't open anything witj debug the error is the command already exists. Does exists some reserved names for custom commands is the same for getCurrentUrl custom command

## Sample test
Add customs commands with name baseUrl and getCurrentUrl in nightwatch version 2

### Verbose output
Doesn't show

[2022-02-05 08:42] beatfactor commented on #3032
Nightwatch doesn't allow overwriting built-in commands but we'll add a new setting soon which will allow you to do that.

[2022-02-05 15:53] apis3445 commented on #3032
Where is the list to the built in commands?  It's only to prevent use the same commands, in previous version 0.9 the commands didn't exists.

[2022-02-07 07:09] gravityvi commented on #3030
Hey @mashiat89, I didn't get the use case, could it be solved using hooks (`before`). The browser object is available when a session is created so it is not available in describe section. Could you elaborate on the use case a bit more?

[2022-02-07 07:11] gravityvi commented on #2980
Hey @kelly-tock, could you try using the latest Nightwatch v2 build and see if the issue still exists?

[2022-02-07 12:02] chrisvanrun opened #3033 "element() ignores use_xpath"
## Describe the bug

Using the new global `element()` will default to `css_selector` as locate strategy, even if `use_xpath` is set to true in configuration.

With for example:
[code]

It outputs:
[code]

## Configuration
<details><summary>nightwatch.conf.js</summary><p>

[code]
</p></details>

## Your Environment

| Executable | Version |
| ---: | :--- |
| `nightwatch --version` | 2.0.2 |

[2022-02-07 12:48] beatfactor commented on #3033
how about if you do:

[code]

you can also use the `by()` class from selenium, which is available as a global in Nightwatch as well.

[code]

[2022-02-07 12:56] chrisvanrun commented on #3033
Thanks @beatfactor! Both work fine, and have actually been employed to circumvent this bug. However, for a clean suite it's nice to be able to have options where one can provide only one selector string to adhere to the global default.

[2022-02-07 12:58] beatfactor commented on #3033
I agree, I was just making sure that there are workarounds until we fix the issue.

[2022-02-07 14:56] mostmentor commented on #3028
I have same issue while trying to run on AWS Device Farm.

[2022-02-07 15:13] kelly-tock commented on #2980
yep, will give it a shot. thanks!

[2022-02-07 16:26] apis3445 opened #3034 "[Enhancement] Vs Code debug"
**Is your feature request related to a problem? Please describe.**
Sometimes with some POM the debugger stops before the page load, so it's impossible debug with VS Code or another tool. It's seems that all instructions are in some stack and the debugger stopped before the page shows the steps

**Describe the solution you'd like**
A normal debug like other tools selenium, cypress, etc-

**Describe

[2022-02-07 17:41] apis3445 opened #3035 "[Enhancement] Add sample to docker"
**Is your feature request related to a problem? Please describe.**
Could you add a sample to run test in docker

**Describe the solution you'd like**
Add a docker file and/or dockercompose to run tests in docker

**Describe how the solution will work**
Add the files and documentation to run in docker. I tried with this repo https://github.com/apis3445/nightwatch but when I try run npx nightwatch d

[2022-02-07 18:03] mieko-tock commented on #2980
I tried this with version 2.0.5 and it is still an issue.
When the command is a part of the test body, the `.pause()` happens after the test is executed.

[2022-02-07 22:19] beatfactor commented on #3035
I have used these docker images a while ago and both were working fine. You may need to update the versions though:
- https://github.com/pineviewlabs/docker-geckodriver
- https://github.com/pineviewlabs/docker-chromedriver

We'll look into adding a docs section on our website about Docker.

[2022-02-07 22:26] beatfactor commented on #3030
This is not possible I'm afraid but also not necessary because you should be able to access globals via `this.globals`.

[2022-02-07 22:28] #3030 closed

[2022-02-08 03:09] SDETQATestAutomation opened #3036 "No screenshot is captured when cucumber test failed."
## Describe the bug

No screenshot is captured when cucumber test failed. With same configuration failed nightwatch test is capturing screenshot. Tested with Nightwatch-CucumberJS Boilerplate and getting same screenshot issue
## Sample test

<details><summary>sampleTest.js</summary><p>

[code]
</p></details>

**Run with command**

[code]

### Verbose output
<details><summary>debug.log</summary><p>

[2022-02-08 04:08] SDETQATestAutomation opened #3037 "Parallel execution is not working for Cucumber test on adding parallel in test_runner object"
## Describe the bug

Parallel execution is not working for Cucumber test on adding parallel in test_runner object.
## Sample test

<details><summary>sampleTest.js</summary><p>

[code]
</p></details>

**Run with command**

[code]

### Verbose output
<details><summary>debug.log</summary><p>

[code]
</p></details>

## Configuration
<details><summary>nightwatch.json</summary><p>

[code]
</p></details>

[2022-02-08 04:17] SDETQATestAutomation opened #3038 "No browser object is available for BeforeAll hooks on using cucumber"
## Describe the bug

No browser object is available for BeforeAll hooks on using cucumber. On using browser in before all hooks no test is executing.
## Sample test

<details><summary>sampleTest.js</summary><p>

[code]
</p></details>

**Run with command**

[code]

### Verbose output
<details><summary>debug.log</summary><p>

[code]
{
  _: [],
  c: 'config/nightwatch.webdriver.cucumber.conf.js',
  c

[2022-02-08 08:30] gravityvi commented on #3038
`browser` object is inserted in `before` hook of cucumber due to certain reasons and how cucumber has been constructed. Can you share your use case?

[2022-02-09 08:28] chan-chandra commented on #3024
@beatfactor @gravityvi @senocular could you please check on this issue, Thank you

[2022-02-09 09:48] gravityvi commented on #3024
@chan-chandra could you try this config instead:
[code]

[2022-02-09 10:58] beatfactor commented on #2975
This is actually only a problem when using the new element() apis that were introduced in v2.

[2022-02-09 11:04] beatfactor commented on #3037
Can you also share the debug log please?

[2022-02-09 11:08] beatfactor commented on #3036
The sample case doesn't show that a url has been open so I don't know what we are taking a screenshot of.

[2022-02-09 11:10] beatfactor commented on #3024
I suggest starting with the [Quickstart Tutorial](https://nightwatchjs.org/guide/getting-started/quickstart.html) and if needed to run in headless, just pass the `--headless` argument (only works in Chrome, Edge, and Firefox).

[2022-02-09 11:10] #3024 closed

[2022-02-09 11:17] beatfactor commented on #2981
This has been addressed in v2. Please see the new Mocha runner integration: https://nightwatchjs.org/guide/third-party-runners/using-mocha.html

[2022-02-10 01:46] AlaaSayed794 opened #3041 "parallel env no longer works"
## Describe the bug
I try to call nightwatch with multiple browsers on **nightwatch 2.0.6**
It calls the test with their concatenation and with default settings

![image](https://user-images.githubusercontent.com/69066350/153321208-b17ff240-f7f4-421b-ae1b-22e38b7451ba.png)

[2022-02-10 08:09] beatfactor commented on #3041
Thanks for reporting this, we'll look into it.

[2022-02-10 16:40] Jpropel opened #3044 ".click() method not triggering vue.js watch methods when select option is changed/set"
## Describe the bug
My scenario is I have one dropdown that once selected will trigger a vue.js watch method that will then populate an adjacent dropdown, the issue is once the option is selected in the first dropdown, the selection isnt triggering the listener method at all but will work when manually setting the first drop down (like normal).

## Sample test
[code]

| `nightwatch --version` |  1

[2022-02-10 16:51] #3031 closed

[2022-02-10 20:15] MicahLC opened #3045 "[Enhancement] sendKeys should notify when you're passing in undefined"
**Is your feature request related to a problem? Please describe.**

I am porting some tests to Nightwatch 2.0, and I had a test failing that was using the `sendKeys` API. I was passing in `browser.Keys.DOWN_ARROW` as part of an array of keys, when I needed to be passing in `browser.Keys.ARROW_DOWN`

**Describe the solution you'd like**

In `sendKeys` and other similar APIs, if the user is passing

[2022-02-11 07:18] swrdfish opened #3046 "selenium fails to start if either chromedriver or geckodriver is not installed"
## Describe the bug
If either chromedriver or geckodriver is not installed, then nightwatch fails to start selenium server. Works fine if both are installed.

## Sample test
Follow the [quickstart](https://nightwatchjs.org/guide/getting-started/quickstart.html) guide to create a new nightwatch project. But instead of installing both chromedriver and geckodriver, install just chromedriver. Also mak

[2022-02-11 08:11] beatfactor commented on #3046
Seems like we just need to removed the `'webdriver.gecko.driver': '',` from the cli_args.

[2022-02-12 02:29] SDETQATestAutomation commented on #3037
Here is the console output
[code]

[2022-02-15 12:21] AlaaSayed794 opened #3049 "V2 chrome test workers no longer work"
## Describe the bug
when I run tests in parallel, only one connects and others fail with this error : Failed to connect to ChromeDriver on localhost with port 9515.

this used to work on older version

## Configuration
<details><summary>nightwatch.json</summary><p>

[code]
</p></details>

## Your Environment

| Executable | Version |
| ---: | :--- |
| `nightwatch --version` | 2.0.6 |
| `npm --vers

[2022-02-15 12:51] beatfactor commented on #3049
what's the OS?

[2022-02-15 19:24] AlaaSayed794 commented on #3049
Windows 10

[2022-02-16 10:07] smirolo opened #3050 "version 2.0.7 forces definition of package.json in current directory"
After upgrading nightwatch from version 1.7.1 to 2.0.7, the command line fails with:

[code]

Looking through the code, the exception is coming from [getLocalConfigFileName](https://github.com/nightwatchjs/nightwatch/blob/cfdea8c49bbd95d46b9710641111471b20d255a9/lib/runner/cli/cli.js#L185)

[code]

It seems that `usingESM` could default to `false` and the exception caught accordingly. Something li

[2022-02-16 13:08] chrisvanrun commented on #3049
Possibly duplicate of:
- https://github.com/nightwatchjs/nightwatch/issues/3028

[2022-02-16 14:51] beatfactor commented on #3050
Yes, you are correct, this is an easy fix. Thanks for raising it.

[2022-02-16 19:47] chrisvanrun commented on #2872
I have encountered this using a nested `waitUtil()` call within an async perform. Making the test case asynchronous (on the `describe(...)` call / `it(...)` call)  made no difference. The weird thing is that it was halfway through the tests that it started to fail.

[2022-02-16 19:57] chrisvanrun opened #3051 "WebDriver connection issues do not make tests fail"
## Describe the bug
I have the following in the verbose run of a test:
[code]

However, the test continues running eventually reporting:
[code]

This is from a run using `--parallel`, driving ChromeDriver via the SeleniumWebdriver.

Using env:
[code]

<details><summary>nighwatch.conf.js</summary><p>

[code]
</p></details>

As to why this error occurs in the first place, that is a whole different s

[2022-02-16 23:29] cameronscottseequent opened #3052 "Running nightwatch with selenium-server-4.1.2.jar"
Trying to run nightwatch with selenium-server-4.1.2.jar. it seems there are no "standalone" versions of the newer servers.

Selenium versions can be found here
https://selenium-release.storage.googleapis.com/index.html
and on their website
https://www.selenium.dev/downloads/

The following url https://www.selenium.dev/documentation/grid/getting_started/
states that you can run the latest version o

[2022-02-17 03:59] apis3445 opened #3053 "[Enhancement] Network request"
**Is your feature request related to a problem? Please describe.**
Selenium 4 includes network request, so tihs will be included in nightwatch to? sometimes I want to mock the response or change the response of the request, or modify all the requests.

**Describe the solution you'd like**
I would like some methods to intercept and modify the requests

[2022-02-17 08:13] chrisvanrun opened #3054 "calling attributeContains() results in ECONNREFUSED for --parallel"
## Describe the bug

When using `--parallel` in combination with a `assert.attributeContains()` call results in _ECONNREFUSED_:
[code]
This is likely the case for any call that hits the `attribute/class` end-point and possibly also for the `../keys` end-point.

## Workaround
Workaround would be to design a class-targeting selector and using `assert.elementPresent()` or `waitForElementPresent()`.

[2022-02-17 14:16] chriscuba23 opened #3055 "Ecosia.js test cannot run with existing nightwatch.conf.js on Nightwatch version 2.0.7"
## Describe the bug

After upgrading from version 1.7.13 to 2.0.7 and without any change to my configuration file I tried to run the demo test that you have

Reproduce steps: upgrade to version 2.0.7, create an ecosia.js file and run it

## Sample test

<details><summary>ecosia.js</summary><p>

[code]
</p></details>

**Run with command**

[code]

### Verbose output
<details><summary>debug.log</sum

[2022-02-17 15:14] beatfactor commented on #3055
Are there any selenium or chromedriver logs being created?

[2022-02-17 15:20] chriscuba23 commented on #3055
@beatfactor yes but I don't think they can help much

[2022-02-17 15:52] beatfactor commented on #3055
can you try a few things please?
- try running with `npx nightwatch -e chrome ecosia.js --verbose`
- check what the exit code is (I think you have to do something like `echo Exit Code is %errorlevel%`)

[2022-02-17 22:56] JLee-Payit commented on #3018
I just started seeing this issue, can you elaborate on how it was fixed?  I am seeing it with nightwatch 2.0.7

[2022-02-17 23:08] NorseGaud commented on #3018
Hey @JLee-Payit , I brought in all of the deps from https://github.com/nightwatchjs-community/todo-vue and refactored anything else in the example repo to fit into my project

[2022-02-18 09:54] chriscuba23 commented on #3055
this error occured for npx nightwatch -e chrome ecosia.js --verbose
![image](https://user-images.githubusercontent.com/34232960/154658976-eba1033d-9a91-495b-80b3-0e91f310e2c7.png)

[2022-02-18 11:54] #2984 closed

[2022-02-18 11:54] beatfactor commented on #3055
well it looks like you're trying to run nightwatch using a custom script which no longer works. Do you have a nightwatch.js file in your project and if so can you paste the contents here?

[2022-02-18 12:46] chriscuba23 commented on #3055
of course

[2022-02-19 14:48] beatfactor commented on #3053
Yeah, you already have access to all the CDP apis via the `browser.chrome` namespace. See [Using Chrome DevTools protocol](https://nightwatchjs.org/api/commands/#using-chrome-devtools-protocol)

[2022-02-19 14:50] beatfactor commented on #3051
You can try with setting the `report_command_errors` to `true` in your config. To view all the available settings and their default values you can check https://nightwatchjs.org/guide/configuration/defaults.html

[2022-02-19 15:12] beatfactor commented on #3052
Should work fine. Are there any errors showing up in the selenium.log file? We also have a [blog post](https://nightwatchjs.org/blog/cross-browser-testing-at-scale-with-nightwatch-and-selenium-grid/) on how to use the Selenium Grid with Nightwatch.

[2022-02-19 22:24] beatfactor commented on #3052
There are some issues it seems when you try to start the selenium server from nightwatch. We'll post a fix soon.

[2022-02-21 18:57] harshit-bs commented on #2952
@awulkan This seems to be a chromedriver issue. I propose using **--start-fullscreen** or **--kiosk** instead of **start-maximized** because these arguments work for me.

[2022-02-21 20:58] #3052 closed

[2022-02-21 22:46] #3050 closed

[2022-02-21 22:46] #3055 closed

[2022-02-22 07:41] gravityvi opened #3058 "Add test for Expect APIs"
We need to add test for `expect()` apis using element commands.

- There is one test added for `expect(element.property)` [here](https://github.com/nightwatchjs/nightwatch/blob/main/test/src/api/expect-global/testElementProperty.js)
- Rest of the tests should be on similar lines using other element commands.
- List of element commands that can be used: https://nightwatchjs.org/api/element/#api-com

[2022-02-22 07:45] gravityvi commented on #3054
can you mention the Nightwatch version you are using?

[2022-02-22 09:06] chrisvanrun commented on #3054
Oh, my bad. Thought it was part of the environment print.

It is the latest to date: 2.0.7

Also added to OP.

[2022-02-23 09:34] wkleong23 opened #3060 "[2.0.7] Not able to run when test file name contains []"
## Describe the bug

When a test file contains the character [] (e.g. [1234]-SampleTest.js), nightwatch is not able to run and will throw the following error:
[code]
Remove the [] from the filename will work.
The filename with [] was working in nightwatch v1.

**Run with command**

[code]

## Your Environment

| Executable | Version |
| ---: | :--- |
| `nightwatch --version` | 2.0.7|
| `npm --vers

[2022-02-23 22:35] #3054 closed

[2022-02-24 10:02] aakash3771 opened #3062 "Unable to run firefox in headless mode"
## Describe the bug

[code]
</p></details>

## Your Environment

| Executable | Version |
| ---: | :--- |
| `nightwatch --version` | 2.0.5 |
| `npm --version`  | 6 |
| `node --version` | 14 |

| Browser driver | Version |
| --- | --- |
| NAME | VERSION |

| OS | Version |
| --- | --- |
| NAME | VERSION |

[2022-02-24 10:27] aakash3771 commented on #3033
Same issue is with elements() too

[2022-02-24 19:14] kretschmannj opened #3063 "getAttribute is failing in Nightwatch v2.0 when the element has no value attribute"
I'm using getAttribute to retrieve the 'value' for an element and it's returning null rather than '' when the element has no value.

I could probably come up with an easier test case but I'm specifically testing the Reason For Contact dropdown on this page ... https://mahp.magellanrx.com/provider/contractrequest

In Nightwatch v1.7 this was returning ''.  Now in Nightwatch v2.0 it's returning null

[2022-02-24 19:30] kretschmannj opened #3064 "setValue is not working in Nightwatch v2.0"
I'm using setValue to to attempt to set the value for an element and it's returning this error ...

`Error while running .setElementValue() protocol action: Unable to clear element that cannot be edited: <select id="01selReason" class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" name="selReason">`

I could probably come up with an easier test case but I'm specifi

[2022-02-24 20:08] beatfactor commented on #3064
use .sendKeys() until we add a fix. the only difference is that setValue clears the element before.

[2022-02-24 20:10] beatfactor commented on #3063
which browser?

[2022-02-24 21:07] kretschmannj commented on #3063
Firefox v97.0 on Windows

[2022-02-24 22:19] kretschmannj opened #3067 "urlMatches assertion is not documented"
The new (in v2.0) urlMatches assertion is not documented on the https://nightwatchjs.org/api/assert page.

[2022-02-24 23:09] kretschmannj opened #3068 "Keys.UP_ARROW no longer works in Nightwatch 2.0"
Not so much a bug as an observation ... it looks like Keys.UP_ARROW has been replaced by Keys.ARROW_UP in Nightwatch v2.0.

[2022-02-25 09:18] beatfactor commented on #3067
Yeah, it's going to be documented soon.

[2022-02-27 23:33] sourav-ghosh-ip opened #3072 "Wait until not working when a textbox value gets auto generated depending upon another textbox value"
## Describe the bug

<details><summary>sampleTest.js</summary><p>

[code]
</p></details>

**Run with command**

[code]

### Verbose output
<details><summary>debug.log</summary><p>

[code]
</p></details>

## Configuration
<details><summary>nightwatch.json</summary><p>

[code]
</p></details>

## Your Environment

| Executable | Version |
| ---: | :--- |
| `nightwatch --version` | VERSION |
| `npm --

[2022-02-28 08:29] irealsourav commented on #3072
help required ASAP

[2022-02-28 12:24] alv131 commented on #3053
Hi. I just tried the provided example

[code]
and get the following error:
[code]
and stack trace:
[code]

[2022-02-28 12:43] beatfactor commented on #3053
@alv131 will be fixed soon, thanks for reporting the issue.

[2022-02-28 12:50] beatfactor opened #3074 "TypeError during loading of chrome CDP commands"
See https://github.com/nightwatchjs/nightwatch/issues/3053#issuecomment-1054204453

[2022-02-28 12:58] beatfactor opened #3075 "unhandledRejection when assertion fails while in async mode and if followed by other commands"
## Describe the bug
Due to command chaining in `async/await` mode if an assertion fails and it happens that there are other commands/assertions in the same chain, the promise being rejected is no longer the current one and then an unhandledRejection is being thrown.

The consequence is that the test execution is being aborted and the rest of the test suites are skipped, irrespective of the `fail-f

[2022-02-28 18:16] #3075 closed

[2022-02-28 18:16] #3074 closed

[2022-03-01 07:27] gravityvi opened #3076 "[Enhancement] Refactor Mocks for tests"
After we upgrade to selenium v4.1.1 all of the old mocks that use JWP are no longer needed as we can see from this PR: https://github.com/nightwatchjs/nightwatch/pull/2995. We can move all the mocks used in a single file Instead of having multiple locations where mocks are declared or being used.

[2022-03-01 07:50] alv131 opened #3077 "[2.0.8] It worked with 2.0.7, it doesn't work anymore"
Hi. The following piece of code worked with 2.0.7 but doesn't work anymore

[code]
The error:
[code]

[2022-03-01 09:20] beatfactor commented on #3077
what is the context? can you provide a sample test on how is this being used?

[2022-03-01 11:11] alv131 commented on #3077
[s4yh5.zip](https://github.com/nightwatchjs/nightwatch/files/8161104/s4yh5.zip)
Here's a sample that you can use.

[2022-03-01 12:06] beatfactor commented on #3077
We have a process for submitting bug reports. Can you please follow [this template](https://github.com/nightwatchjs/nightwatch/blob/main/.github/ISSUE_TEMPLATE/bug_report.md)?

[2022-03-01 14:13] alv131 commented on #3077
## Describe the bug
Existing code that works with Nightwatch-2.0.7 doesn't work anymore with Nightwatch-2.0.8 (the latest version at the moment). The only change done to the existing code was just the Nightwatch's version.

## Sample test

<details><summary>e2e/globals.js</summary><p>

[code]
</p></details>

<details><summary>e2e/page_objects/helper.js</summary><p>

[code]
</p></details>

<details

[2022-03-01 16:14] s-kugan opened #3079 "Latest Night-watch versions (2.0.7 and 2.0.8) are not setting the value if its a dropdown As it was setting the value in Nightwatch 1.7.8"
## Describe the bug
I am using nigh-watch version 1.7.8.  I've a test that selects a value in dropdown using `setValue`  command. which works fine without any issue. Recently I've updated my test to `night-watch 2.0.7`.  after that It is not selecting the value from the drop-down box.

This is how element is defined in the page object and this element has option tag with the value.
[code]

[code]

[2022-03-01 18:26] #3077 closed

[2022-03-02 20:24] s-kugan opened #3081 "Test ends and unhandled rejection occurs in the expect assertion when the element is not present"
## Describe the bug
**Test ends and unhandled rejection occurs** in the expect assertion when the element is not present and even if the element is defined with abortOnFailure as false in page object. **The same test worked fine with-out any issue in night-watch version 1.7.8.**

[code]

[code]

[code]
### Verbose output

<details>

[code]
</details>

## Your Environment

| Executable | Version |

[2022-03-02 20:40] beatfactor commented on #3081
Is myAccountTest a page object or section? Can you post the test that's generating this log?

[2022-03-02 20:46] s-kugan commented on #3081
It is the page object

[2022-03-02 20:48] s-kugan commented on #3081
[code]

[2022-03-03 11:02] luke-btn opened #3085 "waitForElementVisible() failures does not fail the cucumber js steps"
## Describe the bug
When running nightwatch 2 with the inbuilt cucumberjs runner using the same setup as defined in [nightwatchjs/cucumberjs-boilerplate](https://github.com/nightwatchjs/cucumberjs-boilerplate), if you are using the `waitForElementVisible()` function on the browser, and the assertion fails, you can see the failure on the cli output, but the cucumber js runner does not pick this up

[2022-03-03 11:21] ghanshyamspearline opened #3086 "RangeError: Maximum call stack size exceeded with Docker implementation"
## RangeError: Maximum call stack size exceeded

I'm trying to get the Nightwatch script running inside docker. I've prepared a script in my dev machine and I'm able to run it. But it's not working in the docker setup.

It's a throwing error as described below.

Starting ChromeDriver 96.0.4664.45 (76e4c1bb2ab4671b8beba3444e61c0f17584b2fc-refs/branch-heads/4664@{#947}) on port 9515
Only local conne

[2022-03-04 07:53] beatfactor commented on #3085
How about if you use `async/await`, like:
[code]

[2022-03-04 07:57] beatfactor commented on #3086
Thanks for your report but we need a bit more info in order to look into this. Can you please try and fill in the [bug report template](https://github.com/nightwatchjs/nightwatch/blob/main/.github/ISSUE_TEMPLATE/bug_report.md)?

[2022-03-04 08:15] ghanshyamspearline commented on #3086
Thanks for the response.

## Sample test

<details><summary>sampleTest.js</summary><p>

[code]
</p></details>

**Run with command**

[code]

### Verbose output
<details><summary>debug.log</summary><p>

[code]
</p></details>

## Configuration
<details><summary>nightwatch.json</summary><p>

[code]
</p></details>

## Your Environment

| Executable | Version |
| ---: | :--- |
| `nightwatch --version`

[2022-03-04 12:30] luke-btn commented on #3085
@beatfactor thanks for the suggestion, I've just tried this as well, but the cucumber step is still passing when it should be failing even when using the async method.  It looks like Nightwatch itself bails out correctly, but is not reporting the failure to CucumberJS

[2022-03-04 13:25] beatfactor commented on #3085
Yes, that's right. We need to make sure the failure is reported correctly, so we'll need to send a patch release soon but in the meantime I guess you have a workaround? Using either .assert.visible() or expect.element().to.be.visible would be pretty much the same thing.

[2022-03-04 21:08] beatfactor commented on #3081
The `unhandledRejection` here is caused by the lack of `await` in front of `this.myAccountTest.expect`. This is required in Nightwatch 2 in order to improve compatibility with other libraries.

[2022-03-04 21:08] #3081 closed

[2022-03-06 17:46] rahulb3521 commented on #2174
Thank you this workaround was very useful

[2022-03-07 14:26] #3064 closed

[2022-03-07 14:26] #3079 closed

[2022-03-08 21:18] AutomatedTester opened #3091 ".getLocationInView() is returning 'unknown command: Cannot call non W3C standard command while in W3C mode'"
## Describe the bug
When calling `getLocationInView()` in W3C mode it returns `'unknown command: Cannot call non W3C standard command while in W3C mode'`

## Sample test
Details in https://discord.com/channels/618399631038218240/935468415731253258/950846771926564905

### Verbose output
<details><summary>debug.log</summary><p>

[code]
</p></details>

## Configuration
<details><summary>nightwatch.js

[2022-03-08 21:53] qa-danny commented on #3091
`await this.getLocationInView('@addButton');`

Verbose Output:

[code]

Configuration:

[code]

[2022-03-09 22:10] hpavanatti opened #3092 "Custom command dosen't fail cucumber"
## Describe the bug

I'm migrating from 1.7(with cucumber) and trying to create a custom command that wait element with a text using EventEmitter, but when the element is not found, i cant make Cucumber emit a error and stop the automation, i tried return the error or use this.emit in the complete function...

## Sample test

<details><summary>waitForElementPresentWithText.js</summary><p>

[code]

[2022-03-10 19:21] hpavanatti commented on #3092
i think https://github.com/nightwatchjs/nightwatch/pull/3095 will solve this

[2022-03-10 20:38] hpavanatti commented on #3092
Tested changing the local and worked.

[2022-03-10 20:38] #3092 closed

[2022-03-10 22:37] mdeclercq-ukg opened #3096 "Request redirection uses 127.0.0.1 instead of server host when location header is relative"
## Describe the bug

When launching a test on Saucelabs, if the maximum number of sessions is already reached, the test is put in a queue.
In such a case, the request on `/wd/hub/session` responds with a status `303` and the headers:
[code]
Notice that the location header is a **relative url**, it does not contain the hostname.

#### The problem
Instead of sending the next request to the Saucelabs

[2022-03-11 23:59] chris-jackson-actionqa commented on #1363
@Topperfalkon , I've been struggling to set up a proxy.  I'm using http-proxy, and I can successfully intercept "http" requests, but not "https" requests.  I'm simply trying to add custom headers to get access through Cloudflare.

Cypress and Puppeteer allow setting custom headers.

Does anyone know how to successfully set up a proxy that can allow Nightwatch access through Cloudflare?  (maybe I s

[2022-03-12 00:16] Topperfalkon commented on #1363
There may be some options depending on what you're trying to do with Cloudflare. I would look at some of the threads on their community forums ([like this one](https://community.cloudflare.com/t/cloudflare-and-selenium-chromium/268250/15)).

I'd also try bypassing Cloudflare entirely and sending requests to the origin server directly. One of the main features of Cloudflare is countering bot attack

[2022-03-12 05:33] kmahata opened #3097 "not able to find frame with nightwatch v2"
## Describe the bug
We are using nightwatch 1.7.12 and didnt face any issues in selecting frames. While running some tests with v2 we are noticing frame is throwing error. Tried to reproduce the issue with different test demo site which has iframe
[code]
## Sample test

[code]

BROWSER - chrome 98

// Please add the sample test here

</p></details>

**Run with command**

[code]

[code]

## Configu

[2022-03-14 06:10] vaibhavsingh97 opened #3098 "[Typescript Typings Enhancement] Component testing types, and Element Api commands"
The issue needs fixes:

- [ ] Component testing arguments
- [ ] Return type of element Commands
- [ ] Tests for component testing

[2022-03-14 06:10] vaibhavsingh97 commented on #3098
PR: https://github.com/DefinitelyTyped/DefinitelyTyped/pull/59092 fixed the above issue

[2022-03-14 06:10] #3098 closed

[2022-03-14 06:14] vaibhavsingh97 commented on #3097
@kmahata Thanks for raising the issue, but in order to triage the issue, can you please reformat the issue.
Please visit https://docs.github.com/en/get-started/writing-on-github/working-with-advanced-formatting/creating-and-highlighting-code-blocks for more information on how to format code blocks

[2022-03-14 07:04] aakash3771 opened #3099 "UnknownCommandError: Unrecognized command: actions"
## Describe the bug
test fails at the line where actions is declared and defined.
const actions = await browser.actions({ async: true }); or  const actions = browser.actions({ async: true });
when I console.log the above statement, I get below log:
`actions Actions {
  executor_: Driver {
    session_: Promise { [Session] },
    executor_: Executor { w3c: false, customCommands_: [Map], log_: [Logg

[2022-03-14 08:01] vaibhavsingh97 opened #3100 "[Typescript Typings Enhancement] Types for BDD testing"
`@types/nightwatch` doesn't currently support the types for BDD testing [nightwatchjs.org/guide/using-nightwatch/using-bdd-describe.html](https://nightwatchjs.org/guide/using-nightwatch/using-bdd-describe.html) (describe, it, test etc).

There is an existing issue open in Definitely Typed Project: https://github.com/DefinitelyTyped/DefinitelyTyped/issues/51549

[2022-03-14 17:16] chris-jackson-actionqa commented on #1363
Thanks for the pointer.  I'll check out their forums more.

I'm not sure IP whitelisting would work very well since we're running tests via CircleCI.  I think whitelisting IP addresses is the only way to talk to the origin server directly.

I'll keep looking at that option, though.  I'm totally open to alternatives to proxies.

[2022-03-14 19:33] NorseGaud commented on #3099
Same here

[code]

[2022-03-15 09:36] AutomatedTester commented on #3045
this might be better fixed in Selenium. Command is in https://github.com/SeleniumHQ/selenium/blob/trunk/javascript/node/selenium-webdriver/lib/webdriver.js#L2521-L2561

[2022-03-15 10:53] Dikshita25 commented on #3037
@beatfactor : Is there any update on the above issue? I'm also facing the same issue, when trying to run my tests in parallel mode via CLI
test command: `npm run nightwatch --parallel 2`

Below is the `nightwatch.conf.js` :

[code]

And the output is as below :
[code]

**Note**: Things works as fine, when I don't pass `--parallel 2` in the test command.

[2022-03-15 14:04] NorseGaud commented on #3099
Even happens with moveToElement

[code]

[2022-03-15 15:43] SDETQATestAutomation commented on #3097
I was just trying and got the working solution.
[code]

[2022-03-16 00:41] ravi005e opened #3101 "need help with file_format option"
please see screenshot
![Screen Shot](https://user-images.githubusercontent.com/29851236/158494617-b3a2dacf-6897-4db0-b2d7-2a093cf52e53.jpg)

wasn't needed in js configuration, just typescript def

[2022-03-16 07:42] Dikshita25 opened #3102 "All features are executed with a single step-definition file when running in parallel mode"
## Describe the bug

Hi Team,
I tried setting up NightwatchJS v2 (latest : ^2.0.10) using cucumber as a test runner (which is now inbuilt with v2). I have 2 features files, respective step-definitions and page_object files.
When i try running the test without parallel command and it works as fine. As soon as i try attaching `--parallel 2` to the command (inorder to execute the tests parallelly on

[2022-03-16 10:49] Dikshita25 commented on #3102
Hi Team,

I tried lowering the Nightwatch version to `^2.0.7` & the parallel execution is working fine.I believe the issue is with Nightwatch version `2.0.10`.

Hoping the issue will be resolved soon :)

[2022-03-16 13:05] garg3133 opened #3105 "No error while running selenium-server locally without installing Java first."
## Describe the bug
Nightwatch does not throw any error while running selenium-server locally if Java is not installed on the system.

<img width="607" alt="image" src="https://user-images.githubusercontent.com/39924567/158595443-fb8b9970-12ce-4b1f-bdef-ee60180b0f18.png">

## Sample test

<details><summary>sampleTest.js</summary><p>

[code]
</p></details>

**Run with command**

[code]

### Verbose

[2022-03-16 22:38] Topperfalkon opened #3106 "[Enhancement] Support for passing index values for sections when chaining a command or assertion"
**Is your feature request related to a problem? Please describe.**

I have a scenario where I have defined a type of element as a page object section, of which multiple may appear on the page. I want to be able to vary between test cases which instance of this setionI'm targeting, and then use page object element to select a given element from that instance of the section.

**Describe the solution

[2022-03-16 23:52] chris-jackson-actionqa commented on #1363
Bam!  Solution!  The new Nightwatch supports talking to Chrome devtools.  So the following works for bypassing cloudflare.  Note:  Need to call 'Network.enable' first or setExtraHTTPHeaders won't work.

[code]

[2022-03-20 07:54] vaibhavsingh97 opened #3108 "[Typescript Typings Enhancement] Add missing protocols/commands"
Below is the list of protocols and commands which are missing in `@types/nightwatch`.

## Protocols
- [x] 	elementIdDoubleClick
- [x] 	elementIdProperty
- [x] 	executeAsyncScript
- [x] 	fullscreenWindow
- [x] 	getCurrentUrl
- [x] 	minimizeWindow
- [x] 	navigateTo
- [x] 	openNewWindow
- [x] 	quit
- [x] 	releaseMouseButton
- [x] 	switchToWindow
- [x] 	waitUntil

## Element Commands
- [x] 	clickAndHo

[2022-03-22 11:17] suraj007118 opened #3109 "NW V2.0.X not working on AWS code build with ubrantu image"
## Describe the bug

<details><summary>sampleTest.js</summary><p>

[code]
</p></details>

**Run with command**

"npm run $DeploymentEnvironment-contentStack"
e.g
npm run UAT-contentStack.

### Verbose output
<details><summary>debug.log</summary><p>

[code]
</p></details>

## Configuration
<details><summary>nightwatch.json</summary><p>

const env = process.env.npm_lifecycle_event;

const userData =

[2022-03-22 14:53] irealsourav opened #3110 "(node:18440) MaxListenersExceededWarning: Possible EventEmitter memory leak detected. 11 error listeners added to [CommandLoader]. Use emitter.setMaxListeners() to increase limit"
## Describe the bug

Most of the time I am using ensure.elementIsLocated method and  I am getting the above error. I am also using ensure methods throughtout my code.
I have updated the code section. I created some custom command and inside that I put all ensure related methods such as this.ensure . After that I used these custom commands in the test files using browser.fileName()
## Sample test

[2022-03-22 16:39] beatfactor commented on #3109
Can you please format the settings code properly?

[2022-03-22 17:08] AlaaSayed794 opened #3111 "maximum"
## Describe the bug

I get this error when I'm running tests sequentially (test workers are not enabled) but they run fine in parallel
`RangeError: Maximum call stack size exceeded
       at compileFunction (<anonymous>)
       at Object.compileFunction (node:vm:352:18)
       at wrapSafe (node:internal/modules/cjs/loader:1032:15)
       at Module._compile (node:internal/modules/cjs/loader:1067:27

[2022-03-22 18:19] kretschmannj opened #3112 "Nightwatch test failing after closeWindow command"
Nightwatch 1.7.13
Geckodriver 3.0.1
Selenium-Server 3.141.59
Firefox 91.6.0esr
Operating System: Red Hat Enterprise Linux Server 7.9
Kernel: Linux 3.10.0-1160.59.1.el7.x86_64
Architecture: x86-64

I have a test that clicks on a link that opens in a new tab.  I have code that switches to the new tab, verifies the URL, closes the tab and then switches back to the original tab.  This code has been wo

[2022-03-22 23:02] kretschmannj commented on #3112
After a day of debugging and gathering logs I have identified the issue.  I'm using a package called nightwatch-xhr ([https://github.com/cortexmg/nightwatch-xhr](https://github.com/cortexmg/nightwatch-xhr)) and it looks like there is a function called clientPoll that is still running when the session is removed and that is, in turn, triggering the above error(s).  Here is the tail-end of the verbo

[2022-03-23 14:42] KasiaRydy opened #3113 "Running tests parallel is not efficient"
After completing one test, the other doesn't start. If I run tests with 4 workers, all 4 must be completed to start the next 4. I expect that after finishing one test, the next one start running immediately.

## Configuration

Run config:
run test:feature <test_path> -- --parallel --workers 6

<details><summary>nightwatch.json</summary><p>

[code]
</p></details>

## Your Environment

Nightwatch v1

[2022-03-23 21:36] AutomatedTester commented on #3111
Duplicate of #3086

[2022-03-23 21:36] #3111 closed

[2022-03-24 06:11] harshit-bs commented on #3063
@kretschmannj IMO ideally it should return null rather than empty string. So while debugging, I noticed that this is a chromedriver issue which is returning empty string. And we have submitted a bug against it.
https://bugs.chromium.org/p/chromedriver/issues/detail?id=4069

Ref : https://www.w3.org/TR/webdriver/#get-element-attribute

[2022-03-24 07:12] mil7 commented on #2951
I stumble over the same issue. Sound quite similar to this observation: https://svdoscience.com/2021-03-17/fix-session-deleted-page-crash-selenium-grid-chrome-docker

[2022-03-24 08:44] gravityvi commented on #2951
can you try using `w3c:true` in nightwatch config?

[2022-03-24 14:44] #3085 closed

[2022-03-24 19:52] #1824 closed

[2022-03-25 06:52] vaibhavsingh97 commented on #3110
@irealsourav can you please fill the issue template, with the examples and logs

[2022-03-25 07:31] vaibhavsingh97 opened #3117 "Nightwatch cli don't honor `output_folder` argument"
## Describe the bug
By default, the location where the JUnit XML report files will be saved is `tests_output`, but when the user want to change the output_folder via CLI argument i.e `--output_folder`, then it's not working

**Run with command**

[code]

## Your Environment

| Executable | Version |
| ---: | :--- |
| `nightwatch --version` | 2.0.10 |
| `npm --version`  | 8.1.2 |
| `node --version`

[2022-03-25 09:28] swrdfish opened #3119 "[Enhancement] provide better way to control number of retries."
**Is your feature request related to a problem? Please describe.**
The `waitForConditionTimeout` and `waitForConditionPollInterval` can be used to limit the maximum number of retries, but they do not ensure a minimum number of retries as the test duration fluctuates with every run. We can get around this by increasing the timeout but in that case the number of retries becomes un-predictable.

**De

[2022-03-25 13:23] irealsourav commented on #3110
Added information ,please check

[2022-03-25 13:53] irealsourav commented on #2975
It is not working with elements described via xpaths as well in v2

[2022-03-25 21:01] #3001 closed

[2022-03-28 08:49] harshit-bs commented on #3112
@kretschmannj can you please fill the issue template, with the examples and config.

[2022-03-28 12:43] suraj007118 commented on #3109
@beatfactor Not sure what you mean by 'format settings code property'.
Can you please elaborate?
Are you referrring to lines of code in my nightwatch.conf.js under attribute "test_settings"?

[2022-03-28 15:23] swrdfish commented on #3109
@suraj007118 in the issue description, the configuration part came as plain text, and is very hard to read.
Can you please edit your description and format that part as code?

[2022-03-29 11:23] suraj007118 commented on #3109
@swrdfish  Hi,
How can I  format that part as code?
I tried attachnig nightwatch.conf.js file but that type is not supported.

[2022-03-29 15:14] pholland-hbc opened #3122 ".setValue and .elements commands are not working in NW2 which were working in NW1.7"
### Discussed in https://github.com/nightwatchjs/nightwatch/discussions/3107

<div type='discussions-op-text'>

<sup>Originally posted by **pholland-hbc** March 18, 2022</sup>
I am porting some code from NW1.7 to NW2.0.10 (latest release as of this post, to my knowledge). I have seen that there are some browser commands that do not appear to be working - or at least are working differently between

[2022-03-31 10:01] PawelK2012 commented on #2975
I see the same error with nightwatch 2.0.10 when I try

`browser.expect.element('#elemenetID').to.not.be.present;`

Error:

`Expected element <#elemenetID> to not be present - element was not found - expected "not present" but got: "error while locating the element"`

I can see on screen shot that DOM element with  `#elemenetID` is not visible.

[2022-04-01 04:48] chris-jackson-actionqa opened #3124 "multiple command shells launching and covering browser when launching Chrome on Windows"
## Describe the bug

When I run a test, multiple command prompts for chrome.exe popup and cover the browser.

## Sample test

<details><summary>sampleTest.js</summary><p>

[code]
</p></details>

**Run with command**

[code]

### Verbose output
<details><summary>debug.log</summary><p>

[code]
</p></details>

## Configuration
<details><summary>nightwatch.json</summary><p>

[code]
</p></details>

##

[2022-04-01 05:37] chris-jackson-actionqa commented on #3124
I just went back in time and installed Nightwatch v1.7.3.  I had to re-install chromedriver.  Then it worked as expected without all the command shell popups.

[2022-04-01 16:18] vaibhavsingh97 commented on #3100
PR is merged, closing

[2022-04-01 16:18] #3100 closed

[2022-04-01 18:47] kretschmannj opened #3127 "results object 'skipped' count is incorrect"
The result object that gets passed to the reporter does not contain the correct 'skipped' count.  I have a simple test for this ...
[code]
... and my globals.js ...
[code]
The XML output file after I run the test shows skipped=2 ...
![image](https://user-images.githubusercontent.com/63016258/161323441-16d14518-d040-4d43-a67f-b0fd6d037127.png)
... but the results object shows skipped: 0 and skipped

[2022-04-01 19:10] #3086 closed

[2022-04-01 20:20] #3124 closed

[2022-04-03 22:16] Sagie501 opened #3129 "setValue with emoji as value"
## Describe the bug
When I'm trying to set value of input or textarea with emoji as the value I'm getting 400 - Bad Request error.
The specific error:
 ``Error while running .setElementValue() protocol action: An unknown error has occurred 400 Bad Request``
My code look something like that:
``browser.setValue('#my-textarea', '😁')``

## Configuration
<details><summary>nightwatch.json</summary><p>

[2022-04-04 00:53] hpavanatti commented on #3036
Also encountered this problem，any news？

[2022-04-04 05:20] aakash3771 commented on #3110
I have seen this but only when I am running all the tests together

[2022-04-04 09:59] gravityvi commented on #3129
I think this webdriver issue. But could you also attach Nightwatch verbose logs

[2022-04-04 23:33] Sagie501 commented on #3129
Hope this will be more helpful.
![image](https://user-images.githubusercontent.com/22397214/161649132-0bd2fd96-6302-47b0-9e2d-ea3c4032ab25.png)

[2022-04-04 23:34] Sagie501 commented on #3129
Hope this will be more helpful.
![image](https://user-images.githubusercontent.com/22397214/161649212-7c489c58-48f0-4e44-9466-619095af9141.png)

[2022-04-05 04:24] AlaaSayed794 opened #3131 "running tests in parallel creates a very bad logging"
## Describe the bug
when I run tests in parallel the console has test names overlapping and also there are weird squares logging after the test using v2.0.10 which were not there when I used to use v2.0.5

### Verbose output
<details><summary>debug.log</summary><p>

[code]
</p></details>

## Your Environment

| Executable | Version |
| ---: | :--- |
| `nightwatch --version` | 2.0.10 |
| `npm --ver

[2022-04-05 04:40] beckyhu commented on #2975
This doesn't work with nightwatch 2.0.10.

[2022-04-05 04:45] beckyhu commented on #2975
I got the same error with 2.0.10 by pass the selector directly:
expect.element('#not-to-be-found').to.not.be.present;
The same code works fine with 1.x.
@beatfactor

[2022-04-05 10:22] gravityvi opened #3132 "[Enhancement] Report Test-status to Browserstack when using cucumber runner"
## Describe the bug
Right now, the test scenario remains unmarked in Browserstack while using cucumber-runner in Nightwatch.

## Proposed Solution
<img width="1198" alt="Screenshot 2022-04-05 at 3 45 34 PM" src="https://user-images.githubusercontent.com/28780767/161733097-8ee320da-ac59-4051-9cfc-c0544cd2540f.png">

 The scenarios should be marked as passed or failed status and Nightwatch should al

[2022-04-05 13:35] beatfactor commented on #3131
Can you post your config as well?

[2022-04-05 13:39] #3117 closed

[2022-04-05 14:53] reallymello opened #3134 "[Enhancement] Don't clear this.api.sessionId on .end()--or allow it to be configurable"
**Is your feature request related to a problem? Please describe.**
When calling the API for my cloud testing provider to update the testing job they require the browser's sessionId. In versions of Nightwatch < 2.0 I could access this from browser.capabilities['webdriver.remote.sessionid'] before or after the browser was closed with .end()

In versions of Nightwatch >= 2.0 the webdriver.remote.sess

[2022-04-05 15:02] AlaaSayed794 commented on #3131
@beatfactor this issue occurs when running tests in parallel

I could use your selenium version, but we also run tests on browserstack and I have the same weird logs there

[code]

[2022-04-05 19:08] beatfactor commented on #3131
Ok, try setting `live_output` to `false`. That should make it better I think.

[2022-04-06 08:40] yaobao1993 opened #3136 "Custom command not executed within Global beforeEach"
## Describe the bug

I wrote a custom command, seems it can not get executed within Global beforeEach with 2.0.10. (works fine with 1.7.12)

I tried:
- global beforeEach hook (not working)
- before hook within describe (not working)
- global afterEach hook (works fine)
- within test (works fine)

## Custom Command
[code]

## Sample test

<details><summary>sampleTest.js</summary><p>

[code]
</p></d

[2022-04-06 08:41] yaobao1993 commented on #3136
I think this might relates to: https://github.com/nightwatchjs/nightwatch/issues/2980

[2022-04-06 10:36] AlaaSayed794 commented on #3131
I don't think this solves the issue.
I'm reporting a bug that the logging in the live output doesn't look good and you're telling me to just turn it off.

[2022-04-06 10:53] sarahRaafat15 opened #3137 "Nightwatch Assert Error Stop test execution"
After an expect element to contain text assertion failed, nightwatch assert error was thrown and it stopped the rest of test execution, also the results object 's modules was empty.

![NightwatchAssertError](https://user-images.githubusercontent.com/30059801/161959203-a7f9f69d-26f1-48cb-9730-f9fd2aaf579d.PNG)
![NightwatchAssertError2](https://user-images.githubusercontent.com/30059801/161959209-7f

[2022-04-06 10:55] #3137 closed

[2022-04-06 10:55] sarahRaafat15 commented on #3137
Will report it as bug

[2022-04-06 11:03] #2998 closed

[2022-04-06 12:02] sarahRaafat15 opened #3138 "Unhandled rejection while using expect assertions in an async test step"
## Describe the bug

After an expect element to contain text assertion fails in an async step, test stops the rest of the execution, also the results object 's modules is empty.
![NightwatchAssertError](https://user-images.githubusercontent.com/30059801/161968749-492d53c9-24bb-4c67-bd81-8fb0bb4aabcd.PNG)

## Sample test

<details><summary>sampleTest.js</summary><p>

[code]
</p></details>

## Your

[2022-04-06 13:44] beatfactor commented on #3131
Yes, that's right. That will solve the issue.

Live output means that the output from every child process will be sent to the terminal as it happens, but if you turn it off it will be buffered until the child process stops executing and will be displayed together as one block. Live output cannot be user-friendly, that's why it's turned off by default, and it's only meant to be on for debugging pur

[2022-04-06 14:25] AlaaSayed794 commented on #3131
it even looks uglier
![image](https://user-images.githubusercontent.com/69066350/161997614-e026ebc4-3d8a-45c2-9696-a0588065a742.png)

[2022-04-06 15:05] ohanslik-vendavo commented on #2975
I am trying to upgrade nightwatch from 0.x to 2.x version right now. Unfortunately, we had some hacks implemented so I am not 100% sure my problem is caused by NW 2 but I think it is.

I am waiting for element not to be present using `waitForElementNotPresent('@lockedModelIndicator')` on a section in a page object.
From my debugging it seems that:
1. if the element is not present during the first

[2022-04-06 15:26] AlaaSayed794 commented on #3131
also for the weird logs of two adjacent tests,

I get what went wrong here.

I have a folder where I wanted to run specific tests but not all of them,  why I didn't use tags is a long story, but what I did is that I specified these tests to the configuration attribute `src_folders`

it seems that nightwatch doesn't handle this well when I run them in parallel.

I could fix it without changing much

[2022-04-06 22:16] AlaaSayed794 opened #3140 "[Enhancement] skipped modules should call afterEach or reporter hooks"
**Is your feature request related to a problem? Please describe.**

if we specify a test module to have disabled=true  or a skipped tag, I still need to do something with this test module
my use case is that for every run, I create a testrail run where I post results for the tests and I want to post that this test was skipped

**Describe the solution you'd like**

it would be very beneficial if su

[2022-04-07 07:33] beatfactor commented on #3131
Ok, I see. Which terminal is it? I think we haven't tested this well enough on Windows terminal and we'll probably need to disable `boxen`. It should be disabled in any case if `detailed_output` is `false`.

[2022-04-07 10:04] gravityvi commented on #3129
We are not actively developing Nightwatch 1.7 version. Nightwatch v2 has some new features you can try out, while I had the same issue while using Nightwatch v2, it was from the selenium side. I have raised an ![issue](https://github.com/SeleniumHQ/selenium/issues/10518) and ![PR](https://github.com/SeleniumHQ/selenium/pull/10519) for fixing this. Closing this issue as I can't do much about this n

[2022-04-07 10:04] #3129 closed

[2022-04-07 10:18] AlaaSayed794 commented on #3131
both command prompt and bash.

[2022-04-10 00:16] reallymello opened #3142 "WaitForElementPresent error when element doesn't exist -> Bluetooth: bluetooth_adapter_winrt.cc:1075 Getting Default Adapter failed."
## Describe the bug
When using .waitForElementPresent and the element does not exist in the DOM I get the following error in the output log

`[22184:13332:0409/200244.007:ERROR:device_event_log_impl.cc(214)] [20:02:44.008] Bluetooth: bluetooth_adapter_winrt.cc:1075 Getting Default Adapter failed.`

Outside of the strange error the rest of the test appears to execute and report the correct assertio

[2022-04-13 06:26] Ankit098 opened #3149 "Browserstack env variable and caps inside bstack:options"
## Describe the bug
`BROWSERSTACK_USERNAME` and `BROWSERSTACK_ACCESS_KEY` are the env variables specified in documentation, nightwatch currently does not check for these but rather for `BROWSERSTACK_USER` and `BROWSERSTACK_KEY`, should allow creds being set in standard env variables as well.
Also currently accepting build and local caps only if sent at root level in desiredCapabilities, we also ne

[2022-04-13 20:15] kretschmannj opened #3151 "verify.equal is failing the test rather than continuing"
I just upgraded to version 2.0 and I'm seeing that verify.equal is failing the test rather than continuing when the assertion fails.

[2022-04-14 09:40] swrdfish commented on #3151
Thanks for reporting, will look into it.

[2022-04-14 23:50] kretschmannj commented on #408
+1

[2022-04-15 06:50] alv131 opened #3153 "browser.expect doesn't work when it is used inside browser.perform"
## Describe the bug
'browser.expect' doesn't work when it is used inside 'browser.perform' - the whole process just finishes in this case.

## Sample test

<details><summary>homepage.js</summary><p>

[code]
</p></details>

**Run with command**

[code]

### Verbose output
<details><summary>debug.log</summary><p>

[code]
</p></details>

## Configuration
<details><summary>nightwatch.conf.js</summary>

[2022-04-16 21:53] ravi005e commented on #2966
Still happening in 2.x version

From: stale[bot] ***@***.***>
Sent: Saturday, April 16, 2022 12:04 PM
To: nightwatchjs/nightwatch ***@***.***>
Cc: ravi005e ***@***.***>; Author ***@***.***>
Subject: Re: [nightwatchjs/nightwatch] [1.7.x] | Error: Debug Failure. Output generation failed (Issue #2966)

This issue has been automatically marked as stale because it has not had any recent activity.
If po

[2022-04-16 23:03] #2501 closed

[2022-04-16 23:03] #2512 closed

[2022-04-16 23:03] #2536 closed

[2022-04-16 23:03] #2521 closed

[2022-04-16 23:03] #2567 closed

[2022-04-16 23:03] #2468 closed

[2022-04-16 23:03] #803 closed

[2022-04-16 23:03] #2509 closed

[2022-04-16 23:03] #1332 closed

[2022-04-16 23:03] #1151 closed

[2022-04-16 23:03] #886 closed

[2022-04-18 08:28] gravityvi commented on #3153
Hey @alv131, What's the use case of using expect inside perform? we can always return results from perform command and assert on that.

[2022-04-18 08:36] gravityvi commented on #3142
Hey @reallymello, I tried the sample test using Nightwatch v2.1.0 I am not able to reproduce this.

[2022-04-18 08:54] gravityvi commented on #3138
Hey @sarahRaafat15, even in the case of sync test methods rest of the tests are skipped and this is the expected behaviour

[2022-04-18 09:00] gravityvi commented on #3122
This was due to the clearing of elements before setting the value which was fixed in #3087. Closing this now feel free to raise another issue if you struggle with this.

[2022-04-18 09:00] #3122 closed

[2022-04-18 09:04] gravityvi commented on #3091
This is due to using a non-w3c command in w3c mode. `getLocationInView` is marked as deprecated. Either we can set `w3c:false` in config and use this command or instead try using `getElementRect`.

[2022-04-18 09:06] gravityvi commented on #3063
As this is not an Nightwatch issue closing this.

[2022-04-18 09:06] #3063 closed

[2022-04-18 09:07] #3058 closed

[2022-04-18 11:23] NorseGaud opened #3154 "2.1.0 forces me to use chromedriver 99"
[code]

I don't think it should enforce a version...

[2022-04-18 12:05] Victoria0214 opened #3155 "Steps from afterEach are performing in after hook"
## Sync steps from afterEach performing in after hook

I faced an issue
 Error while running .getCurrentUrl() protocol action: This driver instance does not have a valid session ID (did you call WebDriver.quit()?) and may no longer be used.

## Sample test

<details><summary>sampleTest.js</summary><p>

[code]
</p></details>

**Run with command**

[code]

### Verbose output
<details><summary>debug.

[2022-04-18 12:12] reallymello commented on #3142
When using Windows and latest Chrome?

[2022-04-18 13:11] gravityvi commented on #3142
oh, I missed windows I will try using that.

[2022-04-18 16:29] kretschmannj commented on #2967
I just retested the original simple test scenario in Nightwatch v2.0.10 and console.log is working as expected.  Therefore, I think this issue could be closed.

[2022-04-18 16:37] #2904 closed

[2022-04-18 16:38] kretschmannj commented on #2904
I upgraded to Nightwatch v2.0.10 and retested and this is working now.  I believe it was related to [https://github.com/nightwatchjs/nightwatch/issues/2967](https://github.com/nightwatchjs/nightwatch/issues/2967)

[2022-04-18 17:07] sarahRaafat15 commented on #3138
Hi @gravityvi , but in the case of  having
    skip_testcases_on_fail: false in nightwatch.json it should not.
Also I think this is a duplication of this bug https://github.com/nightwatchjs/nightwatch/issues/3075 which is solved in nighwatch 2.0.8 so it should not be occuring in 2.0.10 ?
![image](https://user-images.githubusercontent.com/30059801/163844105-ca6fa150-bfe1-4d3f-9302-506a86d20e84.png)

[2022-04-18 17:40] #3154 closed

[2022-04-18 18:50] chriscuba23 opened #3157 "moveToElement cannot hover using parsed x, y offsets taken from getElementSize (Nightwatch v2)"
## Describe the bug

Cannot hover using moveToElement with x,y offsets taken from getElementSize anymore.
I open my webpage, accept cookies, get the element size of the map, I divide the width and height with 2 so as to calculate the center of the map and hover there. I would expect mouseposition control element of leaflet js library to get updated, but it does not. This works as it should in vers

[2022-04-19 06:54] alv131 commented on #3153
Hi @gravityvi . Now that I've read the "API Reference" for perfom one more time I realized that I am using the perform command the wrong way. Thanks!

[2022-04-19 06:54] #3153 closed

[2022-04-19 07:11] #2967 closed

[2022-04-19 08:08] teresamonahan commented on #2965
Thanks, we updated to Nightwatch v2.0 to address this issue

[2022-04-19 08:08] #2965 closed

[2022-04-19 10:23] gravityvi commented on #3138
Thanks @sarahRaafat15 for reporting this. I have noticed this only happens while using `browser.expect` library. We will look into this.

[2022-04-19 12:36] PriyankaSoni1210 opened #3159 "high severity vulnerability in nightwatch(v2.0) async package"
Hi,

There seems to be a high severity vulnerability present in the async package. Please advise if there is any fix for the same. Tried updating the async package version but that did not work and is showing the same error.

![Nightwatch_vulnerability](https://user-images.githubusercontent.com/89835571/164005219-41f8622d-4c6b-4fbb-adb1-596c3676cec8.png)

[2022-04-19 12:53] beatfactor commented on #3159
We will need to update `ejs`, a patch will be published soon.

[2022-04-19 16:46] emalysz opened #3160 "[Enhancement] Support assigning a priority to tests"
**Is your feature request related to a problem? Please describe.**
For longer test suites, user should have ability to assign a priority for which test cases run first. Sometimes a separate set of tests rely on data from a previous run. Current behavior is to run tests in alphabetical order.

**Describe the solution you'd like**
Ability to assign a high priority to certain tests, potentially honor

[2022-04-19 17:31] reallymello opened #3161 "Plugin API not adding custom commands to test runner awareness"
## Describe the bug
Following the instructions from [extending nightwatch - plugin api](https://nightwatchjs.org/guide/extending-nightwatch/plugin-api.html) I published [nightwatch-saucelabs-visual](https://www.npmjs.com/package/nightwatch-saucelabs-visual) on npm and added the entry `"plugins": ['nightwatch-saucelabs-visual']` to my nightwatch.conf file.

The package was installed using `npm inst

[2022-04-19 21:32] beatfactor commented on #3161
Rename `custom-commands` and `custom-assertions` to `commands` and `assertions` and it should work. Sorry for the mix up, I'll fix the docs.

[2022-04-19 21:35] #3159 closed

[2022-04-19 21:54] reallymello commented on #3161
Thank you. I normally use commands and assertions and changed them to match the documentation `custom-` prefix funny enough 😄

[2022-04-19 22:02] reallymello commented on #3161
Confirmed as working now. Thanks for updating the docs 👍

[2022-04-19 22:02] #3161 closed

[2022-04-20 06:41] gravityvi opened #3162 "[Enhancement] Show the scenario running in Cucumber test runs"
**Is your feature request related to a problem? Please describe.**
Right now cucumber doesn't show the scenario name unless they are failed which is shown at the time of final reporting.
**Describe the solution you'd like**
Add logs for scenario details while running pickles (test steps).

**Describe how the solution will work**
The solution will logs details regarding the current scenario in cucu

[2022-04-20 12:02] sarahRaafat15 opened #3163 "No xml in case of a test clicking on an unpresent nested element in parallel with any other test"
## Describe the bug
In case of trying to click on an unpresent nested element and in case of running such test with another one in parallel, no xml gets generated and browserstack session would be unmarked instead of normal failure.
![Captureb](https://user-images.githubusercontent.com/30059801/164222487-b2a1e30d-d48e-45ea-a370-64d67835e05a.PNG)

## Sample test
<details><summary>nightwatch_test.js

[2022-04-20 18:12] harshit-bs commented on #2980
@mieko-tock With nightwatch v2.0.0-beta.1, I was able to replicate the issue. But, everything works flawlessly for me with the most recent version 2.1.0. So could you please check again with the most recent version to see whether the problem persists?

[2022-04-20 22:44] RezhaBlue commented on #3004
We have moved to an implementation using selenium-hub and are seeing the same issue spoke of in #2017
Is there anyone who can speak to progress or workarounds for this. This seems to effect all Nightwatch API calls that use the getElementProperty method or property endpoint

[2022-04-21 05:49] harshit-bs commented on #3136
@yaobao1993 Could you please include a sample test case and verbose logs in the description? Because I double-checked the above custom command, it works perfectly for me in all scenarios.

[2022-04-21 08:46] Victoria0214 opened #3165 "waitForElementVisible breakes report creation and stops test execution"
##  unhandledRejection: Cannot read properties of null (reading 'reject')
TypeError: Cannot read properties of null (reading 'reject')
    at C:\Users\503271813\Documents\GE\amp-automation\node_modules\nightwatch\lib\api\_loaders\assertion.js:105:47
    at runMicrotasks (<anonymous>)
    at processTicksAndRejections (node:internal/process/task_queues:96:5)

now the AssertionLoader.lastDeferred is

[2022-04-21 14:26] carlos-reta opened #3166 "[Enhancement] How to know execution platform isMobile() isIOS() isAndroid() methods"
**Is your feature request related to a problem? Please describe.**
Yes, I can't know when I am testing a native app or web in a browser.

**Describe the solution you'd like**
Expose these methods to the user: isMobile() isIOS() isAndroid()

**Describe how the solution will work**
When calling browser.isMobile() isIOS() isAndroid() will return true or false depending the case

**Describe alternativ

[2022-04-22 18:03] s-kugan opened #3167 "Test ends and returns NoSuchSessionError"
## Describe the bug
I am trying to run my existing test scripts in night-watch version 2.1.3. The test is running fine in night-watch version 1.7.8. How ever I am not able to run that same test on latest version on night-watch version 2.1.3. Test ends and returns following error-message.

Test ends and returns NoSuchSessionError with the following error message.

```Error while running .locateMult

[2022-04-22 18:04] s-kugan commented on #3081
@beatfactor  I am still having an issue in running the test against night-watch version 2.1.3. so I've submitted another bug. Here it is. https://github.com/nightwatchjs/nightwatch/issues/3167

[2022-04-22 19:39] s-kugan commented on #3167
please find the verbose log below.
[code]

[2022-04-25 14:02] gravityvi commented on #3165
Hey @Victoria0214, I could not reproduce the error. Could you add a clear example of a sample test that could be used to reproduce this issue?

[2022-04-25 14:04] gravityvi commented on #3167
I think this is the same issue as #3138 and will be fixed by #3164

[2022-04-25 14:07] gravityvi commented on #3167
Closing this issue as we have a similar issue (#3138) for this and can track details over there

[2022-04-25 19:10] Itsamna commented on #3165
Hi @gravityvi @Victoria0214

As far as I can see, the cause is that the `reject` property is called at the `null` object at `assertion.js:105:47`, so the `lastDeferred` is `null`.

It is set to `null` by default in the constructor at `assertion.js#L39`
And is reassigned at `assertion.js#L91` only inside the `if (isES6Async)` statement, thus in other cases the null pointer will be thrown at the `as

[2022-04-26 14:10] gravityvi commented on #3165
@Itsamna yes, but I want to know the case where this happens

[2022-04-26 16:41] jthomp opened #3169 "[Enhancement] Current ChromeDriver site will be deprecated soon"
In the README, under the **Manually Download Browser Drivers** section, the URL for the ChromeDriver website needs to be changed. On the current site, it notes that the URL will be changing soon and the current site will be deprecated.

The new URL for the ChromeDriver is [here](https://sites.google.com/chromium.org/driver/).

[2022-04-27 12:03] gravityvi commented on #3163
@sarahRaafat15, Thanks for sharing the issue. We will look into it.

[2022-04-27 12:39] gravityvi commented on #3157
@chriscuba23, I think there should be a change in documentation. X and Y offset are now taken from the center of the element provided. Can you try using ` .moveToElement('div#map_canvas', 0, 0)`?

[2022-04-27 21:34] irealsourav opened #3172 "How to run test cases one after another in NIghtwatch 2"
## Describe the bug

## Sample test

<details><summary>sampleTest.js</summary><p>

[code]
</p></details>

**Run with command**

[code]

### Verbose output
<details><summary>debug.log</summary><p>

[code]
</p></details>

## Configuration
<details><summary>nightwatch.json</summary><p>

[code]
</p></details>

## Your Environment

| Executable | Version |
| ---: | :--- |
| `nightwatch --version` | VER

[2022-04-27 21:39] irealsourav opened #3173 "Nightwatch html reporter is not collecting/showing all the test case reports when Test cases ran on docker selenium hub"
## Describe the bug
I have 16 test cases and I created 8 nodes with 2 sessions ,some of the test cases failed and some of the test cases passed .But when I am checking the html report it shows very few reports, not all the reports are shown

## Sample test

<details><summary>sampleTest.js</summary><p>

[code]
</p></details>

**Run with command**

[code]

### Verbose output
<details><summary>debug.

[2022-04-28 07:59] #3169 closed

[2022-04-28 09:51] sarahRaafat15 commented on #3163
This is happening with every base Element Command not just clicks

[2022-04-28 16:15] vaibhavsingh97 opened #3175 "[AWS Device Farm] Connection issue"
config file I'm using
[code]
Some tests are not connecting to the grid and throw this error
 ⚠ Failed to connect to Selenium Server on testgrid-devicefarm.us-west-2.amazonaws.com with port 443.

_Originally posted by @mostmentor in https://github.com/nightwatchjs/nightwatch/issues/3094#issuecomment-1104019800_

[2022-04-28 16:30] luke-btn opened #3177 "Additional options declared in the Nightwatch config file does not get passed to the cucumber runner"
## Describe the bug

I'm having an issue where when declaring additional options to cucumber runners, they do not seem to be getting passed to the cucumber runner. I've tried `retry` and `format`, but they do not seem to work.

While debugging, I can verify, the options I have declared in the configuration file are being picked up in the `options` variable at https://github.com/nightwatchjs/nightw

[2022-04-28 19:16] #3138 closed

[2022-04-28 20:08] #3033 closed

[2022-04-29 18:54] jesseruanlive commented on #2950
this is still broken.

[2022-04-29 20:24] #1936 closed

[2022-04-29 20:24] #2724 closed

[2022-04-29 20:24] #2791 closed

[2022-04-29 20:24] #2518 closed

[2022-04-29 20:24] #2799 closed

[2022-04-29 20:24] #2825 closed

[2022-04-29 20:24] #2806 closed

[2022-04-29 20:24] #2441 closed

[2022-04-29 20:24] #2849 closed

[2022-04-29 20:24] #2469 closed

[2022-04-29 20:24] #2644 closed

[2022-04-29 20:24] #2909 closed

[2022-04-29 20:24] #2918 closed

[2022-04-29 20:24] #2857 closed

[2022-04-29 20:24] #2957 closed

[2022-04-29 20:24] #2959 closed

[2022-04-29 20:24] #2968 closed

[2022-04-29 20:25] #2927 closed

[2022-04-29 20:25] #2964 closed

[2022-04-29 20:25] #2935 closed

[2022-04-29 20:25] #2956 closed

[2022-04-29 20:25] #2976 closed

[2022-04-29 20:25] #2982 closed

[2022-04-29 20:25] #2987 closed

[2022-04-29 20:25] #2974 closed

[2022-05-01 09:53] beatfactor commented on #3166
This should be added to the api object, similar to `isSafari()` etc.
https://github.com/nightwatchjs/nightwatch/blob/main/lib/core/client.js#L61

[2022-05-01 09:58] beatfactor commented on #3173
Nightwatch doesn't produce an HTML report by default, only a JUnit XML report is available. The html report is generally done at the moment using external libraries which we don't maintain.

We are however working on a Nightwatch generated HTML report, similar to `mochawesome`, but it will take a bit more time to have that ready.

Another option would be to use Nightwatch with Mocha as a test runn

[2022-05-01 09:58] #3173 closed

[2022-05-01 10:14] beatfactor commented on #3157
can we close this?

[2022-05-01 10:18] beatfactor commented on #3155
This is usually a problem with the way custom commands handle async. You can try adding `await` before the 2 lines in `afterEach` and if the issue is still there, you can post the custom commands here and we'll take a look.

[2022-05-01 10:20] beatfactor commented on #3140
They are if you're using the describes/it interface.

[2022-05-01 11:14] AlaaSayed794 commented on #3140
I use it, and they don't

[2022-05-02 07:03] #3119 closed

[2022-05-02 08:26] carlos-reta commented on #3166
How can I find out when this feature is released?

[2022-05-02 08:39] chriscuba23 commented on #3157
lets keep this until tomorrow please

[2022-05-02 20:26] #3132 closed

[2022-05-03 10:10] chriscuba23 commented on #3157
closing. Thanx everyone for your help

[2022-05-03 10:10] #3157 closed

[2022-05-03 18:22] jessgoldq4 commented on #2965
I'm still seeing this issue with `"nightwatch": "^2.1.4",`

![image](https://user-images.githubusercontent.com/90337173/166517851-a01259c5-1f9b-4196-9dd2-449287662633.png)

And we have it listed as a devDependency, so not really sure what's going on here since we're using the `--production` flag

[2022-05-03 18:23] jessgoldq4 commented on #2965
@beatfactor

[2022-05-03 18:48] s-kugan opened #3179 ".moveToElement command is not working in 2.1.4 as it worked on 1.7.8"
## Describe the bug

I have a test written in night-watch 1.7.8. It was working fine but then I've upgraded to latest night-watch version 2.1.4 ,  Since then the tests associated with moveToElement command is failing and returning an error message.

## Sample Test
This is the function inside the page object the test is calling during the test-run.
[code]

### Verbose output
[code]

## Configuratio

[2022-05-03 19:32] Pverma96 commented on #3179
I am also facing the same issue.

[2022-05-04 11:00] vaibhavsingh97 commented on #3108
PR: https://github.com/DefinitelyTyped/DefinitelyTyped/pull/60170

[2022-05-04 20:35] mashiat161 commented on #3179
I am getting the similar issue in 2.1.4

[2022-05-06 05:35] yaobao1993 commented on #3136
Thank you, I started a simple and fresh project to test this, seems works fine.

Will investigate more about this and give some feedback later.

[2022-05-06 13:19] gravityvi commented on #3179
@s-kugan if we are using `await` we don't need to use `location.value.x` we can directly use `location.x` that might be causing an issue over here and from Nightwatch 2 `moveTo` commands take x and y offset from center of element.

[2022-05-06 13:54] gravityvi commented on #3179
@s-kugan Nightwatch v2 works best with `w3:true` in config and also `moveTo` commands accepts integers and not floating number according to [W3C spec](https://www.w3.org/TR/webdriver/#dfn-process-a-pointer-move-action)

[2022-05-06 15:17] s-kugan commented on #3179
@gravityvi  I have enabled backwards_compatibility_mode to true in my config and It is still failing

[2022-05-06 15:25] s-kugan commented on #3179
@gravityvi I have enabled backwards_compatibility_mode to true in my config and It is still failing

[2022-05-06 18:44] s-kugan commented on #3179
@gravityvi  I've enabled `w3:true` in my config and then changed my function to parseInt. now it is returning different error `'move target out of bounds`. All these tests are written in night-watch version `1.7.8` it worked fine without any issues. I didn't even add any `parsing` to location values(x andy) earlier. I've added that `parsing` for 2.1.4 version. I've tried to run same as `1.7.8` wit

[2022-05-06 19:04] Pverma96 commented on #3179
I am also facing this "move target out of bounds" error when used moveToElement() in many tests.

[2022-05-08 04:33] gravityvi commented on #3179
the x and y offset are taken from the center of the element rather than the top left corner. So I think for hovering over an element providing x and y offset as zero will do.

[2022-05-10 07:04] lloiser opened #3181 "`waitForElementNotPresent` inside section waits for the section element to be gone"
## Describe the bug

Our application uses https://mui.com/ as a component library. It has standard components for displaying _Dialogs_ and _Select_ inputs.
Both components will create a separate DOM hierarchy under the `body` when you open the _Dialog_ or the _Select_ dropdown.
Once the _Dialog_ or _Select_ dropdown is gone, the DOM hierarchy is also gone.

For end-to-end testing we are currently

[2022-05-10 08:12] lukaszw82 commented on #2975
Experiencing same problem when upgrading **from 1.7.8 to 2.1.4**:
The codebase contains several hundreds tests and this problem occurs in dozens of them.

this.page = client.page.MyPage();
// command below fails: _element was not found - expected "not present" but got: "error while locating the element"_.
this.page.expect.section('@mySelector').to.not.be.present;

[2022-05-10 08:56] AutomatedTester commented on #3172
I'm not sure I understand this request properly. It's good automation practice to make sure that every test can run atomically.

Does a `before` or a `beforeAll` not give you the necessary setup that you need?

[2022-05-10 09:04] sourav-ghosh-ip commented on #3172
No, actually I was trying to migrate from nightwatch version 1 to 2 and Then I saw in version 2 nightwatch by default starts in parallel mode(correct me if I am wrong).I was trying to launch 16 test cases in dockerised selenium server and everytime it is failing saying "unable to connect to selenium server " after few execution.So I decided to try run in sequential way and that is why I created th

[2022-05-10 09:22] beatfactor commented on #3140
You're right, they don't run when disabling tests completely. I thought you were trying to disable individual test cases using `xit()` or `it.skip()`, in which case the local hooks are executed.

[2022-05-10 09:33] lukaszw82 opened #3183 "ChromeOptions defined in globals doesn't get passed to chromedriver in v2.x"
## Describe the bug
I'm upgrading from 1.7.8 to 2.1.4 and cannot run tests in chrome headless mode anymore (works fine on 1.7.8).
I'm using chromedriver v 100.0.0. Running tests in 2.x seems to ignore chromeOptions headless and browser is opened during test run. Same configuration works as expected in v1.7.8.

Below is a snippet from nightwatch.conf.js file:
[code]
</p></details>

## Configuration

[2022-05-10 09:38] gravityvi commented on #3179
@Pverma96 @s-kugan did this solve the issue for you?

[2022-05-10 10:30] AlaaSayed794 commented on #3140
it will be great if added,
because now I had to label the excluded tests and exclude them myself using `fs` functions. I mean I'm not relying on the feature at all for the fact that I need to report this test's status on Testrail

[2022-05-11 09:31] beatfactor commented on #3183
Can you post the verbose log as well?

[2022-05-11 10:42] #3045 closed

[2022-05-11 11:02] #3127 closed

[2022-05-11 11:56] s-kugan commented on #3179
@Pverma96 @gravityvi  yes, I did not get any error message once i set the value to 0 as @gravityvi  mentioned. However i am running into other issues when I run my existing scripts in night-watch version 2.1.4.  I will debug and write it as separate issues. we can close this issue for now.

[2022-05-11 11:56] #3179 closed

[2022-05-11 13:48] lukaszw82 commented on #3183
Attaching log file
[log.txt](https://github.com/nightwatchjs/nightwatch/files/8670468/log.txt)

[2022-05-12 02:15] alexmitylite commented on #2291
I'm having this issue now as well...

geckodriver: 3.0.1
nightwatch: 2.1.2

[2022-05-12 19:36] Pverma96 opened #3188 "Deleted"

[2022-05-13 00:06] chris-jackson-actionqa opened #3190 "a failing async test causes any browser object calls to fail in the afterEach step"
## Describe the bug

When using `async` for the test, the `afterEach` hook can hang if that tests fails.  It only hangs if you invoke the `browser` object.  In my example below, I'm just pausing for one second.

If you remove the `async` from the test, the `afterEach` hook runs fine.  If you remove the `browser.pause` call from the `afterEach`, it also runs fine.  If the test passes, then it runs

[2022-05-13 03:42] #3188 closed

[2022-05-13 03:43] Pverma96 commented on #3188
It was the incorrect configuration issue. Woking as expected after using the right configuration

[2022-05-13 06:11] kkallu1 commented on #3100
Hi @vaibhavsingh97

I am facing TypeError: (0 , nightwatch_1.describe) is not a function. please let me know how to fix it ,

please address this issue.

TIA

[2022-05-13 06:15] kkallu1 opened #3191 "TypeError: (0 , nightwatch_1.describe) is not a function"
**Dependencies I am using** :
[code]

**Issue I am facing** :
[code]

**Code I have used** :
[code]
**compiled file looks like below** :
[code]

please help me on how to fix that issue mate @vaibhavsingh97 @beatfactor

[2022-05-13 11:32] AutomatedTester opened #3192 "Add Actionable Error Messages"
We need to try help users understand the errors that they get and how to solve it in a meaningful way.

I have started detailing things in https://docs.google.com/document/d/13Q2JXocse0PMYJeUoPPI2RIKwJsx3PcYOOMSS_1PfEY/edit but we need to make sure that we can try get these sorted to help users be more awesome

[2022-05-13 11:34] AutomatedTester commented on #3192
Copy of Task Brief

<h2 id="Problem-to-solve" data-renderer-start-pos="1">Problem to solve<span role="presentation" class="heading-anchor-wrapper"></span></h2><p data-renderer-start-pos="19">Customers frequently run into error states for which the support is available as a 'playbook', but the playbook is not documented very well. As a result, customers need to turn to Gitter / Discord / StackOverf

[2022-05-13 11:47] AutomatedTester opened #3193 "Add Support for Mochawesome reporting to Nightwatch"
To Make sure that we can support mochawesome as a reporter type as it is growing in prevalence.

[2022-05-13 21:46] mieko-tock commented on #2980
I verified this with the following versions and confirmed the fix.
I'm running Chrome version: 101

Executable | Version
-- | --
nightwatch --version | 2.1.4
npm --version | VERSION
yarn --version | 1.22.17
node --version | v16.13.2

Browser driver | Version
-- | --
chromedriver | ^100.0.0

[2022-05-15 10:19] #3149 closed

[2022-05-15 10:19] beatfactor commented on #3149
merged in 2.1.5.

[2022-05-16 11:44] gravityvi commented on #3193
We can use the `mochawesome` reporter in Nightwatch using `mocha` as a test runner.

We can do this by adding following lines of code to the Nightwatch config:
[code]

More details can around this using mocha can be found here: [using mocha as a test runner](https://nightwatchjs.org/guide/third-party-runners/using-mocha.html#using-mocha-as-a-test-runner)

[2022-05-16 12:28] gravityvi commented on #3193
For API docs I think it says using `--reporter mochawesome` will generate a report but there was a change made in the code, to use much awesome from cli we need to use `--reporter html`

[2022-05-17 11:14] garethweaver opened #3197 "Issue with nightwatch finding cucumber tags when using test_runner"
## Description

When using cucumber as a test_runner the `--tag` command  does not find tagged tests.
Have also tried using `--tag @demotest` but the docs seem to suggest I do not use the `@` char.

## Repo here
https://github.com/garethweaver/nightwatch-cucumber

[code]

[code]

[code]

## Configuration

package.json
[code]

nightwatch.conf.js
[code]

## Sample test

features.js
[code]

demotest.

[2022-05-17 14:46] mostmentor commented on #3163
I'm still seeing this issue with nightwatch 2.1.6
![image](https://user-images.githubusercontent.com/19888325/168839849-39d62c67-daba-4a2d-98a3-f91b73709a32.png)

[2022-05-17 19:59] richardjimenez52 commented on #2975
has this been addressed/solved yet?

[2022-05-18 06:02] gravityvi commented on #3163
@mostmentor Can you provide the sample tests that are not working for you? It would help to detect the issue and fix it.

[2022-05-18 13:11] mostmentor commented on #3163
I tried the above tests attached in the ticket parallel parallelTest1.js & parallelTest2.js

[2022-05-19 12:13] #3166 closed

[2022-05-19 19:33] mostmentor opened #3201 "V2.1.7 - Any failure while running tests on parallel throw an error `TypeError: Cannot read properties of undefined (reading 'indexOf')` and don't continue to global hooks"
## Describe the bug
This error is thrown whenever a failure occurs while running tests in parallel. This occurred only after we update to latest version 2.1.7 I was using 2.0.6 and everything was fine
[code]

The tests are not continuing to afterEach() hooks in the global file.
This is a major issue as we are not able to get actual results from regressions we run using nightwatch. Also the error i

[2022-05-19 22:33] reallymello opened #3203 "Nightwatch config template has SauceLabs screen resolution under the wrong place for Nightwatch 2.x"
## Describe the bug

The SauceLabs section of the default nightwatch.conf.js file has a screenResolution property under desiredCapabilities, but it needs to go one level deeper into sauce:options to be used by SauceLabs in Nightwatch 2.x versions
[code]

This is for tracking for the PR I'll be submitting to fix this.

[https://github.com/nightwatchjs/nightwatch/pull/3204](https://github.com/nightw

[2022-05-20 07:09] beatfactor commented on #3201
Thanks for your report, we'll look into it.

[2022-05-20 11:09] #3203 closed

[2022-05-24 19:53] RezhaBlue commented on #2967
Solving the issue in v2 after a major upgrade doesnt do anything for 1.7? this shouldnt be closed

[2022-05-26 06:44] gravityvi commented on #2967
We are not actively maintaining Nightwatch v1.7

[2022-05-26 16:31] gravityvi commented on #3163
@mostmentor @sarahRaafat15 I will look into it again

[2022-05-26 21:21] wansors commented on #3197
Hi,

the correct way to use tags is with "--tags @demotest" The documentation is not updated in all places.
Here it is correct:
https://github.com/nightwatchjs/nightwatch/tree/main/examples/cucumber-js

[2022-05-27 05:33] gravityvi commented on #3197
You can find the all CLI arguments that can be used with cucumber [here](https://github.com/nightwatchjs/nightwatch/blob/main/examples/cucumber-js/README.md). Closing this issue now feel free to reopen it if you face any more issues.

[2022-05-27 05:33] #3197 closed

[2022-05-27 05:35] gravityvi commented on #3201
This issue is similar to #3163. I will have a look

[2022-05-27 05:39] gravityvi commented on #3102
Hey @Dikshita25, Thanks for reporting this. We will look into this.

[2022-05-27 22:05] garg3133 commented on #3183
@lukaszw82 Can you try replacing `chromeOptions` with `'goog:chromeOptions'` in your config file?

[2022-05-30 11:11] beatfactor commented on #3183
Using `chromeOptions` should also continue to work though.

[2022-05-30 14:53] beatfactor commented on #3183
@garg3133 yes, I am saying that we have to ensure that both version continue working.

[2022-05-31 17:57] Topperfalkon opened #3217 "Webdriver keep-alive config flag not being passed through to Browserstack"
## Describe the bug

When running a test against Browserstack, the Browserstack Automate dashboard complains the `keep-alive` header is not set even though the setting is provided in the config as part of the Webdriver config object.

Using the workaround [suggested by Browserstack](https://www.browserstack.com/docs/automate/selenium/error-codes/keep-alive-not-used#Node_JS) and injecting that scri

[2022-06-01 11:48] garg3133 opened #3218 "Unnecessary Nightwatch client initiated in beforeEach hook of some Nightwatch tests."
## Describe the bug

In some of the tests like `testRegisterBasicAuth.js`, `testSetNetworkConditions.js`, etc., in `beforeEach` hook, a call is made to `CommandGlobals.beforeEach`, which initiates an unnecessary Nightwatch client, which is not used inside the test.

<img width="601" alt="image" src="https://user-images.githubusercontent.com/39924567/171396861-1b99d95d-6c44-4533-987e-f035a0eca74e.p

[2022-06-01 17:34] KarthikKallu-ISelect opened #3219 "[Enhancement] : getCount() method support"
I would really appreciate it a lot if someone could add getCount() or size() method in nightwatch like in selenium we have...

example :

let count = browser.elements("locator").size()

so that we can use that count and iterate over elements....

[2022-06-03 09:46] Victoria0214 commented on #3165
@gravityvi I can't give you more deeply case, because pthere is security policy and you don't not have access to the project
Maybe more logs, I do not know. There is another case with the same error
` Response 200 POST /session/08d9b6edd74d96d52ce589786de48445/elements (8ms)
   { value: [] }
  × Testing if element <Element [name=@recoaterDirectionButton]> doesn't have css class 'v-btn--disabled' i

[2022-06-03 15:55] Golshy opened #3221 "Nested async function will cause a hard failure with .waitForElementVisible() even though the abortOnFailure flag is set to "false""
## Describe the bug
When we call .waitForElementVisible with a "false" flag for abortOnFailure, the sample script will pass if the call is not nested. However, if the .waitForElementVisible() is part of a nested callback the abortOnFailure will cause a hard failure in the script, even though it is set to `false`. The terminal will throw an error and will not proceed with any further steps.

**PS**

[2022-06-06 09:13] deepikaG5 commented on #2584
This is an issue with V2. Can we reopen this issue

[2022-06-06 11:59] AutomatedTester opened #3223 "[Enhancement] HTML Reporter - MVP"
To provide a better reporting experience when using Nightwatch with HTML reporting. Test case status and segregation of network and verbose logs for the current test runs and previous test runs.

## Implementation

Features 🚀  | Status  
-- | -- |
Integration with Nightwatch using command --reporter Nightwatch | released 🎉  |  
add in new cli flag `--open` to open the HTML report generated | relea

[2022-06-06 14:43] Golshy commented on #3221
+bump

[2022-06-06 14:44] kcng4506 commented on #3221
Same here

[2022-06-06 14:49] S207740 commented on #3221
I see the same issue

[2022-06-07 07:49] #3163 closed

[2022-06-07 07:52] leezozz opened #3226 "[.keyDown(browser.Keys.ENTER) doesn't work]"
'人员管理-编辑': async function (browser) {
    browser
    .useCss()
      .click({
        selector: '#edit-user-btn',
        timeout: 3000
      })
    await browser.perform(function() {
      const actions = this.actions({async: true})

      return actions
        .keyDown(browser.Keys.ARROW_DOWN)
        .keyUp(browser.Keys.ARROW_DOWN)
        .keyDown(browser.Keys.ENTER)
        .keyUp(browser.K

[2022-06-07 10:01] beatfactor commented on #3226
Please have a look at the [contributing guidelines](https://github.com/nightwatchjs/nightwatch/blob/master/.github/CONTRIBUTING.md#submit-an-issue) for submitting an issue.

[2022-06-07 10:04] #3219 closed

[2022-06-07 19:05] renjujv commented on #2102
Just adding a point here that might help others. I got the same error when I was using a chromedriver intended for another CPU architecture, i.e. I used a mac compatible chromedriver for Linux.

Point being - this error can come for a lot of reasons (at least two I know). Make sure the chromedriver is indeed executable by dry running the chromedriver binary once.

[2022-06-07 21:00] egarc12 commented on #2736
Hello everyone

Does anyone have any idea how to use the getShadowRoot command when shadowRoot elements exist inside another shadowRoot element?

For example the following HTML

<img width="474" alt="Screenshot at Jun 07 15-58-32" src="https://user-images.githubusercontent.com/68959360/172481526-8ab61bb8-77ef-4b4a-8634-99233f3e9772.png">

How could I get to the element named iron-query-params?

[2022-06-08 00:01] egarc12 opened #3227 "How to use getShadowRoot command for multiples shadow roots"
Hello everyone

Does anyone have any idea how to use the getShadowRoot command when shadowRoot elements exist inside another shadowRoot element?

For example the following HTML:

<img width="474" alt="Screenshot at Jun 07 15-58-32" src="https://user-images.githubusercontent.com/68959360/172503629-fc05a24c-32b4-4592-a0e7-4db464e523cd.png">

How could I get to the element named iron-query-params?

I

[2022-06-09 07:37] vaibhavsingh97 opened #3229 "[Enhancement] Improve Developer Experience in the Nightwatch"
# Overview

We are fixing many issues and adding features to improve the Developer experience while writing tests with Nightwatch. However, a few things are missing for dry runs and running specific tests.
The User currently needs to pass two flags, `--test` and `--testcase`, to run a specific test. So, first, we provide the location of the test using the `--test` flag, and then we provide a test

[2022-06-09 07:38] vaibhavsingh97 opened #3230 "Add option to specify test with the line number in the Nightwatch"

[2022-06-09 07:38] vaibhavsingh97 opened #3231 "Add --list-files option in Nightwatch CLI, which will list all the test files present in the workspace"
Users should be able to list all the files present in their projects.

Command
[code]

Sample Output
[code]

[2022-06-09 07:38] vaibhavsingh97 opened #3232 "Add --list-tests option in Nightwatch CLI, which will list all the tests present in the workspace."

[2022-06-10 02:28] Pverma96 commented on #3052
@cameronscottseequent Did it work for you? Can you please share how you were able to run selenium 4 in nightwatch

[2022-06-10 02:49] Pverma96 commented on #3052
@beatfactor As the latest selenium server version 4 do not have standalone version, how do we run the latest selenium jar in standalone mode using the selenium settings in nightwatch.json file? I have seen the blog post for grid but our requirement is that the nightwatch should manage the selenium server like it do for selenium-server 3.x version. Do you have any example for this?

[2022-06-13 11:21] #3097 closed

[2022-06-13 13:06] tomillie commented on #2291
Same here, Nightwatch 2.1.8, geckodriver 3.0.1.

[2022-06-13 13:13] tomillie commented on #2470
+1, nightwatch 2.1.8 and geckodriver 3.0.1

[2022-06-14 13:30] #2588 closed

[2022-06-14 13:30] vaibhavsingh97 commented on #2588
It's now live in https://github.com/nightwatchjs/nightwatch/releases/tag/v2.2.1

[2022-06-15 17:39] kretschmannj commented on #2469
I'm still getting this error even with nightwatch v2

[2022-06-15 17:45] kretschmannj commented on #2469
The moveToElement command is still failing even with Nightwatch v2 ...

   Response 500 POST /wd/hub/session/f4976621-add3-4029-84a0-06c77facb8c3/actions (16ms)
   {
     value: {
       error: 'move target out of bounds',
       message: '(1174, 715) is out of bounds of viewport width (1366) and height (675)',
       stacktrace: ''
     }
  }

[2022-06-16 03:58] KarthikKallu-ISelect commented on #3223
Hi @beatfactor @AutomatedTester @gravityvi
I observed that when there are more tests say 200 test cases something like that then I see reporter is too slow , it was keep on crashing [i mean it's going irresponsive] please check it once and I request to please improve the UI of report , it was very tough to view passed test cases logs since it's keep on going irresponsive.
![image](https://user-ima

[2022-06-16 10:49] aakash3771 commented on #2469
I don't think this will be fixed as they are prioritising Actions

[2022-06-17 16:10] garg3133 opened #3243 "[Enhancement] Pause and Debug capabilities"
This feature will allow users to:
* Pause their tests in between the test execution by using the `pause()` command, jump to the browser to check the state of their application or open DevTools to debug and once satisfied, jump back to the terminal to resume their tests on-demand from where they left off.
* Jump over to the next test step and pause again, during which they can see what has exactly

[2022-06-17 20:55] AutomatedTester opened #3244 "Errors in tests using cucumberjs don't always fail the test."
## Describe the bug
When running tests with cucumberjs there are times where a normal error with nightwatch is not caught in cucumberjs.

## Sample test
If we take https://github.com/nightwatchjs/cucumberjs-boilerplate and update so that https://github.com/nightwatchjs/cucumberjs-boilerplate/blob/main/src/specs/When.js#L11-L14 does not get a find an element the tests will not fail the tests

**Run

[2022-06-19 15:05] kmahata opened #3245 "intl.accept_languages is not honored"
## Describe the bug

Our website based on browser locale  loads different country content. For V1 we used to pass
prefs: {
            'profile.managed_default_content_settings.notifications': 1,
            'intl.accept_languages': 'de-de',
          },
to load german content even on login page. We are trying to migrate to v2 and the same config doesnt work and still loads in english for all conf

[2022-06-20 07:29] gravityvi commented on #3223
Hey, @KarthikKallu-ISelect Thanks for reporting this we will definitely look into this.

[2022-06-20 13:53] gravityvi opened #3247 "Chromedriver Connection Failure"
## Describe the bug

Some of the tests are skipped due to Connection failure when using chrome to run the tests

## Sample test

<details><summary>sampleTest.js</summary><p>

[code]
</p></details>

**Run with command**

[code]

### Verbose output
<details><summary>debug.log</summary><p>

[code]
</p></details>

## Configuration
<details><summary>nightwatch.json</summary><p>

[code]
</p></details>

[2022-06-20 13:53] Ftelf opened #3248 "1.7.13 using "throwOnMultipleElementsReturned" property ends as noSuchElementError"
We have a table utils and one fuction looks for a row and then asserts that the row is the only one. Recently we tried to speed-up our tests as much as possible, so we started to look for a spots to optimize.

The original part of the code looks like:
[code]

We know that if multiple elements are found we got a WARN: in the console.
To speedup a litte...
If I set global property throwOnMultipleEle

[2022-06-20 19:18] #2975 closed

[2022-06-20 19:21] beatfactor commented on #3247
I've downgraded selenium to 4.1.1 until this is fixed.

[2022-06-21 07:58] aakash3771 opened #3249 "getting error "Failed to connect to ChromeDriver on localhost with port 9515." after a successful test"
## Describe the bug

[code]
</p></details>

**Run with command**

[code]

### Verbose output
<details><summary>debug.log</summary><p>

[code]
</p></details>

## Configuration
<details><summary>nightwatch.json</summary><p>

[code]
</p></details>

## Your Environment

| Executable | Version |
| ---: | :--- |
| `nightwatch --version` | 2.2.1 |
| `npm --version`  | 8.8.0 |
| `node --version` | 16.14.2

[2022-06-21 09:15] gravityvi commented on #3249
Thanks for raising this issue. The issue is already present it is tracked over here: #3247, hence closing this one.

[2022-06-21 09:15] #3249 closed

[2022-06-22 12:25] beatfactor commented on #3223
The performance should be a bit better in v2.2.2, it was a bug in handling the raw http data which is fixed now.

[2022-06-23 08:32] Ftelf opened #3253 "[Enhancement] DOM snaphot for local asserts"
We have some tests which are testing tables a lot. There are just few of hundreds others, but still we have them. Imagine table of 100 rows and 10 columns and you have to call a selenium requests for every cell. In local, it's nothing 1000 * 15ms, we can live with 15s delay for local run, but when using remote Selenium service like Browserstack, the minimum network latency for every Selenium reque

[2022-06-23 09:39] swrdfish opened #3254 "NW V2.0.X not working on AWS code build with ubrantu image"
### Discussed in https://github.com/nightwatchjs/nightwatch/discussions/3130

<div type='discussions-op-text'>

<sup>Originally posted by **suraj007118** March 22, 2022</sup>
## Describe the bug
[code]

## Sample test

<details><summary>sampleTest.js</summary><p>

[code]
</p></details>

**Run with command**

"npm run $DeploymentEnvironment-contentStack"
e.g
npm run UAT-contentStack.

### Verbose o

[2022-06-23 11:55] suraj007118 commented on #3254
Thank you for taking this up

[2022-06-23 20:39] Golshy commented on #3221
bump

[2022-06-27 15:18] chriscuba23 opened #3256 ".verify.containsText() is not logging failed report when inside a perform command"
## Describe the bug

After upgrading to v2.2.2 I've noticed that the .verify.containsText() assertion does not appear at the report when it fails, yet it appears at the console results. This is not the case with .assert.containsText(), though, where it logs a failed assertion if it fails and it logs a passed one if it passes. The namespace needs to be nested within a perform command. This issue le

[2022-06-27 15:28] chriscuba23 commented on #3256
![image](https://user-images.githubusercontent.com/34232960/175977107-6dd141c5-7ff2-42f2-88de-bb7faed9d76d.png)

![image](https://user-images.githubusercontent.com/34232960/175977178-2080f5a2-7ee9-4fec-9549-2de2ac86cde0.png)

[2022-06-28 08:24] lorandfazakas opened #3257 "Expect library's elements count method does not work with 0"
## Describe the bug
Using expect library's count method passing 0 as the parameter returns not present error. It should pass if no elements were found.

## Sample test

<details><summary>sampleTest.js</summary><p>

[code]
</p></details>

**Run with command**

[code]

### Verbose output
<details><summary>debug.log</summary><p>

[code]
</p></details>

## Configuration
<details><summary>nightwatch.js

[2022-06-28 14:24] harshit-bs commented on #3256
Thanks @chriscuba23 for reporting the issue. This bug seems related to #3151 which is already in @swrdfish's pipeline.

[2022-06-28 15:50] CalvinGocMMLLC opened #3259 "Selenium Server 4.1.2 tests crash silently before launching browser"
## Describe the bug
When following your [setup guide](https://nightwatchjs.org/guide/quickstarts/create-and-run-a-test-with-selenium-server.html) for running a test with selenium server I get to the step to run the test and I just get this:

[code]

Nothing else happens. I have not updated the nightwatch.conf.js file. I'm using openDJK 18.0.1.1, I am only using these libraries:
[code]

No logs are

[2022-06-28 21:42] mostmentor commented on #3201
Any progress here ? I'm blocked from using new versions of nightwatch

[2022-06-29 13:47] KarthikKallu-ISelect commented on #3223
Hi @beatfactor @gravityvi @AutomatedTester
I see no logs when test case is passed ,
Below is commandline logs :
![image](https://user-images.githubusercontent.com/92008723/176452172-da181e36-a32a-486e-9dd9-fceeb7687866.png)
I wish the same should show in report ,is it not?
![image](https://user-images.githubusercontent.com/92008723/176452388-5a127668-80f0-4e12-ab47-91620b076c88.png)

[2022-06-29 20:12] harshit-bs commented on #3227
@egarc12 could you please try running this :

[code]

[2022-06-30 02:27] RezhaBlue opened #3260 "[Enhancement] Lean down the HTML reports"
First I'd like to say the new HTML reporter is a much welcome addition to NightwatchJS features.
Thank you all for providing it! The reports have helped our legibility, productivity, and communication with colleagues and stakeholders curious about test results.

In short we found two problems:
1. the CSS is bloated,
2. the HTML file size is heavy (35+ MB for small suites).

*** CSS: ***
My team ha

[2022-06-30 14:47] ruzv opened #3263 "`perform` with `done` callback doesn't stop timeout timer in case of error"
## `perform` with callback doesn't stop timeout timer in case of error

If an error occurs while executing `perform`'s callback function then the error is reported, but the timeout timer is not stopped and the test hangs until the time out is reached.

Expected result: timeout timer is stopped and test execution is stopped

## Sample test

<details><summary>sampleTest.js</summary><p>

[code]
</p><

[2022-06-30 18:05] sopoforic opened #3264 "Raw HTTP Logs fail to escape HTML"
## Describe the bug
In the HTML report, any HTML in the Raw HTTP Logs is not escaped, resulting in a broken page. Sample:

[code]

Now the rest of the page is part of the (unclosed) `<a>` element, and therefore it's not possible to click to expand sections below that point.

## Your Environment

| Executable | Version |
| ---: | :--- |
| `nightwatch --version` | 2.2.2 |
| `npm --version`  | 8.13.2

[2022-07-05 09:07] garg3133 opened #3268 "`browser.url` pauses stdin stream"
## Describe the bug

When using `browser.url` command, the `stdin` stream is paused by the `ora` package and is never resumed again. It is a recognized bug in Ora: https://github.com/sindresorhus/ora/issues/209

## Sample test

This issue is majorly faced in the REPL interface. If we enter `browser.url()` command there, the URL gets loaded and then the interface freezes completely and not even `Ct

[2022-07-05 20:49] RezhaBlue commented on #2584
Come here to echo deepikaG5
We use angular and vuejs front end code. Components are constantly loading elements in and out of the page. But this is also a problem anytime say a button click causes the entire page to refresh. Trying to make sure the page finished loading by waiting or asserting on it is impossible to do in a non-flaky way because if it takes a while to load it will verify before th

[2022-07-05 20:52] RezhaBlue commented on #2584
For the record, kretschmannj's suggestion to "identify what is causing the DOM to refresh... and then wait for that situation to pass" does not work it just poses another race condition. If the spinner comes and goes too fast, this cant be relied on to know when a state change has taken place.

[2022-07-05 21:30] RezhaBlue commented on #2584
Please consider looking at the following for inspiration to at least help developers by exposing some tooling to observe DOM mutations, if not providing more readily packaged implementation behind nightwatch API commands. https://stackoverflow.com/questions/3219758/detect-changes-in-the-dom

[2022-07-05 22:45] charlyautomatiza opened #3273 "npm init nightwatch | config file incompatible with both Windows and Linux"
## Describe the bug

As part of the setup, we can choose to have Nightwatch create some example tests.
We have a problem when we run this in Windows, because the config files are created with double Backslash, if we need to execute on Linux OS agent in CI/CD, we can not find any path.

For example:
This config file was created for the CLI with backslashes:

https://github.com/charlyautomatiza/boil

[2022-07-06 05:57] saudixit opened #3274 "skip_testcases_on_fail parameter doesnt work as expected in Nightwatch 2.2.2"
## Describe the bug

In the latest version of nightwatch 2.2.2  setting skip_testcases_on_fail   parameter in nightwatch.conf.js doesn't work

**Expected Behavior :**
If user sets **skip_testcases_on_fail :false** parameter in default settings,  in this case if one test case fails ,it should not skip the further tests in same file

**Actual Result:**
Currently it skipped the further tests from sam

[2022-07-06 06:30] ruzv commented on #3263
the cause for this is that in NW2 `perform` done callback is a single argument function, then passing it to another `perform` generates a new done callback that is never called, soo making the test hang.

[2022-07-06 13:29] garg3133 opened #3276 "`abortOnAssertionFailure` property in globals does not work when set to false."
## Describe the bug

When the `abortOnAssertionFailure` property of `globals` is set to `false`, assertion failure still leads to the abortion of the test.

## Sample test

<details><summary>sampleTest.js</summary><p>

[code]
</p></details>

**Run with command**

[code]

### Verbose output
<details><summary>debug.log</summary><p>

[code]
</p></details>

## Configuration
<details><summary>nightwatc

[2022-07-06 13:37] garg3133 commented on #3273
Fixed in nightwatch/create-nightwatch#26.

[2022-07-06 13:37] #3273 closed

[2022-07-06 13:40] garg3133 commented on #3273
create-nightwatch@1.0.2 with the fix published on NPM.

[2022-07-06 15:16] charlyautomatiza commented on #3273
Thank you very much for the speed in the resolution. I'll be checking it out again soon.

[2022-07-08 07:48] swrdfish opened #3279 "Ship default profile for firefox"

[2022-07-08 07:50] swrdfish opened #3280 "Build task queue and initiate drivers in parallel"

[2022-07-08 07:50] swrdfish opened #3281 "Bundle a default browser (chromium? ) with nightwatch"

[2022-07-08 07:52] swrdfish opened #3282 "Update command line options for all drivers"

[2022-07-08 10:24] harshit-bs commented on #3274
Hey @saudixit, I tried to reproduce the issue but was unable to do so. Could you please provide us the test, `nightwatch.conf.js`, and verbose log?

[2022-07-08 11:12] AutomatedTester opened #3283 "Improve React component and jest support"
We currently mount React components but we don't have good support for unmounting and we need to improve Jest support

[2022-07-11 07:12] Victoria0214 opened #3284 "beforeEach Hook was executed even test() is marked as xtest()"
## beforeEach Hook was executed for xtest() that should be skipped

## Sample test

<details><summary>sampleTest.js</summary><p>

[code]
</p></details>

**Run with command**

[code]

### Verbose output
<details><summary>debug.log</summary><p>

[code]
</p></details>

## Configuration
<details><summary>nightwatch.json</summary><p>

[code]
</p></details>

## Your Environment

| Executable | Version |

[2022-07-12 08:55] efosoner opened #3286 "While executing custom command program exits after first assert in Promise."
## Describe the bug

While executing custom command (listed below) program exits after first assert in Promise.
When assert.elementPresent() changed to waitForElementPresent() it executes as expected.

## Sample test

<details><summary>customClickTest.ts</summary><p>

[code]
</p></details>

## Sample command

<details><summary>customClick.js</summary><p>

[code]
</p></details>

**Run with command*

[2022-07-14 00:09] CadeHowarth opened #3289 "Support Native Mobile App"
## Describe the bug
I am trying to use Appium and Nightwatch together to test a native app on an Android Studio emulator. Appium does not allow appPackage and browserName in the same desiredCapabilities, and the official Nightwatch/Appium setup wiki article (https://github.com/nightwatchjs/nightwatch/wiki/Testing-Android-native-application-and-mobile-browsers-with-Appium) indicates that placing a

[2022-07-14 09:11] zacc opened #3290 "keys() Command does not show a deprecation log message"
## Describe the bug
The keys command has been marked as deprecated in the documentation.
Other deprecated commands will show a log message warning the user that the command is deprecated.

The code should be updated to match the documentation and other deprecated commands by adding this message when the keys command is used.

[2022-07-14 10:12] beatfactor commented on #3289
try setting it to `null`.

[2022-07-14 11:45] #3268 closed

[2022-07-14 15:17] CadeHowarth commented on #3289
It looks like adding in `null` into the browserName field returns this error from Nightwatch verbose logs.

`TypeError: An error occurred while creating a new Selenium Server session: [TypeError] Cannot read properties of undefined (reading 'getBrowserName')`

[2022-07-15 08:46] #3183 closed

[2022-07-15 08:47] #3247 closed

[2022-07-15 11:45] #3096 closed

[2022-07-15 11:47] #3264 closed

[2022-07-16 00:20] s9tpepper opened #3293 "Setting output:false in nightwatch.conf.js is not disabling navigation output messages ℹ Loaded url ..."
## Describe the bug
Setting `output: false` in the nightwatch.conf.js file is not working for navigation output.

I am using cucumber test runner using these configs:
[code]

Based on the documentation, and the code in https://github.com/nightwatchjs/nightwatch/blob/19ce6375c1284d4609e7f8a6b3dab07bb1e3790a/lib/api/protocol/url.js, I  am expecting messages like below not to appear:
 ℹ Loaded url ht

[2022-07-16 00:32] s9tpepper commented on #3293
Some more context, I added `console.log('this.settings.output:', this.settings.output)` in `lib/api/protocol/url.js`
And even though I have `{ output: false }` in my nightwatch.conf.js the console.log still outputs `this.settings.output: true`

[2022-07-16 00:46] s9tpepper commented on #3293
Some more notes I found.

Looks like the file where the issue is at is `cucumber-js/_setup_cucumber_runner.js`

When the client is created, this line is not taking into account the `output` setting from nightwatch.conf.js:
[code]

I got it to work by adding to my command:
[code]

[2022-07-17 16:52] garg3133 commented on #3286
I am able to reproduce this issue. The cause of this issue seems to be something happening in the Nightwatch queue due to the mixing of command and assertions (putting assertions inside a command).

[2022-07-18 09:26] beatfactor commented on #3259
That often occurs when Java is not installed. Somehow the error got lost.

[2022-07-18 09:35] beatfactor commented on #3245
which browser/version?

[2022-07-18 09:36] beatfactor commented on #3245
Never mind, I see it's Chrome. Can you please try the 2.2.3? We merged a fix for `chromeOptions`.

[2022-07-18 12:16] gravityvi commented on #3276
`abortOnAssertionFailure` controls behavior for `expect` and `waitFor` commands only

[2022-07-18 12:17] gravityvi commented on #3276
Can you verify if it's happening for those commands?

[2022-07-19 03:51] kmahata commented on #3245
@beatfactor - With latest build its fixed. closing it

[2022-07-19 03:51] #3245 closed

[2022-07-19 03:52] kmahata commented on #3245
https://github.com/nightwatchjs/nightwatch/issues/3183 - fixes it

[2022-07-19 07:09] gravityvi commented on #3223
@KarthikKallu-ISelect can you mention the steps to reproduce this. I tried with a passing test cannot reproduce this report.

[2022-07-19 09:35] beatfactor commented on #3289
Could you maybe suggest how we can update [this unit test](https://github.com/nightwatchjs/nightwatch/blob/main/test/src/index/testNightwatchIndex.js#L232) to reproduce the issue?

[2022-07-19 09:58] #3177 closed

[2022-07-19 15:44] CadeHowarth commented on #3289
The unit test looks correct to me, though you might try adding in the selenium port, and see if that has an effect? I say that only because of the TypeError received when passing `null`. It indicates that when starting a selenium server session, it receives the error.

I also feel that it is prudent to note that, since I am running version 2 of Nightwatch, I never took the time to explicitly insta

[2022-07-19 16:45] #3243 closed

[2022-07-21 09:27] #3281 closed

[2022-07-21 09:27] #3280 closed

[2022-07-21 15:19] gravityvi commented on #3290
@zacc Thanks for raising this issue. We will look into it.

[2022-07-21 15:41] gravityvi commented on #3289
@CadeHowarth I think the error over here is Nightwatch is trying to create a process. Can you try using this config:

[code]

[2022-07-21 16:39] CadeHowarth commented on #3289
Hey @gravityvi I just attempted running that config both with and without browserName set, and it looks like Nightwatch still attempts to set the browserName with or without; still not allowing me to pass in an empty string or `null` into the field.

[2022-07-22 12:08] garg3133 commented on #3286
@efosoner Can you please confirm that the following is working for you?
[code]

The above is not working for me but said in the issue description that it is working for you.

[2022-07-22 12:22] garg3133 opened #3297 ""Step over" only work with chained commands"
The new "step over and pause" feature only works with the chained commands. If the commands are written using `await`, the step over feature won't work.

This is because we reset the `_stepOverAndPause` property of `Debuggability` to false whenever the async tree is cleared and the tree is cleared after every command when using awaited commands.

For example, the following would work:
[code]

but

[2022-07-22 15:32] mostmentor opened #3298 "No reports are generated after upgrade to V2.3"
## Describe the bug
I'm running 700 tests in parallel and each test has multiple steps. After upgrading to V2.3 no reports are generated at all. No XMLs, json, HTML reports are generated. This error is generated at the end
`
TypeError

    Cannot read property 'length' of undefined
    Stack Trace :
    at /node_modules/nightwatch/lib/reporter/base-reporter.js:20:38
    at Array.reduce (<anonymous

[2022-07-22 22:39] efosoner commented on #3286
I checked it and I’ve made a mistake. assert.visible should also be changed to waitForElementVisible and only then command starts working as expected. Sorry for misleading description

[2022-07-23 13:33] beatfactor commented on #3298
Nested `describe()` blocks aren't supported in Nightwatch using the default runner. To use this, you need to [use Mocha as a test runner](https://nightwatchjs.org/guide/writing-tests/using-mocha.html).

Which version are you upgrading from?

[2022-07-23 13:35] #3290 closed

[2022-07-23 13:38] zacc commented on #3290
@gravityvi , @beatfactor , I'd prepared this commit but you guys beat me to it with the PR. Great work, thanks!

[2022-07-23 16:05] mostmentor commented on #3298
V2.0.6
yeah they are not supported but not causing any issues for me

[2022-07-25 07:55] beatfactor commented on #3298
Can't reproduce this I'm afraid. Can you verify if Nightwatch was installed correctly? Try with a fresh install maybe.

[2022-07-25 11:50] gravityvi commented on #3226
Closing this issue. Feel free to raise a new issue if you still face the problem

[2022-07-25 11:50] #3226 closed

[2022-07-25 11:52] gravityvi commented on #3217
hey 👋🏻 Thanks for raising this issue. Can you also attach the nightwatch config and verbose logs it helps us in debugging the issue faster

[2022-07-25 11:53] #3193 closed

[2022-07-25 11:53] gravityvi commented on #3192
Closing this issue as the PR has been merged.

[2022-07-25 11:53] #3192 closed

[2022-07-25 12:12] garg3133 opened #3299 "Outdated links in the auto-generated config file"
A lot of links in the auto-generated config file are outdated and need fixing.

[2022-07-25 12:48] gravityvi commented on #3286
Hey @efosoner 👋🏻 , Thanks for raising this issue. We can simplify (omit use of `async/await`) the test a bit like this:

//test.js

[code]

[code]
We use async/await in nightwatch when we want to retrieve values from Nightwatch command for example:
[code]

I've tried this code and it works for me. Hopefully it would work for you as well 😄

[2022-07-25 13:17] AutomatedTester opened #3300 "[Enhancement] Move DefinitelyTyped definitions to Nightwatch and maintain them"
****Is** your feature request related to a problem? Please describe.**
Currently the definitely typed definitions are maintained in the DefinitelyTyped organisation. It is very easy for these to get out of sync. We need to move them in to our project and maintain them better.

**Describe the solution you'd like**

**Describe how the solution will work**

**Describe alternatives you've considered**

[2022-07-25 13:22] garg3133 opened #3301 "Awaited `assert` doesn't work inside other commands"
If we use `await browser.assert.<some-assertion>` inside other commands like a custom-command (see #3286) or inside debug interface, the promise for the assertion is never resolved and the test gets stuck after the assertion.

Please note that the `assert` command currently works correctly inside the `debug()` interface because of a workaround (we replace `assert` with `verify`) but this needs to

[2022-07-26 11:23] #3108 closed

[2022-07-26 13:18] vaibhavsingh97 opened #3302 "Support for Async/Await in @types/nightwatch"
## Describe the bug
Since Nightwatch v2 release, `@types/nightwatch` kind of broken return type and a lack of support of `async/await`.

Test Code
[code]

Definitions
[code]

Based on this type-definition, the result will always be `this`(whatever it is). If we had used `async/await` syntax, then it's not the boolean value that would be passed; instead `this` will be returned, which is simply wron

[2022-07-26 14:01] AutomatedTester commented on #3191
@prudhvi22 or @garg3133 can you add this to your type script work. Thanks

[2022-07-26 15:25] vaibhavsingh97 opened #3304 "Browserstack Session URL contains `undefined`"
## Describe the bug
When we run tests in Browserstack cloud, and after the successful test run. Users will get the session URL like this `  https://automate.browserstack.com/builds/undefined/sessions/ff3a33f25464220871e9dcec2b006ae8a0bb71ea`.

Currently, the above URL contains `undefined`, which must be addressed.

## Steps To Reproduce
1. Using the below sample tests, Run tests with Nightwatch on

[2022-07-27 06:33] harshit-bs opened #3306 "Nightwatch 3rd party integration docs"
1. [Nightwatch-Allure-Reporter](https://github.com/kushmangal/Nightwatch-Allure-Reporter) :
   - Although I've written the doc for [Nightwatch-Allure-Reporter](https://github.com/kushmangal/Nightwatch-Allure-Reporter) but it is no longer being maintained.

   - It needs to be converted in the .md file https://docs.google.com/document/d/173teWu4YpR8pBa8HIeIECMblhgY39hgTqtD5WRB4Hh4/edit

   - Config

[2022-07-27 06:46] harshit-bs commented on #3306
Transferring the issue to [nightwatch-docs](https://github.com/nightwatchjs/nightwatch-docs) repo. You can track it here : https://github.com/nightwatchjs/nightwatch-docs/issues/185

[2022-07-27 06:46] #3306 closed

[2022-07-27 08:20] garg3133 commented on #3301
Actually asserts do return a value. Like if `browser.assert.title()` is called, value of `browser.title()` (that is, the command executed as part of performing assert) is returned back.

[2022-07-27 09:03] gravityvi opened #3307 "Retain HTML report across test runs"
## Describe the bug

Currently, the HTML reporter does not maintain test results across test runs instead it replaces the report from the previous test run.

## Proposed Solution
Instead of replacing the HTML Report, there should be a flag to retain HTML reports across test runs.

## Your Environment

| Executable | Version |
| ---: | :--- |
| `nightwatch --version` | 2.3 |

[2022-07-27 09:45] ruzv commented on #3263
Another issue with `perform` similar to this one present in NW 1.7 and 2 is that when `perform` wraps a custom command and the custom command throws or emits an error the test hangs until `perform`'s timeout is reached. The expected behavior would be that in case of error the timeout is cleared.

I've looked at `perform`'s source code and it seems to have handled for cases like this, but for custo

[2022-07-28 14:27] vaibhavsingh97 opened #3310 "Add support for Actions API in `@types/nightwatch`"
Currently, Actions API is not supported in the `@types/nightwatch`.

Docs: https://nightwatchjs.org/api/useractions/

[2022-07-28 14:32] vaibhavsingh97 opened #3311 "Support for `nightwatch.config.ts`"
In the recent release `v2.3.0`, we added support for running typescript files directly with Nightwatch CLI. We should also add support for config files written directly in typescript.

Ref:
https://github.com/nightwatchjs/nightwatch/blob/main/lib/runner/cli/cli.js#L215

[2022-07-28 14:51] vaibhavsingh97 opened #3312 "Unable to run typescript files directly Nightwatch"
## Describe the bug
When trying to run a typescript file using Nightwatch CLI, Nightwatch cannot understand the import statement mentioned in the typescript file.

## Steps to reproduce
- Clone https://github.com/nightwatchjs/nightwatch-typescript-boilerplate
- Make changes according to this PR: https://github.com/nightwatchjs/nightwatch-typescript-boilerplate/pull/4/files
- Try to run test
- Comm

[2022-07-29 08:40] AutomatedTester commented on #3300
We need to make sure that the types are complete before we move things over so that we don't leave any users behind. Will link issues to this issue as we come across them

[2022-07-29 08:40] AutomatedTester commented on #3310
#3300

[2022-07-29 08:40] AutomatedTester commented on #3302
#3300

[2022-07-29 09:40] garg3133 commented on #3191
#3300

[2022-07-29 17:50] s9tpepper commented on #1936
Still seeing this issue with Nightwatch 2.3.0 with Chromedriver 103 and Chrome 103.

[code]

[2022-07-29 18:54] garg3133 commented on #3312
Okay, this was due to a silly mistake 😅

We need to add `ts-node` as part of `dependencies` and not `devDependencies`.

[2022-07-29 18:58] garg3133 commented on #3312
Also, you'd need to add a `tsconfig.json` file in `nightwatch` dir which will be used by `ts-node` while running the ts file. But I wonder if we can use the file already present in the root dir of the project, why create a new `tsconfig.json` file just for running Nightwatch tests? I might also add a friction point for the user, although it is only a one-time thing.

/cc: @beatfactor

[2022-07-30 12:09] beatfactor commented on #3312
We actually intentionally added `ts-node` only as a devDependency, it's no "silly mistake". `ts-node` should not be a main dependency of nightwatch, but rather be installed either separately or via the `create-nightwatch` tool, if the user has selected TS (together with the `nightwatch/ts-config.json` file).

[2022-07-30 12:18] beatfactor commented on #3312
We cannot use the existing `ts-config.json` simply because if the current project happens to be using a different module target than `"commonjs"` under `compilerOptions`, then it wouldn't work for nightwatch. And if we create the `nightwatch/ts-config.json` file during the `init` process, I don't see how it could be a "friction point" for the user.

I think the current solution where users need to

[2022-08-01 06:06] garg3133 commented on #3312
Regarding friction point:
* For old projects, there is a friction point which both me and Vaibhav encountered (we both forgot about adding a separate `tsconfig.json` file in `nightwatch` dir and errors were not apparent). But this can be resolved by documenting this process and displaying better error messages around this process.
  (We can also check if the user is working on a typescript but sti

[2022-08-01 06:59] gravityvi opened #3317 "[Enhancement] Change Cucumber Integration to use new Programmatic APIs"
**Is your feature request related to a problem? Please describe.**

The current implementation of Cucumber uses the CLI method to integrate cucumber into Nightwatch which causes a lot of issues and we have a lot less control over things happening in Cucumber. The release of Cucumber 8 provides new programmatic APIs to integrate cucumber into a  larger testing framework.

**Describe the solution yo

[2022-08-01 07:17] vaibhavsingh97 commented on #3312
I agree with @garg3133 👍

Currently, since `ts-node` is devDependency in the `Nightwatch` package, the only error users can see the syntax error with the following message (`[SyntaxError] Cannot use import statement outside a module;`). If we want users to install `ts-node` in their project, I think that's another friction point we are adding. So my question here would be why we can't have `ts-nod

[2022-08-02 06:46] gravityvi commented on #1936
Hey @s9tpepper can you raise another issue regarding this if you are still facing problems related to chromedriver

[2022-08-02 09:26] garg3133 commented on #3302
Adding to this, if we write `it('some title', async () => {})`, Typescript infers the passed function as `NormalFunc` instead of `AsyncFunc`.

[2022-08-03 05:07] garg3133 commented on #3191
PR raised at: https://github.com/DefinitelyTyped/DefinitelyTyped/pull/61544

[2022-08-03 06:07] vaibhavsingh97 commented on #3191
Merged https://github.com/DefinitelyTyped/DefinitelyTyped/commit/f2c020bb5a8a19d8a758784394982e5188688474

[2022-08-03 06:07] #3191 closed

[2022-08-03 15:00] suraj007118 opened #3319 "AWS Device Farm - ArgumentException The provided project resource is not valid {Project ARN}"
I am trying to run my test on device farm with NW v2.3.0, the project ARN is valid but it give me error saying it is not.
Below is my nightwatch.conf.js
[code]
[nightwatch.conf.js.zip](https://github.com/nightwatchjs/nightwatch/files/9252646/nightwatch.conf.js.zip)
;

[2022-08-03 15:04] suraj007118 commented on #3319
Also, a very basic query on same - How does NW script be authenticated to run on device farm as secrete and access keys are no where provided in conf.js file

[2022-08-03 18:02] vaibhavsingh97 opened #3322 "[Enhancement] Nightwatch Typescript Support"
Currently, Typescript support in Nightwatch isn't great. For example, for a user to run a typescript project, firstly user needs to compile and then the user needs to run tests using Nightwatch CLI. So we wanted to fix the experience.

This is a list of Project that needs improvement.

[Create Nightwatch](https://github.com/nightwatchjs/create-nightwatch)
- [ ] Use `tsc –init` for the new npm proj

[2022-08-03 21:33] swrdfish commented on #3319
@suraj007118 you'll use the `aws-cli` to login. The sdk uses the `~/.aws/credentials` file to look for authentication information.

[2022-08-04 06:33] suraj007118 commented on #3319
ok, what about the error [ArgumentException The provided project resource is not valid {Project ARN}]

[2022-08-04 11:53] garg3133 opened #3323 "Stricter types when using `this` in Nightwatch BDD test syntax"
When writing `this.someCustomProp` in Nightwatch BDD test syntax (see below example), the property attains `any` type. We need to find a way to make the type of custom properties added to `this` stricter.

[code]

One solution I found is to make a custom class which will extend the `DescribeInstance` class and can be passed on to `describe` as generic type, but we still need a better and simpler w

[2022-08-04 13:51] diemol opened #3324 "👋 From the Selenium project!"
At the Selenium Project we want to collaborate with you and work together to improve the WebDriver ecosystem. We would like to meet you, understand your pain points, and discuss ideas around Selenium and/or WebDriver.

If you are interested, please fill out the form below and we will reach out to you.
https://forms.gle/Z72BmP4FTsM1GKgE6

We are looking forward to hearing from you!

PS: Feel free t

[2022-08-04 15:58] garg3133 commented on #3323
Found a better way of doing this:

[code]

[2022-08-04 16:09] reallymello opened #3325 "Using expect with value checks, value attribute was not found - expected "*your value here*'" but got: "null""
## Describe the bug
Upgrading working tests from 1.x versions of Nightwatch to 2.3.0 I noticed `expect` language chain assertions would fail when using `.value` with errors to the affect of `value attribute was not found - expected "*your value*'" but got: "null"`

For example,

[code]
to assert the current value of an input as the text `John` would throw an error

`Expected element <input#name> t

[2022-08-05 05:53] gravityvi commented on #3325
Hey @reallymello, the value in `expect` uses the attributed value of the element, while `getValue` is using value property of the element. I think using `expect.element(<element>).to.have.property('value').that.equals(<expected-value>)` will solve the issue.

[2022-08-05 07:35] Nadeemakramn opened #3327 "Need for a Logging statement into the nightwatch BuiltIn report[Enhancement]"
**Is your feature request related to a problem? Please describe.**
Hi Team,

I've started to use nightwatch JS to automate UI testing for my Organisation and during this course, I observed that nightwatch currently lacks customized report generation to monitor test execution results, I utilized the built-in reports which nightwatch offers but its not customizable yet.

I am not able to write by cu

[2022-08-05 08:40] AutomatedTester commented on #3323
linking to #3300

[2022-08-05 10:48] AutomatedTester commented on #3324
thanks for reaching out @diemol . We have completed the form!

[2022-08-05 10:48] #3324 closed

[2022-08-05 11:49] vaibhavsingh97 opened #3329 "Add BDD test example"

[2022-08-05 11:56] vaibhavsingh97 opened #3330 "Typescript Improvements"
- [x] Add support for `nightwatch.conf.ts`
	- [x] New types for Nightwatch configuration in `@types/nightwatch`
- [ ] Show relevant error message on CLI
	- [ ] ts-node is not present
	- [ ] ts-node failed to load
- [x] Load `ts-node` if project is using typescript
	- [x] Read typescript config from `nightwatch/tsconfig.json` or `tsconfig.nightwatch.json`. Precedence will be given to `nightwatch/ts

[2022-08-05 11:57] vaibhavsingh97 commented on #3322
Closing this issue, as all issues are linked in https://github.com/nightwatchjs/nightwatch/issues/3300

[2022-08-05 11:57] #3322 closed

[2022-08-05 11:58] reallymello commented on #3325
Your suggestion did work, but I feel like this used to work the way I had it. Also, my way seems to be documented as a correct way of doing things unless I am misinterpreting the docs
https://nightwatchjs.org/api/expect/#expect-value
[code]

[2022-08-05 12:32] gravityvi commented on #3325
The documentation says it is using an attributed value for some DOM elements there might be 1:1 mapping for attribute and value. But for input, I think property `value` changes as we enter something but the attributed value does not.

[2022-08-05 13:22] reallymello commented on #3325
Ok, thank you