[2022-08-07 20:19] #2952 closed

[2022-08-08 04:18] hongdeyuan commented on #531
it would be better to develop a setlocalstorage custom command；

/**
 * Set the localstorage of the current browser
 * @param {string} key localStorage  key
 * @param {string} value localStorage value
 */
[code]

[2022-08-08 18:14] danieljonguitud commented on #3102
Same issue here. Have been trying to run specific tags but the test runner is executing all the step definitions in our project. Which are not relevant for certain tags.

[2022-08-09 05:45] gravityvi commented on #3102
Hey, We are actively looking into this issue.

[2022-08-09 06:04] gravityvi commented on #3325
@reallymello I will verify if previous versions were using property `value` if so we can move back to it.

[2022-08-09 16:40] garg3133 commented on #3323
Raised: https://github.com/DefinitelyTyped/DefinitelyTyped/pull/61631

Along with a fix to this issue, it also completes the type definitions for BDD `this`.

[2022-08-10 07:44] vaibhavsingh97 commented on #3323
Closing this issue, since above PR is merged

[2022-08-10 07:44] #3323 closed

[2022-08-10 10:25] AutomatedTester opened #3331 "Move Parallel to being default mode"
At the moment we run tests sequentially by default. We need to change this to parallel to make things faster
Requirements:
* If there is no configuration or no CLI argument, the test should run by default in parallel
* A message should be displayed showing how many workers are used
* If the number of parallels mentioned are more than the CPU cores, a warning message should be shown

This is buildi

[2022-08-10 11:18] gravityvi opened #3332 "Using browser.end with cucumber results into Error"
## Describe the bug

Using `browser.end` inside cucumber tests ends the session but Nightwatch still tries to close the session at the end of cucumber test suite which results into an error.

## Sample test

<details><summary>sampleTest.js</summary><p>

[code]
</p></details>

**Run with command**

[code]

### Verbose output
<details><summary>debug.log</summary><p>

[code]
</p></details>

## Config

[2022-08-10 12:16] swrdfish commented on #3319
Updating the findings:
AWS Device Farm has two types of projects, one for mobile application testing, and another for Desktop browser testing.
Desktop project has Selenium Grid support. The mobiles projects don't provide direct appium/selenium access, one need to package the tests in certain format and upload that; these uploaded tests are then executed.

[2022-08-10 12:16] swrdfish opened #3334 "[Enhancement] Better mobile testing support"
This issue tracks the discussions and issues linked to mobile testing with Nightwatch.

Appium support: https://github.com/nightwatchjs/nightwatch/issues/3289
Way to detect responsive states: https://github.com/nightwatchjs/nightwatch/discussions/3326
See if AWS Device Farm can be supported: https://github.com/nightwatchjs/nightwatch/issues/3319

[2022-08-11 13:21] gravityvi commented on #3037
This issue is been tracked here: https://github.com/nightwatchjs/nightwatch/issues/3102

[2022-08-11 13:21] #3037 closed

[2022-08-11 20:27] bes opened #3336 "browser.resizeWindow doesn't work, but using browser.driver.manage().window().setRect does"
## Describe the bug
I recently upgraded from Nightwatch `1.7.11` to `2.3.0` and I noticed that `browser.resizeWindow` doesn't work anymore.

I have tried making sure I am configuring things according to the release notes.

I am only using Chrome, and before running the test I do `npm link chromedriver`.

I use TypeScript.

## Sample test

Unfortunately I can't share too much of our code, but I hav

[2022-08-15 23:55] kretschmannj opened #3337 "Nightwatch v2.2.1 Upgraded selenium-webdriver to v4.2.0 - #3215 has broken Jenkins integration"
### Description of the bug/issue

When I attempt to run a Nightwatch test from Jenkins I get an error

### Steps to reproduce

_No response_

### Sample test

_No response_

### Command to run

_No response_

### Verbose Output

/var/lib/jenkins/workspace/Portal_UI_Automated_Tests_QA/node_modules/selenium-webdriver/lib/virtual_authenticator.js:26
  static Protocol = {
                  ^

SyntaxEr

[2022-08-16 10:16] garg3133 opened #3338 "Refactor types in `@types/nightwatch`"
### Description

Types declared in `@types/nightwatch` need some refactoring.

### Problem Statement/Justification

Some types declared in `@types/nightwatch` are not proper.

### Proposed Solution or API

We need to go through the types declared in `@types/nightwatch` and check if they are declared correctly and if not, fix them and make them stricter.

### Alternatives

_No response_

### Additi

[2022-08-16 11:01] garg3133 opened #3339 "Types for Component testing should be moved to vite-plugin-nightwatch"
### Description

The types for Nightwatch component testing should be moved to the `vite-plugin-nightwatch` repository.

### Problem Statement/Justification

As the component testing commands do not belong Nightwatch but are custom commands in `vite-plugin-nightwatch`, the types for the commands should also be imported from the same repo.

### Proposed Solution or API

We should move the types to

[2022-08-16 13:02] #3307 closed

[2022-08-16 16:53] garg3133 opened #3340 "Add types for custom commands, assertions, etc."
### Description

We need to add types for custom commands, custom assertions and page-objects as well. And possibly extend it to plugins as well.

### Problem Statement/Justification

Right now, we don't support extending Nightwatch using custom commands, assertions, etc. in TypeScript.

### Proposed Solution or API

Figuring out a way to add extend `NightwatchAPI` to include the types of custom c

[2022-08-16 17:17] kretschmannj commented on #3337
I resolved the issue by updating the version of Node used by Jenkins from 10.16.0 to 16.16.0.

[2022-08-17 07:20] #3231 closed

[2022-08-17 08:40] Victoria0214 opened #3342 "after 40 minutes browser is got close"
### Description of the bug/issue

When I started all regression scope after 40 minutes browser gets close without error

### Steps to reproduce

1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

### Sample test

_No response_

### Command to run

_No response_

### Verbose Output

_No response_

### Nightwatch Configuration

[code]

### Nightwatch.js Version

2.1.4

### NPM Ve

[2022-08-17 11:32] #3289 closed

[2022-08-17 11:33] #3257 closed

[2022-08-17 11:43] benjaminr-ps opened #3343 "frame(name) not working, only tries css-selector for "id", and fails"
### Description of the bug/issue

When I switch to IFrame with specific "name" attribute value, I expect the API tries to locate the IFrame with ID and Name, but actually only tries with ID

### Steps to reproduce

### Steps to Reproduce
1. Prepare a main page, having one IFrame. The IFrame has no ID attribute defined, but a "name"-attribute with value "jazz_opensocial_Gadget_0".
2. browser.api.fr

[2022-08-17 14:47] AutomatedTester commented on #3342
Unfortunately we can't reproduce this issue therefore can't help. Could you please add more details or come speak to us on [Discord](https://discord.com/channels/618399631038218240/935468415731253258)

[2022-08-17 22:08] IdeaHunter commented on #2469
@gravityvi  Please reopen, facing the same problem in nightwatch 2.3.0, using 3 argument version with both zeros for x and y and still having error, my movement is in horizontal direction
![image](https://user-images.githubusercontent.com/10799080/185252056-93b0f315-a25f-4152-9cf9-10da734e624c.png)

[2022-08-17 22:11] IdeaHunter commented on #2469
If my reflexes isnt lying to me its showing error when already moving in progress, once it even showed error multiple times during the move, using moveToElement with combination with xpath selectors

[2022-08-18 07:16] gravityvi commented on #3343
From the verbose logs I can see it found an element using `[id="jazz_opensocial_Gadget_0"]` that's the reason it didn't search using `name`. `[id="jazz_opensocial_Gadget_0"]` this might be an element in the DOM tree. To handle this situation we can write something like this:
[code]

[2022-08-18 09:34] AutomatedTester commented on #3190
To be tested with https://github.com/nightwatchjs/nightwatch/pull/3328

[2022-08-18 09:38] AutomatedTester commented on #3038
No further info was provided so closing. Please reopen a new issue with the relevant info

[2022-08-18 09:38] #3038 closed

[2022-08-18 09:52] AutomatedTester commented on #3337
Closing as this appears to have been a nodejs issue. Glad you were able to solve it.

[2022-08-18 09:52] #3337 closed

[2022-08-18 10:03] gravityvi commented on #3325
I checked the documentation from `1.x` and the code uses attributed value, closing the issue for now. Feel free to raise an issue if you face any problems using it.

[2022-08-18 10:03] #3325 closed

[2022-08-18 10:15] benjaminr-ps commented on #3343
Yes, I was able to locate an element with id css-selector, which points to a non-iframe element.

But, since the located element is not an iframe-element, nightwatch should try the name css-selector, as well.

It seems, with Nightwatch 1.5.1 it was working like that.

Since upgraded to Nightwatch 2.3.0, it fails.

Can you please reopen this issue?

[2022-08-18 10:19] reallymello commented on #3340
I would also find this valuable. For now, I'm using a nightwatch.d.ts with overrides to make the custom commands and objects available, but it would be nicer to have the framework handle this automatically in some way.

[2022-08-18 11:18] garg3133 opened #3347 "Refactor types for CDP commands and add async/await support."
### Description

The CDP commands types need refactoring and support for async/await.

### Problem Statement/Justification

The types for the CDP commands are not proper.

### Proposed Solution or API

Go through all the CDP commands and refactor them. This includes the JSDoc for the command type.

### Alternatives

_No response_

### Additional Information

_No response_

[2022-08-18 12:21] Nadeemakramn commented on #3327
Hi @AutomatedTester,

Thank you for the update.

We are awaiting to onboard few of the use cases into nightwatch JS framework and the only part we are blocked now is on the reporting side, Can we you please confirm by when is it possible to get this enhancement integrated into nightwatch.

Thanks,
Nadeem

[2022-08-18 13:04] gravityvi commented on #3190
Removing `async` will fix the issue as I can see it's not required. You can either return a promise or use await both will resolve the issue.
[code]

[code]

[2022-08-18 13:04] #3190 closed

[2022-08-18 14:41] gravityvi commented on #2469
@IdeaHunter can you raise another issue looks like it's a different problem

[2022-08-18 14:52] gravityvi commented on #3343
I think in Nightwatch v1.5.1 we could only use webelement as an argument to the `frame` command as I shared in the above snippet. This is a corner case where elements exist with the same id as well as name. The `frame` command does search for a name selector if it does not find an element with an id selector else you can use webelement as an argument. There is very little we can do to handle this

[2022-08-19 08:38] #3301 closed

[2022-08-19 08:55] #3304 closed

[2022-08-19 08:55] #3217 closed

[2022-08-19 12:47] garg3133 commented on #3347
Raised PR: https://github.com/DefinitelyTyped/DefinitelyTyped/pull/61782

[2022-08-22 07:30] shankar0001 commented on #2470
I am running the Night-watch VRT tests on firefox browser but the image was not captured correctly inside baseline folder.

Can anyone help me on this issue.

firefox (103.0.2) and running firefox on Safari browser.

visual_regression_settings: {
latest_screenshots_path: 'vrt/latest',
latest_suffix: '_ls',
baseline_screenshots_path: 'vrt/baseline',
baseline_suffix: '_bs',
diff_screenshots_path: 'v

[2022-08-22 10:18] AutomatedTester opened #3350 "Add `--reuse-browser` flag for component testing"
When a test is doing a component test we should have a `reuse-browser` flag that is defaulted on to help speed up tests.

- [ ] Nightwatch can differentiate test types and run the test accordingly
- [ ] Add flag when we see a component test
- [ ] Add relevant documentation

[2022-08-22 16:09] benjaminr-ps opened #3351 "Any type error in perform() function, silently fails & isn't logged, in Page Object's command"
### Description of the bug/issue

When I do perform() call having a type error, I expected an error report/log entry but execution proceeded & nothing logged.

### Steps to reproduce

1. Define a page object
2. Add command to page object
3. Add call for perform() in command
4. Pass callback, having a type error inside (without try-catch block)

Expected:
 - Nightwatch logs a failure (with stacktra

[2022-08-22 21:30] harshit-bs opened #3352 "Returning error in custom command is throwing TypeError"
### Description of the bug/issue

So when I provide the correct API token in following custom-command everything works fine, but when I purposely use a bad Api token I get that type error.

### Custom Command

[code]

### Sample test

[code]

### Error Log

[code]

### Nightwatch.js Version

2.3.3

### NPM Version

8.16.0

### Node Version

18.7.0

### Browser

Chrome 104.0.0

[2022-08-23 14:38] AutomatedTester commented on #3310
There appears to be an initial bit of work on this in https://github.com/DefinitelyTyped/DefinitelyTyped/pull/61866#

[2022-08-24 15:17] swrdfish opened #3355 "Updating the build scenario name(desiredCapabilities.name) using client.updateCapabilities does not work"
### Description of the bug/issue

When build scenario name(desiredCapabilities.name) is passed using client.updateCapabilities, it does not honour that and uses a default name instead.

### Steps to reproduce

_No response_

### Sample test
[code]
### Command to run

npx nightwatch

### Verbose Output

_No response_

### Nightwatch Configuration

[code]

### Nightwatch.js Version

2.3.3

### NPM V

[2022-08-24 18:17] dstran commented on #3276
I can confirm that after getting the assert failure from the `browser.expect.element` command, the test aborted immediately and didn't continue with my other tests.

I set the `abortOnAssertionFailure` in the `nightwatch.conf.js` file.
[code]

[2022-08-25 13:16] gravityvi commented on #3276
Hey @dstran, Thanks for verifying this. Is it possible to share the example code that will help us in resolving the issue?

[2022-08-25 13:34] harshit-bs commented on #2572
@benjaminr-ps I'm closing this issue and it's PR, because the codebase is already been changed with the stack-trace improvements. Please feel free to reopen the issue if required.

[2022-08-25 13:34] #2572 closed

[2022-08-25 22:44] kretschmannj opened #3358 "Reuse existing browser session in Nightwatch"
### Description

It would sure be nice if we could execute a Nightwatch test against an existing browser session.  Something similar was asked for in [https://github.com/nightwatchjs/nightwatch/issues/117](https://github.com/nightwatchjs/nightwatch/issues/117) but that eventually closed with no resolution.

### Problem Statement/Justification

This would be immensely helpful when debugging a test

[2022-08-26 06:28] garg3133 commented on #3310
Resolved in DefinitelyTyped/DefinitelyTyped#61866

[2022-08-26 06:28] #3310 closed

[2022-08-26 07:06] beatfactor commented on #3358
We have something planned **[here](https://github.com/nightwatchjs/nightwatch/issues/3350)** which I think would accomplish this. It will be available for both end-to-end and component testing.

[2022-08-26 12:05] swrdfish commented on #3331
A few open questions:
1. Currently the number or workers by default is equal to the num of CPU cores. Is that a good Default Value or should the number of workers be less that number of CPU cores?
2. Should we start headless by default?
3. Should we start in parallel for remote executions also?

[2022-08-29 08:20] tracylucky opened #3360 "fail to connect mobile browser"
### Description of the bug/issue

When I run my cucumber + nightwatch test case by browserstack, desktop works fine, but mobile browser cannot be connected

### Steps to reproduce

When run the env with iPhone13(please refer to the nightwatch.conf.js in sample test), it returned  _**Failed to connect to Selenium Server on hub-cloud.browserstack.com with port 443.**_ I saw the build was started in

[2022-08-29 09:16] garg3133 commented on #3276
One such example:
[code]

Here, even after setting `abortOnAssertionFailure` to false in the config file like below:
[code]
the test fails at the second assertion and the third assertion is not run.

[2022-08-29 18:57] garg3133 opened #3361 "expect.cookie not working"
### Description of the bug/issue

expect.cookie() always returns undefined value.

I checked the code and the problem seems to be in [this](https://github.com/nightwatchjs/nightwatch/blob/b662e3e2e26437c592b9d81281d5761cc91098e6/lib/api/expect/cookie.js#L58) line. Here `result.value` gives the correct value of the cookie and then another `.value` just makes that `undefined`.

It seems to me that e

[2022-08-30 16:49] garg3133 commented on #3347
Resolved in https://github.com/DefinitelyTyped/DefinitelyTyped/pull/61782

[2022-08-30 16:49] #3347 closed

[2022-08-30 16:51] garg3133 opened #3363 "Refactor types for Expect assertions and add async/await support"
### Description

The types of Expect assertions needs to be refactored, along with async/await support.

### Problem Statement/Justification

.

### Proposed Solution or API

.

### Alternatives

_No response_

### Additional Information

_No response_

[2022-08-31 19:49] sairamdesai commented on #2501
Hi as u suggested changed my config
     capabilities: {
        browserName: 'chrome',
        screenResolution: '1920x1080',
        browserVersion: 'latest',
        javascriptEnabled: true,
        acceptSslCerts: true,
        timeZone: 'New York',
        chromeOptions: {
          w3c: true,
        },
        launch_url: process.env.DASHBOARD_URI,
        'sauce:options': {
          usern

[2022-09-01 08:06] swrdfish commented on #3360
Looking into it

[2022-09-01 17:40] s-kugan opened #3366 "night-watch returns different value when it completes the command on certain conditions"
### Description of the bug/issue

night-watch returns different value when it completes the command on certain conditions

### Steps to reproduce

[code]
Please note - backwards_compatibility_mode is enabled in the config.

backwards_compatibility_mode: true,

### Sample test

[code]

[code]

[code]
```*****This is where running command returning the value and when it completes its returning somet

[2022-09-01 21:04] #3352 closed

[2022-09-01 21:08] #3284 closed

[2022-09-03 19:43] harshit-bs commented on #3351
Hey @benjaminr-ps Could you kindly provide a sample test case with verbose logs? It would be really helpful to debug the issue as quickly as possible.

[2022-09-05 05:16] swrdfish opened #3369 "Logs look deformed in parallel mode"
### Description of the bug/issue

Logs look deformed in parallel mode
<img width="993" alt="Screenshot 2022-09-04 at 1 55 33 PM" src="https://user-images.githubusercontent.com/2018070/188365902-ce62162b-dd35-4e42-a260-10852e8e80c1.png">

### Steps to reproduce

1. Run a failing test in parallel mode

### Sample test

_No response_

### Command to run

_No response_

### Verbose Output

_No respons

[2022-09-05 11:05] harshit-bs commented on #3358
@kretschmannj I am closing this issue, since we are tracking it already. Please feel free to reopen if we have missed anything.

[2022-09-05 11:05] #3358 closed

[2022-09-05 13:37] harshit-bs commented on #3259
This bug seems related to #3105.

[2022-09-05 16:54] reallymello opened #3372 "Can't chain custom commands off page objects when imported through plugins interface"
### Description of the bug/issue

When I import custom commands using the plugins property in nightwatch.conf.js I'm told the command is not a function when chained off a page object

### Steps to reproduce

1. Clone https://github.com/reallymello/nightwatchTutorials/tree/master/a11yTestPlanExample
2. Run `nightwatch .\test\a11y-v1.js` and notice no exceptions other than normal assertion failures

[2022-09-05 21:43] AutomatedTester opened #3373 "Add support for using JSX in Nightwatch component tests"
We need to be able to use JSX in tests, e.g.:

[code]

[2022-09-06 10:23] garg3133 opened #3374 "Refactor and add async/await support for Assert."
### Description

The types of assert needs to be refactored and support for async/await needs to be added.

### Problem Statement/Justification

NA

### Proposed Solution or API

This needs to be changed in DefinitelyTyped repo.

### Alternatives

_No response_

### Additional Information

_No response_

[2022-09-06 10:24] garg3133 commented on #3374
Raised PR at: https://github.com/DefinitelyTyped/DefinitelyTyped/pull/62126

[2022-09-06 10:27] garg3133 commented on #3302
CDP Commands: https://github.com/DefinitelyTyped/DefinitelyTyped/pull/61782 [MERGED]
ClientCommands and ElementCommands: https://github.com/DefinitelyTyped/DefinitelyTyped/pull/62063
Ensure: https://github.com/DefinitelyTyped/DefinitelyTyped/pull/62067
Assert: https://github.com/DefinitelyTyped/DefinitelyTyped/pull/62126

[2022-09-06 10:32] garg3133 opened #3375 "Add async/await support for Ensure"
### Description

Types of Ensure need to support async/await while using with Typescript.

### Problem Statement/Justification

NA

### Proposed Solution or API

Changes need to be done in DefinitelyTyped/DefinitelyTyped repo.

### Alternatives

_No response_

### Additional Information

_No response_

[2022-09-06 10:32] garg3133 commented on #3375
Raised PR at: https://github.com/DefinitelyTyped/DefinitelyTyped/pull/62067

[2022-09-06 10:46] prudhvi22 opened #3376 "Add async/await support for Client Commands and Element Commands"
### Description

Client and Element commands types need support for async/await.

### Problem Statement/Justification

NA

### Proposed Solution or API

Changes need to be done in DefinitelyTyped/DefinitelyTyped repo.

### Alternatives

_No response_

### Additional Information

_No response_

[2022-09-06 10:48] prudhvi22 commented on #3376
Raised PR at https://github.com/DefinitelyTyped/DefinitelyTyped/pull/62063

[2022-09-06 10:55] prudhvi22 opened #3377 "Add async/await support for WebDriverProtocol"
### Description

WebDriverProtocol types need support for async/await.

### Problem Statement/Justification

NA

### Proposed Solution or API

Changes need to be done in DefinitelyTyped repo.

### Alternatives

_No response_

### Additional Information

_No response_

[2022-09-06 17:44] swrdfish commented on #3131
@AlaaSayed794  I could not reproduce the issue with windows 10, using nightwatch v2.0.10 or v2.3.3

The only time logs get deformed is when I resize the terminal window while nightwatch is executing. Maybe this has to do with the terminal window size?

[2022-09-06 22:25] garg3133 commented on #3363
Raised PR at: https://github.com/DefinitelyTyped/DefinitelyTyped/pull/62138

[2022-09-07 08:54] swrdfish commented on #3151
related to: https://github.com/nightwatchjs/nightwatch/pull/3275

[2022-09-07 09:01] swrdfish opened #3378 "Wrong error stack trace shown if `verify.equal` is called"
### Description of the bug/issue

Wrong error stack trace shown if `verify.equal` is called. Shows the error location of in internal implementation detail.

### Steps to reproduce

1. Run the testcase provided below

### Sample test

[code]

### Command to run

./bin/nightwatch examples/tests/ecosia.js -e chrome

### Verbose Output

[code]

### Nightwatch Configuration

default

### Nightwatch.js

[2022-09-08 10:51] garg3133 commented on #3374
Resolved in https://github.com/DefinitelyTyped/DefinitelyTyped/pull/62126

[2022-09-08 10:51] #3374 closed

[2022-09-08 10:59] #3299 closed

[2022-09-10 03:36] sandbergja opened #3382 "browser.baseURL is undefined while in typescript tests"
### Description of the bug/issue

When I write a test with browser.baseURL, I expect it to return the value I configured under test_settings->launch_url in nightwatch.conf.js.  However, it returns undefined

### Steps to reproduce

1. `npm init nightwatch`
2. Choose these options:
[code]
3. Add the sample test below (based on the existing github test that is added by the previous steps.

Alternati

[2022-09-10 08:54] veke commented on #3036
No screenshots when cucumber used.
nightwatch v2.3.4
cucumber 8.5.1

[2022-09-11 10:14] #3361 closed

[2022-09-11 20:45] beatfactor opened #3383 "Issues with CDP commands"
### Description of the bug/issue

There are some issues with a few CDP commands. I put all of them in this ticket, but they aren't necessarily related.

### Steps to reproduce

- **setNetworkConditions**()
  - example in the [documentation page](https://nightwatchjs.org/api/setNetworkConditions.html) is incorrect;
  - documentation is too brief; it should contain a list of available options and li

[2022-09-13 10:35] AutomatedTester commented on #3360
@harshit-bs @garg3133 could you add this as a test case to the mobile work you're looking into currently

[2022-09-13 10:52] vaibhavsingh97 opened #3384 "Option to have single JSON report"
### Description

Currently, while using a `JSON reporter with Nightwatch, it emits a lot of files depending on the test suites. It would be great if we could club all the results in a single JSON file.

### Problem Statement/Justification

When ingesting the JSON file emitted by the JSON reporter by Nightwatch, it's harder to ingest all those files, specifically when running tests every day. It wi

[2022-09-13 13:20] swrdfish commented on #3384
Solved with custom reporter for now.

[2022-09-13 17:23] #3372 closed

[2022-09-14 09:51] garg3133 commented on #3375
Resolved in https://github.com/DefinitelyTyped/DefinitelyTyped/pull/62067

[2022-09-14 09:51] #3375 closed

[2022-09-14 10:20] garg3133 commented on #3382
Thanks, @sandbergja for reporting this. There was a small typo in the type definition of `baseUrl` due to which this issue was occurring. (The property is actually `baseUrl` but in the types, it was written as `baseURL`.)

I have raised a [PR](https://github.com/DefinitelyTyped/DefinitelyTyped/pull/62249) for this, which should be merged soon and a new version of `@types/nightwatch` will be out by

[2022-09-14 11:35] garg3133 commented on #3382
Resolved in https://github.com/DefinitelyTyped/DefinitelyTyped/pull/62249 and a new version of `@types/nightwatch` with the fix is published.

[2022-09-14 11:35] #3382 closed

[2022-09-14 12:09] garg3133 commented on #3383
`.setGeolocation()` seems to work fine for me ( `Using: chrome (105.0.5195.125) on MAC OS X.`). The website sometimes just takes a little more time to show the current location after resetting the geolocation, while the other time it works fine.

[2022-09-14 12:31] garg3133 opened #3386 "Errors inside `.perform()` are not reported"
### Description of the bug/issue

If some error occur inside the callback passed to the `.perform()` command and there is no other command/assertion after that, the `perform()` command is skipped silently and the error is not reported on the console.

### Steps to reproduce

_No response_

### Sample test

[code]

### Command to run

_No response_

### Verbose Output

_No response_

### Nightwatch

[2022-09-14 18:42] beatfactor commented on #3386
what if you make the callback `async`?

[2022-09-15 00:49] kretschmannj opened #3387 "Calling custom command leads to error event listener > defaultMaxListeners error"
### Description of the bug/issue

Calling a custom command is incrementing the error event listener count eventually leading to an error indicating that the number of listeners exceeds the max limit (yes, I realize you can increase the defaultMaxListeners value but that is a workaround, not a solution).

### Steps to reproduce

1. Create logMsg.js in the custom_commands folder
2. Create test.js in

[2022-09-15 06:23] swrdfish commented on #3263
The first issue will be solved by #3380

[2022-09-15 07:14] garg3133 commented on #3386
It still does not report the error.

[2022-09-15 08:17] #3384 closed

[2022-09-15 08:49] shubhamkadlag07 opened #3388 "Dependency minimatch have a security concern"
### Description of the bug/issue

I just noticed that nightwatch is using minimatch version 3.0.4, it have security issues. if we upgrade to 3.0.6 or later these should be resolved.

### Steps to reproduce

check package.json and package-lock.json files

### Sample test

_No response_

### Command to run

_No response_

### Verbose Output

_No response_

### Nightwatch Configuration

_No response_

[2022-09-15 11:24] AutomatedTester opened #3390 "Plugin reporting is very verbose"
### Description of the bug/issue

In the latest versions of Nightwatch when an error is hit in the Axe plugin we get very verbose logging like ![image](https://user-images.githubusercontent.com/128518/190391432-ded72d29-9d9b-415f-ac9e-76169af15a1a.png)

but in 2.1 we had logging like
![image](https://user-images.githubusercontent.com/128518/190391615-70e96989-6d82-4928-ad73-d4fbe2eb3317.png)

I wo

[2022-09-15 12:07] Twistere opened #3391 "Error: waitForElementPresent() abortOnAssertionFailure don't work [nightwatch + cucumber]"
### Description of the bug/issue

When I set abortOnAssertionFailure on false the test don't continue.
Here the code :
`  → NightwatchAssertError

    Timed out while waiting for element <.bt_alert_okbutton> to be present for 5000 milliseconds. - expected "found" but got: "not found" (5051ms)

    Error location:
        D:\test_ihm\tests\features\page_objects\authentification.js:
        ––––––––

[2022-09-15 16:49] beatfactor commented on #3390
We need to remove the stack trace altogether here, it's totally unnecessary, even in the 2.1 version.

[2022-09-15 21:06] beatfactor commented on #3390
The stack trace points to the axe internal commands and is not relevant to the actual error. It's basically noise.

[2022-09-16 13:10] #3355 closed

[2022-09-16 16:55] ruzv commented on #3263
We have a custom command `waitForDownloadFinnish(filename, timeout)` that runs a custom binary that will check the filesystem for a specified filename. It will fail if the filename did not appear in the filesystem in the specified timeout.

If you have a test script that uses some kind of a variable
[code]
then `waitForDownloadFinnish` command will get enqueued before `getText` and `click` finish

[2022-09-16 20:47] pfmchugh opened #3392 "Running nightwatch through percy's CLI command - only the tests in the root folder are run"
After upgrading to nightwach@2.3.5, I noticed that when running tests using percy (`npx percy exec -- nightwatch -c config/nightwatch.conf.js -e chrome`), only the tests that were in the root test folder would run. Tests in subfolders would not get run. rolled back to nighwatch 2.2.2 and that seems to have resolved the issue.

Percy versions:
+-- @percy/cli@1.10.3
+-- @percy/nightwatch@2.1.1

[2022-09-18 20:06] AutomatedTester opened #3393 "Add support for writing tests in Component Story Format"
CSF is a popular format introduced by the Storybook team and it describes how a component test (i.e. _story_) should look like. We can easily support this in Nightwatch as well for our component tests.

https://storybook.js.org/docs/react/api/csf

[2022-09-18 20:40] AutomatedTester commented on #3319
Closing this issue as there hasn't been any other updates.

Please feel free to join us on [discord](https://discord.gg/Jmct69uW) to discuss further if you need more help

[2022-09-18 20:40] #3319 closed

[2022-09-18 20:41] AutomatedTester commented on #3274
Closing as needed info wasnt added

[2022-09-18 20:41] #3274 closed

[2022-09-18 20:42] #3298 closed

[2022-09-18 20:43] AutomatedTester commented on #3172
We don't by default move people to run tests in parallel. We have never done that. Have you managed to get this working?

[2022-09-18 20:45] #3136 closed

[2022-09-18 20:46] AutomatedTester commented on #2951
Closing as needed info hasn't been added

[2022-09-18 20:46] #2951 closed

[2022-09-18 20:48] #3342 closed

[2022-09-19 08:12] garg3133 commented on #3376
Resolved in https://github.com/DefinitelyTyped/DefinitelyTyped/pull/62063

[2022-09-19 08:12] #3376 closed

[2022-09-19 08:18] garg3133 commented on #3386
Related issue: #3351

[2022-09-19 11:22] swrdfish opened #3395 "Filter individual testcases by tags"
### Description

The current implementation of tags allows users to filter test files based on tags. An user on discord @skelkar wanted to filter testcases by tags.

**Usecase:**
Suppose 5 `.js` files, each has 10 tests within 5 describe blocks (one describe block - 10 it bock in one `.js` file). Testcases are clubbed together with related functionality in mind.
Supposer 5 cases are identified, on

[2022-09-19 19:10] swrdfish commented on #3388
Has been updated to 3.1.2 in the latest release.

[2022-09-19 19:10] #3388 closed

[2022-09-20 09:06] swrdfish opened #3396 "Nightwatch showing version as undefined in latest release"
### Description of the bug/issue

[code]

### Steps to reproduce

1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

### Sample test

_No response_

### Command to run

_No response_

### Verbose Output

_No response_

### Nightwatch Configuration

_No response_

### Nightwatch.js Version

2.3.7

### Node Version

16.14

### Browser

_No response_

### Operating System

_No res

[2022-09-21 12:07] inexiav opened #3401 "Unable to open new tab"
### Description of the bug/issue

When nightwatch is supposed to open a new tab it doesn't but an error is shown:
.openNewWindow("tab")
https://nightwatchjs.org/api/openNewWindow.html#apimethod-container

[code]

### Steps to reproduce

1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

### Sample test

[code]

### Command to run

_No response_

### Verbose Output

_No response

[2022-09-21 15:18] gravityvi commented on #3350
Added `reuse-browser` flag to reuse session in Nightwatch which will be used in component testing.
Raised a PR #3398 for reusing browser sessions for different test modules.
Reusing browser sessions with parallel thread needs to handled differently. For the parallel case we need to spawn threads as per machine and reuse those for rest of the test runs. For example for 8 tests and 4 thread workers

[2022-09-22 04:50] swrdfish opened #3402 "While running cucumber tests, if compatible chromedriver is not installed, nightwatch throws error but does not exit the process."
### Description of the bug/issue

While running cucumber tests, if compatible chromedriver is not installed, nightwatch throws error but does not exit the process.

### Steps to reproduce

1. Setup nightwatch to run cucumber tests
2. Make sure you have a older version of chromedriver installed
3. Try to run the cucumber tests using chrome browser.

### Sample test

[code]
[code]

### Verbose Outpu

[2022-09-22 14:48] gravityvi opened #3403 "Reusing browser sessions with parallel thread needs to handled"
### Description

For the parallel case, we need to spawn threads as per machine and reuse those for the rest of the test runs. For example, for 8 tests and 4 thread workers, we need to spawn 4 threads and use those threads for the remaining test run.

### Suggested solution

_No response_

### Alternatives / Workarounds

_No response_

### Additional Information

_No response_

[2022-09-22 14:49] gravityvi commented on #3350
Created another issue to track parallelism case #3403

[2022-09-22 14:52] AlexanderGulakov opened #3404 "moveTo doesn't take null in first parameter, but should do it according to documentation"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `nightwatch@2.3.7` for the project I'm working on.

my test:
var agentName = process.env.AGENT_NAME;
var agentSession = Number(process.env.SESSION_IDX);
var agentSessionName = process.env.SESSION_NAME;
var agentNumber = process.env.AGENT_NUM;

client.include("SetTe

[2022-09-22 15:03] AntonioRojas commented on #3122
For me on 1.7.8 using setValue it works and on 2.3.7 it doesnt, so
I trioed to use .elements commands and
.elements('css selector', 'web lement here.....', function setElement(elements) {
        element = elements.value.ELEMENT;
        browser.sendKeys(element, 'http://example666.com');
})

error: element: undefined

It works if I use the workaround from pholland
.elements('css selector', 'web l

[2022-09-23 13:08] #3396 closed

[2022-09-23 13:20] #3336 closed

[2022-09-26 11:25] AutomatedTester commented on #3401
Hey, could you see about updating to Chrome 105. I have had a looked at [wpt.fyi](https://wpt.fyi/results/webdriver/tests/new_window/new_window.py?label=master&product=chrome%5Bstable%5D&product=edge%5Bexperimental%5D&product=firefox%5Bexperimental%5D&product=safari%5Bexperimental%5D&aligned&view=subtest) and the test appears to be passing.  I am not sure when they added this feature but it might

[2022-09-26 13:42] inexiav commented on #3401
Hi @AutomatedTester

Thanks for your reply.
ChromeDriver is 105.0.5195.52
Chrome is 105.0.5195.127

[2022-09-26 18:32] AutomatedTester commented on #3401
And is the problem still there after moving to 105?
On Sep 26, 2022 at 2:42 PM +0100, inexiav ***@***.***>, wrote:

[2022-09-27 10:21] AutomatedTester commented on #3263
This might be related to #3351

[2022-09-27 10:22] #3259 closed

[2022-09-27 10:23] AutomatedTester commented on #3259
Work will be done in #3105

[2022-09-27 10:25] AutomatedTester commented on #3256
Please also check this fixes #3351

[2022-09-27 10:36] AutomatedTester commented on #3201
@gravityvi can you test, I think this is fixed.

[2022-09-27 10:52] Victoria0214 opened #3407 "getAtrribute returns 'invalid session Id' error even session Id is correct and used for next requests"
### Description of the bug/issue

I have a method that waits until my tool wouldn't have disabled class

[code]

### Steps to reproduce

1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

### Sample test

_No response_

### Command to run

_No response_

### Verbose Output

[code]

### Nightwatch Configuration

[code]

### Nightwatch.js Version

2.3.4.

### Node Version

v16.13

[2022-09-27 12:12] gravityvi commented on #3201
This has been fixed in #3213

[2022-09-27 12:12] #3201 closed

[2022-09-27 12:34] tootsweet opened #3408 "Inconsistent "moveToElement" behaviour on Android 11/Chrome 105/Appium 1.22/NW 1.17.13 after tab switch"
### Description of the bug/issue

Hello,

I'm running a series of 7 tests using the BDD syntax (one "describe" then seven "it").
The tests all consist in scratching a scratch card. This is done by sending swipe gestures using the "moveToElement" function.
Tests 1 (00:00 in the video) and 2 (00:44 in the video) run flawlessly.
Test 3 (01:20 in the video) opens a second tab at some point. Before the

[2022-09-27 13:00] inexiav commented on #3401
yes

[2022-09-27 13:42] swrdfish commented on #3401
I could not reproduce the issue with Chrome v105.0.5195.125.
@inexiav Could you share the configuration you are using? And a more complete testcase?

[2022-09-28 07:07] vaibhavsingh97 opened #3409 "Error while running test in Samsung Browser"
### Description of the bug/issue

If we try to run e2e tests on Browserstack using the Samsung browser, we will get

[code]

### Steps to reproduce

1. Add the following config to run Nightwatch tests on Browserstack in Samsung browser
[code]
2. Run `npx nightwatch -e browserstack.samsung_browser`, and error will be reproduced

### Sample test

[code]

### Command to run

[code]

### Verbose Outpu

[2022-09-28 10:20] suraj007118 opened #3410 "elementIdText API breaks in Version 2.x.x while selecting a value from list of dropdown values"
Working code NW v 1.7.11
 this.elements(
      dropDownOptionsWebElement.locateStrategy,
      dropDownOptionsWebElement.__selector,
      options => {
        options.value.forEach(v => {
          this.elementIdText(v.ELEMENT, result => {
            if (result.value === dropDownOptionToSelect) {
              this.elementIdClick(v.ELEMENT, () => { console.log(`Selected the ${dropDownWebElement}

[2022-09-29 08:11] swrdfish opened #3414 "Nightwach does not exit if call to webdriver fails immediately"
### Description of the bug/issue

If create session call fails, either throwing 500, or 400 (in case of browserstack). Then the tests fail, but nightwatch keeps on running.

### Steps to reproduce

Try running tests with `hub-ft.browserstack.com` as the selenium server url

### Sample test

_No response_

### Command to run

_No response_

### Verbose Output

_No response_

### Nightwatch Configur

[2022-09-30 10:26] AutomatedTester opened #3417 "Upgrade Selenium Dependency to 4.5"

[2022-09-30 10:30] AutomatedTester commented on #3417
We need to update our Selenium dependency to 4.5

We need look at how session creation is done as the classic way of using `desiredCapabilities` instead of the W3C capabilities.

[2022-10-03 14:10] SDETQATestAutomation opened #3418 "No browser object is available for Before hooks on using cucumber"
### Description of the bug/issue

No browser object is available for Before hooks on using cucumber, but browser object is available for After hooks

### Steps to reproduce

1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

### Sample test

[code]

### Command to run

[code]

### Verbose Output

[code]

### Nightwatch Configuration

[code]

### Nightwatch.js Version

2.3.7

##

[2022-10-04 21:10] RezhaBlue opened #3421 "Reporters do not display httpOutput for parallel tests"
### Description of the bug/issue

When I run tests in parallel mode, the httpOutput property inside the report object is never populated and only present an empty array.
When I run tests in sequential mode, the httpOutput property has the expected timestamp, request endpoint, and message in each array item.
I have tried setting live_output:true and detailed_output: true when running in parallel al

[2022-10-06 07:19] qwertynik opened #3422 "client.pause(0) leads to indefinite wait time"
### Description of the bug/issue

During an execution workflow in the script, when the statement `client.pause(0)` was executed, the script execution waited indefinitely.

The documentation [here](https://nightwatchjs.org/api/pause.html#apimethod-container) points out that `client.pause()` will lead to indefinite wait time. However, `client.pause(0)` also does which is confusing and not intuitive

[2022-10-06 13:34] IZaiarnyi opened #3423 "An error occurred while trying to save mocha junit report"
### Description of the bug/issue

- I execute npx nightwatch tests/* --reporter mocha-junit-reporter

- Expected result:  JUnit report is created
- Actual result: "_Error: An error occurred while trying to save the report file
 The custom reporter "mocha-junit-reporter" must have a public ".write(results, options, [callback])" method defined which should return a Promise._"

My package json
[code]

[2022-10-06 17:33] mostmentor opened #3424 "Parallel environment is not working"
### Description of the bug/issue

When I try to run https://nightwatchjs.org/guide/running-tests/parallel-running.html#via-workers-multiple-environments I got error "Invalid testing environment specified:"

I found this can be fixed by just update line 133 in lib/runner/cli/cli.js to be : -
```this.testEnvArray = this.testEnv.split(' ');```

After updating this it started but the test is running d

[2022-10-07 01:21] artem-leandata opened #3426 "expect api command doesnt work with pseudo-selectors in page object (v2.3.9)"
### Description of the bug/issue

I attempted to migrate from 1.7.13 to the latest (at the time of writing 2.3.9) and I expected some things to fail. However, I didn't expect the API command `expect` to start failing. This is something that I use a lot in my framework for verification and in our framework we have page object concept implemented using the pseudo-selectors. After upgrade, while runn

[2022-10-07 06:52] gravityvi commented on #3426
Hey @artem-leandata Thanks for raising this issues. I tried re creating this issues but I am not able to reproduce this using below test:

[code]

[code]

Am I missing something here?

[2022-10-07 07:11] gravityvi commented on #3421
Thanks for raising this issue. We will look into it.

[2022-10-07 09:53] beatfactor commented on #3426
@gravityvi you're missing the pseudo-selector. You can try with something like `.expect.element('@layoutContent:first-child')`

[2022-10-07 15:44] artem-leandata commented on #3426
@gravityvi yes, it looks similar to my setup where I get the error. the only difference is how the test file is built but I don't think it will make a difference. Example below:

[code]

[2022-10-07 16:36] artem-leandata commented on #3426
ok I think I figured it out, I reinstalled it and did npm init again. and it works now. thanks for taking a look!

[2022-10-07 16:36] #3426 closed

[2022-10-10 11:04] AutomatedTester commented on #3424
PR #3425

[2022-10-11 06:42] gravityvi commented on #3418
Hey, Thanks for raising the issue but I cannot reproduce this issue. I tried adding a `Before` hook in [example tests](https://github.com/nightwatchjs/nightwatch/blob/main/examples/cucumber-js/features/step_definitions/nightwatch.js) in the Nightwatch project and it works fine

Example Code:
[code]

[2022-10-11 08:26] gravityvi commented on #3410
Hey @suraj007118  Thanks for raising this. I think you can use `element.getId()` to get the element ID instead of using hard-coded string. In your case it would be `options.value[i].getId()`. Let us know if you still face any issues.

[2022-10-11 09:11] suraj007118 commented on #3410
I need to get element text that is the reason I had to use elementIdText , will element.getId() help me getting text?

[2022-10-11 09:12] suraj007118 commented on #3410
or you mean use it like:
 this.elementIdText(options.value[i].getId(), result => {

           if (result.value === dropDownOptionToSelect) {

[2022-10-11 10:16] SDETQATestAutomation commented on #3418
I was facing this issue due to external hooks file, closing the ticket.

[2022-10-11 10:17] AutomatedTester commented on #3407
@pujagani could you see if you can recreate? This is a selenium issue by the logs.

[2022-10-11 10:20] AutomatedTester commented on #3279
Closing as we aren't doing this just yet

[2022-10-11 10:27] AutomatedTester commented on #3181
When we upgrade to Selenium 4.5 we will be able to take better advantage of the new Select package that they ship and allow us to solve this problem better.

[2022-10-11 10:31] AutomatedTester commented on #3155
@Victoria0214 did @beatfactor 's comment help here or does the issue still exist?

[2022-10-11 10:50] pujagani commented on #3407
Sure, I am trying to recreate it.

[2022-10-13 06:01] pujagani commented on #3407
The above test was running using the same Selenium version that nightwatch 2.3.4 uses.

[2022-10-13 11:43] gravityvi commented on #3410
@suraj007118 you can try using `findElements` instead of elements command and then `options.value[i].getId()` will work fine. Here is an example test:

[code]

[2022-10-13 14:06] garg3133 opened #3431 "`alwaysMatch` in `desiredCapabilities` doesn't work with Firefox"
### Description of the bug/issue

When we put `moz:firefoxOptions` inside `alwaysMatch`, the passed options are not considered by Geckodriver while they are considered when passed without using `alwaysMatch`.

### With `alwaysMatch`
[code]

Verbose:
<img width="587" alt="image" src="https://user-images.githubusercontent.com/39924567/195619034-df29b2d2-fe0d-410b-a5d9-0629723b5d55.png">

### Without

[2022-10-13 15:56] #3369 closed

[2022-10-14 12:27] swrdfish commented on #3424
After some investigation @mostmentor reported that the issue is with powershell:

![](https://user-images.githubusercontent.com/19888325/195609218-9a71313f-b608-4a22-8c0b-8cedb5dedfa5.png)

We need to handle this case for windows.

[2022-10-14 15:07] #3256 closed

[2022-10-14 15:37] #3312 closed

[2022-10-14 22:16] kretschmannj opened #3436 "Getting "RangeError: Invalid string length" error when running large number of tests in parallel"
### Description of the bug/issue

I just recently updated Node version from v12 to v14 and now I'm getting "uncaughtException: Invalid string length" error when running many tests in parallel.  Seems to happen at the end of the test when the report file is being generated.

Seems to be closely related to [https://github.com/nightwatchjs/nightwatch/issues/1870](https://github.com/nightwatchjs/night

[2022-10-18 07:51] #3331 closed

[2022-10-18 13:34] theRealAlpaca opened #3440 "Exit status is 0 when can't reach unreachable site"
### Description of the bug/issue

When opening websites that are blocked by the firewall, e.g.,[http://www.sainsburysdiets.co.uk/](http://www.sainsburysdiets.co.uk/), then, after multiple `POST  /session/{sessionID}/url`retries, Nightwatch process exits with 0 status code (successful) but should have exited with non-zero status.

### Steps to reproduce

1. Execute the sample script and wait until

[2022-10-18 18:04] prafful24 commented on #3041
Hi, is there a timeline as to when this will be addressed?
Thank you

[2022-10-18 19:20] swrdfish commented on #3408
Was able to reproduce on web also, using nightwatch `v2.3.9`

[code]

[2022-10-19 09:44] AutomatedTester commented on #3431
This is part of the work to move to 4.5 that @vaibhavsingh97 is doing

[2022-10-19 22:23] kretschmannj opened #3445 "Parallel test execution with custom Firefox profile is not working"
### Description of the bug/issue

When I attempt to run multiple tests in parallel using a custom Firefox profile I get this error ...

message: 'Failed to set preferences: The process cannot access the file because it is being used by another process. (os error 32)\n' +
         "Build info: version: '3.141.59', revision: 'e82be7d358', time: '2018-11-14T08:25:53'\n" +
         "System info: host:

[2022-10-19 23:25] kretschmannj commented on #3445
I was kinda sorta able to work around this limitation by putting this code into a beforeEach function in my globals.js ...
[code]

[2022-10-20 00:34] kretschmannj commented on #3445
FYI ... I tried to add code like so to the globals.js file ...
[code]
... but this doesn't work because the browser has already been started.  We'd need a way to restart the browser using the same profile in order for this to work .... or we'd need a way to identify the profile path BEFORE the browser is started.

[2022-10-20 08:08] swrdfish commented on #3276
#3266 fixes this

[2022-10-21 07:02] LeoWie93 opened #3448 "Nightwatch.js using ".registerBasicAuth() results into error"
### Description of the bug/issue

When i use .registerBasicAuth, i expected that the basic auth login masks will never be shown or block my tests but i get an "ECONNREFUSED" error.

### Steps to reproduce

1. Create the Sample test
2. Run it with no specific flags
3. See error

### Sample test

[code]

### Command to run

[code]

### Verbose Output

[code]

### Nightwatch Configuration

[code]

##

[2022-10-21 10:02] Othmane-ElAlami opened #3449 "Firefox not working with Node.js v18+"
### Description of the bug/issue

Can't use Nightwatch.js with Node.js v18 and higher.

### Steps to reproduce

1. Install the latest version of Nodejs
2. Create new folder and open terminal in that folder
3. Run `npm init nightwatch@latest`
4. Follow steps (I used default values)
5. Run `npx nightwatch .\nightwatch\examples\basic\ecosia.js`

### Sample test

[code]

### Command to run

[code]

##

[2022-10-21 10:10] AutomatedTester commented on #3448
Is this not working at all or is this only in 1 browser?

[2022-10-21 10:58] beatfactor commented on #3449
Did you try with Chrome as well?

[2022-10-21 11:46] Othmane-ElAlami commented on #3449
Oh, I just tried again with Chrome and it's working. I will update the title.

[2022-10-21 12:18] gravityvi commented on #3448
Tried this. It only happens for Nove v18 and runs perfectly fine for Node v16

[2022-10-21 16:27] ashishb-cd opened #3450 "Nightwatch with cucumber framework not working when we use multipletags to execute"
**Description of the bug/issue**--
 -- Nightwatch with cucumber framework not working when we use multipletags to execute

**Steps to reproduce:** (tried Multiple ways)

- Use tag `npx nightwatch --tags @TestA,@TestB' to execute multiple tags

                     Result: 0 scenarios
                                  0 steps
                                   0m00.001s (executing steps: 0m00.000s)

[2022-10-21 22:48] kretschmannj commented on #3445
I found the solution for this.  Rather than using the '-profile' option in the args array, I used the 'profile' parameter that is part of moz:firefoxOptions as described here ... [https://developer.mozilla.org/en-US/docs/Web/WebDriver/Capabilities/firefoxOptions](https://developer.mozilla.org/en-US/docs/Web/WebDriver/Capabilities/firefoxOptions).  My firefox desiredCapabilities is now like so ...

[2022-10-24 07:49] chriscuba23 commented on #3383
Hello, I've noticed that .setGeolocation() is not working on headless mode. Location service permissions are set fine when you execute the script in GUI, No errors appear in verbose mode when executing this specific command

[2022-10-24 14:13] chriscuba23 opened #3451 "setGeolocation not functional in headless mode"
### Description of the bug/issue

When I run the setGeolocation example test in headless Chrome then it seems that the geolocation services are not enabled in the browser whilst when I do the same thing without the headless tag everything works as it should with the command

### Steps to reproduce

Run example here https://nightwatchjs.org/api/setGeolocation.html#apimethod-container
using headless

[2022-10-24 14:47] LeoWie93 commented on #3448
Tried Node v16 myself and now everything works like excpected. :+1:

[2022-10-24 21:05] chriscuba23 opened #3452 "Generated logs are messy when you run nightwatch test against a whole folder or when you run tests in parallel in Bamboo CI"
### Description of the bug/issue

When I execute **node nightwatch** followed by a folder which contains subfolders and tests I expect the logs output to be in a nice readable format. Tested on Bamboo CI

### Steps to reproduce

1. Create a folder with two js tests
2. Run nightwatch against the folder and not against each of the tests in Bamboo CI

### Sample test

[code]

### Command to run

[cod

[2022-10-25 12:14] MilaTesanchuk commented on #504
Why is it closed?! The issue is not resolved! 7 years have passed!

[2022-10-25 12:14] hongdeyuan commented on #504
本人已收到您的邮件，辛苦了！如有重要事情，看到后，将尽快给你回复。。。

[2022-10-25 12:35] chriscuba23 opened #3453 "uploadFile not working on Bamboo CI when you run Nightwatch against a folder that contains test files"
### Description of the bug/issue

When I run a test folder on CI that has a test file that has the new uploadFile() function in it I expect the command to run with no errors. Instead at runtime I get the following error and test is being terminated

### Steps to reproduce

Since its not a nightwatch code issue rather than integration with Bamboo CI I will add the appropriate code to run in a later

[2022-10-25 13:22] gravityvi commented on #3450
Hey @ashishb-cd could you provide us the cucumber version that you are using?

[2022-10-25 16:45] ashishb-cd commented on #3450
Hi @gravityvi , Please check below are the cucumber and nightwatch version that I am using. Thanks

"@cucumber/cucumber": "^8.0.0"
 "nightwatch": "^2.1.0"

[2022-10-25 17:08] ashishb-cd commented on #3317
Parallel testing is still not working in nightwatch cucumber framework, Is there any ETA for fixing this issues. Thanks
Tag Name : npx nightwatch --tags '@TestA' --parallel 2
Versions:
"@cucumber/cucumber": "^8.0.0",
  "nightwatch": "^2.1.0"

[2022-10-26 06:02] swrdfish commented on #3408
Yes it is reproducible in v2 as well. And @pujagani  tried to reproduce this in selenium with java, but the problem was not reproducible in selenium. It is most probably related to nightwatch or the selenium javascript library.

[2022-10-26 14:42] chriscuba23 opened #3454 "If `*[id="${frameName}"]` is not given as the frame selector then the .frame command takes 2 minutes to complete"
### Description of the bug/issue

When I use a bare selector to .frame such as browser.frame('launcher') then the .frame command takes 2+ minutes to complete after searching with value: 'launcher' (1 min) and value: '*[name="launcher"] (1 min) and finally -and successfully- with value: '*[id="launcher"]' (14 ms)

### Steps to reproduce

Create a scenario and change iframe using the bare selector

[2022-10-27 06:58] LeoWie93 opened #3455 "CDP does not reset the connection after a test session ends"
### Description of the bug/issue

When running multiple test suits each using `registerBasicAuth`, only the first test suit works.

### Steps to reproduce

1. use `registerBasicAuth` in 2 different test files
2. run all test files with nightwatch

### Sample test

[code]

### Command to run

[code]

### Verbose Output

[code]

### Nightwatch Configuration

[code]

### Nightwatch.js Version

3.4.1

[2022-10-27 07:38] gravityvi commented on #3317
@ashishb-cd could you downgrade your cucumber version to 7.x and try again?

[2022-10-27 11:22] t2t2 commented on #3449
Seems like there was a fix for this in selenium-webdriver v4.5.0: [changelog](https://github.com/SeleniumHQ/selenium/blob/trunk/javascript/node/selenium-webdriver/CHANGES.md#v450), https://github.com/SeleniumHQ/selenium/commit/b9402997580a9e29820641f20639374390dda953

[2022-10-28 13:01] gravityvi commented on #3450
@ashishb-cd could you downgrade the cucumber version to 7.x and try again?

[2022-10-28 14:10] dtslvr commented on #504
In headless mode, `setValue` is working for me, but not with `headless: false` (`nightwatch 2.4.1`).

[2022-10-28 18:57] ashishb-cd commented on #3450
@gravityvi  I have downgraded  the cucumber version to 7.3.1 , still I am able to see the same issue

[2022-10-31 05:21] tim-yao commented on #3317
I feel there is quite an amount of work to stabilise the nightwatch.js cucumber integration from the way proposed.
I may still use Cucumber-js as the runner which has better integration I think. I have updated cucumber to v8 and nightwatch.js to latest in https://github.com/nightwatchjs-community/cucumber-nightwatch

[2022-10-31 10:34] gravityvi commented on #3450
Hey, @ashishb-cd I tried this using cucumber examples in the nightwatch repo. It is working perfectly fine. Looking at your issue maybe you are missing out  on single quotes in the command, could you try using `npx nightwatch --tags '@testa and TestB'`

[2022-10-31 17:39] ashishb-cd commented on #3450
@gravityvi  tried from my end, still facing same issue
npx nightwatch --tags '@DeploymentTest and @CITest'

0 scenarios
0 steps
0m00.003s (executing steps: 0m00.000s)

[2022-11-01 11:11] AutomatedTester commented on #3455
We need to look at how we are doing CDP sessions...

Could you add [verbose logging](https://nightwatchjs.org/guide/nightwatch-cli/command-line-options.html#guide-container) to this issue so we can investigate further?

[2022-11-01 11:19] AutomatedTester commented on #3454
Selenium needs a web element to be able to find the element. If you pass in a basic string, it will go through multiple layers to try figure out what you mean.

The [docs](https://nightwatchjs.org/api/frame.html#apimethod-container) do say that it should be an element but we will see if we can improve things there

[2022-11-01 11:27] AutomatedTester commented on #3453
Just for clarification, does this work locally for you?

And, since nodejs stacks are generally unhelpful, how do you know that the error is coming from `/upload` command?

[2022-11-01 11:30] AutomatedTester commented on #3451
@pujagani could you add this to the queue for you and Tamsil to investigate? It looks like it could be an interesting quirk with Chrome when in headed/headless mode at lot like how Printing works.

[2022-11-01 11:46] chriscuba23 commented on #3453
Good morning! I just skipped the test or commented the line that had the upload command and I did not get this failure as I describe above

[2022-11-01 14:49] AutomatedTester commented on #3453
Could you please add [verbose](https://nightwatchjs.org/guide/nightwatch-cli/command-line-options.html#guide-container) logging please, that will help a lot!

[2022-11-01 15:38] LeoWie93 commented on #3455
@AutomatedTester i already gave verbose output. Although i only postetd the start of the tests.

Would you need the whole thing?

[2022-11-02 10:23] chriscuba23 commented on #3453
@AutomatedTester sadly you wont get any more info with that, but here it goes

[code]

[2022-11-02 10:28] chriscuba23 commented on #3453
I can run the single file test if you want where I target the js file and not the folder that contains it though. Would running this with verbose be of any help?

[2022-11-02 10:51] pujagani commented on #3451
Raised the issue with ChromeDriver https://bugs.chromium.org/p/chromedriver/issues/detail?id=4259

[2022-11-02 11:18] yaobao1993 commented on #3136
Hello, I can reproduce this issue now. It seems to be a bug related to before/beforeEach.

I made a repository so that you can reproduce it quickly: https://github.com/yaobao1993/nightwatch-demo

The text "== fake login ==" is not printed by default, but if you add "before" in test/a.js, the text "== fake login ==" is printed.

[2022-11-02 16:28] Twistere commented on #3044
Same problem here !

[2022-11-02 16:42] Twistere commented on #3455
Same problem here !

[2022-11-02 17:14] marian-r commented on #3452
I am also facing the same issue. The CLI output appears to be creating very long lines instead of formatting the output onto multiple lines.

[2022-11-03 01:09] robinNode opened #3463 "Can not start Nightwatch in angular project where located with space in the folder name"
### Description of the bug/issue

It seems the path problem contains space in the folder name.
But I didn't find any option where I could overwrite it.
I am new to Nightwatch, and we want to enable ng e2e for our project due to the protractor being deprecated after angular v15. We switch to Nightwatch.

### Steps to reproduce

run ng e2e command then I am getting error (see Verbose Output)

### Sa

[2022-11-04 00:28] ParvathyUKG opened #3465 "Suite retries wont work if enable_fail_fast is enabled"
### Description of the bug/issue

When I enabled the `enable_fail_fast` Test Runner settings, the `suiteRetries` command-line option stops working.

### Steps to reproduce

1. `npm init nightwatch`
2. Create a test suite with multiple tests and assert one of the tests to fail
3. Do `npx nightwatch --suiteRetries 2`, nightwatch retries the failed suites
4. Add ` enable_fail_fast: true,` to the nigh

[2022-11-04 08:58] gravityvi commented on #3455
@LeoWie93 I think logs are incomplete we would need all the logs for the whole test run which would help us rectify the issue faster.

[2022-11-04 09:01] gravityvi commented on #3136
@yaobao1993 could you raise another issue if you are still facing problems regarding this.

[2022-11-07 02:44] yaobao1993 commented on #3136
Hello, since this issue has been closed, do I need to create another issue for this?

[2022-11-07 05:41] gravityvi commented on #3136
@yaobao1993 feel free to raise another issue if you are still facing issues

[2022-11-07 08:22] yaobao1993 opened #3466 "Custom command not executed within global beforeEach"
### Description of the bug/issue

I wrote a custom command, seems it can not get executed within global beforeEach with 2.4.1. (works fine with 1.7.12)

### Steps to reproduce

I made a repository so that you can reproduce it quickly: https://github.com/yaobao1993/nightwatch-demo

The text "== fake login ==" is not printed by default, but if you add "before" in test/a.js, the text "== fake login =

[2022-11-07 08:23] yaobao1993 commented on #3136
Another issue has been raised as: https://github.com/nightwatchjs/nightwatch/issues/3466

[2022-11-07 08:25] yaobao1993 commented on #3466
Feel free to ask more information if you can not reproduce this.

[2022-11-07 16:02] ldziadkowiec commented on #3181
We experience exactly same issue. Wanted to do an upgrade from 1.7.13 to 2.4.2. Mostly seems to work, but .waitForElementNotPresent() does not.
Our test PO structure has many sections and ofter waitFor synchronize methods.

example method inside a subsection:
`waitForModelNotLocked() {
      return this.waitForElementNotPresent(
        '@lockedModelIndicator', this.api.globals.waitForComputationT

[2022-11-08 10:26] LeoWie93 commented on #3455
@gravityvi

<details>
<summary>here would be the whole log for two tests:</summary>
[code]
</details>

[2022-11-08 11:12] AutomatedTester commented on #3311
This is done

[2022-11-08 11:12] #3311 closed

[2022-11-08 11:13] AutomatedTester commented on #3330
Closing issue and final items to be tracked in #3300

[2022-11-08 11:13] #3330 closed

[2022-11-08 11:14] AutomatedTester commented on #3401
closing as no extra info has been given

[2022-11-08 11:14] #3401 closed

[2022-11-08 11:20] AutomatedTester commented on #3286
Possibly fixed by #3266 ? @swrdfish can you check if your PR fixes this?

[2022-11-08 11:27] AutomatedTester commented on #3165
I wonder if we are getting a null from `getAttribute` and then trying to handle that as a promise. @Victoria0214 can you create a small test case against a public website so we can try to recreate. We have had a look and are not sure how this scenario is happening.

[2022-11-08 11:29] AutomatedTester commented on #3155
I think the issue in #3165 is probably the same issue as this one. closing as we can investigate there and no other info was added to this issue

[2022-11-08 11:29] #3155 closed

[2022-11-08 14:05] #3440 closed

[2022-11-08 16:26] prudhvi22 commented on #3453
**Update**

I have tried to reproduce the error on mac OS but not able to reproduce it. I have created a Github repo for test files. [https://github.com/prudhvi22/nightwatch-bamboo-issue](url). I will try on CentOS Linux 7.

**Output**
[code]

[2022-11-08 19:30] garg3133 opened #3469 "REPL interface exits on error or failed expect assertion."
### Description of the bug/issue

While using `.debug()` command, if we type a Nightwatch command in the REPL interface with say, wrong number of arguments or anything that results in error, the webdriver server closes and no commands can be executed after that in the REPL interface.

Same thing happens if we write a failing `expect` assertion in the REPL interface, upon failure the webdriver serv

[2022-11-08 20:19] chriscuba23 commented on #3453
Hello @prudhvi22 and thank you for the response. What is your Selenium Grid configuration and what does your folder tree look like? Unfortunately I cannot view your folder in Github to check the repo for the test files

[2022-11-09 07:42] prudhvi22 commented on #3453
Hello @chriscuba23 and thank you for the response. The folder tree structure is :

/test/parallel/parallel1/par1.js
/test/parallel/parallel1/par2.js

I am using the same `nightwatch.conf.js` as provided.

**Nightwatch.js Version**
2.3.9

**Node Version**
16.13.2

**Browser**
Chrome 103.0.5060.53

You can view folder structure here https://github.com/prudhvi22/nightwatch-bamboo-issue

[2022-11-09 11:16] garg3133 opened #3470 "Actions API not working when passing async callback to `browser.perform()`"
### Description of the bug/issue

If we pass an async callback to `browser.perform()` and use the Actions API inside that callback, the Actions API doesn't get executed.

This happens because in case of async callback passed to `browser.perform()`, `[actions].perform()` is not appended at the end of the Actions API sequence. (The following code is not executed: https://github.com/nightwatchjs/nigh

[2022-11-09 16:19] ldziadkowiec opened #3472 "Unable to use Browserstack together with webdriver w3c protocol"
### Description of the bug/issue

We are unable to upgrade to newer that chrome 86 since newer versions forces w3c protocol on browserstack.
In the transport.js there is an IF .usingBrowserstack() and this uses Browserstack transport settings which extends selenium3 which extends jsonwire.
But we need to use w3c protocol since newer chrome versions enforces it on BS.
ie.
Instead of /window/current

[2022-11-10 06:32] chris-jackson-actionqa opened #3473 "--skiptags parameter hides global browser object"
### Description of the bug/issue

When I used "--skiptags sometag" on a test file that uses the global browser object outside of a test, the test fails.  The test works and the global browser object is available if I don't use the "--skiptags" option.

### Steps to reproduce

1. run the sample test without skiptags: `npx nightwatch -e chrome sampletest.js`
2. It passes.  Runs fine. Uses the global

[2022-11-10 21:14] #3472 closed

[2022-11-10 21:15] ldziadkowiec commented on #3472
I do not expect that anybody would fix the 1.7 versions for w3c on browserstack

[2022-11-10 21:24] ldziadkowiec commented on #3181
Can you please elaborate about the workaround ? I found this bug very limitating, practically I would have to flatten whole page-object structure just to fix the behavior for us. I'm very surprised that nobody really care for half a year.

[2022-11-11 03:16] yaobao1993 commented on #3466
Hello, any update?

[2022-11-11 09:40] AutomatedTester commented on #3469
@prudhvi22 can you add this to your queue and ask @garg3133 for advice on where and what needs doing.

[2022-11-11 10:27] tim-yao opened #3475 "Process exit code is incorrect while using the programmatic API"
### Description of the bug/issue

When I use [Nightwatch programmatic API](https://nightwatchjs.org/guide/running-tests/programmatic-api.html)  to integrate with cucumber.js, I expect the exit code is `1` if there is a failure, but the actual exit code is always `0`.

### Steps to reproduce

1. Clone https://github.com/nightwatchjs-community/cucumber-nightwatch
2. Write a test that will fail
3. Ru

[2022-11-11 12:12] swrdfish commented on #3466
@yaobao1993  while we are trying to fix this, below is a work around you can try:
[code]

[2022-11-11 14:05] #3470 closed

[2022-11-11 18:21] garg3133 opened #3478 "click() fails for iOS native app testing on Nightwatch latest version"
### Description of the bug/issue

I just upgraded to the latest version of Nightwatch (v2.5.0). Before upgrade, `click()` command was working fine on iOS native app, but as soon as I upgraded to the latest version, it started failing.

This is due to the recent change here: https://github.com/nightwatchjs/nightwatch/blob/e055da791af88486c2d9b6904b74469175235490/lib/api/element-commands/click.js#L5

[2022-11-14 02:47] yaobao1993 commented on #3466
Thanks, this work around works!

[2022-11-14 20:27] praveenrp1610 opened #3480 "nightwatch 2.5.0 Issue: shadowRootEl.findElement is not a function Error"
### Description of the bug/issue

When I navigate validate element inside an element with nightwatch 2.5.0

const shadowRootEl = await browser.useXpath().getShadowRoot('//shadow root container')
await shadowRootEl.findElement(some element);

Then I get the error as shadowRootEl.findElement is not a function

### Steps to reproduce

When I navigate validate element inside an element with nightwatch

[2022-11-15 05:36] chris-jackson-actionqa opened #3482 "Remove "done" callback for async test hooks"
### Description

If you want to use async test hooks (before(Each), after(Each)), you need to invoke the "done" callback.

This is messy.  Sometimes the hooks can time out.  Sometimes something will throw an error and not trigger the "done" callback.

When an error occurs, the test writer needs to provide a different way of catching the error and passing that error to "done".

This should be unnec

[2022-11-15 08:36] beatfactor commented on #3482
What about just passing the `browser` argument? That should work. We have an example here, although it's not using async: https://github.com/nightwatchjs/nightwatch-examples/blob/main/tests/sample-with-relative-locators.js

We can't remove the `done` callback just yet (not until v3), but we can support this syntax and if it doesn't work properly, we'll fix it:

[code]

What we can do is deprecate

[2022-11-15 10:30] chriscuba23 commented on #3453
![image](https://user-images.githubusercontent.com/34232960/201896911-0e502ad9-4ca7-4e70-8dd1-5bc5b09fb285.png)
thank you for the response @prudhvi22
let me try again then

[2022-11-15 10:36] chriscuba23 commented on #3453
Failed again.. Perhaps you should try reproducing it on the exact setup. Would you like to have a chat over at Discord?

![image](https://user-images.githubusercontent.com/34232960/201898258-f4d1f40f-e7f1-49c9-957d-288c799db5cc.png)

[2022-11-15 11:12] AutomatedTester commented on #3480
This looks like it could be a mix and match of Selenium and Nightwatch here and we might not expose the `ShadowRoot` object here.

We are going to need to expose `findElement`. As a workaround if you use `find` instead of `findElement` it should do what you need.

[2022-11-15 11:25] AutomatedTester commented on #3451
We need to check that when we pass Nightwatch `--headless` that when it hits the Selenium `Options` that it gets translated into `--headless=chrome` before the session gets created.

https://github.com/nightwatchjs/nightwatch/blob/546195031ff1f7f968a09654754cf4b7b193430e/lib/transport/selenium-webdriver/options.js#L320

Someone just needs to check the output of `newSession` in chromedriver.

[2022-11-15 11:28] AutomatedTester commented on #3451
@pujagani could you see if this

https://github.com/SeleniumHQ/selenium/blob/trunk/javascript/node/selenium-webdriver/chromium.js#L327-L329

needs to be `headless=chrome`. Might be worth asking @titusfortner for guidance here as he has commented on the `chromium` issue.

[2022-11-15 11:30] chriscuba23 commented on #3453
@prudhvi22 found the culprit. It was the https://www.npmjs.com/package/downloads-folder package
I guess it cannot sync with the new Nightwatch on *nix

[2022-11-15 11:31] AutomatedTester commented on #3283
This is now done

[2022-11-15 11:31] #3283 closed

[2022-11-15 12:54] praveenrp1610 commented on #3480
Hi David,
Unfortunately, I have tried with `find` and that resulted in the same error

[2022-11-15 12:56] praveenrp1610 commented on #3480
The major issue with Nightwatch seems to ability to test anything with "SHADOW DOM "

Most of our products are switching to micro frontends that work on the shadow dow concept. I have tried Playwright as a POC comparison with Nightwatch and it does not have the same issue as Nightwatch.

Can you please prioritise this higher ?

[2022-11-15 14:16] hemant-bs opened #3483 "Page object not loading in nightwatch v 2.5.0"
### Description of the bug/issue

Page object not loading, when nightwatch version is 2.5.0. working fine with previous version.

### Steps to reproduce

1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

### Sample test

[code]
page object has been defined in format /login/sigin_in_page  and we receive browser.page as {} in debug console.
### Command to run

_No response_

###

[2022-11-15 17:29] chris-jackson-actionqa commented on #3482
Oh, cool.  I'll give that a try.  I thought it was required from the way
the docs were worded.

If something goes wrong or an error is thrown, I thought you needed to
invoke the done callback with a parameter.  Otherwise, the hook doesn't
terminate properly.  I have to make a few axios calls to set up our test
accounts, and they can throw sometimes.  I've seen instances where the
hooks can hang or

[2022-11-15 20:59] vinodreddy-bs opened #3484 ".moveTo() is not working with elementId only param"
### Description of the bug/issue

My tests were working fine with version <= [v2.3.9](https://github.com/nightwatchjs/nightwatch/releases/tag/v2.3.9) for the method moveTo() which accepts `elementId` as a param and offset as optional.

[code]

After the fix in [v2.4.0](https://github.com/nightwatchjs/nightwatch/releases/tag/v2.4.0) https://github.com/nightwatchjs/nightwatch/pull/3427 for [#3404](h

[2022-11-16 05:21] pujagani commented on #3451
Sure. I will take a look. There was an issue recently about how headless should be handled in Selenium and a decision was made in Selenium TLC regarding the same. Refer https://github.com/SeleniumHQ/selenium/pull/11099. The consensus was to mark the existing method https://github.com/SeleniumHQ/selenium/blob/fc4a104a46d3fd1d4a2f5eb772fcc169b3f38e94/javascript/node/selenium-webdriver/chromium.js#L3

[2022-11-16 08:39] #3475 closed

[2022-11-16 10:50] AutomatedTester commented on #3453
Thanks for helping find the issue. It looks like on *nix, you need to do special things according to that package anyway and we can't fix that. I am glad that you found a workaround. Closing this issue as there is nothing for us to action here.

[2022-11-16 10:50] #3453 closed

[2022-11-16 11:57] garg3133 opened #3485 "Add "Update @nightwatch/mobile-helper" in actionable error messages for mobile"
### Description of the bug/issue

Since we do not use `@nightwatch/mobile-helper` library as a direct dependency in Nightwatch, it is possible that we've changed something in the library and updated Nightwatch as well to work with that change but the user, while on the latest version of Nightwatch, didn't update `@nightwatch/mobile-helper` to the latest version.

This may create trouble for user i

[2022-11-16 14:10] beatfactor commented on #3482
I think if you use the above syntax it will throw the errors from async calls as well.

[2022-11-17 05:17] pujagani commented on #3451
I have confirmed with Titus as well. https://github.com/SeleniumHQ/selenium/pull/11099#issuecomment-1277822807 - it was decided by the Selenium TLC that the existing headless method will be deprecated and accompanied by a blog post. So editing or using it will not be valid in future versions. Instead, the best approach I see for Nightwatch is to use `addArguments methods with "headless=chrome" val

[2022-11-17 06:16] titusfortner commented on #3451
Headless=chrome should behave the same way as the production browser. So whatever prevents print pages from working on production browser applies here as well.

[2022-11-17 10:46] chriscuba23 commented on #3453
thanx @AutomatedTester . Close it yes

[2022-11-17 11:36] chriscuba23 opened #3488 "Unknown error is thrown "[InvalidArgumentError] key is not a string: undefined" whenever we perform a key action using the new Actions API"
### Description of the bug/issue

When I use a key action such as keyDown or keyUp on Safari then I get thrown an unknown error (not from the driver) and the command gets not completed

### Steps to reproduce

1. Open Safari
2. Perform the COMMAND+OPTION+E keyDown/Up commands so as to clear the Safari cache using the new Actions API
3. You are getting thrown an error

### Sample test

[code]

###

[2022-11-17 13:11] beatfactor commented on #3483
can you post an example of the failing page object in v2.5?

[2022-11-17 14:02] gravityvi commented on #3488
could paste in verbose logs of the test run. That would help us rectify the issue faster

[2022-11-18 16:15] rolim opened #3491 "Retries on negated expectation fail"
### Description of the bug/issue

When a test expects an element **not** to be enabled, then the expectations fails if it takes a few milliseconds too long for the element to become disabled. Since *expect* for the non-negated case works as a *waitFor* command, I would expect the test to retry and succeed if the element becomes disabled within the specified timeout.
Retries are actually made, acco

[2022-11-18 21:50] pac-nvalenzuela commented on #3452
Same issue. I could be wrong but its probably CI agnostic (we use gitlab) and probably more related to the terminal of the os used or terminal of the docker container being used.

[2022-11-20 12:57] swrdfish commented on #3046
Not reproducible anymore.

[2022-11-20 12:57] #3046 closed

[2022-11-20 23:05] chriscuba23 commented on #3453
@AutomatedTester sorry for commenting again on this but I just discovered that the issue has to do with using the full path of the test file versus using the -a tag of it. It is not an issue caused by the package because I am now using a hard-coded path omitting the requirement of this specific package and it fails again when I run the test using its tag. When I change it to full path then the tes

[2022-11-21 11:10] chriscuba23 commented on #3453
@AutomatedTester fyi an update of the package did the trick

[2022-11-21 14:02] gravityvi opened #3493 "Nightwatch-VRT HTML Report"
### Description

We need an HTML report for the Nightwatch-Vrt plugin displaying the comparison of baseline and latest screenshots captured during the test run and a mechanism to approve comparison in case of failure.

### Suggested solution

- Nightwatch-vrt generates three folders to keep screenshot: `latest` `diff` and `baseline`
 -  at the backend side we need to store the data in the given fo

[2022-11-21 15:40] chriscuba23 commented on #3488
Hello, this is the verbose one

[2022-11-23 09:52] prajwalhp7 commented on #1541
Hey, Did you get it worked?

[2022-11-23 16:10] asos-saveriocutrupi opened #3495 "Nightwatch + Cucumber.js, chaining a successful step after a failing step causes an error"
### Description of the bug/issue

 Cucumber 8.8.0, Chromedriver 107.0.3.

When I chain two commands together in a Cucumber step, given the first one fails, the whole test throws an error and then aborts.

### Steps to reproduce

1. Init Nightwatch with cucumber.js and chromedriver
2. define a cucumber step with at least two commands chained together
3. make the first command fail
4. Nightwatch ret

[2022-11-25 23:57] tim-yao commented on #2510
Hi @swrdfish @beatfactor This is still an issue in Nightwatch v2.5.1.
Here is an example for v2.
Using https://github.com/nightwatchjs/nightwatch-examples, create a file: `test.js` with the below code.
Then run `node test.js`. You will see `testAPI` and `testEnsure` won't be able to catch any error. But `testExpect` and `testAssert` work correctly.

[code]

This issue causes any test runner using

[2022-11-27 20:31] beatfactor commented on #2968
It took a bit of time, but API testing with `supertest` is now available in Nightwatch 2.5.2+ using the new [`@nightwatch/apitesting`](https://github.com/nightwatchjs/nightwatch-plugin-apitesting) plugin.

[2022-11-28 08:51] Victoria0214 commented on #3407
This case isn't reproduced even I separated this method to another spec and start only it.

[2022-11-28 09:59] pujagani commented on #3407
Can you please provide a reproducible test script? It will help us triage further.

[2022-11-28 09:59] pujagani commented on #3407
Does that mean it is resolved on your end?

[2022-11-28 10:25] Victoria0214 commented on #3407
No, it mean that if I start spec like:
`describe("Smoke Testing  -", function () {
  test("1", (browser) => {  });
  test("2", (browser) => {  });
...
test("10", (browser) => {
       await this.getAttribute  - failed
 });
`
and passed in case only it:

`describe("Smoke Testing  -", function () {
  test("1", (browser) => {
       await this.getAttribute  - passed
 });
`

[2022-11-28 11:35] pujagani commented on #3407
I am afraid I don't fully understand. It seems that when the same driver instance is used again the error is happening. It could be a case that the session is closed by then if the driver is closed which in turn closes the session.
The only way to get a clear idea is you could share a reproducible test script. Please share one so we can use that to reproduce the error or guide you better. Thank yo

[2022-11-29 05:47] pujagani commented on #3407
Any complete code snippet and URL/HTML (if more than one file is needed, provide a GitHub repo and instructions to run the code) is good enough if you cannot share your code. As long it is able to reproduce the issue you are facing. Thank you!

[2022-11-29 11:17] AutomatedTester commented on #3495
Looking at this, the first `waitForElementVisible` was not successful so the 2nd command should not have run which is desired behaviour.

[code]

Are you wanting the 2nd command to run no matter what? If so you want to have `abortOnAssertionFailure: false` in your `nightwatch.conf.js`.

[2022-11-29 11:21] AutomatedTester commented on #3449
This has been fixed and released in 2.5.0

[2022-11-29 11:21] #3449 closed

[2022-11-30 10:44] #3387 closed

[2022-11-30 10:45] #3478 closed

[2022-11-30 10:49] gravityvi commented on #3488
@chriscuba23 Thanks for the details. We expose all the keys defined in [w3c spec](https://w3c.github.io/webdriver/#keyboard-actions) for keyboard input. Unfortunately, there is no built-in `Option key` but you can use `"\u2325"` directly as a string and supply it as a parameter.

[2022-11-30 14:36] vishalshah133 opened #3505 "Output jumbled up with Cucumber reporter while running in parallel"
### Description of the bug/issue

When we run parallel tests using the Cucumber JS runner, the output is all jumbled up making it unusable when we try to review the run results. Following output is an example of the same

[log.txt](https://github.com/nightwatchjs/nightwatch/files/10123576/log.txt)

### Steps to reproduce

1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

### S

[2022-11-30 17:25] molyholy opened #3506 "Mocha update needed to resolve Regular Expression Denial of Service (ReDoS)"
### Description of the bug/issue

Vulnerability described here https://security.snyk.io/package/npm/mocha/9.2.2

[2022-11-30 21:41] chriscuba23 commented on #3451
Hi, it seems that after the latest update the setGeolocation method fails even in non headless mode
[code]